DirectoryIndex index.php
RewriteEngine On 
 
RewriteCond $1 !^(index\.php|(.*)\.swf|images|css|uploads|jquery|js|stats|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]