<div class="post">
<h1 class="single dotted">Adoption, Fostering &amp; Children In Care</h1><hr>
<h3>What is adoption and who can apply?</h3>
<p>Adoption is where a child legally becomes a member of a new family and has one or two new parents. If you are at least 21 years old and can provide a permanent, stable and caring home, your application to adopt will be welcomed. There is no upper age limit.</p>
<h3>Becoming a foster care giver</h3>
<p>Anyone can apply to be a foster care giver, so long as they have the qualities needed to look after children who cannot live with their parents. There is no maximum age limit for being a foster care giver.</p>
<h3>Who can apply?</h3>
<p>You can apply to be a foster care giver:</p>
<ul>
<li>whether you have your own children or not</li>
<li>if you are single, married or living with a partner</li>
<li>if you are in or out of work</li>
<li>whether you live in your own home or rent</li>
<li>whatever your race, religion or sexuality</li>
</ul>
<div class="prdetails">
</div>
</div>
