<div class="post">
<h1 class="single dotted">Adult Learning &amp; Skills</h1><hr>
<h3>Your skills, your future</h3>
<p>If you invest some time in learning, you’ll be equipping yourself for the future. You’ll have a better chance of getting on at work or finding a new job. There are many ways to learn, plus free advice and financial help from the government to help with the costs.</p>
<h3>Why are skills so valuable?</h3>
<p>Research shows that improving your skills can increase your salary on average by up to R4000.00 a year</p>
<p>Having the right skills is more important than ever before: in less than ten years there will be very few jobs that will offer employment with no skills. As well as boosting your career prospects, new skills could be the first step towards that qualification you’ve always wanted to get.Skills are also useful in all sorts of situations in life, and can boost your confidence.</p>
<h3>Get free, impartial advice</h3>
<p>If you are not sure where to begin, there are lots of free, impartial advice from services like learning centres, institutions and colleges.</p>
<p>An adviser will be able to tell you about your options, and about any money you could get to help pay for your learning.<br>
You can meet a trained adviser face to face or talk over the phone.</p>
<p>Sometimes it’s hard to know what steps to take to move on in work and life. This is where a reputable advisor can help. You can get free careers advice if you’re aged 18 and over.</p>
<p>A reputable adviser can help you:</p>
<ul>
<li>look at local job opportunities</li>
<li>find learning and training that’s right for you</li>
<li>improve your CV and interview skills</li>
<li>find out about funding for learning</li>
<li>look at job profiles</li>
<li> Complete a Skills Health Check to find out what your strengths and areas for development are<br>
You can get information, advice and resources to help you make important choices about skills, work and life on the Next Step</li>
</ul>
<h3>Boost your basic skills</h3>
<p>If you want to improve your reading, writing or maths, there’s plenty of help available.<br>
There are also lots of ways to improve your computer skills – whether you are a complete beginner, or want to build on what you know already.</p>
<h3>Improving your reading, writing and number skills</h3>
<p>Improving your reading, writing and number skills can give you confidence you never knew you had. Find out how to take a free course, get free advice, join a club, take part in activities and learn online.</p>
<h3>Developing your skills</h3>
<p>Improving your skills can help you to:</p>
<ul>
<li>plan your money</li>
<li>get another job</li>
<li>help your child with homework</li>
<li>fill in forms</li>
<li>give you new confidence</li>
</ul>
<p>There’s a wide range of courses you can take to help boost your skills. Some of these can lead to a qualification.<br>
You’ll be able to learn in your local area, and in a way that suits your lifestyle: part-time, full-time, during the day or in the evening. And you’ll be with other like-minded adults. It’s not at all like being at school.</p>
<h3>Improving your computer and IT skills</h3>
<p>Improving your computer skills can help you keep in touch with friends and family, get on at work or to help with further learning. Choose from a range of courses, from free online taster sessions to courses leading to qualifications.</p>
<h3>How to improve your computer skills</h3>
<p>Developing your computer or information technology skills can help you access a range of resources and services, such as online banking or shopping.<br>
If you want to progress to further learning, getting to grips with computers and the internet can also help you save time and give you access to lots of free online resources for your coursework and research.</p>
<h3>Find a course to boost your computer skills</h3>
<p>There’s a course to suit you, whatever your level of experience</p>
<p>There are computing courses at all levels, for beginners and beyond. Many courses are flexible, so you can learn when you want and at your own pace.<br>
Courses are often called IT or ICT (Information and Communications Technology). You can also do specific courses on topics such as using the internet or email, and learn to touch-type.</p>
<h3>Everyone has the ability to learn new things, whatever your age or circumstances</h3>
<p>If you decide to improve your skills by doing a course, there are thousands to choose from in South Africa. So, you’re bound to find one that interests you and fits around your home and work commitments. You can choose where and when you learn – you don’t have to sit in a classroom. For example, you may be able to get training at work. You can learn full or part-time, for a few hours or for several years: whatever suits you best.</p>
<h3>Get financial help to improve your skills</h3>
<p>If you decide that you want to improve your skills but are concerned about how much it will cost, check out what financial help is available. Exactly what help you can get will depend on your personal circumstances.</p>
<p>You could get financial help through a number of different programs – like Career Development Loans. You may also get help through Further Education and Training (FET) colleges</p>
<h3>Thinking about higher education?</h3>
<p>Getting a higher education qualification can open up new career options, as well letting you experience new things and meet new people.<br>
And it doesn’t have to be about getting a degree. There are lots of different courses, like National Certificates and National Diplomas – or Degrees that mix study with workplace learning. You can learn at university or at your local college, studying full or part-time. There’s a range of loans and bursaries to help you meet the costs. If you get help through a bursary, you don’t have to pay it back.</p>
<h3>Returning to learning</h3>
<p>If you want to change your career, develop new skills or just meet new people, then getting back into learning could be the answer. You can get free advice to help you decide on your next steps.</p>
<h3>Returning to learning after a break</h3>
<p>Learning can be enjoyable, and it’s a great way to catch up on anything you missed out on at school – or prepare for your next career move.</p>
<p>Skills are becoming more important in today’s workplace, and doing a course could open up new job options.<br>
Whatever your reasons for returning to learning, there’s lots of support available to help you.</p>
<h3>Understanding your strengths</h3>
<p>You’ve probably been picking up learning skills as part of everyday life. Learning new things is part of everyday life. Even if you haven’t been in a classroom for years, you’ve probably still been picking up the key skills needed to make you a successful learner:</p>
<ul>
<li>organising your time</li>
<li>asking questions</li>
<li>listening to people</li>
<li>recognising your strengths</li>
<li>working out how to solve problems</li>
</ul>
<h3>Qualifications and exams: a guide for adult learners</h3>
<p>A qualification proves that you’ve gained knowledge and skills in a particular area, and can help open up new options for work or further study. Find out how to choose the right qualifications and where you can get free advice to help you decide what’s right for you.</p>
<h3>Why qualifications matter</h3>
<p>Some careers need specific qualifications – for example, medicine and law. Even if having a particular qualification isn’t essential for the work you do, it can strengthen your case when you’re applying for a job or a promotion. But there are other reasons to go for a qualification – for example, you may use it to get on a particular course or apply for membership of a professional body.</p>
<p>Choose the right qualification for you</p>
<h3>Which qualifications are available to adult learners?</h3>
<p>As an adult learner, you can choose from a huge range of qualifications. You could go for secondary education or a vocational qualification directly related to your job.</p>
<h3>Skills-based qualifications</h3>
<p>Another option is to choose a qualification that focuses on skills you can use in a range of situations. A ‘Skills for Life’ qualification could help with your reading, writing, number or computer skills. Or a ‘Key Skills’ qualification could let you demonstrate essential skills, like communication or problem-solving, at a range of different levels. Make use of your qualifications</p>
<h3>Qualifications for getting into higher education</h3>
<p>There are a number of routes into higher education, and you don’t always need traditional qualifications. If you’ve got a particular course in mind, check the entry requirements. Some ask for specific qualifications: others may be willing to take your work experience into account.<br>
If you want to get into higher education as a mature student, one option might be to do an entry-level course to a Higher Education course. They’re available at most local colleges, and you can often sign up without formal qualifications.</p>
<h3>Qualifications from outside South Africa</h3>
<p>If you have qualifications awarded in another country, you’ll need to find out whether they are recognized in South Africa. See the Department of Education website for more on comparing overseas qualifications with those gained in South Africa.</p>
<h3>Assessment and exams</h3>
<p>You don’t always need to take an exam to get a qualification – on lots of courses, you’re assessed in other ways, for example, you may be asked to produce coursework or a ‘portfolio’ of work. Other qualifications ask you to carry out practical tasks or complete a project.</p>
<h3>If you have a disability or learning difficulty</h3>
<p>If you have a disability or learning difficulty, your learning provider must make a ‘reasonable adjustment’ so that you are assessed fairly during your course.<br>
The type of help available will depend on which course or qualification you take. For example, if you have a visual impairment, it may be ‘reasonable’ to get help with reading the exam questions. But if the qualification assesses your ability to read, this type of help might not be reasonable, as it could give you an unfair advantage.</p>
<p>Ask your learning provider before you start your course about what ‘reasonable adjustments’ they will be able to make for particular qualifications. If you are at college, you can get advice from your Program Coordinator. At university, speak to your student adviser. You could also contact the awarding body (sometimes known as the ‘student board’) that runs the exam.</p>
<h3>What if my course doesn’t lead to a qualification?</h3>
<p>Learning is valuable even if it doesn’t lead to a qualification, and you may still get a certificate to show that you’ve completed a course. Practical knowledge, such as being able to speak a second language, can be just as important as an official qualification.</p>
<h3>Choosing where to learn</h3>
<p>Getting a prospectus and attending an open day can help you choose where to study.</p>
<h3>Finding a college or learning provider</h3>
<p>Many adult learning courses take place in further education colleges and learning centres. This may suit you if you prefer working in a classroom and like the idea of studying alongside other adults. You can search for your nearest college or learning provider by using the Next Step course search.</p>
<p>If you’re thinking about distance learning, also known as ‘home study’ or ‘self study’, you don’t need to worry about where the course provider is located. You can study a course offered by a learning provider anywhere in South Africa, even internationally.</p>
<h3>Support with your learning</h3>
<p>As well as support from your tutor, you could get access to a student welfare officer.</p>
<p>If you are disabled or have learning difficulties, a Learning Support Adviser or other member of staff can help you. They will be able to give you advice on support available. All colleges usually have a ‘Disability Statement’ which sets out how the college can help you.</p>
<h3>Prospectuses</h3>
<p>A prospectus provides detailed information about a college or learning provider. Many prospectuses are available online or you can contact your local college to get a free copy. There may also be leaflets about specific courses.</p>
<p>Prospectuses usually provide:</p>
<ul>
<li>an introduction to the college</li>
<li>detailed information on courses and entry requirements</li>
<li>information about college facilities such as libraries and access to computers</li>
<li>information about student support including financial support and childcare</li>
<li>information about support for disabled students and students with learning difficulties</li>
<li>practical information such as transport and getting to the college</li>
<li>information about leisure facilities, clubs and social life</li>
<li>comments from students about their learning experience and what they go on to do after their course</li>
<li>information about links with organisations, business and industry</li>
<li>Open days</li>
</ul>
<p>Colleges often hold open days or events, and sometimes take part in exhibitions or fairs with other colleges. At an open day you can:</p>
<ul>
<li>Talk to tutors about the course and college</li>
<li>look around the college facilities, including the library and computer facilities</li>
<li>get an overview of support available such as financial support and childcare</li>
<li>talk to support staff about provision for disabled students and students with special needs</li>
<li>see if the college is easy for you to get to</li>
<li>talk to students and former students about the course and the college</li>
<li>find out what former students are doing after their course</li>
<li>see if the leisure facilities and social life appeal to you</li>
<li>see if it’s somewhere you would like to study</li>
</ul>
<h3>Training and learning for work</h3>
<p>Whether you’re looking for a job or looking to get on in your career, improving your skills for work can open up new opportunities. There’s a huge range of courses available. Some are free, and you may qualify for financial help. There’s also plenty of free advice to help you decide what’s right for you.</p>
<p>Whatever stage you’re at in life, learning new skills could improve your career prospects, research predicts that in the future there will be fewer jobs for people lacking skills – meaning that skills are likely to become more and more important as time goes on, Free help and advice is available whether you’re currently working or not. There are different schemes to suit the needs of different people.</p>
<h3>Apprenticeships</h3>
<p>If you’ve got a good idea of where you want to go with your career and like the idea of earning while you learn, an Apprenticeship could be for you. You’ll get top quality training, developing skills and gaining qualifications on the job.</p>
<h3>Apprenticeships – earn while you learn</h3>
<p>To give yourself the best chance of success in your career, you’ll need to carry on developing your skills throughout your working life. Apprenticeships give you the chance to learn – and gain nationally recognized qualifications – while getting a weekly wage.<br>
Apprenticeships are available in more than 100 roles across a wide variety of industry sectors. These range from accountancy and business administration to construction, engineering, manufacturing – and many more.</p>
<h3>Is an Apprenticeship right for you?</h3>
<p>First you’ll need to decide which career suits you best. Next, you’ll have to decide whether you can commit to the demands of an Apprenticeship. Being an apprentice means juggling work and study over the long-term.</p>
<h3>How long does an Apprenticeship last?</h3>
<p>It varies – depending on the sector, the qualification you’re going for and the skills you already have. Generally, an Apprenticeship takes between one and four years to complete.</p>
<h3>Who can apply?</h3>
<p>You need to be 16 or over to apply for an Apprenticeship, entry requirements will depend on the Apprenticeship you want to do.</p>
<p>There are three levels available:</p>
<ul>
<li>Apprenticeships</li>
<li>Advanced Apprenticeships</li>
<li>Higher Apprenticeships</li>
</ul>
<p>Depending on your grades in Maths and English, you may need to take a literacy and numeric test</p>
<h3>Getting training at work</h3>
<p>Learning at work is a great way to fit learning into your life, and could help improve your career prospects. Your employer may already provide learning opportunities – if not, see if they would consider getting involved in an employee training scheme.</p>
<h3>Developing new skills at work</h3>
<p>If you’re looking to gain new skills relevant to your job, your employer is a good first point of call.</p>
<p>You may be able to get free basic skills training, additional skills to improve your performance at work, or even a qualification that could help open up doors to higher education. Some employers run ‘mentoring’ schemes to help you get on at work. Find out from a senior member of staff or a union rep whether your employer runs any training schemes. If they don’t, ask if they would consider setting one up.</p>
<h3>What’s in it for your employer?</h3>
<p>Many employers are happy to support their workers’ learning:</p>
<ul>
<li>having a skilled workforce can help boost productivity</li>
<li>there are training schemes which can be designed to suit the needs of employers and their workers</li>
<li>your employer may get help with the costs</li>
</ul>
<h3>Work-related learning (In-Service): staying safe</h3>
<p>Doing In Service Training as part of a course can be a great way of getting some practical experience. Health and safety awareness is an important part of this: learning how to spot and assess risks is something that will pay off throughout working life.</p>
<h3>Staying safe during In Service Training</h3>
<p>If you’re doing In Service Training, it’s important that you know your health and safety responsibilities: everyone in the workplace has them.<br>
Be risk aware: think about risks to yourself, the people you work with and, if relevant, members of the public. Make sure you’re in a position to identify hazards early on, and that you know how to combat them.</p>
<h3>Learning about health and safety during your training</h3>
<p>Your supervisor should be able to provide information on health and safety policies, procedures and training, there are a number of resources available to develop your knowledge of health and safety and help you become risk aware.</p>
<h3>Problems with health and safety during your training</h3>
<p>You’re entitled to a safe and healthy environment while you’re doing your placement.</p>
<p>You can expect:</p>
<ul>
<li>free access to and advice on suitable personal protective equipment or facilities</li>
<li>any training necessary for you to work safely – including training on how to use equipment</li>
<li>information on any arrangements for supervision of your work</li>
</ul>
<p>If you’ve got concerns about health and safety on your placement, raise them with your supervisor. Alternatively, contact the person at your place of learning who’s responsible for arranging the placement.</p>
<h3>Correspondence learning</h3>
<p>Correspondence learning can give you the freedom and flexibility to learn when and where you want and at your own pace. You can study a wide range of subjects at any level, and e-learning can be ideal if the subject you’re interested in isn’t available nearby.</p>
<h3>What are the benefits of Correspondence learning?</h3>
<p>Correspondence learning makes use of information and communications technology to provide innovative ways to learn. Distance learning covers learning remotely on courses such as home study or ‘self-study’ courses, which can be combined with correspondence learning.</p>
<p>Correspondence learning may appeal to you if you:</p>
<ul>
<li>want to learn when and where you want, at your own pace</li>
<li>have commitments which make it harder for you to attend a regular course</li>
<li>Have mobility or health problems that make travel or attendance difficult</li>
<li>live a long way from a training provider</li>
<li>Work irregular hours or shifts</li>
</ul>
<h3>How does correspondence learning work?</h3>
<p>A variety of media is used to help with learning and to provide communication between learners and tutors.</p>
<p>These include:</p>
<ul>
<li>traditional written materials, such as books and manuals</li>
<li>television and radio broadcasts</li>
<li>audio tapes and CD-ROM</li>
<li>online information</li>
<li>online groups</li>
<li>video conferencing</li>
<li>email support</li>
</ul>
<p>Your tutor can provide support by phone, email, online or by post. You might be able to communicate with other learners by email or website discussion groups. This helps you learn from the rest of the group and comment on each other’s work. There is usually a good range of support available to help you organize your time and manage your learning.</p>
<p>To get a feel of what correspondence learning is like, try taking a free taster course online. If you don’t have internet access at home, you can get free access at South Africa’s online centres and libraries. Staff will also be able to help you.</p>
<h3>Learning for leisure</h3>
<p>Learning doesn’t have to be formal and you don’t have to learn for a qualification. Learning can be fun and a great way to relax and socialize. You might want to develop an existing interest or learn something new.</p>
<h3>Why learn for leisure?</h3>
<p>Learning can be a way of relaxing and doing something you enjoy, alongside other like-minded people in a relaxed environment, learning for leisure can also build your confidence, and act as a stepping-stone back into more academic learning. You can learn just about anything you want and courses can take place anywhere from colleges and learning centres to libraries and outdoor locations. You can learn over a weekend, do a longer course or even go on a learning holiday.</p>
<h3>Finding a course</h3>
<p>Many courses are available at different levels so you can be sure that you are learning with people of similar ability to you. Courses can be for fun but some do offer qualifications or awards.</p>
<h4>You can search for courses near you on social course network.</h4>
<h3>Cookery</h3>
<p>Cookery can be fun and challenging and the range of courses on offer means that there is always something new to learn. Whether you are a complete cookery beginner or are looking to enroll onto a gourmet master class, you will be able to find a course that’s right for you.</p>
<h3>Gardening</h3>
<p>Whether you just need to keep your garden neat and tidy, or want to take on a bigger challenge, such as redesigning it or adding a new water feature, there is a course to suit you.</p>
<h3>Home improvement</h3>
<p>Home improvement is a popular course choice and there is a wide range of courses available.</p>
<h3>Languages</h3>
<p>If you want to learn another language there are many courses available across the country. Whether you are a complete beginner or an advanced level speaker, there will be a course for you.</p>
<h3>Art</h3>
<p>If you enjoy art or want to develop your skills there are courses where you can work at your own pace and at a time that suits you. Art can be a very social hobby too, with classes taken in groups and each student learning from one other.</p>
<h3>Photography</h3>
<p>There is a wide range of courses on offer and something for everyone regardless of whether you are a complete beginner wanting to take a better picture or an experienced photographer looking to get familiar with the latest digital technology and techniques, Whatever level you are at, you are also guaranteed to meet like-minded people with the same passion for photography as you.</p>
<h3>Dance</h3>
<p>Dancing is an enjoyable way for learners of all ages to keep fit and meet new people in a relaxed environment.</p>
<h3>Learning in your community</h3>
<p>Learning is something you can do any day and at any time, whether you’re in your local library, museum, cinema, art gallery or just exploring your local area. Many libraries, museums and galleries also have excellent learning sections on their websites.</p>
<h3>Libraries</h3>
<p>As well as providing a wide range of books, libraries usually have a variety of resources you can use.</p>
<p>This can include:</p>
<ul>
<li>reference books</li>
<li>journals and publications</li>
<li>newspapers</li>
<li>computers and other IT facilities</li>
<li>music, videos and DVDs</li>
<li>local information</li>
<li>mobile library service visiting community areas</li>
</ul>
<p>The South African Library Service receives a copy of publications produced around the World. A library is located in major towns and cities around the country and often holds various events, exhibitions and tours.</p>
<h3>Learning through voluntary work</h3>
<p>Volunteering is a great way to use your skills to help others, and at the same time learn something new which may lead to a qualification. There are many volunteering opportunities so it’s worth thinking about what you want to do and what you want to get out of it.</p>
<h3>Volunteering and learning</h3>
<p>As a volunteer you may get the chance to develop new skills, and put into practice existing skills. Although you won’t receive payment, you could have your expenses or training costs covered.</p>
<p>There are all sorts of reasons to volunteer, including:</p>
<ul>
<li>helping others and your local community</li>
<li>meeting new people</li>
<li>taking part in something which is important to you</li>
<li>making a difference</li>
<li>doing something you enjoy</li>
<li>developing your interests</li>
<li>learning something new</li>
<li>gaining experience and improving your CV</li>
<li>boosting your job prospects</li>
</ul>
<h3>Getting involved</h3>
<p>Once you’ve decided that you’d like to volunteer, you can search for volunteering opportunities in your area.<br>
Some volunteering roles will suit you more than others so it’s worth thinking about why you want to volunteer, how much time you have available and what skills you can offer.</p>
<h3>Training opportunities for volunteers</h3>
<p>If you want to volunteer to help boost your career, think carefully about the skills and experience you need. Don’t be afraid to be upfront about this when you apply for opportunities – as long as you are willing to show commitment to your voluntary work, most organizations will welcome the fact that it could have benefits for you.</p>
<p>Volunteering can give you a broad range of learning opportunities:</p>
<ul>
<li>many volunteer placements will allow you to study and develop your ‘key skills’, the skills you need to get on in the workplace, in learning and in life</li>
<li>some volunteers receive vocational training in specialist areas such as social care, working with the elderly, or working with children</li>
<li>some roles require specific training such as volunteering as a special constable with your local police force</li>
</ul>
<p>The organization you work for usually covers your training costs and expenses in exchange for your time and commitment.</p>
<h3>Volunteering outdoors and overseas</h3>
<p>You can volunteer through relevant organizations for a range of opportunities including full-time, working holidays and employee volunteering.</p>
<h3>English for speakers of other languages (ESOL)</h3>
<p>Improving your English can help you get more out of your life in the World. It will also help if you want to study, improve your CV, or apply to become a South African citizen.</p>
<h3>Improving your English</h3>
<p>If English isn’t your main language, you can do a course to help you improve your English. These courses are called language courses for Speakers of other Languages.</p>
<p>Improving your English will make it easier to:</p>
<ul>
<li>talk to doctors and teachers</li>
<li>understand the laws and customs of the South Africa</li>
<li>do a course and get a qualification</li>
<li>help your child with homework</li>
<li>make and meet new friends</li>
</ul>
<h3>What does a language course involve?</h3>
<p>A language course usually covers:</p>
<ul>
<li>speaking and listening</li>
<li>reading and writing</li>
<li>vocabulary</li>
<li>punctuation and grammar</li>
</ul>
<p>There are courses at different levels so you’ll be able to start at the right level for you.</p>
<div class="prdetails">
</div>
</div>
