<div class="post">
<h1 class="single dotted">Assistance Dogs &amp; Equipment</h1><hr>
<h3>Types of equipment</h3>
<p>Having the right equipment and aids can be important to independent living. Some may be related to a particular health need, others to assist you with particular tasks.</p>
<h3>Mobility scooters for road use</h3>
<p>In legal terms, a mobility scooter or powered wheelchair is an ‘invalid carriage’. Invalid carriages fall into three categories, or classes. A class 3 scooter or wheelchair can be used on the road. There are some legal requirements for class 3 vehicles.</p>
<h3>Types of invalid carriages</h3>
<p>There are three types of invalid carriages:</p>
<ul>
<li>Class 1 – manual wheelchairs, that is self-propelled or attendant-propelled, not powered</li>
<li>Class 2 – powered wheelchairs and scooters, for footway use only with a maximum speed of four miles per hour (mph) and a maximum unladen weight of 113.4 kilograms</li>
<li>Class 3 – powered wheelchairs and scooters, for use on roads/highways with a maximum speed of eight mph and the facility to limit the maximum speed to four mph for use when</li>
</ul>
<p>travelling on footways, and with a maximum unladen weight of 150 kilograms. You must register a class 3 vehicle with the Vehicle Licensing Office.</p>
<h3>Limbs, prosthetics and surgical appliances</h3>
<p>You can get artificial limbs and surgical appliances and have them maintained and repaired for free on the National Government Health Service Network.</p>
<h3>Artificial limbs and prosthetics</h3>
<p>Your hospital consultant will refer you to your nearest ‘Disablement Services Centre’. These centres are usually attached to regional hospitals.</p>
<p>Each limb needs to be individually made and fitted for each patient. Expert clinical supervision is needed during the entire surgical, fitting and support process. You should also receive training on how to use your artificial limb.</p>
<h3>Surgical appliances</h3>
<p>If you need a surgical appliance, your doctor will refer you to a healthcare professional who can supply or prescribe one to meet your needs.</p>
<p>Some examples of surgical appliances are:</p>
<ul>
<li>elastic hosiery</li>
<li>trusses</li>
<li>leg appliances and surgical footwear</li>
<li>abdominal and spinal supports</li>
<li>surgical brassieres</li>
<li>artificial breasts</li>
<li>arm, neck and head appliances</li>
<li>wigs</li>
</ul>
<h3>Assistance dogs</h3>
<p>There are several organizations that train and provide assistance dogs for disabled people. Some dogs are trained specifically to help with certain tasks.</p>
<h3>About assistance dogs</h3>
<p>Assistance dogs are not suitable for everyone. Whether an assistance dog would be suitable for you must be decided taking your individual circumstances into account.</p>
<p>Assistance dogs need to be looked after, groomed, fed, exercised and taken to the vet just like any other dog.</p>
<p>For many people however, assistance dogs have brought a great deal of independence and confidence as well as companionship into their lives.</p>
<h3>Dogs for blind or visually impaired people</h3>
<p>The Guide Dogs for the Blind Association provides training and support for people with serious sight loss who would like to have a guide dog.</p>
<p>To become a guide dog owner, you must be resident in South Africa and have a significant visual loss. This may be combined with other disabilities. You must also be able to use and care for the dog.</p>
<h3>Dogs for deaf or hearing impaired people</h3>
<p>Hearing Dogs for Deaf People train dogs to alert deaf people to sounds they cannot hear. This can include alarm clocks, babies crying, smoke alarms and many others.</p>
<p>To become a hearing dog owner, you must be severely hard of hearing or profoundly deaf and be over 18 years old. You must also be able to care for the dog.</p>
<h3>Other assistance dogs</h3>
<p>Some charities train dogs to assist and support disabled owners with a particular disability. Disability assistance dogs can be trained to do many things.</p>
<p>Examples include</p>
<ul>
<li>fetching items</li>
<li>operating control buttons</li>
<li>switching lights on and off</li>
<li>opening and closing doors</li>
<li>loading and unloading the washing machine</li>
<li>helping with shopping</li>
<li>assisting with dressing and undressing</li>
<li>summoning help if necessary</li>
</ul>
<p>Dogs can also be trained in other ways, for example, to alert owners of an imminent epileptic seizure.</p>
<h3>Accessible technology products</h3>
<p>Specialist and adapted equipment can make using computers easier. This may be at home, work, school or at college or university.</p>
<h4>If you are blind or visually impaired</h4>
<p>There are different types of computer screen readers available. Some relay back to you, via a synthetic voice, what you are typing. Others read what is on a webpage. You can also get readers that have a Braille output device.</p>
<p>Magnification software products enlarge a particular part of a computer screen.</p>
<p>Closed circuit camera systems can magnify print and text and then display an enlarged version on a television or computer screen. There are also ‘standalone’ portable versions, which do not require a television or computer.</p>
<p>Stickers can be put onto standard keyboard keys that either present the letters and numbers as Braille or simply increase the size of the characters.</p>
<h4>If you have a physical disability</h4>
<p>There is equipment to help you use a computer if you have a physical impairment, for example:</p>
<ul>
<li>a larger keyboard on your computer may help if you have difficulties with dexterity</li>
<li>devices are available that take the place of keyboards but are smaller and need less effort to press the keys</li>
<li>an ‘on-screen keyboard’ means you only needs a mouse to select characters on the screen</li>
<li>alternatives to using a standard mouse include joysticks or tracker balls, which can be easier to control and use</li>
<li>pointers and sticks are available that can be attached to the head and used to press keys on a keyboard</li>
<li>predictive text can help increase the rate of typing – after typing two or three letters, you are given a selection of words to choose from</li>
<h4>If you have a learning difficulty</h4>
<p>There are simple keyboards. For example, they can have just the letters of the alphabet on them. Keyboards can also have larger or coloured keys.</p>
<p>You can get software that shows information more simply on the screen. Also, sounds, voices and music can be played when you do certain things or finish doing something.</p>
<p>Other software can help you with learning skills like literacy, numeric, music and games.</p>
<div class="prdetails">
</div>
</ul>
</div>
