<div class="post">
<h1 class="single dotted">Being Stopped or Arrested</h1><hr>
<h3>Being stopped, questioned or arrested by the police</h3>
<p>The police have powers to stop, question and search you – depending on the situation. If necessary, they can arrest you if they believe you have committed a crime. Find out when you can be stopped by the police, what happens if you’re searched or arrested and your rights.</p>
<h3>Being stopped and questioned by the police</h3>
<p>A police officer or a police community support officer (PCSO) has the right to ask you:</p>
<ul>
<li>what you’re doing</li>
<li>why you’re in an area and/or where you’re going</li>
</ul>
<p>The officer may record your ethnicity and you may be given a record showing the:</p>
<ul>
<li>date and time you are stopped</li>
<li>officer’s name and police station</li>
</ul>
<p>A police officer does not have to be in uniform (but must show you their identity card). A PCSO must be in uniform.</p>
<h3>Being stopped and searched by the police</h3>
<p>You can be stopped and searched when a police officer has ‘reasonable grounds’ to suspect that you’re carrying:</p>
<ul>
<li>illegal drugs</li>
<li>a weapon – for example, a knife</li>
<li>stolen property</li>
<li>something which could be used to commit a crime – for example, a crowbar</li>
</ul>
<p>Being searched doesn’t mean you are being arrested.</p>
<h4>‘Reasonable grounds’ for stop and search – an example</h4>
<p>You are seen late at night close to where a burglary has taken place. The police see you’re trying to hide something that seems to be the same size and description of the item stolen in the burglary.</p>
<p>You could be stopped and searched in this situation.</p>
<h4>Being stopped and searched without any reasonable grounds</h4>
<p>You can be stopped and searched without any reasonable grounds if a police officer thinks that:</p>
<ul>
<li>serious violence could take place</li>
<li>you’re carrying a weapon or have used one</li>
</ul>
<h3>Before you’re searched</h3>
<p>Before you’re searched the police officer must tell you:</p>
<ul>
<li>their name and police station</li>
<li>what they expect to find – for example, drugs</li>
<li>the reason they want to search you – for example, it looks like you’re hiding something</li>
<li>why they are legally allowed to search you</li>
<li>that you can have a record of the search – if not possible at the time, how you can get a copy</li>
</ul>
<h3>How the search is carried out</h3>
<p>An officer can ask you to take off more than your jacket or gloves, and anything worn for religious reasons – like a veil or turban. If they do, they must take you somewhere out of public view.</p>
<p>If the officer wants to remove more than jacket and gloves they must be the same sex as you. This may happen at a police station (even if you’re not arrested).</p>
<h3>What happens if you’re charged with a crime?</h3>
<p>If you’re charged with a crime, it means the police suspect you are involved in the crime you were arrested for. Find out what happens if you have to stay in custody or are released on bail before going to a magistrates’ court.</p>
<h3>If you’re charged with a crime</h3>
<p>The custody officer at the police station tells you that you’re being charged. You are given a ‘charge sheet’ which sets out the details of your suspected crime.<br>
The police decide whether you:</p>
<ul>
<li>can go home until the court hearing – but may have to follow certain rules, known as ‘bail’</li>
<li>are kept in police custody until the court hearing, known as ‘remand’</li>
</ul>
<h4>All criminal cases start in a magistrates’ court.</h4>
<h3>Bail – what it is</h3>
<p>Bail means you are allowed to leave police custody while your crime is investigated further, or while you wait for your court hearing.</p>
<p>There are two different types of bail:</p>
<ul>
<li>police bail – this is given at the police station after you’re charged</li>
<li>court bail – this is given at your hearing at a magistrates’ court</li>
</ul>
<div class="prdetails">
</div>
</div>
