<div class="post">
<h1 class="single dotted">Building Your Own Home</h1><hr>
<h3>Raising the money to build your own home</h3>
<p>Building your own home is a way to get a home which may meet all your needs and may cost less than buying one already built from a developer. Financing this type of work can be a major problem but some bond lenders are able to help.</p>
<h3>Self-build bonds</h3>
<p>More risks are involved in building your own home but self-build bonds can help with the financial complications of managing such a project. The main difference between a self-build bond and a house purchase bond is that with a self-build bond, money is released in stages as the build progresses rather than as a single amount.</p>
<h3>Working out your budget</h3>
<p>You need to plan your budget carefully so that you know how much the project is going to cost in total.</p>
<p>The bond lender will ask for this and you need to make sure that you have covered all your costs such as land costs, professional fees, building work, materials, etc. Make sure you know what you can take on yourself and employ an architect, surveyor, planning consultant and project manager if necessary.</p>
<p>You are probably going to borrow a large sum which you have to pay back whatever happens to the building. You need to make sure that you hire a good builder in order to reduce the risk.</p>
<p>Getting the right insurance and warranty cover is also vital so that you can be protected against some of the risk if things go wrong. You will also need to cover your legal expenses. It is essential to include an amount for contingency – to cover unexpected costs which might come up.</p>
<h3>Finding and buying a building plot</h3>
<p>If you have plans to build your home yourself then one of the first things you need to do after planning your budget and finances, is to find and buy a building plot. You need to survey the plot and ensure it meets your requirements.</p>
<h3>Finding a plot of land</h3>
<p>Some suggestions for finding a plot of land are:</p>
<ul>
<li>get together with a group of other potential self builders and buy a bigger development plot</li>
<li>contact developers and ask whether they have any individual plots of land they would be willing to sell</li>
<li>contact the local council in case they have any plots for sale</li>
<li>contact other potential land sellers – sometimes utility organizations such as water and electricity companies sell surplus land</li>
<li>self builds shared ownership schemes from the Housing Corporation</li>
<li>contact local land and estate agents</li>
<li>contact specialist land finding agencies and plot developers</li>
<li>look out for plots with an existing low-quality or unsightly building which could be demolished</li>
<li>assess the potential of building in a large back or side garden</li>
<li>Do as much research as you can.</li>
<p>.
</p>
</ul>
<h3>Assessing a plot of land\</h3>
<p>Here are tips from the National Home Builders Council (NHBC) on assessing a plot of land.</p>
<p>Before you buy a plot of land, make sure that it holds valid outline planning permission. But remember – planning permission does not mean that building will actually be possible. Land with consent can have restrictive covenants which may limit what you can do with the land. If the site lies above mine works or old tunnels, then building on the land might well be expensive.</p>
<p>Organize a site appraisal of the land. This will assess the suitability of the land for building on, and will include evidence of potential problems of previous use, such as old foundations, wells, tipping operations, and so on.</p>
<p>Consider buying a plot of land that already contains a run-down building and then constructing a replacement dwelling. Although the initial cost of the site might be higher than an empty plot, you may benefit from existing access to services such as highways, electricity and fuel. Mains drainage and water supply may be in place, which will save you significant sums of money.</p>
<p>Before you begin to spend any money or employ any contractors, turn yourself into an expert. Get as much information as you can about all aspects of self building by carrying out research. The more you know, the less likely you are to slip up.</p>
<h3>Building your own home</h3>
<p>If this is the first time you have built a house, you may feel daunted by the prospect of turning your idea into reality.</p>
<h3>Getting started</h3>
<p>Building your own home can be both satisfying and stressful. So plan well ahead at the beginning of your project. These plans are crucial as most self-builds often change during the projects, for example you may decide to move a window or adopt a new living area. Ideally any changes should be minimal and not impact too heavily on your budget. However, hurried or vague planning will lead to escalating costs and push back completion dates.</p>
<p>Remember that you will need to put in a planning and building regulations application, which can be made to your local council. You could also get alternative building regulations consent from a private company.</p>
<h3>Designing and building your house</h3>
<p>Local solicitors can provide names and addresses of architects and building contractors. Telephone directories also give names of manufacturers and suppliers etc.</p>
<p>Some building contractors can provide a choice of house designs which, if suitable, may avoid or reduce the need to employ an architect, however, an experienced architect can greatly reduce the amount of time and effort that you might otherwise spend climbing the hurdles involved in building a new house.</p>
<h3>Considerations</h3>
<h4>Budget</h4>
<p>Plan your budget very carefully. Work out what you can realistically afford to pay –   particularly if you intend to borrow money – and allow for:</p>
<ul>
<li>increases in interest rates,</li>
<li>what you think the development is going to cost you</li>
<li>allow at least 15 per cent extra for contingencies from the start</li>
</ul>
<p>Also bear in mind that if what you are borrowing is on the security of the house, the amount you can borrow will be based on the financial providers estimate of what the final value will be but won’t give you the full amount until it is completed.</p>
<h4>Project planning</h4>
<p>Draw up a project plan, setting out what needs to be done, when and by whom from the earliest stages of finding the site to furnishing and moving into the finished house it will almost certainly take longer than you think.</p>
<p>Also think about:</p>
<ul>
<li>if you are going to sell your present home to help pay for the development</li>
<li>where you are going to live while building is taking place</li>
<li>what it is going to cost</li>
</ul>
<h4>Your skills</h4>
<p>Consider realistically if you have the skills and experience to do some parts of the build yourself and whether you can rely on friends or relatives for their skills or help, at the time you will need them to be done or just to help with the laboring. You will probably need to pay specialist contractors to do some of the work, so make sure you have made plans for this.</p>
<p>Remember – unless you have all the necessary professional skills, employ a qualified and experienced architect to design the house and make sure you provide them with a clear brief of what you want. Unless your architect also has a planning qualification and experience, you should also consider employing a planning consultant.</p>
<div class="prdetails">
</div>
</div>
