<div class="post">
<h1 class="single dotted">Dealing With Bullying</h1><hr>
<h3>Bullying</h3>
<p>Bullying is unacceptable. If your child is being bullied at school, the school should have policies and procedures in place to support you. There are also organizations which can help and offer further information and advice if you need it.</p>
<h3>Identifying bullying</h3>
<p>Bullying can be defined as deliberately hurtful behaviour that is repeated over a period of time. This can include:</p>
<ul>
<li>teasing, abusive remarks and name calling</li>
<li>threats and physical violence</li>
<li>damage to property</li>
<li>leaving pupils out of social activities deliberately</li>
<li>spreading rumours</li>
<li>upsetting mobile phone or email messages (sometimes called cyber bullying)</li>
</ul>
<h3>If your child is being bullied</h3>
<p>Your child may not directly tell you that they are being bullied but may display other symptoms like headaches, irritability and anxiety, and may not want to go to school. If your child is behaving like this or out of character and you suspect they are being bullied, try talking to them about:</p>
<ul>
<li>their progress with school work</li>
<li>friends at school</li>
<li>what they do at lunchtime and breaks</li>
<li>any problems or difficulties they are facing</li>
</ul>
<p>Finding out your child is being bullied can be very upsetting, but if this happens try to talk calmly to your child about what is happening and:</p>
<ul>
<li>make a note of what they say: who was involved, where, when and how often?</li>
<li>reassure your child that they have done the right thing by telling you</li>
<li>tell your child to report any further incidents to a teacher straightaway</li>
<li>talk to your child’s teacher about the bullying</li>
</ul>
<h3>Protecting older children who are leaving home</h3>
<p>An important landmark in your child’s life is when they prepare to leave home for the first time, perhaps it’s to go to university or to set up their first home. Talk to your child about precautions they can take in their new home so as to avoid potential crime risks.</p>
<h3>Reducing the risk of crime</h3>
<p>Householders aged 16 to 24 are three times more likely than average to be burgled. Here are some things your child should consider when moving away from home:</p>
<ul>
<li>if setting off for university, your child should know that the risk of being burgled is much lower in halls of residence than in privately rented houses or flats</li>
<li>about one-third of all burglars get in through unlocked doors or windows, so make sure your child’s new place has working locks on all doors and windows</li>
<li>make sure your child’s possessions are covered by insurance</li>
<li>advise your child to mark all their property with an address, because this will help police identify stolen property</li>
<li>buy your child timer switches that turn radios and lights on and off when they’re out – this will give the impression that someone is home</li>
<li>make sure your child brings valuables home during holidays, or moves them into secure storage</li>
</ul>
<h3>Alcohol, young people and the law</h3>
<p>There are strict laws governing alcohol consumption in South Africa. It is important to check that you are not breaking the law by allowing your child to drink. Find out what the law says about underage drinking, licensed premises and drink driving.</p>
<h3>What the law says</h3>
<p>It is against the law:</p>
<ul>
<li>to be drunk in charge of a child under seven in a public place or on licensed premises</li>
<li>to sell alcohol to someone under 18, anywhere</li>
<li>for an adult to buy or attempt to buy alcohol on behalf of someone under 18</li>
<li>for someone under 18 to buy alcohol, attempt to buy alcohol or to be sold alcohol in any circumstances (unless acting at the request of the police or a weights and measures inspector)</li>
<li>for someone under 18 to drink alcohol in a licensed premises, with one exception – 16 and 17 year olds accompanied by an adult can drink but not buy beer, wine and cider with a table meal</li>
<li>for an adult to buy alcohol for a person under 18 for consumption on licensed premises, except as above</li>
</ul>
<h3>Drinking at home</h3>
<p>It is not illegal for a person under 18 to drink alcohol at home or at a friend’s house. Parents can choose to give young people some of their own alcohol when at home.</p>
<h3>Drinking in public</h3>
<p>Some towns have alcohol-free zones where nobody can drink in public. Even where these aren’t in place the police can take away alcohol or move young people on if they have been drinking. They could even be fined or arrested.</p>
<h3>Drink driving</h3>
<p>Anyone who drives or tries to drive after they’ve been drinking alcohol could face a driving ban, a large fine or even a prison sentence. It is illegal to drive while ‘unfit’ to do so.</p>
<p>The police can stop anyone if they think they are driving with too much alcohol in their body. If stopped, the driver will be asked to take a breathalyser test to measure the amount of alcohol in their breath.</p>
<p>If the test is positive, the driver will be arrested and taken to a police station for further tests – possibly involving blood and urine. It is illegal to refuse to give a sample when asked.</p>
<h3>Young people and alcohol – what are the risks?</h3>
<p>The effects of alcohol on young people are not the same as they are on adults.  While alcohol misuse can present health risks and cause careless behaviour in all age groups, it is even more dangerous for young people. Find out how alcohol can affect young people’s health and behaviour.</p>
<h3>Health risks</h3>
<p>Because young people’s bodies are still growing, alcohol can interfere with their development. This makes young people particularly vulnerable to the long-term damage caused by alcohol. This damage can include:</p>
<ul>
<li>cancer of the mouth and throat</li>
<li>sexual and mental health problems</li>
<li>liver cirrhosis and heart disease</li>
</ul>
<h4>Research also suggests that drinking alcohol in adolescence can harm the development of the brain.</h4>
<p>Young people might think that any damage to their health caused by drinking lies so far in the future that it’s not worth worrying about. However, there has been a sharp increase in the number of people in their twenties dying from liver disease as a result of drinking heavily in their teens.</p>
<p>Young people who drink are also much more likely to be involved in an accident and end up in hospital.</p>
<h3>Risky behaviour – sex</h3>
<p>Drinking alcohol lowers people’s inhibitions, and makes them more likely to do things they would otherwise not do. Young people are particularly at risk because, at their stage of life, they are still testing the boundaries of what is acceptable behaviour.</p>
<p>One in five girls (and one in ten boys) aged 14 to 15 goes further than they wanted to in a sexual experience after drinking alcohol. In the most serious cases, alcohol could lead to them becoming the victim of a sexual assault.</p>
<h3>Unsafe sex and unwanted pregnancy</h3>
<p>If young people drink alcohol, they are more likely to be reckless and not use contraception if they have sex. Almost one in ten boys and around one in eight girls aged 15 to 16 have unsafe sex after drinking alcohol. This puts them at risk of sexual infections and unwanted pregnancy.</p>
<h4>Research shows that a girl who drinks alcohol is more than twice as likely to have an unwanted pregnancy as a girl who doesn’t drink.</h4>
<h3>Antisocial behaviour</h3>
<p>Alcohol interferes with the way people think and makes them far more likely to act carelessly. If young people drink alcohol, they are more likely to end up in dangerous situations.</p>
<p>For example, they are more likely to climb walls or other heights and fall off. Or they might verbally abuse someone who could hit them. They are also more likely to become aggressive themselves and throw a punch.</p>
<p>Four out of ten secondary school-age children have been involved in some form of violence because of alcohol. This could mean they have been beaten up or robbed after they’ve been drinking, or have assaulted someone themselves.</p>
<h3>Getting into trouble with the police</h3>
<p>If a child or young person drinks alcohol, then they are more likely to get into trouble with the police. Every year, more than 10,000 fines for being drunk and disorderly are issued to young people aged 16 to 19.</p>
<h4>Children as young as 12 are being charged with criminal damage to other people’s property as a result of drinking.</h4>
<h3>Criminal behaviour</h3>
<p>Young people who get drunk at least once a month are twice as likely to commit a criminal offence as those who don’t. More than one in three teenagers who drink alcohol at least once a week have committed violent offences such as robbery or assault.</p>
<p>Young people who get involved with crime are also likely to end up with a criminal record. This can damage their prospects for the rest of their life. Having a criminal record can exclude people from some jobs and, for some offences, prevent them from travelling abroad.</p>
<h3>Failing to meet potential at school</h3>
<p>When young people drink, it takes longer for the alcohol to get out of their system than it does in adults. So if young people drink alcohol on a night before school, then they can do less well in lessons the next day.</p>
<p>Young people who regularly drink alcohol are twice as likely to miss school and get poor grades as those who don’t. Almost half of young people excluded from school are regular drinkers.</p>
<div class="prdetails">
</div>
</div>
