<div class="post">
<h1 class="single dotted">Buying &amp; Selling Vehicles</h1><hr>
<h3>Registering a vehicle</h3>
<h3>How to notify the Vehicle Licensing Office if you buy a new or used vehicle</h3>
<p>The seller will usually notify the Vehicle Licensing Office that you have purchased your vehicle. The way in which the vehicle is registered to you will depend if it is new or used, if a registration document or certificate is available or you may register it yourself.</p>
<p>If you buy a new vehicle, the dealer will usually arrange for the vehicle to be registered for you.</p>
<p>If you buy a used vehicle, the Vehicle Licensing Office may require a “Purchase and Sale” agreement together with the Vehicle Registration Document, a Certificate of Roadworthiness (COR) when available, and the completed Licensing Forms.</p>
<h3>How to notify the Vehicle Licensing Office if you sell your vehicle</h3>
<p>You must notify the Vehicle Licensing Office immediately of the exact date of sale or transfer of your vehicle using the registration document or Licensing Forms. You and the buyer should follow the procedures correctly or you will remain liable for the vehicle until Vehicle Licensing Office records have been updated.</p>
<h3>Registering an imported vehicle</h3>
<p>When a vehicle is imported for use in South Africa, it must be registered and taxed by the Vehicle Licensing Office and relevant authorities. This must be done as soon as possible as the vehicle cannot be kept or used on public roads.</p>
<h3>Advice on buying and selling a vehicle</h3>
<h3>Advice on buying a vehicle</h3>
<p>Buying a used vehicle is serious business. By making you aware of the following advice, you can reduce the risk of buying a stolen vehicle. Here are some top tips to consider.</p>
<h3>Know your consumer rights when buying a car</h3>
<p>If you’re buying a used vehicle from a private seller, dealer or auction house, make sure you know your consumer rights.</p>
<h3>Before seeing the vehicle</h3>
<p>Here are some things to consider before you see the vehicle:</p>
<ul>
<li>be careful of mobile phone numbers – owners are hard to trace</li>
<li>watch out for adverts giving a landline number and times to call – criminals often use      phone boxes</li>
<li>check the market value of the vehicle – if it’s offered much cheaper, ask yourself      why?</li>
<li>arrange to see the vehicle in daylight at the seller’s home and not in a public car park;      always consider your personal safety</li>
<li>when doing a test drive, ask a friend or a family member to follow you</li>
<li>check that the vehicle has not been in accidents before – usually this is mentioned in the vehicles registration form as a Code A, Code B, or Code C meaning if damage has been done to the vehicle and to what extent.</li>
</ul>
<h3>High Mileage</h3>
<p>Vehicles odometers can be “clocked” to reduce their mileage and get a better price</p>
<ul>
<li>be careful, some dishonest dealers pose as private sellers to offload unsafe and ‘clocked’ cars</li>
<li>consider taking a qualified vehicle examiner with you. A number of companies provide this service should you not know anyone with sufficient knowledge of vehicles</li>
<li>ask the seller for the registration number, make and model of the vehicle and compare</li>
<li>ask the seller for the expiry date of the license disc</li>
<li>check whether the vehicle has outstanding fines or has been stolen or written off</li>
</ul>
<p>Try and check this information before you see the vehicle. There are companies who will do this for you.</p>
<h3>Checking the vehicle’s registration certificate </h3>
<p>Thieves can change a stolen vehicle and its paperwork to make it look like a real one (this is known as ‘cloning’)</p>
<p>Hold the vehicle registration certificate up to the light – there should be a specific watermark.</p>
<p>Make sure the seller has the right to sell the vehicle. If the seller has had the vehicle for some time, they should have any of the following:</p>
<ul>
<li>an agreement of sale (receipt)</li>
<li>service records</li>
<li>vehicle registration certificate</li>
</ul>
<p>Remember, the vehicle registration certificate is not proof of ownership.</p>
<p>Make sure the vehicle registration certificate matches the owners details, the vehicle’s details and all other documentation provided.</p>
<p>Look out for stolen vehicle registration certificates.</p>
<h3>Checking the vehicle</h3>
<p>Remember, don’t buy the vehicle if the VIN has been tampered with or is missing.</p>
<p>Before buying a vehicle you should check:</p>
<ul>
<li>if the engine has been changed in any way</li>
<li>that all locks open with the same key – thieves often change locks that have been damaged</li>
<li>if there are two keys available – an original and a spare</li>
<li>that the VIN and engine number match those on the vehicle registration certificate and that the surrounding areas have not been altered or covered</li>
<li>the condition of the vehicle</li>
<li>if the mileage seems reasonable for the vehicle age and condition</li>
</ul>
<p>If you decide to buy the vehicle, avoid paying in cash. Be aware of fraudulent websites requesting payment online. Pay by a banking system and get a receipt.</p>
<h3>Vehicle check services</h3>
<p>Before you buy a used vehicle you can check its details to see if it’s been stolen, written off or has any fines outstanding against it. You can check via the Vehicle Licensing Offices and private vehicle check companies.</p>
<p>Always check the following:</p>
<ul>
<li>year of manufacture</li>
<li>date of first registration</li>
<li>engine capacity</li>
<li>colour</li>
<li>expiry date of the license disc</li>
<li>vehicle excise duty rate (if applicable)</li>
</ul>
<h3>Receiving fines or correspondence for a vehicle you do not own</h3>
<p>If you are receiving fines or correspondence for a vehicle you no longer own or have never owned, it is important that you respond as soon as possible. By doing so you can avoid being sent any further items or judgments.</p>
<p>You may have received fines or correspondence from the Vehicle Licensing Office, a Police Enforcement Ticketing Centre or parking tickets.</p>
<h3>What you need to do</h3>
<p>Use the following information to help you deal with the fines or correspondence that you’ve received:</p>
<h3>From a Vehicle Licensing office or Police Ticketing Office</h3>
<ul>
<li>return the correspondence to the office that issued it; their address will be on the correspondence</li>
<li>quote the vehicle registration number, make and model</li>
<li>give the exact date of sale or transfer and the name and address of the person to whom you sold or transferred the vehicle</li>
<li>if you do not have these details or if you have never owned the vehicle, you should explain this in your letter and give as much information as possible</li>
<li>usually, the Vehicle Licensing Office or Police Ticketing Office is unable to accept these details via the telephone or email</li>
<li>keep a copy of the correspondence for reference</li>
<li>keep any sale agreements on hand as proof</li>
</ul>
<h3>Advice on selling your vehicle </h3>
<p>When you sell your vehicle privately or through a motor trader you’ll need to tell the Vehicle Licensing Office. If you fail to tell the Vehicle Licensing Office, you could be held responsible for any future motoring offences committed by the vehicle</p>
<h3>Don’t get caught out</h3>
<p>It’s important to tell the Vehicle Licensing Office as soon as you sell your vehicle or you’ll continue to be responsible for paying the vehicle registration fees or penalties relating to the non-payment of it. You may also receive communication relating to motoring offences committed by the vehicle. When the Vehicle Licensing Office has been told, you should receive an acknowledgement confirming that you are no longer responsible for the vehicle.</p>
<h3>Important points to consider when selling a vehicle</h3>
<p>There are some simple steps you can take to protect yourself from becoming a victim of crime when selling your vehicle:</p>
<ul>
<li>it’s worth remembering that thieves can pose as potential buyers</li>
<li>never let the buyer go on a test drive alone as they may not come back</li>
<li>don’t leave the buyer alone with your keys in the ignition</li>
<li>be careful when accepting cheques or bank guarantees – don’t part with your car until you’re sure the payment is genuine. If in doubt, contact your bank</li>
<li>it’s also worth asking the buyer for a form of identity, satisfying yourself that it looks genuine, alternatively the buyer may ask to see proof of your identity</li>
<li>know where the vehicle VIN number / engine number is as the buyer may want to check this</li>
</ul>
<div class="prdetails">
</div>
</div>
