<div class="post">
<h1 class="single dotted">Buying Your Home</h1><hr>
<h3>Choosing a new area to live</h3>
<p>When you are considering moving to a new area, there are a number of things you may want to look at before making your decision. You may want to find a job in a certain area or move to somewhere that has better schools or more green spaces.</p>
<h3>Choosing an estate agent and making an offer</h3>
<p>Estate agents usually act on behalf of the seller, but must also treat buyers fairly. Find out what the process is for making an offer on a property and how to make a complaint.</p>
<h3>Working with estate agents</h3>
<p>Using an estate agent is a common way to find a property to buy. Different estate agents specialize in different types of property, so find out if the estate agent you want to use is selling the type of property you are interested in. Estate agents enter into a contract with the seller to sell their property, and so be aware that they will be acting in their client’s best interests.</p>
<h3>Making an offer</h3>
<p>If you make an offer on a property, make sure that it is ‘subject to contract’. This means you can pull out of the deal if there are any problems.</p>
<p>Under the Estate Agents Act, an estate agent is legally bound to present any offer promptly and in writing to the person selling the house, unless the seller has said in writing that there are some offers that they do not wish to receive.</p>
<p>A buyer’s offer is not legally binding in South Africa, even if its accepted by the seller. This means that the agent is legally obliged to pass on any other offer received for the property up to when contracts are exchanged.</p>
<p>Once your offer is accepted, ask for the property to be taken off the market for the duration of the sale. This is one step you can take to try to avoid being ‘dumped’. The seller may be reluctant to do this if you haven’t already sold your property.</p>
<h3>Getting details about land or property ownership</h3>
<p>Department of Land Affairs can provide you with information about land and property. For example, the average house prices in specific areas of South Africa and details about ownership and who the financial service provider is.</p>
<h3>Conveyancing for buyers</h3>
<p>Conveyancing is the process of legally transferring ownership of a property from the seller to the buyer. Conveyancing also includes the various searches and checks and any final tasks following the sale. Find out what happens at each stage and what you need to do as a buyer.</p>
<h3>Conveyancing: transferring the ownership of property</h3>
<p>There are five main stages of conveyancing for a buyer:</p>
<ul>
<li>Pre-contractual stage</li>
<li>exchange of contracts</li>
<li>Between exchange and completion</li>
<li>Completion</li>
<li>After completion</li>
</ul>
<h3>Making payments through your conveyancer</h3>
<p>You may need to make payments to the seller during the conveyancing process. If you hire a solicitor or licensed conveyancer, they may ask you for the money in advance so payments can be made without delay.</p>
<h4>1. Pre-contractual stage</h4>
<p>Once you have made an offer to buy a property, legal documents need to be prepared to transfer ownership from the seller to you. The seller draws up a contract for your agreement – you can negotiate its terms if necessary. If you have instructed a solicitor or licensed conveyancer, they will carry out this work and advise you on the contents of the contract.</p>
<p>The contract contains details including:</p>
<ul>
<li>what the boundaries of the property are</li>
<li>what fixtures and fittings, like carpets and kitchen units, are included in the sale</li>
<li>how much the property is being sold for</li>
<li>any legal restrictions or rights on the property, like any public walkways or rules about use of the property</li>
<li>any planning restrictions in place</li>
<li>a description of the services to the property, e.g. drainage and gas</li>
<li>the date for completing the purchase (called ‘completion’)</li>
</ul>
<p>Other tasks to be done at this stage are explained below.</p>
<h3>Researching the property</h3>
<p>Before you sign and exchange the contract, both you and your solicitor or conveyancer should find out as much as possible about the property.</p>
<p>The seller does not have to voluntarily tell you about problems there might be with the property or neighbourhood. The seller should, however, reply truthfully to enquiries. Your solicitor or licensed conveyancer will do a number of searches and checks including:</p>
<ul>
<li>checking the ‘title’ – the legal document that proves the seller’s ownership</li>
<li>asking the local authority about any planned works like road works or new developments that might affect the property</li>
<li>enquiries to the seller’s solicitor or licensed conveyancer about the details of the contract</li>
</ul>
<p>Your solicitor or conveyancer may need to carry out additional searches depending on the type of property involved. For example, if your property is in an area where there have been mines, your solicitor or licensed conveyancer will need to do a mining check on the land.</p>
<h3>Getting home insurance for the property</h3>
<p>You will also need to consider insurance cover for the property – you will usually be responsible for insuring the property as soon as contracts are exchanged.</p>
<h3>Getting a property survey</h3>
<p>You should also get a property survey before the exchange of contracts, to uncover any problems with the building like dry rot.</p>
<h3>Getting your bond in place</h3>
<p>If you are using a bond to buy your property, you will need a need a formal bond approval from your financial services provider before you sign the contract. The financial services provider will send documents for you or your solicitor or conveyancer to sign.</p>
<h4>2. Exchange of contracts</h4>
<p>When the buyer and seller are happy with its contents, they sign final copies of the contract and send them to each other. This is called the exchange of contracts. Once contracts are exchanged, the agreement to sell and buy is legally binding and usually neither party can pull out without paying compensation. Buyers will usually pay the seller a deposit (usually 10% of the purchase price of the property) at the exchange of contracts stage.</p>
<h4>3. Between exchange and completion</h4>
<p>In many cases, there are a few further checks to be done at this stage.</p>
<p>After the exchange of contracts (if not dealt with already) your solicitor or conveyancer will:</p>
<ul>
<li>Prepare the legal documents to transfer ownership</li>
<li>check bond documents</li>
<li>make sure that they have all the necessary funds – which may include payment of their own fees</li>
<li>arrange for the transfer of funds to the seller</li>
<li>do final Land Registration checks</li>
<li>check all agreed tasks set out in the contract have been done, like agreed repairs</li>
<li>check that fixtures and fittings have been left as agreed</li>
</ul>
<h4>4. Completion</h4>
<p>Once all matters between exchange and completion have been dealt with, the money for the property is transferred from buyer to seller. The sale is now completed and the keys are handed over. The property now belongs to the buyer.</p>
<p>At this stage, you will:</p>
<ul>
<li>receive the keys to the property on the agreed date</li>
<li>pay the seller the remainder of the cost of the property through your solicitor or licensed conveyancer</li>
<li>receive the legal documents that prove ownership of the property</li>
<li>pay your solicitor’s or licensed conveyancer’s fees, if not already done</li>
</ul>
<h4>5. After completion</h4>
<p>At this stage you will need to:</p>
<ul>
<li>register the change of ownership of the property with Land Registration Office</li>
<li>pay any Taxes if applicable</li>
<li>tell your insurers that completion has taken place</li>
</ul>
<p>Your solicitor or licensed conveyancer can advise you on how to pay the Land Registry fees and Stamp Duty. For more about Stamp Duty see ‘Tax on buying property’.</p>
<h3>Finding someone to do the conveyancing</h3>
<p>Many people hire someone who is professionally trained to do the conveyancing, but you could do it yourself. ‘Finding a solicitor or conveyancer’ explains how to find someone who is qualified and what to consider if you want to do the conveyancing yourself.</p>
<h3>Planning for buying a home</h3>
<p>Buying a property will probably be your biggest single investment. So it’s important to work out the total cost – not just the mortgage – and how much you can really afford. You also need to plan for increases in your future outgoing, like a rise in interest rates.</p>
<h3>Advice for first time buyers</h3>
<p>Buying a home for the first time can be expensive. Make sure you have an idea of the different costs and find out ways you could make buying a home possible and less daunting.</p>
<h3>Buying a home with other</h3>
<p>You may want to think about buying a home with other family members, friends or a partner. Buying with others can be a solution to coming up with the deposit and sharing costs. It’s important to carefully think about what might happen if circumstances change and one of you wants to sell their share of the property. You should get legal advice and draw up an agreement as to how property will be divided in case of death, or if one of you decides to give up their share in the property.</p>
<h3>Finding the right bond</h3>
<p>Most financial providers require a deposit of at least five to ten per cent of the value of the property you wish to buy. As the price of property increases, the deposit can become expensive. You may want to consider asking family or friends for financial help. There are many types of bonds available and some are targeted specifically at first time buyers.</p>
<h3>Buying a home for the first time</h3>
<p>High property prices have made it difficult for many people to afford to buy a home. This may be a particular challenge for you if you are a first time buyer, as you will have many once-off initial costs including:</p>
<ul>
<li>a deposit</li>
<li>Stamp Duties &amp; Taxes</li>
<li>surveyors’ fees</li>
<li>administration fees s</li>
<li>Land Registry fees</li>
<li>removals/or moving in charges</li>
</ul>
<p>If you are thinking of buying a house for the first time, make sure that you have planned for all the costs that you will face. ‘Planning on buying a home’ will explain the main costs that you are likely to have to pay.</p>
<h3>Property surveys</h3>
<p>When you are buying a home it’s important to get a report about the property’s overall condition. This can help uncover any work that may need to be done to the property before you buy.</p>
<h3>Buying a property</h3>
<p>When you are thinking about buying a property it’s a good idea to find out whether there are any problems with the structure. You should also know if any repairs or alterations need to be made. A property survey may save you time and money in the long run if you uncover expensive defects before you buy. There are different types of survey to choose from according to the amount of information and advice you require about the property.</p>
<h3>Types of survey</h3>
<p>As a buyer there are three main types of survey to choose from:</p>
<li>A valuation</li>
<p>A valuation tells the lender how much the property is worth and will usually be carried out by your mortgage company if you need a mortgage to buy the property.</p>
<li>A home buyer survey and valuation</li>
<p>A home buyer survey reports on defects in the property, its condition and value.</p>
<li>A building survey</li>
<p>This type of survey provides a more detailed report than the home buyer survey. It is recommended for older properties and those in need of work, or simply for peace of mind.</p>
<p>Make sure that the person carrying out the survey is qualified to do so. You can find a qualified surveyor in the telephone directory or online</p>
<li>Viewing a property you are thinking of buying</li>
<p>When viewing a property it is easy to forget to ask important questions. Use these checklists to help you prepare for visits to properties you are interested in. The lists include questions you could ask the seller and what to look out for while you are in the building.</p>
<li>Research the area and property</li>
<p>Try to do as much background research as you can on the property and the area. This makes it less likely that you will waste time seeing something that does not meet your needs.</p>
<p>An Electrical Certificate will provide some information about the energy efficiency of the building, so ask the seller for a copy. </p>
<li>Viewing the property</li>
<p>When you are ready to view:</p>
<ul>
<li>take someone else with you if you can, preferably someone with different tastes who can spot things that you miss</li>
<li>make sure you view the property during the day when you will be able to see better and spot problems</li>
<li>if you really like a property, try to arrange to view it again at a different time of the day to give you a different perspective</li>
<li>try not to view too many properties in one day</li>
<li>take your time looking round the property</li>
<li>don’t be afraid to ask direct and blunt questions about the property</li>
<li>don’t be pressurized by the estate agent or vendor into making an offer</li>
</ul>
<h3>Questions to ask the seller</h3>
<p>You might want to ask the seller the following questions:</p>
<ul>
<li>what is included in the sale – land, garage, furniture, fittings, etc</li>
<li>what is the cost of the Council Rates and the average costs of other utility bills such as electricity and water</li>
<li>why are the sellers moving</li>
<li>have there been any problems with the geyser; when was it last serviced</li>
<li>if there is a loft, has this been insulated – if so, how long ago</li>
<li>does the property have cavity wall insulation</li>
<li>has the property been altered in any way – if so are the relevant planning and building control consents available to inspect</li>
<li>does the house have full central heating – if so, how old is it</li>
<li>is the property in a conservation area or a listed building – this could restrict any future alterations</li>
<li>have any of the rooms been decorated recently – if so, why</li>
<li>what are the neighbours like – are they noisy</li>
<li>has there ever been a dispute with the neighbours or anyone living nearby</li>
</ul>
<h3>Inside the property – things to look out for</h3>
<p>Look out for the following when you are inside the property:</p>
<ul>
<li>does the property need upgrading – if so, how much will this cost</li>
<li>are the rooms big enough for your needs – furniture, etc</li>
<li>what are the views like</li>
<li>how is the water heated  </li>
<li>is there any sign of subsidence, like major cracks in the walls or the doors sticking</li>
<li>is there a smell of damp or any other sign such as the walls feeling damp, wallpaper peeling, paint bubbling, watermarks or mould</li>
<li>do the window frames have cracking paint; if you can press your finger easily into the wood it’s rotten</li>
<li>how much storage space is there</li>
<li>are there enough power points – how old do they look</li>
<li>does it feel like it could be your home</li>
</ul>
<h3>Location – things to think about</h3>
<p>You should also make sure the location meets your requirements, so here are a few things to think about when choosing somewhere to live:</p>
<ul>
<li>nearby main roads, or pubs, clubs or restaurants as these can be noisy</li>
<li>nearby railway lines</li>
<li>overhead flight paths</li>
<li>the feel of the community – does it seem friendly</li>
<li>does the house get enough natural light</li>
<li>is the property well maintained</li>
<li>the age of the property</li>
<li>garden size</li>
<li>the condition of nearby properties</li>
<li>what is the public transport like in the area</li>
<li>are the local schools good</li>
<li>are there any known plans for development in the area</li>
<li>what are the local amenities like – shops, hospitals, leisure facilities, etc</li>
<li>what is the crime level like in the area</li>
</ul>
<h3>Buying a newly built home – things to check</h3>
<p>If you are buying a newly built home, make sure it’s covered by a good warranty to cover you if there are problems with the building. Use the checklist to find out things you should look out for, and find out how well the property meets environmental standards.</p>
<div class="prdetails">
</div>
</div>
