<div class="post">
<h1 class="single dotted">Childcare</h1><hr>
<h3>Finding and choosing childcare</h3>
<p>The first thing you will need to do when arranging childcare is find out exactly what is available in your area. Once you have found local providers, you will need to do a bit of research to see which will suit your child best. Get advice here on the easiest way to find and choose a provider.</p>
<h3>Choosing a childcare provider</h3>
<p>Entrusting a stranger with your child is a big step, so before you choose a provider you may want to consider the following tips:</p>
<ul>
<li>give yourself plenty of time to choose – holiday play schemes, for example, get booked up in advance</li>
<li>ask other parents for recommendations</li>
<li>make appointments to visit two or three providers to compare what’s on offer, and get a feel for the staff</li>
<li>think about your child’s personality and interests – what environment will they prefer?</li>
<li>check opening times, holiday dates and costs</li>
</ul>
<h3>What to look for in a provider</h3>
<p>The following checklist may come in handy when choosing a childcare provider:</p>
<ul>
<li>does the childcare setting have a friendly feel?</li>
<li>is it clean, light, well ventilated and big enough for children to be active indoors and outdoors?</li>
<li>are there places where the children can rest?</li>
<li>are the toys sufficiently varied (do they differ in size, texture, colour and shape)?</li>
<li>do the children look happy?</li>
<li>are the care givers talking to the children in a way that interests and encourages them?</li>
<li>are there plenty of children of your child’s age?</li>
<li>are the provider and care givers registered?</li>
<li>is the furniture of a sufficiently high standard?</li>
<li>are there enough staff to keep an eye on all children? (at least one member of staff for every eight children aged three to five)</li>
<li>do the staff manage behaviour appropriately? (there should be a written policy for you to see)</li>
</ul>
<h3>Questions to ask childcare providers</h3>
<p>You may want to ask about the following:</p>
<ul>
<li>safety – what happens in an emergency?</li>
<li>are the premises secure (can strangers get in)?</li>
<li>what training and experience does the care givers have?</li>
<li>how does the provider report safety incidents to parents?</li>
<li>does the care givers know first aid?</li>
<li>what is the staff’s view on discipline?</li>
<li>what activities are on offer?</li>
<li>what happens if you are late picking up your child?</li>
<li>what food is provided (is it healthy)?</li>
<li>who can you talk to about your child’s progress?</li>
<li>what happens if your child becomes ill?</li>
</ul>
<p>It might also be a good idea to ask to see the provider’s written health and safety policy (every group care provider should have one).</p>
<h3>Monitoring your child’s care</h3>
<p>Once you have chosen a provider, give them clear information about your child’s likes and dislikes and any health issues they may have. After a few weeks, you might want to go back and speak to the provider to find out how your child is getting on.</p>
<h4>It’s also a good idea to talk to your child, to make sure they are happy and comfortable with their care provider.</h4>
<h3>Finding a nanny – introduction</h3>
<p>Nannies provide childcare in your own home and are a popular choice for many families. They can look after children of any age, and can work flexible hours. Find out how to go about finding and choosing a nanny.</p>
<h3>Why do you need a nanny?</h3>
<p>Before you start looking for a nanny, it’s a good idea to decide exactly what you need them to do. So you will need to work out:</p>
<ul>
<li>what duties you wish the nanny to perform</li>
<li>what hours you will need the nanny to work</li>
<li>whether you want a live-in or daily nanny</li>
<li>whether your nanny may be able to care for any child of their own at your house while looking after your children</li>
<li>whether you have any special requirements – like them being a non-smoker – or needing to speak a different language</li>
<li>whether your nanny should like pets, be a driver, own a car, or have experience of children with special needs</li>
<li>payment details – how you would like to pay them, and how you will reimburse them for money they spend on the children</li>
<li>terms and conditions of employment</li>
</ul>
<h3>Finding a nanny</h3>
<p>Finding the right person takes time, so try to begin your search at least 12 weeks before you need your nanny to start work. The safest way to find a good nanny is by contacting a nanny recruitment agency. There are a wide range of agencies, some dealing with particular needs including sharing a nanny with another family. </p>
<p>Many agencies advertise in magazines and local newspapers. For a fee, an agency will match your requirements with those of suitable candidates who you can then interview.<br>
Even though a good agency should have carefully vetted nannies on their books, you should still ask the agency to tell you precisely what checks they have undertaken.</p>
<div class="prdetails">
</div>
</div>
