<div class="post">
<h1 class="single dotted">Going To Court</h1><hr>
<h3>Magistrates’ courts – what they do</h3>
<p>If you have been charged with a crime, the process to decide whether you’re guilty or not guilty begins in a magistrates’ court. Find out about the types of crime magistrates courts deal with and what happens if your case is moved to the High Court.</p>
<h3>Magistrates’ courts – where your case begins</h3>
<p>All criminal court cases start in a magistrates’ court. Depending on the crime you have been charged with, your case will either:</p>
<ul>
<li>start and finish in a magistrates’ court</li>
<li>start in a magistrates’ court but finish in a ‘higher’ court – normally the Crown Court</li>
</ul>
<p>There are some offences – for example, rape – that are so serious that a magistrates’ court is not allowed to deal with them.</p>
<p>If you’re charged with a serious offence you are either bailed or remanded in custody by the magistrates’ court. Your case is sent to the High Court straight away.</p>
<h3>Magistrates’ court – how they work</h3>
<p>magistrates’ court has either:</p>
<ul>
<li>three magistrates – they don’t have formal legal qualifications but are volunteers trained for the role</li>
<li>a district judge – who is legally trained and normally deals with more complicated cases</li>
</ul>
<p>There is also a court legal adviser who makes sure that the right court procedures are followed.</p>
<p>A magistrates’ court is less formal than a High Court – for example, magistrates and judges do not wear gowns or wigs.</p>
<p>There is no jury (members of the public who decide whether you are guilty or not guilty) but the court is open to the public.</p>
<h3>Types of cases magistrates’ courts deal with</h3>
<p>Some offences (known as ‘summary offences’) are dealt with only by magistrates’ courts. These include:</p>
<ul>
<li>most motoring offences</li>
<li>minor theft – like stealing from a shop</li>
<li>minor ‘public order’ offences (like being drunk and disorderly)</li>
</ul>
<p>It’s possible to get a prison sentence of more than 12 months if you’re found guilty of more than one summary offence.</p>
<h3>More serious cases magistrates’ courts deal with</h3>
<p>Magistrates’ courts can deal with more serious crimes, known as ‘either way’ offences. This means they can be dealt with by either a magistrates’ court or a Crown Court. More serious crimes include:</p>
<ul>
<li>burglary</li>
<li>drugs offences</li>
<li>handling stolen goods</li>
</ul>
<p>It’s possible to get a prison sentence of more than 12 months if you’re found guilty of more than one either way offence.</p>
<p>.</p>
<h3>High Court – what it does</h3>
<p>The High Court deals with serious crimes – like murder, robbery and rape. Find out what happens before and during your High Court trial, how to get legal advice and what happens if your sentence is delayed.</p>
<h3>Representing yourself in court</h3>
<p>You have the right to speak for yourself in court without a solicitor or legal professional. Find out what you need to consider if you decide that representing yourself in court or a tribunal is the best thing to do.</p>
<h4>The advantages and disadvantages of representing yourself</h4>
<p>Many people choose to represent themselves because they would have difficulty paying a solicitor’s or barrister’s fees.</p>
<p>There are good reasons not to represent yourself in court, however, for example, you might be eligible for legal aid to help you pay your legal costs. You can find out more about legal aid using the link below.</p>
<p>Also, if you hire a legal professional and you win the case, the other side may have to pay all or some of your costs.</p>
<p>Another reason people sometimes choose to represent themselves is so that they can talk directly to the judge, jury or magistrates. People sometimes choose to do this rather than communicating through a solicitor or barrister.</p>
<p>However, it is likely that the other side in the case will use a trained barrister or solicitor. This means they will have legal knowledge and experience to use against you. You should always consider getting legal advice if you have to go to court.</p>
<h3>Young people (Minors): going to court after being charged with a crime</h3>
<p>If you are charged with a crime you will have to go to a youth court, which is less formal than an adult court. The court will decide if you are guilty or not guilty and decide on a sentence. Find out what happens at a youth court.</p>
<h4>If you have to appear in court</h4>
<p>you are charged with a crime and have to go to court, your parents will get a ‘summons’.</p>
<p>This is a formal document, which gives the date and time that you must be there. You must turn up at court when you are told to. If you don’t, you will get into serious trouble and the police will be sent to come and find you.</p>
<p>If you can’t make it for any reason you, or someone you know, must tell the court as soon as possible.</p>
<h4>you go to court</h4>
<p>.</p>
<p>If you have to wait for your court appearance the police will have either:</p>
<ul>
<li>let you go home on ‘bail’</li>
<li>kept you in custody</li>
</ul>
<p>Deciding whether to admit or deny the offence</p>
<p>You’ll need to decide whether or not you will admit doing what you’ve been accused of. This is called a ‘plea’. In youth courts, your plea is either to ‘deny’ or ‘admit’ the crime.</p>
<p>You or your parents may want to get advice from a lawyer before you decide.</p>
<div class="prdetails">
</div>
</div>
