<div class="post">
<h1 class="single dotted">Crime Prevention</h1><hr>
<h3>Neighbourhood Watch</h3>
<p>You can help police keep your community safe by joining Neighbourhood Watch and keeping an eye out for crime on your street. Find out how to get involved.</p>
<h3>What is Neighbourhood Watch?</h3>
<p>Neighbourhood Watch is made up of small groups of volunteer residents in towns and cities around the country.</p>
<p>Members look out for signs of crime in their own neighbourhoods, and share that information with each other and local police.</p>
<p>They follow basic rules and guidelines set out by the national organization, and they work closely with their local police force.</p>
<h3>How does Neighbourhoods Watch work?</h3>
<p>If you join Neighbourhoods Watch, you will get to know your neighbours You’ll pay attention to the cars normally parked on your street, and to which of your neighbours is having work done on their house. You might even know which of your neighbours is away for any length of time.</p>
<p>Using that information, you’re more likely to know when something unusual is happening on your street, or when something just doesn’t look right.</p>
<p>By keeping an eye out for your neighbours, you can help police stop crimes from happening.</p>
<h3>Get involved with Neighbourhoods Watch</h3>
<p>If you’re interested in joining your local Neighbourhoods Watch team, contact your local police station or neighbourhood policing team. (Neighbourhood policing teams are the part of your local force that specializes in working with residents to prevent crime).</p>
<h3>They can put you in touch with a group near you.</h3>
<p>The Neighbourhood Watch website has lots of information to help you get started if you want to start your own group. For example, you might want to use the crown copyrighted logo on any material you produce. The logo is free to use. Simply email with details of your new group to get one.</p>
<h3>How you can help tackle crime</h3>
<p>If you want to make sure that your community is as safe as possible, one of the best things to do is to get involved and help. The starting point is to report crime if you see it, but there are lots of ways you can tackle crime and protect your neighbourhood</p>
<h3>Reporting crime</h3>
<p>The police and other public services can’t tackle crime and anti-social behaviour alone. If people don’t report crime or come forward as witnesses it can be hard for them to solve cases and bring criminals to justice. You can help play your part by reporting crime and anti-social behaviour when you see it.</p>
<h3>Reporting crime in an emergency</h3>
<p>In an emergency you should always call 999. An emergency is when a crime is happening, when someone suspected of a crime is nearby or when someone is injured, threatened or in danger.</p>
<h3>Reporting crime anonymously</h3>
<p>If you want to report a crime but are concerned about revealing your identity to the police you can get in touch with them and mention that you are an anonymous caller and that you want your identity to be withheld. Find out how to reach them on their website.</p>
<h3>Women’s safety</h3>
<p>Women and girls are often the targets of violence, including domestic violence, sexual assault, forced marriage and trafficking. If you are a victim, you don’t have to put up with it. Find out where to get support and advice.</p>
<h3>Violence against women: the numbers</h3>
<p>In the last year, more than 200 000 women and girls experienced domestic abuse in South Africa.</p>
<p>Each year, more than 140,000 women are sexually assaulted and 60,000 women are raped.</p>
<p>Studies performed show that:</p>
<ul>
<li>more than one in four women have experienced domestic violence</li>
<li>39 per cent of women say that the fear of crime impacts on their quality of life</li>
<li>nearly one in ten women say they have been stalked</li>
<li>40 per cent of victims of serious sexual assault tell nobody</li>
</ul>
<h3>Domestic violence</h3>
<p>Domestic violence can include physical abuse, sexual assault and verbal threats.</p>
<p>It can also include more subtle attacks such as:</p>
<ul>
<li>constant breaking of trust</li>
<li>isolation</li>
<li>psychological games</li>
<li>harassment</li>
</ul>
<p>It can affect partners in all types of relationships and can also involve violence between parents and children.</p>
<h3>Sexual assault</h3>
<p>Sexual assault includes unwanted touching, oral sex and rape.</p>
<p>If you’ve just been attacked, dial 082911. Police and ambulance workers will deal with you confidentially and sympathetically.</p>
<h3>Forced marriage</h3>
<p>Each year hundreds of women in South Africa find themselves being ordered by their families into a marriage they do not want.</p>
<p>If you suspect your family is planning to force you into marriage, contact a social worker at your local Police Station. They specialize in dealing with this issue, and its staff can help.</p>
<p>You can also telephone or email the unit. Any information you give will be treated in confidence.</p>
<h3>Stalking</h3>
<p>Stalking happens when one person follows or constantly harasses another, sometimes with threats of violence, sometimes with just constant unwelcome contact.</p>
<p>Contact can be made by telephone, letters, cards, email, or by just constantly showing up at somebody’s door or workplace</p>
<p>Support for parents of children involved in crime</p>
<p>If you are a parent and you believe that your child has become involved with crime, there are people who can help. If you think your child is at risk from criminals or gangs, you can get free support and advice.</p>
<div class="prdetails">
</div>
</div>
