<div class="post">
<h1 class="single dotted">Debt &amp; You</h1><hr>
<h3>Are you in debt?</h3>
<p>If you’re struggling to make ends meet and you’re spending more money than you earn, you need to do something about it. Getting into debt could affect you for years to come.</p>
<h3>Too young to be in debt?</h3>
<p>If you are under 18, you can’t apply for credit cards, overdrafts, personal loans and hire purchase schemes. That said, you could fall into debt in other ways, such as borrowing money from your friends or your parents.</p>
<p>No matter how old you are or what your level of debt is, it’s important to understand how debt can mount up. It’s also important to know how to deal with debt problems if you ever face them in the future.</p>
<h3>Recognizing debt</h3>
<p>People who are in debt often make the mistake of ignoring the size of the problem, hoping it will just go away. Unfortunately, debt has a habit of hanging around and getting worse, so it’s important to recognize the warning signs at an early stage.</p>
<p>If you’re always short of cash, or you’re constantly close to your overdraft limit on your bank account, then you should think about taking some action straight away.</p>
<p>Ask yourself where you’d find the money if you had to make a big payment at short notice or in an emergency. If the answer is simply extending your overdraft, then you could be in danger of getting into serious debt.</p>
<h3>Doing something about it</h3>
<p>The earlier you start to tackle the problem, the easier it will be.  If your financial situation is in danger of becoming serious, do something about it now.</p>
<p>The worst thing you can do if you’re having money problems is to just ignore the situation. It’s often the case that people assume they’ll be able to pay off their debt in the future when they start earning more money.</p>
<p>But anything could happen. Interest charges and late payment fees could mean that you’re faced with a debt that’s a lot more than you expected – sometimes double the amount you originally owed.</p>
<p>If you are worried that you may be getting into debt, the National Debt Helpline will be able to give you free advice.</p>
<h3>What you can do</h3>
<p>If you are in debt, it might be that you’ve lost grasp of your finances. For example, do you know exactly how much money goes in and out of your bank account and how often?</p>
<p>You can make a start by looking at your recent bank statements and finding out where you are spending money on things you could easily do without. By getting rid of these, your cashflow situation will get better quite quickly.</p>
<p>If your situation is a little more serious and you owe money to a number of people or companies, you’ll need to start planning a budget and organizing your various debts.</p>
<p>Once you know exactly how many debts you have and the total of each one, you can prioritize the most important ones and start to pay them off.</p>
<h3>Credit cards and debt</h3>
<p>If you’re over 18, and using a credit card, it’s important not to run up large debts. The charges on amounts overdue are high and can quickly spiral out of control. If you’re having problems meeting your credit card bills there are steps you can take.</p>
<h3>Avoiding the credit card debt trap</h3>
<p>Credit cards are a popular way of borrowing money because you can repay the amount you borrow in smaller amounts over a long period of time. However, some people fall into the trap of using credit cards to pay for the cost of everyday living. If you do this, your monthly payments will start to stack up and you might run the risk of spiralling into a debt that can often reach into the thousands.</p>
<p>If you’re going to take out a credit card, plan to repay what you owe in full at the end of each month.</p>
<p>If you don’t pay off the full amount every month on a credit card, you’ll be charged interest on the whole lot – not just the outstanding amount. The rate you pay will vary depending on what the interest rate of the credit card is.</p>
<h3>Annual Interest Rate </h3>
<p>All credit card companies have to quote an Annual Interest Rate. This helps you compare products with each other. It takes into account the total cost of borrowing, including:</p>
<ul>
<li>the total amount of interest you’ll pay</li>
<li>any additional charges – e.g. a monthly fee for taking out the card</li>
<li>when and how often you must pay the interest</li>
</ul>
<p>But the Annual Interest Rate doesn’t take into account charges you might have to pay, like a charge for missing your monthly repayment.</p>
<p>The interest rate of any credit card should be clearly displayed on any application form and promotional leaflet, so make sure you know how much you’ll be charged if you’re not going to pay your balance off in full.</p>
<h3>Balance transfers to reduce credit debt</h3>
<p>Many credit card companies offer zero per cent interest rates as an incentive to move your outstanding credit card balance to their credit card.</p>
<p>If you have a large balance on your credit card and are struggling with high interest payments, balance transfers can be a useful way of making a small dent in your debt. But, remember, it can’t solve overall debt problems.</p>
<p>The interest free period only lasts for a certain amount of time – usually six to nine months – and if you have money left on your account after this date, you’ll be charged interest as normal.</p>
<p>If you are transferring a balance, you should always read the small print on the application form. Although your outstanding balance may not be charged interest during the introductory period, interest on any new purchases that you make will quickly stack up.</p>
<p>If you do want to do a balance transfer, it’s a good idea not to make any purchases with your new card. This way you’ll be able to make the most of the zero per cent offer.</p>
<h3>Transfer fees</h3>
<p>Some credit card companies also charge a balance transfer fee to take over your outstanding debt. This can be charged as a flat fee or it may depend on the amount that you are transferring. If you are planning to transfer your existing balance to another card, make sure you know whether you’ll be charged for doing so.</p>
<h3>Store cards and debt</h3>
<p>Most department stores now have cards that you can use to pay for goods over a period of time. They work in the same way that credit cards do, but often charge higher rates of interest and can only be used to pay for goods from that chain of shops.</p>
<p>Store cards usually offer a discount or a free gift on your first purchase to persuade you to apply for one. Remember that unless you plan on paying off the full balance straight away, they can often work out to be twice as expensive as credit cards.</p>
<h3>Credit card alternatives</h3>
<p>So what’s the best way to avoid credit card debt?  The obvious answer is to plan your budget and try not to spend more than you earn. When you do have spare cash, look at ways of making it work harder for you, for example by checking out tax-free savings accounts.</p>
<p>With the extra interest, you might be able to go on a shopping spree without filling out that credit card application.</p>
<div class="prdetails">
</div>
</div>
