<div class="post">
<h1 class="single dotted">Divorce &amp; Separation</h1><hr>
<p>If your parents have decided to divorce or separate, you’ll probably be worried about what this means for you. Talking about it with other people will help and you’ll also have say when it comes to deciding which parent you’ll live with.</p>
<h3>Why are they breaking up?</h3>
<p>A couple can break up for a number of reasons and there’s often a combination of complicated issues behind a decision to separate. You may feel sad, angry or shocked when you hear the news.</p>
<p>You may also feel guilty and think that you’ve somehow played a part in the break up. Whatever the reasons behind your parents breaking up, it’s important to remember that it’s not your fault.</p>
<p>If you feel relieved, don’t worry. You may feel that it’s a strange reaction to have to such a serious situation. However, if your parents have been arguing or hurting each other, it may be better for everyone if they lived apart from each other.</p>
<h3>Living with one parent</h3>
<p>You may be worried that you’ll have to choose which of your parents you want to live with. Whether your parents sort out all their issues between them or they’re disagreeing with each other, you should always be asked for your opinion.</p>
<p>During a divorce or separation, your parents may go through a process called mediation to sort out all the arrangements. As a part of this process, you’re allowed to have your say about what you think would be best for you, and whether you’re happy with the decisions that may affect you.</p>
<p>Mediation doesn’t take place in a court room; it’s an informal chat with a welfare or mediation officer. They will explain what your parents have decided and ask you how you feel about those decisions. If you disagree with anything, the welfare or mediation officer feed your thoughts back and the decisions may be changed.</p>
<h4>Remember that the main consideration when it comes to deciding which parent you live with will be what’s best for you. It won’t be based on your parents’ preferences.</h4>
<h3>Talk about it</h3>
<p>Being involved in a divorce or separation is an upsetting experience for everyone involved. Although it can be difficult, it’s important for you to talk to your parents about how you’re feeling. As well as giving them an idea of how you’re coping, it gives you a chance to have a better understanding of why they’re separating.</p>
<p>If you have friends whose parents are separated or divorced, you may want to talk to them. They may be able to help you through the experience by talking about what happened to them.</p>
<h3>Going to court</h3>
<p>If your parents are disputing something, like how often you’ll see the parent you’re not living with, the matter may go to court. It’s unlikely that you’ll be asked to answer questions in front of your family. You will be asked about your feelings on the issue that’s being decided.</p>
<p>You’ll probably have a talk with a social worker. They’ll explain the issue that’s being discussed and ask you what you think would be the best outcome in your opinion. What you say in this interview will be given to the court in the form of a family report.</p>
<h3>Domestic violence or abusive parents</h3>
<p>Your parents may be separating because their relationship is an abusive or violent one, or one of them has problems with drugs or alcohol. If this is the case, then the matter is likely to skip the mediation step and go straight to court.</p>
<p>In these situations, the safety of you and your parent is the most important thing the courts will consider.</p>
<h3>Coping with death</h3>
<p>When someone close to you dies, it’s an upsetting experience that can affect you for a long time. But it’s important that you share your feelings with others to make sure you’re not trying to cope alone.</p>
<h3>The grieving process</h3>
<p>Dealing with your emotions when someone close to you has died is really tough, and there’s a number of feelings that you can go through. There isn’t a right way to cope with someone dying – everyone reacts differently.</p>
<p>If someone has died unexpectedly, you may feel shocked and confused about why it has happened. You can also feel angry that someone has been taken from you.</p>
<p>If an elderly relative or someone who has had a long illness dies, your feelings may be just the same even if you have been preparing for it. You can also feel relieved that someone you loved is no longer suffering from their condition.</p>
<p>Grieving for a loved one can affect every aspect of your life. You may find it hard to sleep, eat or concentrate on your work. If you’re struggling at school, college or at work, you may be able to get time off if you explain your situation to your boss or a teacher.</p>
<h3>Talking it over</h3>
<p>It’s really important that you talk to people to help you deal with your grief – you don’t have to try and get through the situation by yourself.</p>
<p>If a member of your family has died, your parents or other relatives may be having similar feelings. Sharing your thoughts with them may help you come to terms with the death.<br>
Some of your friends may have gone through a similar experience themselves, so talking to them can also help you understand what you’re going through.</p>
<h3>Funerals</h3>
<p>Funeral ceremonies celebrate the life of the person who has passed away and give friends and family a chance to grieve together and share their memories. They’re often held in a place of worship, but some ceremonies can be non-religious and they can take the form of a burial or a cremation.</p>
<p>Whether or not you decide to go to the ceremony is up to you, but some people find that it can make the grieving process easier. To help you make the decision, you may want to talk to your parents or friends about what happens at a funeral.</p>
<h3>Other ways of dealing with a death</h3>
<p>As well as talking to friends and family, you may want to speak to your doctor. There are also lots of organizations that can help you to understand your feelings. Some of them run helplines, and some have online message boards where you can ask questions or post your memories of the person who has died.</p>
<h3>Abusive relationships</h3>
<p>Relationship abuse can happen to anyone – it is never your fault and you never have to deal with it on your own. Find out what to do if you are being hurt or if you are worried about a friend.</p>
<h3>What is relationship abuse?</h3>
<p>Relationship abuse is when someone hurts or upsets someone else who they are in a relationship with. Relationship abuse can include:</p>
<ul>
<li>physical abuse – hitting, punching, pushing, biting, kicking or using weapons</li>
<li>sexual abuse – forcing you to have sex or watch pornography, unwanted kissing or touching, pressure not to use contraception</li>
<li>financial abuse – taking or controlling your money, forcing you to buy them things, forcing you to work or not to work</li>
<li>emotional abuse – insults and name calling, isolation from friends and family, controlling what you wear or where you go, checking up on you all the time</li>
</ul>
<p>Some people think abuse only happens in adult relationships, but it can happen at any age.</p>
<p>Usually, girls are the victims and boys are the abusers, but abuse can happen to boys as well. It can also happen in same sex relationships.</p>
<p>A recent case study found that:</p>
<ul>
<li>25 per cent of girls and 18 per cent of boys had been physically abused</li>
<li>75 per cent of girls and 50 per cent of boys had experienced emotional abuse</li>
<li>one in three girls and one in six boys had experienced sexual violence</li>
</ul>
<p>There are a number of websites where you can get more information about unhealthy behaviour in relationships.</p>
<h3>Warning signs of abuse</h3>
<p>If you are in an abusive relationship, you may feel or experience a lot of different emotions. You might also notice the signs in a friend who may be in an abusive relationship.<br>
Warning signs include:</p>
<ul>
<li>depression and anxiety</li>
<li>isolation from family and friends</li>
<li>not doing so well at school or college</li>
<li>being argumentative</li>
<li>being fearful</li>
<li>concerns about making the boyfriend or girlfriend angry</li>
<li>physical signs such as bruises</li>
<li>use of drugs and alcohol</li>
<li>frequent cancelling of plans</li>
<li>changes in appearance</li>
<li>risky sexual behaviour</li>
</ul>
<h3>If you are being hurt</h3>
<p>If you are worried about your relationship:</p>
<ul>
<li>there is support to help you – it is not your fault</li>
<li>talk to friends, family and trusted adults about what is happening to you</li>
<li>think about safe places where you can go</li>
<li>keep your mobile charged at all times so you can call the police or emergency services if you need to</li>
<li>have a code word that will let your friends and family know if you need help</li>
</ul>
<p>If you are being harassed by calls on your mobile, try to change your phone number.<br>
If you are getting emails or instant messages that are abusive, you should save or print them. You can then give them to the police as evidence if you choose to report the abuse. You can also change your email address.</p>
<h3>Check-ups, appointments and emergencies</h3>
<p>If you are feeling under the weather, you can book an appointment to see a doctor or dentist. Making an appointment is simple, and there are telephone lines and other clinics around where you don’t even need one.</p>
<h3>Getting a check-up</h3>
<p>If you’re under 18, you should go for a dental check-up every 12 months to make sure that your teeth and gums are in good condition. If a dentist discovers that you have problems with your wisdom teeth, tooth decay or plaque, you may have to pay them a visit more regularly.</p>
<p>Some dentists will delete you from their list of registered patients if you don’t make an appointment within a certain period of time. If this happens, you’ll have to register again with a new one.</p>
<p>Unless you have a specific medical condition that needs monitoring, you don’t need to make a regular appointment for a check-up at your doctor. However, if you’re planning to exercise more regularly or you’re going travelling, talk to your doctor about what this may mean for your health.</p>
<h3>Making and keeping appointments</h3>
<p>To make an appointment with a doctor or a dentist, you’ll need to call the surgery.</p>
<p>If you make an appointment, make sure that you don’t miss it. If you want to re-arrange an appointment, let the surgery know a couple of days before so they can give your slot to someone else.</p>
<p>Dentists will not charge you for missing an appointment. However, some dentists and GPs may remove you from their list of patients if you miss an appointment without letting them know beforehand.</p>
<h3>Emergencies</h3>
<p>If you’re unable to get to a surgery because you’re seriously ill, your doctor may be able to visit you at home. If you do phone up a surgery and ask for a home visit, you’ll be asked questions to find out if the doctor needs to see you at home, or whether you should go to a hospital.</p>
<p>You may also want to visit the accident and emergency department of your nearest hospital if you’re seriously ill or if you’ve had an accident. If there’s no-one able to take you to hospital and it’s an emergency, you can phone 082911 and ask for an ambulance.</p>
<h3>Walk-in clinics</h3>
<p>Even if you’re registered with a GP, you may want to use a walk-in clinic. You can’t make an appointment at a walk-in clinic and they work on a first-come, first-seen basis. This means that you may have to wait for a long time before you are seen by someone.</p>
<p>Walk-in clinics can treat minor illnesses and injuries and can give free and confidential advice on general health issues, including sexual health questions.</p>
<div class="prdetails">
</div>
</div>
