<div class="post">
<h1 class="single dotted">Driver Licensing</h1><hr>
<h3>Your health and driving</h3>
<h3>Health conditions that could affect your driving</h3>
<p>The law requires you to tell the Vehicle Licensing Office about any condition that may affect your ability to drive safely. If you are involved in an accident and it is found that your health condition was a contributing factor, you may be prosecuted and your insurance may not be valid.</p>
<h3>What happens after you have told the Vehicle Licensing Office about your health condition?</h3>
<p>The medical questionnaire that you use to tell the Vehicle Licensing Office allows you to provide specific details about your medical condition or disability. After telling the Vehicle Licensing Office about your medical condition or disability, a medical adviser will decide if a license can be issued.</p>
<h3>Taking your theory test if you have special needs</h3>
<p>When you book your driving theory test you should say if you have any special needs. This is so the Vehicle Licensing Office can make reasonable adjustments for your test. Find out what you need to tell the Vehicle Licensing Office about if you have special needs.</p>
<h3>What you can drive and your obligations</h3>
<h3>The vehicles you can drive or ride and minimum ages</h3>
<p> The tables below show what you can drive or ride, and at what age.</p>
<ul>
<li>Motorcycles – 16years</li>
<li>Four wheeled light vehicles – 18years</li>
<li>Cars or light vans, with or without trailers – 18years</li>
<li>Medium sized vehicles with or without trailers – 18years</li>
<li>Large vehicles, with or without trailers – 18years</li>
<li>Minibuses, with or without trailers – 18years</li>
<li>Buses, with or without trailers – 18years</li>
</ul>
<h3>Vehicle weights explained </h3>
<p>As well as your age, the different vehicle categories on your driving license tell you what type of vehicles you are able to drive. These categories are also set by the weight of the vehicle.</p>
<h3>Driving a minibus</h3>
<p>You may not be allowed to drive a minibus if it is not used for hire or reward. Hire or reward generally means any payment in cash or kind etc. that is made by or on behalf of passengers to give them right to be carried in a vehicle. In cases where payments are made, a special driver permit is required. For more information, please enquire with your nearest Vehicle Licensing Office.</p>
<h3>Driving larger goods vehicles on a car driving license</h3>
<p>There are special licensing arrangements allowing you to drive larger vehicles without having to hold the higher large goods vehicle driving license entitlement. When driving larger vehicles, the maximum authorized mass (total weight of the vehicle plus the maximum load it can carry) determines the driving license entitlement needed.</p>
<h3>Driving a caravan</h3>
<p>Are you thinking of buying or hiring a caravan to get to your holiday destination? Or maybe you want to import one from another country. Before you decide you’ll need to check the categories on your driving license and the size of caravan you are going to drive.</p>
<h3>Driving in South Africa on a foreign license</h3>
<h3>Driving on licenses from all other countries, and students on a foreign license</h3>
<p>If you are a visitor, resident or student in South Africa and still have a driving license issued in the country you have come from, there are certain conditions that affect how long you can drive, and what you can drive in South Africa.</p>
<h3>Exchanging your foreign driving license</h3>
<p>If you are the holder of a foreign driving license and want or need to change to a South African driving license, there are certain conditions that need to be considered when applying.</p>
<h3>Applying for the exchange of your foreign driving license</h3>
<p>If you want or need to change your foreign driving license for a South African driving license, you must complete the necessary application forms available from the Vehicle Licensing Office and Post Office branches. You will need to enclose original documentation confirming your identity and a colour photograph.</p>
<h3>Driving in other countries on a South African license</h3>
<p>If you intend driving when visiting or moving to another country, it’s important that you understand what is required of you. As a visitor to another country you’ll need your South African driving license. An international driving permit may also be required in certain countries.</p>
<h3>Before you go, make sure:</h3>
<ul>
<li>the details on your driving license are up to date</li>
<li>you take your driving license with you</li>
</ul>
<h3>Visiting another country</h3>
<p>You may use your South African license for driving in other African Countries. However, you should note that while the minimum age for driving a car in South Africa is 18, other countries may apply their own age restrictions for entitlements.</p>
<h3>Moving to another country</h3>
<p>If you move to another country, you should check with the driving license authorities there for information about driving and exchange of licenses. You may need to notify the Vehicle Licensing Office of a change of address when moving to live abroad.</p>
<h3>Taking a vehicle out of South Africa permanently or temporarily</h3>
<p>You’ll need to tell the Vehicle Licensing Office when you are taking your vehicle out of the country on a permanent basis. If you are taking your vehicle or a hired vehicle on a temporary basis, you must take the appropriate documentation with you. You must also inform your vehicle insurance agency in order to be covered outside the country.</p>
<h3>Personalized registration on your vehicle</h3>
<p>You’ll need to transfer or retain your personalised registration before you export the vehicle. If you don’t, you may lose your entitlement to the registration number.</p>
<h3>Need a new or updated license?</h3>
<h3>Renewing the photo on your driving license</h3>
<p>In most circumstances, you’ll need to renew the photo on your driving license before it expires, as the photos are only valid for five years.</p>
<h3>The cost of a driving license</h3>
<p>Driving license fees vary depending on the type of driving license you are applying for. Find out about the costs of a driving license and if you can apply online. For more, visit <a href="http://www.transport.gov.za/">www.transport.gov.za</a></p>
<h3>Change of name and address on your driver license profile</h3>
<p>You must inform the Vehicle Licensing Office immediately of any changes to your name, address or both. You may update your driver license information online or with the Vehicle Licensing Offices directly. A new license may be issued if your photograph is due for renewal.</p>
<h3>Replacing your driving license if lost, stolen, defaced or destroyed</h3>
<p>You must replace your driving license if it has been lost, stolen, defaced or destroyed. You can do this online, via telephone, post, or by visiting your nearest Vehicle Licensing Office.</p>
<h3>Caravans, trailers and commercial vehicles</h3>
<h3>The driving license you need to tow a caravan or trailer</h3>
<p>The ability to tow a caravan or trailer will depend on the driving license you hold. The category entitlement on your driving license will determine the type of trailer you can tow.</p>
<h3>Car and trailer practical driving </h3>
<p>If you passed your car driving test and you now want to tow a caravan or certain trailers, you may have to take a specific practical test. The car and trailer test is based on similar exercise to the truck driving test.</p>
<h3>The practical driving test for buses and trucks</h3>
<p>If you want to drive a truck or a bus, you will need to meet higher medical standards before a provisional license is granted. You will then have to take both theory and practical driving tests. You will also need to take and pass Public Driver theory and practical tests if intending to drive professionally.</p>
<h3>During your practical road driving test, the examiner will observe how you:</h3>
<ul>
<li>use the vehicle controls</li>
<li>move away at an angle, uphill and downhill</li>
<li>conduct a braking exercise</li>
<li>use the mirrors</li>
<li>give appropriate signals</li>
<li>show awareness and anticipation of other road users intentions</li>
<li>manage your progress and control your vehicle speed</li>
<li>deal with hazards</li>
<li>select a safe place to stop</li>
</ul>
<h3>Tractor and specialist vehicle practical test</h3>
<p>The driving test for a tractor or specialist vehicle is designed for you to show you can drive safely, complete exercises and know the driving code. Throughout the test your examiner will be looking for an overall safe standard of driving, including when you are carrying out examples of the set exercises.</p>
<h3>Towing a caravan or trailer – the safety regulations</h3>
<p>Before you set off on a trip with a trailer or caravan, make sure you meet the legal requirements for towing. Check your driving license and your vehicle and be sure you have the right equipment to be safe on the road.</p>
<h3>Check that your equipment meets safety standards.</h3>
<p>The equipment you use with your trailer or caravan must meet certain safety standards.</p>
<li>1. Use an approved-type tow bar</li>
<p>If you get a tow bar for your car, make sure it is an approved type. This means that it meets South African regulations and is specifically designed for your car. An approved tow bar will have a label with an approval number and details of the vehicles for which it is approved.</p>
<li>2. Fit towing mirrors if you need them</li>
<p>If your caravan or trailer is wider than the rear of the towing vehicle, you must by law fit suitable towing mirrors. If you’re towing blind (without towing mirrors) or using unsuitable mirrors, you can be prosecuted by the police or fined up to R10 000</p>
<li>3. Check your trailer brakes</li>
<p>Any trailer weighing over 750 kilograms must have a working brake system. Some smaller trailers also have brakes, although these are optional. Any brakes on a trailer or caravan must be in good working order. If you haven’t used the trailer for while, you may need to get the brakes checked and serviced before your trip.</p>
<div class="prdetails">
</div>
</div>
