<div class="post">
<h1 class="single dotted">Driver Safety</h1><hr>
<h3>Mobile phones and driving</h3>
<p>Using your mobile phone when driving or riding a vehicle is dangerous. If you’re caught using a hand-held phone while driving, you could be fined or prosecuted. Find out why using your phone when driving is distracting, what the penalties are and when it is safe to use your phone.</p>
<h3>The law on using hand-held phones and similar devices while driving</h3>
<h4>Think!</h4>
<p>Reaction times for drivers using hand-held phones are 30 per cent slower than reaction times for drivers who have been drinking at the legal limit</p>
<h3>Learn more about driving and using a mobile phone opens a new window</h3>
<p>It is illegal to drive a vehicle or ride a motorcycle while using a hand-held mobile phone. This also applies to any similar device (that must be held at some point) to:</p>
<ul>
<li>send or receive spoken or written messages or still or moving images</li>
<li>access the internet</li>
</ul>
<p>These devices include smartphones or laptops etc.</p>
<p>While driving, you must not use your hand-held mobile phone, smartphone or laptop:</p>
<ul>
<li>to make or receive calls</li>
<li>to send or receive picture and text messages</li>
<li>to access the internet</li>
<li>when you’re stopped at traffic lights</li>
<li>when you’re queuing in traffic</li>
</ul>
<p>It’s also advisable not to use a hand-held phone when supervising a learner driver or rider.</p>
<p>If you’re an employer, you can be prosecuted if you ask your employees to make or receive calls while driving.</p>
<h3>Speed limits and speeding</h3>
<p>There are different speed limits for cars, vans, trucks and buses on different types of roads. Make sure you know the legal speed limits for your vehicle, the penalties for speeding and when to slow down to suit the road conditions.</p>
<div class="prdetails">
</div>
</div>
