<div class="post">
<h1 class="single dotted">Driving For a Living</h1><hr>
<h3>Becoming a truck or bus driver</h3>
<p>To become a truck or bus driver, you need to make sure you have the correct license to drive your intended vehicle. This will depend on your vehicle weight. Find out what you need to do to become a truck or bus driver.</p>
<h3>What does a truck or bus driver do?</h3>
<p>Holding a bus or truck driving licence will allow you to work for a company or organisation driving your vehicle locally, nationally or across Africa.</p>
<h3>As a truck driver you can:</h3>
<ul>
<li>deliver shop or building materials (delivery service)</li>
<li>drive box container or curtain-sided vehicles</li>
<li>drive tankers that contain liquids such as fuel or milk</li>
<li>drive tankers that contain powders such as cement or flour</li>
<li>transport livestock</li>
<li>deliver temperature controlled goods such as salads, flowers or frozen foods</li>
</ul>
<h3>As a bus driver, you can:</h3>
<ul>
<li>drive local and long distance</li>
<li>do day trips or night trips</li>
<li>do airport shuttle trips</li>
<li>do African holiday tours</li>
<li>do scheduled services or school services</li>
</ul>
<h3>Professional Driving Permit (PDP) – How to get and keep it</h3>
<p>If you are a professional bus or truck driver you must have a Professional Driving Permit (PDP). Find out how to get your PDP if you are new to driving professionally and what rules apply if you are an existing driver.</p>
<h3>You can only get a professional driving permit if you:</h3>
<ul>
<li>have a valid driving license for the type of vehicle in question</li>
<li>are over the required age limit this depends on the type of vehicle in question)</li>
<li>certified as medically fit by a doctor</li>
<li>certified by an approved training body (only required for certain types of vehicle)</li>
<li>have not been convicted of driving under the influence, of reckless or negligent driving or of a violent offence</li>
<li>never had your driving license suspended.</li>
</ul>
<p>Your professional driving permit may be suspended or cancelled if you become medically unfit or if you are convicted of driving under the influence, of reckless or negligent driving, or of a violent offence.</p>
<h3>Becoming an approved driving instructor</h3>
<p>To become an approved driving instructor (ADI) you need to apply to the relevant Driving Standards Agency. You’ll have to pass qualifying tests to become an ADI. Find out what’s involved, if it’s the career for you, and how to apply to get started.</p>
<h3>What an Approved Driving Instructor Does:</h3>
<p>Being an ADI involves more than teaching someone to drive. You’ll be responsible for developing a high standard of driving behaviour among new drivers. Most will be young and inexperienced.</p>
<h3>As an ADI you’ll have to show a:</h3>
<ul>
<li>high regard for all aspects of road safety</li>
<li>high standard of driving and instructional ability</li>
<li>professional approach to your customers</li>
<li>responsible attitude to your pupils and profession</li>
</ul>
<h3>Becoming a taxi cab or private hire driver</h3>
<p>Professional taxi cab and private hire vehicle drivers are responsible for the safety of fare paying passengers. You will need a full driving license and authorities may require you to pass a further driving assessment. Find out what’s included in the taxi and private hire assessments.</p>
<h3>Tractor and specialist vehicle practical test</h3>
<p>The driving test for a tractor or specialist vehicle is designed for you to show you can drive safely, complete exercises and know the driving code. Throughout the test your examiner will be looking for an overall safe standard of driving, including when you are carrying out examples of the set exercises.</p>
<div class="prdetails">
</div>
</div>
