<div class="post">
<h1 class="single dotted">Education &amp; Learning For The Disabled</h1><hr>
<h3>School accessibility</h3>
<p>Schools and local councils must not discriminate against disabled pupils for a reason relating to their disability. They should promote the inclusion of disabled children in their admission arrangements and in all aspects of school life.</p>
<h3>Accessibility plans and ‘reasonable adjustments’</h3>
<p>Schools will vary widely in how accessible they are to individual disabled pupils. You should check what improvements have been made to a school and what is being planned when considering which school you would like your child to attend.</p>
<p>Every school must have an accessibility plan, which shows how they intend to improve accessibility for disabled pupils. The plan must be published and you can ask to see it. It will outline how the school will:</p>
<ul>
<li>improve the physical environment</li>
<li>make improvements in the provision of information</li>
<li>increase access to the curriculum</li>
</ul>
<p>Schools can also increase access for individual pupils by making ‘reasonable adjustments’. These can be simple changes such as making sure that all lessons take place in ground floor classrooms for a class where one of the pupils uses a wheelchair and the school does not have a lift.</p>
<p>They may also be able to offer assistance during assessments or exams, so that pupils are assessed fairly during their course.</p>
<p>You should always talk to a school to discuss what it can reasonably do to include your child.</p>
<h3>Improvements to the physical environment</h3>
<p>Changes to the physical environment that a school could make to increase access might include:</p>
<ul>
<li>lighting and paint schemes to help visually impaired children</li>
<li>lifts and ramps to help physically impaired children</li>
<li>carpeting and acoustic tiling of classrooms to help hearing impaired pupils</li>
</ul>
<h3>What are special educational needs?</h3>
<p>If your child has more difficulties than most children their age with schoolwork, communication or behavior, plenty of help and advice is at hand from special educational needs specialists, teachers and voluntary organizations.</p>
<h3>What ‘special educational needs’ means</h3>
<p>The term ‘special educational needs’ has a legal definition, referring to children who have learning difficulties or disabilities that make it harder for them to learn or access education than most children of the same age.</p>
<p>Many children will have special education needs of some kind at some time during their education. Help will usually be provided in their ordinary, mainstream early education setting or school, sometimes with the help of outside specialists.</p>
<p>If your child has special educational needs, they may need extra help in a range of areas, for example:</p>
<ul>
<li>schoolwork</li>
<li>reading, writing, number work or understanding information</li>
<li>expressing themselves or understanding what others are saying</li>
<li>making friends or relating to adults</li>
<li>behaving properly in school</li>
<li>organizing themselves</li>
<li>some kind of sensory or physical needs which may affect them in school</li>
</ul>
<h3>Special educational needs: choosing a school</h3>
<p>If your child has a statement of special educational needs, they will usually be educated in mainstream (ordinary) schools or early education settings. However, you can also ask for them to go to a special school.</p>
<h3>Choosing your child’s school</h3>
<p>If your child has a statement of special education needs you have a right to say which state school you want them to go to, either mainstream or special. This can be the school they already go to.</p>
<p>Your local authority must agree to send your child to the school you want as long as:</p>
<ul>
<li>the school you choose is suitable for your child’s age, ability, and skills.</li>
<li>your child meets any academic selection criteria the school has (although most state schools do not select pupils by academic ability)</li>
<li>your child’s presence will not have a negative impact on the education of other children already at the school</li>
<li>placing your child in the school will be an efficient use of the local authority’s resources</li>
</ul>
<p>Special schools usually take children with particular types of special needs. Many ordinary schools also have special provision for children with particular needs. For example, they may have good access for physically disabled pupils or special teaching for pupils with hearing or sight difficulties or dyslexia.</p>
<p>You can ask to see a school’s policy on special education needs to make sure you know what they can offer. You can also arrange to visit a number of schools if you want to.</p>
<p>You may want your child to go to a school that is not run by your local authority, for example:</p>
<ul>
<li>a non-maintained special school (usually run by charities)</li>
<li>an independent school that can meet your child’s needs</li>
<li>a school maintained (run) by another local authority</li>
</ul>
<p>However, if there’s a suitable state school, the local authority has no legal duty to send your child to a non-maintained or independent school.</p>
<h3>Help with making your choice</h3>
<p>When choosing a school, it is important that you ask for and get all the information, help and advice you need, and that you talk over any worries you may have. Your local authority, local parent partnership service, local voluntary organizations (charities) and parents’ groups will be able to give you support in making your choice.</p>
<h3>Identifying special educational needs in under fives</h3>
<p>Your child’s early years are an important time for their development. If they have special educational needs, it is important they are discovered as early as possible. If you are worried that your child may be having difficulties before they go to school, help is at hand.</p>
<h3>Worries about your child’s development</h3>
<p>Your child learns through being with other people and exploring the world around them.</p>
<p>However, some children have more difficulties than most children of their age with:</p>
<ul>
<li>communication</li>
<li>understanding and learning</li>
<li>sensory and physical development</li>
<li>behaviour or relating to other people</li>
</ul>
<p>Children with this type of learning difficulty or disability are said to have ‘special educational needs’.</p>
<h3>Finding out more</h3>
<p>It is important to act if you think your child may have a special educational need that has not been identified. You should talk to the person in your child’s nursery, play group or other early years setting who has a particular responsibility for special educational needs. This person is called the special education needs coordinator.</p>
<p>If your child is not attending a nursery or other early years setting, you can talk to your local council. Their early years and childcare team can help you find appropriate early years and childcare provision. Their special education needs team can give you advice about special educational needs.</p>
<p>Most local authorities have a network of services for under fives. Health authorities, voluntary organizations and social services work closely together to support children with special educational needs.</p>
<h3>Getting help</h3>
<p>Your child’s nursery or reception class should be able to help your child overcome the barriers their difficulties present. However, it is possible that your child will need extra support for some or all of their time in education. If your child is not in a nursery or reception class the local council can advise on suitable local provision.</p>
<p>Some points to bear in mind include:</p>
<ul>
<li>your child’s needs will usually be met in a mainstream nursery, play group or school, sometimes with the help of outside specialists</li>
<li>you should be asked about the decisions that affect your child</li>
<li>your views should always be taken into account</li>
</ul>
<p>Extra help is available for your child from specialists, teachers and special education needs coordinators, and from voluntary organizations offering advice that is often linked to particular needs.</p>
<h3>Disability support in higher education</h3>
<p>Universities and colleges are increasingly aware of the needs of disabled students. Disabilities include long-term illnesses, mental-health conditions or specific learning difficulties such as dyslexia. Find out what support and extra financial help is available.</p>
<div class="prdetails">
</div>
</div>
