<div class="post">
<h1 class="single dotted">Employment Support</h1><hr>
<h3>Help with finding work</h3>
<p>You can get help to gain new skills, find a job or stay in work from a range of organizations. These include Job centres, careers services and voluntary organizations.</p>
<h3>Recruitment questions about health and disability</h3>
<p>When you are applying for a job, employers may ask for details of your health or whether you have a disability. The Human Rights Act places some limits on questions an employer can ask about your health or disability. Learn more about what questions can be asked.</p>
<h3>Questions you can be asked when applying for jobs</h3>
<p>When people are recruiting staff, there are limits on the health or disability-related enquiries they can make during the recruitment process. These limits apply up to the point where you are offered a job or placed in a pool of people to be offered a job.</p>
<p>Before you are offered a job or placed in a pool of successful people, you can only be asked about your health or disability:</p>
<ul>
<li>to help the person recruiting to find out whether you can take part in an assessment</li>
<li>to help them decide whether they need to make reasonable adjustments for you to a selection process, like an interview or test</li>
<li>to help them decide whether you can carry out a task that is an essential part of the work</li>
<li>to help them to monitor diversity among people applying for their jobs</li>
<li>if they want to know you are disabled because they want to increase the number of disabled people they employ</li>
<li>if they want to know you are disabled because it is a requirement of the job that you have a disability</li>
<li>for the purposes of national security checks</li>
</ul>
<p>You may be asked whether you have a health condition or disability on an application form or in an interview. You then need to think about whether the question is one that is allowed to be asked at that stage of recruitment.</p>
<h3>What to do if the question is not allowed</h3>
<p>If you’re asked a question that you think is not allowed under the Equality Act 2010, you can tell the employer. Or you can tell the Human Rights Commission (HRC). The HRC can then carry out an investigation or take other appropriate action.</p>
<h3>Questions you can be asked once you’re offered a job</h3>
<p>Once the person makes you an offer, which may depend upon you meeting certain health standards, they can make other enquiries about health or disability. For example, the person might need to know about your disability so they can decide whether reasonable adjustments would enable you to do the job.</p>
<p>Employers can also make enquiries if you are successful and placed in a pool to be offered a job when one becomes available.</p>
<p>However, the employer must not use information about your disability to discriminate against you because you are disabled.</p>
<p>If you’re successful with your job application and you are then asked questions about health or disability, you should be honest in your answers. Remember, if you sign a false declaration saying you don’t have a disability when you are disabled, this may have negative consequences later on.</p>
<h3>What to do if you think you’ve been treated unfairly</h3>
<p>If you feel you’ve been treated unfairly in the recruitment process because of your disability, you can make a complaint to an Employment Tribunal (CCMA). A complaint must be logged within three months of the date on which you were treated unfairly. The Employment Tribunal (CCMA) can:</p>
<ul>
<li>decide whether your treatment was against the law</li>
<li>recommend whether the employer should take certain action, for example, offer to employ you or change its policy</li>
<li>order the employer to pay you compensation</li>
</ul>
<h3>Employers with a commitment to employing disabled people</h3>
<p>Many employers have equal opportunities policies. These organizations will have a certain commitment to recruiting and employing without discrimination. Therefore, you are guaranteed a job interview if you meet the minimum criteria for the job. Asking whether you qualify for a guaranteed interview is one type of health enquiry that is permitted before a job offer is made.</p>
<h3>Training for disabled employees</h3>
<p>Employers should not discriminate against disabled employees in the way that they offer or provide training.</p>
<p>Your employer must not deny you training opportunities because you are disabled.</p>
<p>Your employer must also make reasonable changes to improve the accessibility of a training program. Changes might include:</p>
<ul>
<li>providing individual training for disabled employees to use any adaptations or special equipment used in the workplace</li>
<li>providing training over a longer period for employees who can only attend a training course for a limited number of hours per day</li>
<li>providing training material in different formats, making sign language interpreters available and allowing trainees to bring a personal assistant on a course</li>
<li>adjusting premises used for training</li>
</ul>
<p>Your employer might also:</p>
<ul>
<li>train other staff to understand the organization’s policy towards disabled people</li>
<li>provide disability equality training for all staff</li>
<li>be an example of good practice by setting standards of accessibility within the organization</li>
<li>make the services they are providing are accessible to disabled people</li>
</ul>
<div class="prdetails">
</div>
</div>
