<div class="post">
<h1 class="single dotted">Employment Terms &amp; Conditions</h1><hr>
<h3>Being paid and pay slips</h3>
<p>An employee has the right to know how much they will be paid and how often. They are also entitled to receive an individual, detailed written pay statement from their employer, either when they are paid or shortly before.</p>
<h3>When and how you should be paid</h3>
<p>When you start work your employer should tell you:</p>
<ul>
<li>the day or date when you’ll be paid – for example, each Friday, or the last working day of the month</li>
<li>how you will be paid, for example in cash, by cheque or directly to your bank</li>
</ul>
<p>If you are an employee, you must be given a document which tells you how much you’ll be paid, and at what intervals, within two months of starting work. This is normally contained in your contract of employment.</p>
<h3>Should you be given a pay slip?</h3>
<p>You do not have a right to receive a pay slip if you are:</p>
<ul>
<li>not an employee; for example contractors, freelancers or ‘workers’</li>
<li>a member of the police service</li>
<li>a merchant seaman, master or crew member working in share fishing and paid solely by a share in the profits or gross earnings of a fishing vessel</li>
</ul>
<h3>What your pay slip must contain</h3>
<p>Every pay statement must contain the following information:</p>
<ul>
<li>amount of your wages before any deductions (gross wages)</li>
<li>individual amount of any fixed deductions (such as trade union subscriptions) or the total amount of these deductions if you are given a ‘standing statement of fixed deductions’ as detailed below</li>
<li>individual amount of any variable deductions (for example tax)</li>
<li>net amount of your wages (this is the total after deductions)</li>
<li>amount and method for any part-payment of wage (such as separate figures of a cash payment and the balance credited to a bank account)</li>
</ul>
<h3>Your employer might include additional information on your pay slip which they are not required to provide, such as:</h3>
<ul>
<li>Unemployment Insurance Fund (UIF) number</li>
<li>tax codes</li>
<li>pay rate (either annual or hourly)</li>
<li>additional payments like overtime, tips or bonuses, which might be shown separately</li>
</ul>
<h3>Employment contracts</h3>
<p>All employees have an employment contract with their employer, although it might not be in writing. If you don’t have a written employment contract, your contract would have automatically been created when you started to work for your employer.</p>
<h3>What is an employment contract?</h3>
<p>An employment contract, or ‘contract of employment’, is an agreement between an employer and an employee which sets out their employment rights, responsibilities and duties. These are called the ‘terms’ of the contract.</p>
<p>Your employment contract doesn’t have to be in writing. However, you are entitled to a written statement of your main employment terms within two months of starting work.</p>
<p>The employment contract is made as soon as you accept a job offer. If you start work it will show that you accepted the job on the terms offered by the employer, even if you don’t know what they are. Having a written contract could cut out disputes with your employer at a later date, and will help you understand your employment rights.</p>
<p>You and your employer are bound to the employment contract until it ends (usually by giving notice) or until the terms are changed (usually in an agreement between you and your employer).</p>
<h3>Terms of an employment contract</h3>
<p>The terms of your employment contract could be of several different types, some of which do not need to be written down. You should be aware of what the terms of your employment contract are, so that you understand some of your employment rights.</p>
<h3>Written statement of employment particulars</h3>
<p>If you are an employee who has been working for your employer for longer than one month, you have the right to receive a written statement of employment particulars. This must be provided by your employer within two months of you starting, even if you are going to work for them for less than two months. The written statement will set out some of your main employment rights.</p>
<h3>Changes to employment contracts</h3>
<p>Sometimes it’s necessary to change the terms and conditions of an employment contract. Find out why your contract might be changed, what your rights are and how to avoid or resolve problems in making these changes.</p>
<h3>Relocation of work</h3>
<p>Sometimes companies move location, perhaps because of the need to reduce costs, find bigger premises, for restructuring or to merge with another business – if your employer moves, you have certain rights and obligations.</p>
<h3>Job evaluations and appraisals</h3>
<p>Job evaluations are when an employer decides the importance of individual jobs within a company. Appraisals are a way for you and your employer to review your work performance. Find out how job evaluations and appraisals work, what the benefits are and how to appeal if you disagree with them.</p>
<h3>Breach of contract</h3>
<p>Both employers and employees can be in breach of a contract of employment – so it’s important to know what this is and what you should do if either you or your employer breaches your contract.</p>
<h4>What is a breach of contract?</h4>
<p>A contract of employment is a legally binding agreement between you and your employer. A breach of contract happens when either you or your employer breaks one of the terms. For example, if your employer doesn’t pay your wages, or you don’t work the agreed hours.<br>
Not all the terms of a contract are written down. A breach may be of a verbally agreed term, a written term, or an ‘implied’ term of a contract.</p>
<p>Your pay has special extra protection and in some situations your employer may be prevented from taking money out of your pay even if this wouldn’t be breaching the contract.</p>
<div class="prdetails">
</div>
</div>
