<div class="post">
<h1 class="single dotted">Energy Saving &amp; Generation</h1><hr>
<h3>Saving energy at home</h3>
<h4>Top tips on saving energy</h4>
<p>Energy used in homes is responsible for over a quarter of all South African emissions of carbon dioxide, the main greenhouse gas causing climate change. Making your home as energy-efficient as possible will reduce carbon emissions and could also save you on average R250 a year on your electricity bills.</p>
<h3>The wider issue</h3>
<p>Most of the energy we use in our homes is produced using processes that release CO2 emissions into the air.</p>
<p>CO2 emissions are the most significant cause of climate change. That means saving energy at home is one of the most important things you can do to fight climate change.</p>
<h3>Financial support to make your home energy-efficient</h3>
<p>You may be able to get financial help to make energy-saving improvements – like installing insulation or getting a new boiler – to your home. Help is available to home owners, tenants and landlords.</p>
<h3>Insulate your home</h3>
<p>Over half of the heat in an uninsulated home is lost through the walls and roof. Most South African homes don’t have the recommended amount of insulation, so think about insulating both your loft and your cavity walls.</p>
<h3>Turn appliances off standby</h3>
<p>The average household wastes around R100 a year simply by leaving appliances on standby. Remember:</p>
<ul>
<li>you can’t switch most electronic goods off just with the remote control</li>
<p>.</p>
<li>to turn off an appliance completely, use the power switch on the appliance itself or turn it off at the plug</li>
<li>if a charger or power pack is warm or has a light on, it’s probably using power</li>
</ul>
<p>Buy energy-efficient appliances</p>
<h4>A 20 watt bulb can save around R70 over its lifetime compared to a standard 100 watt bulb</h4>
<p>Energy efficient appliances are easy to find and aren’t necessarily more expensive. Look out for appliances that carry the labels below to save money and energy:</p>
<h3>Make your heating more efficient</h3>
<p>If every household in the country installed a high-efficiency geyser, the energy saved would be enough to provide heating and power for almost two million homes:</p>
<ul>
<li>you can reduce the energy your existing geyser consumes with an efficient thermostat and thermostatic radiator valves</li>
<li>replacing an old, inefficient geyser with an efficient, A-rated one with a full set of heating controls could save you up to R1000 per year</li>
</ul>
<h3>Simple energy-saving tips</h3>
<p>Turning down your thermostat if it’s set too high will save around R500 a year</p>
<p>There are many simple ways to save energy in the home.</p>
<h4>In the kitchen</h4>
<ul>
<li>boil a kettle with only as much water as you need</li>
<li>cover pots and pans when cooking – they will boil a lot quicker</li>
<li>match the size of the cooking ring to the size of the saucepan to avoid heating air</li>
<li>cook several different foods on one ring with a steamer</li>
<li>there’s emerging research that using a microwave rather than a conventional oven to heat up a small amount of food may save you energy</li>
<li>avoid putting hot food in the fridge or freezer</li>
<li>try not to leave your fridge door open, as it takes energy to cool down again</li>
</ul>
<h4>Washing clothes</h4>
<ul>
<li>washing clothes at 30 degrees can be just as effective for a normally soiled load</li>
<li>run your washing machine or dishwasher with full loads</li>
<li>avoid tumble drying – dry clothes outdoors or on indoor dryers when possible to save money and energy</li>
</ul>
<h4>Heating and hot water</h4>
<ul>
<li>turning down your thermostat if it’s set too high will save around R100 a year on your electricity bills</li>
<li>set your immersion heater or hot water tank to 60 degrees Celsius</li>
</ul>
<h4>Lighting</h4>
<ul>
<li>try to remember to switch the lights off every time you leave a room</li>
<li>replacing all the remaining traditional light bulbs in your home with energy-saving ones could save you around R50 a year</li>
</ul>
<h3>Generating and using greener energy</h3>
<h3>Generating or buying green energy</h3>
<p>You can produce your own energy in a greener, more sustainable way by using natural resources like the sun, wind or water. This is known as micro-generation. You can also access low-carbon and renewable energy by buying greener electricity.</p>
<h3>Solar power</h3>
<p>Solar power uses energy from the sun to create electricity or pre-heat water for your home. Solar panels and water heating systems allow you to create clean, green energy, help to reduce climate change effects and could save you money.</p>
<h3>Which technology is right for you?</h3>
<p>Different green energy technologies are more suited to some types of homes than others. Find out whether solar power is right for you, or whether you should be considering another technology, like wind power or micro-combined heat and power. The Energy Saving Trust’s energy generation selector can help you do this.</p>
<h3>Solar panels</h3>
<h4>Get paid to save energy by installing solar panels</h4>
<p>Solar photovoltaic (PV) systems are often known as solar panels, and use energy from the sun to create electricity. PV requires only daylight, rather than direct sunlight, to generate electricity.</p>
<h3>How solar panels work</h3>
<p>When light shines on a solar panel, it creates an electric field across layers of silicon in the cell, causing electricity to flow. The greater the intensity of the light, the greater the flow of electricity is. Power can be used straight away or linked back into the power grid.</p>
<h3>Installing solar panels</h3>
<p>You can use PV systems for a building with a roof or wall that faces within 90 degrees of south. No other buildings or large trees should overshadow it. If the roof surface is in shadow for parts of the day, less electricity will be produced.</p>
<p>Solar panels are not light. The roof must be strong enough to take their weight, especially if the panels are placed on top of existing tiles.</p>
<p>Solar panels come in a variety of shapes and colours, including:</p>
<ul>
<li>grey ‘solar tiles’ that look like roof tiles</li>
<li>transparent panels that you can use on conservatories or glass to provide shading as well as generate electricity</li>
</ul>
<h3>Wind power</h3>
<p>Wind turbines use the power of the wind to turn blades and a rotor to create electricity. Using a renewable resource, like the wind, to produce clean, green energy can help to reduce climate change effects and could even save you money.</p>
<h3>Which technology is right for you?</h3>
<p>Different green energy technologies are more suited to some types of homes than others. Find out whether wind power is right for you, or whether you should be considering another technology, like solar power or micro-combined heat and power.</p>
<h3>How wind turbines work</h3>
<p>Small-scale wind power is particularly suitable for remote locations where conventional methods of electricity supply are expensive or impractical</p>
<p>Individual wind turbines vary in size and power output from a few hundred watts to two or three megawatts (one megawatt equals 1,000 kilowatts). A typical domestic system for a home would be 2.5 to 6 kilowatts (kW), depending on the location and size of the house.</p>
<p>Small-scale wind power is particularly suitable for remote locations where conventional methods of electricity supply are expensive or impractical.</p>
<p>Most small wind turbines are not connected to the national grid. These generate direct current (DC) electricity and store it in a battery. The DC electricity needs to be converted to AC (alternating current) for mains electricity. You also need a controller to divert power to another useful source (such as space and/or water heaters) when the battery is fully charged.</p>
<p>It’s common to combine this system with a diesel generator for use during periods of low wind speeds. A combined wind and diesel system gives greater efficiency and flexibility than a diesel-only system.</p>
<p>You can install wind systems where there is already a connection to the national grid. A special inverter and controller converts DC electricity to AC. Any unused or excess electricity can be exported to the grid and sold to the local electricity supply company via Feed-In Tariffs.</p>
<h3>Installing a wind turbine</h3>
<p>It’s best to have the turbine high on a mast or tower, as wind speed increases with height. The ideal site is a hill with a flat, clear exposure. It should be free from strong turbulence and obstructions like large trees, houses or other buildings.</p>
<p>Small wind turbines suitable for urban locations are available to install in homes and other buildings. These still rely heavily on the site having a good wind speed, free from obstructions.</p>
<p>Ideally, you should undertake a professional assessment of the wind speed for a full year exactly where you plan to install a turbine before proceeding. This is because the electricity generated is highly dependent on the speed and direction of the wind. Generally, you should only consider a wind turbine when:</p>
<ul>
<li>the local annual average wind speed is 5 metres per second (m/s) or more – you can check this using the link below</li>
<li>there are no major obstacles nearby such as buildings, trees or hills that are likely to reduce the wind speed or increase turbulence</li>
<li>You also have to consider conservation and planning issues, such as the visual impact and noise. You normally need permission from the local authority to install a system.</li>
</ul>
<h3>Water power</h3>
<p>Water (or ‘hydro’) power systems convert the potential energy stored in water to turn a turbine that then produces electricity. If you have a suitable water source, installing a hydro power system could allow you to create clean energy and cut your fuel bills.</p>
<h3>Which technology is right for you?</h3>
<p>Different green energy technologies are more suited to some types of homes than others. Find out whether water power is right for you, or whether you should be considering another technology, like wind power or solar power.</p>
<h3>How water power works</h3>
<p>Improvements in small turbine and generator technology mean that small hydro schemes are an attractive means of producing electricity</p>
<p>Water (or hydro) power systems use the potential energy stored in water to turn a turbine and produce electricity.</p>
<p>Power can be produced from even a small stream, and a micro (small) hydro plant is one that is sized less than 100 kilowatts (kW).</p>
<p>The Energy Regulator says that improvements in small turbine and generator technology mean that small hydro schemes are an attractive means of producing electricity.</p>
<p>Hydro systems can be connected to the national electricity grid or be part of a stand-alone (off-grid) power system. In a grid-connected system, any electricity generated, but not used, can be sold to electricity companies.</p>
<p>In an off-grid hydro system, electricity can be supplied directly to the devices powered or through a battery. A back-up power system may be needed to compensate for changes in water flow throughout the year.</p>
<h3>Installing a water power system</h3>
<p>Water power requires the water source to be relatively close to where you will use the electricity generated, or to a suitable grid connection.</p>
<p>The amount of energy generated depends on how fast the water flows and how far the water falls. In small systems, around half of the power of the water is actually converted to electrical power.</p>
<p>You will need to talk to your local authority’s planning team to ensure the site and design are acceptable. You will also need to check if you need any other permissions.</p>
<div class="prdetails">
</div>
</div>
