<div class="post">
<h1 class="single dotted">Everyday Life &amp; leisure</h1><hr>
<h3>Access to everyday services</h3>
<p>The Human Rights Act gives disabled people important rights of access to everyday services. Service providers have an obligation to make reasonable adjustments to premises or to the way they provide a service. Sometimes it just takes minor changes to make a service accessible.</p>
<h3>Everyday services</h3>
<p>Disabled people have important rights of access to everyday services. This includes services provided by:</p>
<ul>
<li>local councils</li>
<li>doctors’ surgeries</li>
<li>shops</li>
<li>hotels</li>
<li>banks</li>
<li>pubs</li>
<li>post offices</li>
<li>theatres</li>
<li>hairdressers</li>
<li>places of worship</li>
<li>courts</li>
<li>voluntary groups such as play groups</li>
</ul>
<p>Non-educational services provided by schools are also included.</p>
<p>Access to services is not just about physical access, it is about making services easier to use for everybody.</p>
<p>.</p>
<h3>Going to the cinema – access and concessions</h3>
<p>Most cinemas, especially modern multi-screen types, provide good facilities for disabled people. Details of facilities at cinemas are normally found on their websites under ‘Access’ or ‘Disabled customers’ or a similar heading.</p>
<h3>Voting in elections for disabled voters</h3>
<p>Voting in local and general elections will be accessible to you. You can choose to vote at a polling station or in another way (for example by post). Find out more about voting stations, proxy voting and alternative voting formats such as tactile voting devices.</p>
<h3>Books, magazines and newspapers in accessible formats</h3>
<p>If you are blind or visually impaired it is possible to enjoy books, magazines and newspapers in accessible formats. This includes Braille, large print and audio versions.</p>
<h3>Subtitles, audio description and sign language on television</h3>
<p>To increase access to television for all people, alternative formats have been developed and continue to develop. Formats and services include subtitles, audio description and sign language. The government has set targets for television broadcasters to improve their accessibility.</p>
<h3>Support for disability sports</h3>
<p>There are several organizations working towards improved accessibility of sports for disabled people at every level. Find out how each organization works to increase sports opportunities for disabled people.</p>
<h3>Local sports facilities</h3>
<p>Everybody should have the opportunity to get involved in sport. There are many organizations and groups dedicated to a particular sport. Many are involved in supporting disabled people.</p>
<h3>Visiting places of interest – introduction</h3>
<p>Attractions such as museums, galleries and historical buildings vary in their facilities and what they have to offer disabled people. It is always good to plan your visit ahead.</p>
<h3>Accessibility</h3>
<p>Most places of interest have websites, which detail a building’s accessibility and any special equipment available. You can also find out about tours, lectures and workshops for people of all ages and abilities. Here are some things you may want to ask about:</p>
<ul>
<li>information about access in different parts of the building</li>
<li>travel and parking information</li>
<li>what assistance is provided and whether advance notice is required</li>
<li>what formats information is provided in</li>
<li>details about services and events specifically targeted at disabled people</li>
</ul>
<p>Over recent years, changes to procedures, practices and physical access to buildings have been made. These include:</p>
<ul>
<li>guides and tours for people with learning disabilities</li>
<li>staff training to raise awareness of people’s different requirements</li>
<li>exhibition guides in different formats such as audiotape and Braille</li>
</ul>
<p>New ways of making information accessible for disabled people are constantly evolving. These include:</p>
<ul>
<li>the description of museums and archive collections for blind or visually impaired visitors</li>
<li>symbol systems for people with learning difficulties,</li>
<li>the use of technology, for example online videos delivered in British Sign Language</li>
</ul>
<h4>Places are starting to include the needs of users with dyslexia in their planning and the way they display and promote their collections.</h4>
<h3>Performing arts and accessibility</h3>
<p>Get the most out of the performing arts, including the theatre, opera and live music. Find out about the types of facilities available for disabled customers</p>
<div class="prdetails">
</div>
</div>
