<div class="post">
<h1 class="single dotted">Family Leisure &amp; Recreation</h1><hr>
<h3>Getting your child involved in sport</h3>
<p>Sport not only keeps children fit, healthy and active, but it also builds their confidence and social skills. Find out how sport can benefit your child, and find out about sports clubs and facilities in your area.</p>
<h3>Why is sport important?</h3>
<p>Children are becoming increasingly less active, and that is bad news for their health. Overweight children are much more likely to develop diabetes or heart disease in later life, and are more likely to be obese as adults. To guard against this, it is recommended that all children are active for one hour every day, and there is no better way to achieve this than through playing sport.</p>
<h3>Sports bodies and facilities outside school</h3>
<p>Sport South Africa delivers sports training and opportunities for children throughout the country.</p>
<h3>School sports clubs</h3>
<p>Many schools have sports in their after-school clubs. You can get more information on these from your child’s school. Education departments of local authorities are also responsible for many locally available sports facilities.</p>
<h3>Helping to keep your child safe in sport</h3>
<p>All providers of sports activities should have child protection measures in place to ensure the safety of all children taking part. Download the following information leaflet  – ‘Helping keep your child safe in sport’ – for advice on the right questions to ask to make sure these measures are in place and being followed.</p>
<h3>Places to visit with your children</h3>
<p>There are lots of interesting places for you to visit with your children all over the country – and many of them are free of charge. Even museums and libraries these days provide interactive exhibitions and interesting things to do. Find out what’s on offer in your area.</p>
<h3>Getting your child involved with music and the arts</h3>
<p>It has never been easier for children to get creative and get involved with the arts. From music clubs and classes to acting, storytelling, even circus performance – there are plenty of activities going on either at your child’s school or elsewhere in your area.</p>
<h3>Planning a trip for a child with a disability</h3>
<p>Planning a day out for a disabled child isn’t always easy, as some venues can lack understanding or proper facilities. Before you leave, you may want to check the following things to make sure the day runs smoothly.</p>
<h3>Call ahead</h3>
<p>Some venues and attractions are better than others at offering facilities and assistance – so it’s probably best to telephone in advance to talk things through that may be helpful for you and your child on the day. This could include booking a table at the café/restaurant, reserving seats at a special event, or booking a guide.</p>
<h4>You could also do your research online – most attractions will have their own website.</h4>
<h3>Proof of identity for free entrance</h3>
<p>Many venues offer free entrance for children with special needs and their care givers, so don’t forget to take your proof of being a care giver. This could include your care givers allowance or Disability Living Allowance book or letter. To save time when you arrive, it may be worth ringing in advance to book tickets.</p>
<h3>Travelling by car</h3>
<p>Some venues offer parking for families with special needs. As this can be limited and may need to be booked in advance, try to call beforehand, so that you can be allocated a space.</p>
<p>Alternatively, the Blue Badge Parking Scheme provides a range of parking concessions for people with severe mobility problems who have difficulty using public transport.</p>
<h4>Public and community transport</h4>
<p>If you don’t have a car, special arrangements can be made for disabled or mobility-impaired passengers when travelling by train, coach or bus. There are also discounts available for disabled passengers. Some areas also have community transport services for people who have difficulty using public transport.</p>
<h3>Access to toilets</h3>
<p>As your child may need access to changing facilities or disabled toilets it’s worth checking beforehand that these are easily accessible. Some need a key to get in so it’s worth knowing the system. Keys are usually available on request from the venue.</p>
<h3>Lifts</h3>
<p>If you need a lift to get from floor to floor, check that this is easily accessible. Some venues don’t have dedicated customer lifts, but might offer the service ones for use, so like toilets it’s worth knowing what the facilities are.</p>
<div class="prdetails">
</div>
</div>
