<div class="post">
<h1 class="single dotted">Benefits &amp; Financial Support</h1><hr>
<h3>How to find out if you qualify for benefits</h3>
<p>You may be entitled to receive benefits if you are on a low-income or have certain costs to meet because of your personal situation.</p>
<p>Check our information, If any of the following apply to you:</p>
<ul>
<li>you’re on a low-income (employed or looking for work)</li>
<li>you have dependent children</li>
<li>you’re ill or disabled</li>
<li>you’re caring for someone</li>
<li>you’re aged 60 or over</li>
<li>you have been bereaved</li>
<li>you’re pregnant or have recently had a baby</li>
</ul>
<p>You can check whether you may qualify to receive financial or other support by visiting your local government office. By reading the benefits and financial support information in this section, this will give you an idea of who can and can’t claim specific benefits and other support services.</p>
<h3>Changes that affect your benefit</h3>
<p>If you get benefits and your circumstances change, tell your local government office as soon as possible. Reporting changes quickly, means you’ll get any increase or new benefit faster. For some changes your payments may be reduced. Find out how a change in your circumstances can affect your benefit claim.</p>
<h3>Changes you need to report</h3>
<p>You must report any change in your circumstances to your local government office as soon as it happens, whether or not you think the change is directly related to your benefits.</p>
<p>Some examples of the changes you need to report include:</p>
<ul>
<li>getting married, entering into a civil partnership or moving in with a partner</li>
<li>moving house</li>
<li>getting a new job</li>
<li>getting a salary increase</li>
<li>inheriting or unexpectedly coming into money</li>
<li>no longer being sick or ill</li>
<li>travelling or moving abroad</li>
</ul>
<h3>How changes may affect your benefits</h3>
<p>Sometimes a change in your circumstances may mean that your benefit rate will change, or that you become entitled to an additional or a different benefit. Other changes in your circumstances, for example getting a salary increase, may mean you no longer qualify for a benefit or will get a reduced amount.</p>
<h3>Benefit fraud</h3>
<p>If you deliberately fail to report a change in your personal circumstances you are treated as having committed benefit fraud. If you’re prosecuted for benefit fraud you could be fined or get a prison sentence.</p>
<h3>Other times your benefits may change</h3>
<p>Sometimes your benefits may change even when your circumstances remain the same. For example, the government increases most benefit payments to make sure they keep in line with inflation each year. You’ll be told of any changes that affect the amount of money you get.</p>
<h3>Reporting changes</h3>
<p>You can report a change in your circumstances or find out how your benefits might change, by contacting your local government office.</p>
<h3>Understanding the benefits system</h3>
<p>The benefits system provides practical help and financial support if you are unemployed and looking for work. It also provides you with additional income when your earnings are low, if you are bringing up children, are retired, care for someone, are ill or have any disabilities.</p>
<h3>How to claim benefit</h3>
<p>The government has a range of benefits to provide opportunities and support. These are handled by various departments and agencies. If you are entitled to any of these benefits, you will need to claim them from the right place. Find out how to claim the different types of benefits.</p>
<h3>The different types of benefit</h3>
<p>Benefits are available for people of working age, for pensioners, for families and children, and for disabled people and their care givers. Each of these areas is handled by different departments or parts of departments. Making a claim from the right area will make sure you get your benefit as quickly as possible.</p>
<p>Benefits are divided into four groups:</p>
<ul>
<li>benefits for people who are unemployed</li>
<li>benefits for people who have retired or who are planning to retire</li>
<li>benefits for families and children</li>
<li>benefits for disabled people and care givers</li>
</ul>
<h3>Qualifying for a basic State Pension</h3>
<p>You can get a basic State Pension from the qualifying years built up from the Government Insurance System. Find out more about how you can get a basic State Pension and when you can get it.</p>
<h3>When can you get a basic State Pension?</h3>
<p>State Pension age is the earliest you can get a basic State Pension usually at the age of 60 years. You have to claim it. You can also choose to put off claiming (defer) and take your State Pension later. If you choose to defer you could get extra State Pension or a lump-sum payment as well as your State Pension when you do claim.</p>
<h3>Care Giver’s Allowance</h3>
<p>Care Giver’s Allowance is a benefit to help people who look after someone who is disabled. In some instances, you don’t have to be related to, or live with the person you care for. Find out who can get Care Giver’s Allowance and how to claim.</p>
<h3>Who can get a Care Giver’s Allowance?</h3>
<p>You may be able to get a Care Giver’s Allowance if you:</p>
<ul>
<li>are aged 16 or over</li>
<li>spend at least 35 hours a week caring for a person</li>
</ul>
<h3>Benefits and help when going back to work</h3>
<p>When you return to work after being on benefit, some of your benefits may carry on for a short while. Find out more, including the benefits and support you may be able to get once you’re working.</p>
<h3>Child Benefit?</h3>
<p>Child Benefit is a tax-free payment that you can claim for your child. It is usually paid every four weeks but can sometimes be paid weekly. There are separate rates payable for each child. The payment can be claimed by anyone who qualifies, whatever their income or savings.</p>
<h3>Who can get Child Benefits?</h3>
<p>If you’re responsible for a child, you can get a Child Benefit for them.</p>
<h3>Child Benefits if you adopt or foster a child</h3>
<p>You may be able to get a Child Benefit if you live in South Africa and you’re adopting or fostering a child. If you get payments towards the cost of the child’s accommodation or basic maintenance from your local authority, you won’t normally be able to get a Child Benefit.</p>
<h3>You’re going to adopt a child</h3>
<p>If you’re in the process of adopting a child, it is important to apply for Child Benefit as soon as possible.</p>
<p>You don’t need to wait until the adoption process is complete, and in some circumstances you may be entitled to claim a Child Benefit for a period before the adoption.</p>
<p>The nationality of the child may not affect whether you’re entitled to a Child Benefit or not.</p>
<h3>You’re a foster parent</h3>
<p>If you’re fostering a child, you may be able to qualify for a Child Benefit as long as your local authority isn’t paying anything to help with the child’s accommodation or maintenance.</p>
<p>If you’re not sure whether you should claim a Child Benefit, get in touch with the local government office.</p>
<h3>Industrial Injuries Disablement Benefit (accidents)</h3>
<p>You might get Industrial Injuries Disablement Benefit (accidents) if you’re ill or disabled because of an accident or event that happened in connection with work. The amount you may get depends on your individual circumstances.</p>
<h3>Who is eligible</h3>
<p>You may be able to claim Industrial Injuries Disablement Benefit if:</p>
<ul>
<li>you were employed when the accident or event happened</li>
<li>the work accident or event that caused your illness or disability happened in South Africa</li>
<li>There are some exceptions you can ask your regional Industrial Injuries Disablement Benefit delivery centre about.</li>
</ul>
<h3>Who is not eligible</h3>
<p>You cannot claim Industrial Injuries Disablement Benefit if you were self-employed in work that caused your accident.</p>
<h3>The amount of benefit you get depends on:</h3>
<ul>
<li>your age</li>
<li>the seriousness of your disability – assessed by a doctor on a scale of one to 100 per cent</li>
</ul>
<h3>Disability Grants</h3>
<p>Disability Grants are tax-free benefits for disabled children and adults to help with extra costs you may have because you’re disabled. Find out more about Disability Grants, including how much you can get.</p>
<h3>Who can get Disability Grants?</h3>
<p>You may get Disability Grants if:</p>
<ul>
<li>you have a physical or mental disability, or both</li>
<li>your disability is severe enough for you to need help caring for yourself or you have walking difficulties, or both</li>
<li>you are under 65 when you claim</li>
</ul>
<h3>You can get a Disability Grant whether or not you work.</h3>
<p>It isn’t usually affected by any savings or income you may have.<br>
Medical examinations</p>
<p>You may not necessarily need a medical examination when you claim a Disability Grant.</p>
<h3>Reporting benefit fraud</h3>
<p>Benefit fraud cost the country millions of Rands. If you think someone is committing benefit fraud, find out how you can report them and stop them taking money from the people who need it most.</p>
<h3>What is benefit fraud?</h3>
<p>Benefit fraud is when someone is dishonest in order to receive benefits or knowingly fails to report a change in their circumstances. This includes people who:</p>
<ul>
<li>do not report they are now living with a partner or that their partner has started work</li>
<li>do not report they are receiving other benefits</li>
<li>do not declare their savings or do not declare the right amount of savings</li>
<li>are claiming for children who have left home</li>
<li>do not report they have started work, or started to earn money</li>
<li>do not report they have inherited money</li>
<li>do not report they are going abroad, living abroad, or have changed address</li>
</ul>
<div class="prdetails">
</div>
</div>
