<div class="post">
<h1 class="single dotted">Government Info</h1><hr>
<div id="document-links">
		
		<div class="col-lg-4 docs">
		<ul>
			<h3>Government &amp; Citizens</h3>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/rights-and-responsibilities">Rights &amp; Responsibilities</a></li>
            <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/disputes">Disputes</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/trade-unions">Trade Unions</a></li>
		</ul>

		<ul>    
			<h3>Parenting &amp; Child Care</h3>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/health-and-safety">Health &amp; Safety</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/bullying">Bullying</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/home-saftey">Home Saftey</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/road-safety">Road Safety</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/having-a-baby">Having a Baby</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/childcare">Childcare</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/family-recreation">Family Recreation</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/adoption-and-fostering">Adoption &amp; Fostering</a></li>
		</ul>

		<ul>
			<h3>Education &amp; Training</h3>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/adult-learning">Adult Learning</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/higher-education">Higher Education</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/secondary-education">Secondary Education</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/pre-school-eduation">Pre-school Eduation</a></li>
		</ul>

		<ul>
			<h3>Pensioners &amp; Retirement</h3>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/financial-support"> Financial Support</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/retirement-planning">Retirement Planning</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/health-and-well-being">Health &amp; Well Being</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/medical-support">Medical Support</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/managing-debt">Managing Debt</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/debt-and-you">Debt &amp; You</a></li>
		</ul>
		</div>
		<!-- column 1 -->

		<div class="col-lg-4 docs">

		<ul>
			<h3>S.A Youth</h3>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/work-and-careers">Work &amp; Careers</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/health-and-relationships">Health &amp; Relationships</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/healthy-eating"> Healthy Eating</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/divorce-and-separation"> Divorce &amp; Separation</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/sports-and-leisure">Sports &amp; Leisure</a></li>

		</ul>
		
		
		<ul>
			<h3>Living with Disabilities</h3>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/employment-support">Employment Support</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/education-and-learning">Education &amp; Learning</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/motoring"> Motoring</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/home-and-living">Home &amp; Living</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/everyday-life">Everyday Life</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/health-and-support">Health &amp; Support</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/assitance-dogs">Assitance Dogs</a></li>
		</ul>

		<ul>
			<h3>Travel &amp; Transpor tation</h3>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/rules-and-codes">Rules &amp; Codes</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/road-signals">Road Signals</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/requirements">Requirements</a></li>	
            <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/saftey-and-advice">Saftey &amp; Advice</a></li>
		</ul>
		</div>
		<!-- column 1 -->

		<div class="col-lg-4 docs last">
		

		<ul>
			<h3>Crime &amp; Justice</h3>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/victims-and-witnesses"> Victims &amp; Witnesses</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/types-of-crime">Types of Crime</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/the-police">The Police</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/court">Court</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/crime-prevention">Crime Prevention</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/being-arrested">Being Arrested</a></li>
		    <li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/sentencing">Sentencing</a></li>
		</ul>

		<ul>
			<h3>Environmental Awareness</h3>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/recyling-and-waste-reduction">Recyling &amp; Waste Reduction</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/energy-saving">Energy Saving</a></li>
		</ul>

		<ul>
			<h3>Motoring &amp; Vehicles</h3>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/driver-licensing">Driver Licensing</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/stolen-vehicle">Stolen Vehicle</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/owning-a-vehicle">Owning a Vehicle</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/learners-and-drivers">Learners &amp; Drivers</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/number-plates">Number Plates</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/driver-safety">Driver Safety</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/vehicle-advice">Vehicle Advice</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/buying-and-selling">Buying &amp; Selling</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/driving-career">Driving Career</a></li>
			<li><a href="<?php echo HTTP_BASE_PATH; ?>home/links/motor-insurance-explained">Motor Insurance Explained</a></li>            
		</ul>
		</div>
		<!-- column 2 -->
		<div class="clear"></div>

	</div>
	<!-- document-links -->


</div>
			<div class="clear"></div>

