<div class="post">
<h1 class="single dotted">Having a Baby</h1><hr>
<h3>Scans, screening tests and check-ups</h3>
<p>Once you’ve discovered that you are pregnant, it’s important to get health advice to help make your pregnancy as safe and comfortable as possible. Routine tests, scans and check-ups are usually carried out or organized by your midwife or doctor and will continue throughout the pregnancy.</p>
<h3>Regular check-ups</h3>
<p>These check-ups will probably include:</p>
<ul>
<li>taking your blood pressure</li>
<li>weighing you</li>
<li>checking your urine for infections and blood sugar problems</li>
<li>checking your general well-being</li>
</ul>
<p>Then later in pregnancy:</p>
<ul>
<li>feeling your tummy (to check your baby’s size and position)</li>
<li>listening to your baby’s heartbeat</li>
</ul>
<h3>Blood tests</h3>
<p>During pregnancy you will be offered a number of blood tests, which provide information that helps you deliver a healthy baby. Don’t be afraid to ask questions about the tests you are offered, what they will and will not tell you and what further decisions you may have to make depending on the results. Discuss any concerns you have with your midwife or doctor and feel free to take time to consider your options.</p>
<p>You may have your blood group and type identified and can be tested for:</p>
<ul>
<li>anaemia</li>
<li>hepatitis B</li>
<li>HIV</li>
<li>conditions such as syphilis, or sickle-cell disease</li>
<li>immunity to rubella (German measles)</li>
</ul>
<h3>Screening tests</h3>
<p>These tests are used to check for problems with your baby such as spinal bifida and Down’s syndrome. If you are offered a screening test, ask your midwife why you are being offered the test. All women regardless of age can be offered the tests for spina bifida and Down’s syndrome, however, older mothers are at greater risk of having a baby with Down’s syndrome. At age 35, the chances of having a Down’s baby are 1 in 270. At age 40, the chances are 1 in a 100.</p>
<h4>Some tests, such as amniocenteses, carry a small risk of miscarriage so ask about potential risks before agreeing to have a test.</h4>
<h3>Ultrasound scans</h3>
<p>An ultrasound scan involves having a hand-held scanning device rolled over your stomach. This allows images from inside your womb to be shown on a screen. These may be used to:</p>
<ul>
<li>determine the size and age of your baby</li>
<li>check for physical problems in the baby or placenta</li>
<li>determine whether you are expecting more than one baby</li>
<li>check the position of the baby and placenta</li>
</ul>
<p>You may be offered a scan at:</p>
<ul>
<li>about 10 to 14 weeks</li>
<li>about 20 to 22 weeks</li>
</ul>
<h3>Ante-natal classes</h3>
<p>Ante-natal classes provide expecting parents with information about pregnancy, labour, giving birth and early parenthood.</p>
<h4>Different types of classes</h4>
<p>Ante-natal classes aren’t compulsory but are recommended, and you are entitled to take time off work in order to attend. Research suggests that women who have attended ante-natal classes cope far more comfortably with the labour and birth process than those who haven’t.</p>
<p>Some classes cater for all expecting parents but others may be run for more specific groups, including:</p>
<ul>
<li>early/late stages of pregnancy</li>
<li>minority ethnic groups, particularly if English is not your first language</li>
<li>teenage mothers and older mothers</li>
<li>same-sex couples</li>
<li>single parents</li>
<li>parents in the early/late stages of pregnancy</li>
<li>parents requiring a refresher course</li>
</ul>
<h3>Subjects covered in ante-natal classes</h3>
<p>Although there are many different kinds of classes, the topics covered will be fairly similar. Ante-natal classes are about preparing for labour and childbirth and most will cover:</p>
<ul>
<li>the physical and emotional effects having a baby will have, both during and after pregnancy</li>
<li>how to look after yourself and your baby during pregnancy, including exercises and tips on nutrition</li>
<li>screenings and check-ups you will need to attend during the ante-natal period</li>
<li>what to expect in labour and childbirth</li>
<li>the best ways to relax and the pain relief available</li>
<li>effective breathing techniques for a smooth delivery</li>
<li>the medical procedures involved</li>
<li>how to care for your baby after the birth, including breastfeeding and medical troubleshooting</li>
</ul>
<p>Ante-natal classes are also an ideal opportunity for expecting parents to socialize with other people in the same situation as them. Friendships made at ante-natal classes can be useful in early parenthood, when new parents can sometimes feel isolated from their social circles because they now have a baby.</p>
<h3>Health during pregnancy</h3>
<p>Knowing what to eat and drink, what supplements to take and what to avoid goes a long way to ensuring the health of both you and your baby.</p>
<h3>Folic acid</h3>
<p>Whether you are pregnant or planning to have a baby, it is recommended that you start taking 400 micrograms (mcg) of folic acid every day, as early as possible. You should continue to do so until you are 12 weeks pregnant. This vitamin is known to reduce the risk of spina bifida.</p>
<h4>If you have diabetes, epilepsy or coeliac disease you may need to have a higher dose of folic acid. Your doctor or midwife will be able to advise you.</h4>
<h3>What to eat</h3>
<p>When pregnant, or trying to get pregnant, your diet should include plenty of protein, fibre, calcium, iron and other minerals and vitamins. These can all be found in the following foods:</p>
<ul>
<li>fruit and vegetables (aim for at least five portions of fruit and vegetables a day)</li>
<li>starchy foods like bread, pasta, rice and potatoes</li>
<li>dairy products like milk, cheese and yoghurt</li>
<li>lean meat and chicken</li>
<li>whole grain bread and pulses</li>
<li>fish – two servings a week (try to include oily fish like sardines, mackerel and tuna)</li>
</ul>
<p>Do not eat more than two servings per week of oily fish, particularly fresh tuna, which is high in mercury levels and can harm the baby’s nervous system.</p>
<h3>Avoiding iron deficiency</h3>
<p>Pregnant women can become deficient in iron so it is important to eat plenty of iron-rich foods. A good intake of vitamin C through fruit, vegetables and juice helps your body to absorb iron. If your iron level is low, your doctor or midwife will advise you to take iron supplements. The following foods will help you to keep your iron level normal:</p>
<ul>
<li>red meat</li>
<li>pulses</li>
<li>bread</li>
<li>dark, leafy green vegetables</li>
<li>citrus foods</li>
<li>breakfast cereals with added vitamins and minerals</li>
</ul>
<h3>Food and drink to avoid</h3>
<p>Some food and drinks which are usually harmless can cause problems during pregnancy. To be on the safe side, make sure you avoid:</p>
<ul>
<li>pâté (including vegetable pâté)</li>
<li>mould-ripened soft cheese (Brie, Camembert, goat’s cheese, etc.)</li>
<li>unpasteurized milk (which can contain salmonella)</li>
<li>liver or liver products (due to high Vitamin A content)</li>
<li>shark, swordfish and marlin (all contain high levels of mercury)</li>
<li>too much caffeine (have no more than three cups of coffee, or six cups of tea a day – caffeine interferes with absorption of iron from food)</li>
<li>alcohol (if you do, then no more than one to two units, once or twice a week)</li>
<li>raw eggs and food containing raw or partially cooked eggs (again to avoid salmonella)</li>
<li>if you or the baby’s father have a family history of allergic conditions like hay fever, asthma or eczema, then avoid peanuts and peanut products</li>
</ul>
<h4>Although liver is a good source of iron, pregnant women should avoid eating it because it is high in vitamin A.</h4>
<h3>Exercising during pregnancy</h3>
<p>Regular, gentle exercise during pregnancy is a good idea, as giving birth is a physically demanding process and you will be better equipped to deal with it if you have been keeping fit. Exercise will also improve your circulation, which is good for both you and the baby.</p>
<h4>Swimming is a good way to keep fit during pregnancy, as is walking. A short ten-minute swim at the local pool or a swift 30 minute walk are ideal.</h4>
<p>However, be careful not to overdo it. Your heart rate should never get above 140 beats per minute, and you should keep drinking water to avoid becoming dehydrated. Also avoid exercising in very hot weather, as your baby has no way to lose excess heat.</p>
<p>If you want to exercise during your pregnancy, check with your doctor first.</p>
<h3>Contact with animals during pregnancy</h3>
<p>There are certain animals and products associated with animals you should avoid when pregnant.</p>
<p>Cats’ faeces may contain a disease that could damage your baby, so:</p>
<ul>
<li>avoid emptying litter trays, or wear disposable rubber gloves</li>
<li>clean litter trays daily by soaking them with boiling water for ten minutes</li>
<li>avoid close contact with sick cats</li>
<li>wear gloves when gardening, even if you don’t have a cat, in case the soil is contaminated with faeces</li>
</ul>
<h3>Common complaints during pregnancy</h3>
<p>Most health-related issues associated with pregnancy can be easily dealt with by a midwife, doctor or pharmacist. Some mothers may develop more complicated problems, which could require going to hospital or an ante-natal clinic.</p>
<h3>Morning sickness</h3>
<p>Feeling nauseous or sick during the early stages of pregnancy is extremely common, affecting about 80 per cent of women. Morning sickness usually occurs during the first three months of pregnancy, although for some women it may last longer.</p>
<h3>Symptoms</h3>
<p>Although it is referred to as morning sickness, the symptoms can last throughout the day. Symptoms can vary – most sufferers will feel nauseous but may not be sick, whereas some women find they are unable to keep any food down. Although the symptoms are unpleasant, they won’t harm the developing foetus.</p>
<h3>Causes</h3>
<p>The exact cause of morning sickness is unknown. Suggested causes include:</p>
<ul>
<li>increased oestrogen levels</li>
<li>nutritional deficiency</li>
<li>gastric problems</li>
</ul>
<h3>Suggestions</h3>
<p>You can help counter morning sickness by:</p>
<ul>
<li>eating small, frequent meals</li>
<li>eating dry, carbohydrate snacks and nibbles throughout the day</li>
<li>taking your time getting out of bed in the morning</li>
<li>taking rests throughout the day</li>
<li>keeping well hydrated with water or juices – avoid alcohol and caffeine</li>
</ul>
<h3>Constipation</h3>
<p>Constipation is one of the most common complaints in pregnancy, affecting around half of pregnant women. The growing uterus puts pressure on the lower bowel (or rectum) and the hormones of pregnancy slow down digestion. This means that food takes longer to travel through the body.</p>
<p>A diet of high fibre foods – including fresh fruit and vegetables, cereals and whole grain bread – can help prevent constipation. Drinking plenty of water and regular exercise is recommended to stimulate the bowel and aid digestion.</p>
<h3>Pain management during pregnancy</h3>
<p>Pregnant women can suffer from mild headaches and other aches and pains. However, not all painkillers can be used during pregnancy.</p>
<p>Non-steroidal anti-inflammatory drugs (NSAIDs) like Ibuprofen are not safe to use in pregnancy. They may cause miscarriage in the early stages, or induce early labour, and may interfere with kidney function. Aspirin is not recommended for pain relief as it can increase the risk of bleeding.</p>
<p>Codeine-based analgesia can cause breathing problems for the baby in later stages of pregnancy and should only be taken in the early stages under a doctor’s supervision. However, Paracetamol is safe for short-term use throughout pregnancy. Pharmacists will be able to advise on what is suitable.</p>
<h3>Coughs and colds</h3>
<p>If you come down with a cold during your pregnancy, be sure to consult your pharmacist before taking any over-the-counter medication. Many will contain antihistamines or Codeine, which are not advised in pregnancy. You can try alternative therapies like gently inhaling a salt water steam preparation to reduce congestion, or take linctus for persistent coughs. Paracetamol will help to relieve headaches.</p>
<h3>Skin changes and rashes</h3>
<p>Many women will experience changes in their skin during pregnancy – most of these changes are termed ‘physiological’, which means they are entirely normal and associated with being pregnant. These include:</p>
<ul>
<li>hyper-pigmentation – or darkening – of the nipples and genital area</li>
<li>Linea Nigra – a dark, sometimes hairy, line which runs from the belly button to the pubic area</li>
<li>Striae Gravidarum – stretch marks around the abdomen as it expands, usually starting off pink and becoming white or shiny after delivery</li>
<li>varicose veins on the legs</li>
</ul>
<p>Pregnant women can also be affected by rashes like eczema and psoriasis. Moisturizing creams like calamine lotion are safe to use to soothe the skin. Your doctor will advise you on using steroid creams.</p>
<p>There are a few rashes which occur only in pregnancy, called specific dermatoses of pregnancy.</p>
<h3>Sex during pregnancy</h3>
<p>In most cases having sex during pregnancy isn’t a threat to either you or your unborn baby. However, there are some issues that need to be taken into consideration to make sure it is both safe and comfortable.</p>
<h3>Comfort and safety</h3>
<p>As the baby develops and the mother’s stomach grows, you may have to try some different positions to make sex more comfortable.</p>
<p>The baby is protected from the movements created during sexual intercourse by the amniotic sac, muscle and the woman’s abdomen. However, you should still take care. The mucus plug, or vaginal mucus, will ensure that your child is safe from infection.</p>
<h4>If you experience any unusual symptoms either during or after sex, you should speak to your doctor or midwife before attempting to have sex again.</h4>
<h3>When sex should be avoided</h3>
<p>In some cases a doctor may recommend that you don’t have sex. This is particularly common if the placenta is lying over the neck of the womb (known as placenta previa) or if you are at risk of bleeding. Other reasons include if the woman:</p>
<ul>
<li>is experiencing unusual discharge from the vagina</li>
<li>has a history of miscarriage or premature labour</li>
<li>has a dilated cervix</li>
<li>is experiencing pains in her abdominal area</li>
<li>is feeling pain while urinating</li>
<li>is expecting more than one baby</li>
<li>has ever had to undergo medical treatment for vaginal or reproduction issues</li>
</ul>
<h3>Travelling while pregnant</h3>
<p>Travelling by most forms of transport is completely safe throughout pregnancy, but there are some specific regulations for air travel you should be aware of. If you’re planning on travelling abroad, you should speak to your midwife or doctor first.</p>
<h3>Travelling by air</h3>
<p>It is safe for women with uncomplicated pregnancies to travel by air. However, your doctor may recommend that you should not fly in the first three months of pregnancy if:</p>
<li>
</li>
<li>you have excessive morning sickness</li>
<li>there is a threat of miscarriage</li>

<p>During the last two months of the pregnancy you should not fly if you have:</p>
<ul>
<li>raised blood pressure</li>
<li>an increased risk of premature labour</li>
</ul>
<h3>Before you travel</h3>
<p>Always check with the airline or holiday company about their rules on pregnant passengers before you book. Some will allow you to fly beyond the recommended period. However, many airlines will need a letter from your midwife or doctor detailing when you are due to give birth.</p>
<h3>Flying comfortably</h3>
<p>Because travelling by plane can be quite cramped it is important to ask the airline about the options available to make your trip more comfortable. These may include:</p>
<ul>
<li>booking an additional seat next to you so that you have more room</li>
<li>asking for a seat with additional leg room</li>
<li>asking to be upgraded to first/club/business class, some of which will have beds</li>
<li>asking to be seated where you can easily get out of your seat and stretch – for example near the rear of the plane or on the aisle</li>
</ul>
<h4>It is likely that some of these options will add to the cost of your flight and the price will vary from airline to airline.</h4>
<h3>During the flight</h3>
<p>There are a number of things you can do to make sure you are comfortable and safe. Pregnant women are at higher risk from Deep Vein Thrombosis (DVT). DVT is potentially fatal blood clots in veins, particularly in the leg area. To minimise the risk, you can try the following:</p>
<ul>
<li>wear special DVT socks – these are available to buy in pharmacies and airport shops</li>
<li>take a break from your seat every hour or so and walk around/performing some simple stretches</li>
<li>avoid wearing tight clothing</li>
<li>wear comfortable shoes, or no shoes at all, as your feet may swell up</li>
<li>drink plenty of water and fruit juice – avoid food and drink that will dehydrate you (eg tea, coffee)</li>
</ul>
<h3>Travelling by road</h3>
<p>Travelling by road in a coach or car is safe during pregnancy. However, if the journey is long and you aren’t moving for long periods of time, then you are at risk from DVT. Follow the same tips as suggested above for flying while pregnant.</p>
<h3>Travelling by rail</h3>
<p>There are currently no restrictions on pregnant women travelling abroad by rail.</p>
<h3>Travelling by boat</h3>
<p>Many ferry operators have similar guidelines to airlines so make sure you speak to them before you book. Ferries have plenty of room for you to walk around and stretch, and you can ask about booking reclining seats or a cabin for longer trips.</p>
<h3>Alcohol and smoking in pregnancy</h3>
<p>The best advice is to avoid drinking alcohol when you are pregnant or trying to conceive. If you do decide to drink, then make sure it is no more than one or two units, just once or twice a week, and don’t get drunk. If you stick to this, the evidence suggests it’s highly unlikely you’ll harm your baby.</p>
<h3>Trying to get pregnant</h3>
<p>If you are trying to get pregnant, you need to be aware that the amount you drink can reduce your fertility and ability to conceive. Excessive drinking, especially getting drunk, can even lead to a miscarriage in the early stages of pregnancy. The safest approach is not to drink at all, or at least significantly reduce your alcohol consumption. If you’re trying to become pregnant, drink no more than one or two units of alcohol once or twice a week and avoid getting drunk.</p>
<h3>Alcohol guidelines – how much is a unit?</h3>
<p>One South African unit contains eight grams of pure alcohol and it’s the strength and size of a drink that determines how many units it has. It is not as simple as one drink, one unit.</p>
<h3>If you are pregnant</h3>
<p>Women are strongly advised to not drink alcohol in the first three months of pregnancy because there may be an increased risk of miscarriage.</p>
<h3>The dangers of alcohol</h3>
<p>When a pregnant woman drinks alcohol, the alcohol passes through the placenta and can affect the baby’s development. This happens throughout the pregnancy, not just in the first few weeks.</p>
<p>Excessive drinking can lead to:</p>
<ul>
<li>premature birth</li>
<li>low weight at birth</li>
<li>harming the physical and mental well-being of the child – this is known as Foetal Alcohol Syndrome (FAS)</li>
</ul>
<h3>Alcohol and breastfeeding</h3>
<p>Alcohol passes to the baby in small amounts in breast milk. The milk will smell different to the baby and may affect their feeding, sleeping or digestion. The best advice is to avoid drinking shortly before a baby’s feed. When breastfeeding, the recommended daily limit for women is between two and three units of alcohol. The limit applies whether you drink every day, once or twice a week, or occasionally.</p>
<h3>Smoking</h3>
<p>Smoking while pregnant not only damages your own health, but can also harm your baby. It has been linked to a variety of health problems, including:</p>
<ul>
<li>premature birth</li>
<li>low birth weight</li>
<li>cot death, miscarriage</li>
<li>breathing problems/wheezing in the first six months of life</li>
</ul>
<h4>If you stop smoking during pregnancy, you will have less morning sickness and fewer complications.</h4>
<h3>Giving up smoking</h3>
<p>If you’re trying to give up smoking, also encourage those around you to do the same. Second-hand smoke contains poisonous gases, tar and toxic chemicals that are harmful to you and your baby’s health.</p>
<h3>Becoming a parent if you are disabled</h3>
<p>If you are planning to become a parent or take on parenting responsibilities, you may feel you need extra support to look after your child. This could be, help at home, equipment or help with ‘everyday’ things like visiting your child’s school.</p>
<h3>Support from your local council</h3>
<p>Your local council, including social services, health and education departments, can offer this support. Government guidance states that disabled people should be supported within their family and parental roles.</p>
<h3>Having a baby and health issues</h3>
<p>It is important to have access to information and the right maternity services, which take into account a mother’s medical condition and/or disability.<br>
You could start by talking through any issues with your doctor. Things to discuss could include:</p>
<ul>
<li>planning a pregnancy and conception</li>
<li>how a particular disability and/or medical condition could affect pregnancy and birth, including issues like taking medication while breast-feeding</li>
<li>scans and tests</li>
<li>post-birth health support for you and your child</li>
</ul>
<p>Your doctor may refer you to a specialist or consultant.</p>
<h3>Parenting classes</h3>
<p>The Disability Discrimination Act (DDA) covers many areas of everyday life, including access to goods and services. Classes for parents-to-be should make ‘reasonable adjustments’ to make them accessible to all people. Reasonable adjustments could include:</p>
<ul>
<li>using a pen and notepad to communicate with you if you are deaf or hearing impaired and/or providing induction loops in a certain room</li>
<li>holding the class in an accessible location – to avoid stairs, for example – for physically disabled parents</li>
<li>arranging for someone to explain what is being said at the class more simply for a person with a learning disability</li>
</ul>
<p>Let the organizers of classes know of any requirements you have before you attend for the first time.</p>
<h3>Breastfeeding and bottle-feeding</h3>
<p>Breast milk provides all the nutrients your baby needs for healthy development in the first stages of their life. It also gives them both short and long-term health advantages. Find out about the benefits of breastfeeding here, and also your bottle-feeding options.</p>
<h3>Benefits of breastfeeding for babies</h3>
<p>Breast is best for your baby because:</p>
<ul>
<li>breast milk is natural – it’s the food specifically designed for your baby</li>
<li>breast milk changes as your baby grows so they get exactly what they need</li>
<li>breastfeeding helps protect your baby from infections because antibodies are passed into the milk</li>
<li>breastfed babies are five times less likely to be admitted to hospital with infections like gastroenteritis and respiratory infections</li>
<li>it helps to avoid constipation in your baby</li>
<li>breastfed babies are less likely to get allergies like eczema</li>
<li>breast milk contains growth factors and hormones that help your baby develop</li>
<li>breastfed babies are less likely to become obese in later childhood</li>
<li>breastfeeding reduces the risk of cot death</li>
</ul>
<p>It is recommended that you breastfeed (rather than bottle-feed) for at least the first six months of your baby’s life.</p>
<h3>Benefits of breastfeeding for mothers</h3>
<p>Breast is best for mothers because:</p>
<ul>
<li>it is free</li>
<li>there is no need to sterilize bottles, prepare feeds or keep your baby waiting</li>
<li>you can do it anytime, anyplace, anywhere</li>
<li>it is a lot easier than bottle-feeding in the middle of the night</li>
<li>your womb will return to normal size more quickly</li>
<li>you will use up more calories</li>
<li>breastfeeding reduces the risk of pre-menopausal breast cancer</li>
</ul>
<h3>If you have problems with breastfeeding</h3>
<p>Breastfeeding is a skill and all new skills need practice. If you want to breastfeed and are finding it difficult, there is a variety of help available. You could ask your midwife for advice, see a breastfeeding counsellor, or call the National Breastfeeding Help line.</p>
<h3>Bottle-feeding</h3>
<p>Bottle-feeding may seem like hard work at first, but if you get into a routine you’ll be able to relax and enjoy feeding.</p>
<p>One advantage to bottle-feeding is that fathers and care givers can feed your baby and give you a bit of a break. You can use formula or you could express breast milk for your baby to have. You could also use a combination of both expressed breast milk and formula. All of these options would give the nutrition your baby needs.</p>
<p>Remember to always:</p>
<ul>
<li>make sure all your equipment is properly sterilized – you can make your baby ill if the bottle is dirty</li>
<li>follow the instructions on the formula packet – do not pack the formula down or be tempted to add more formula than is recommended</li>
<li>test the temperature of the milk and don’t heat it in the microwave – you may scald your baby’s mouth</li>
<li>make up each feed as you need it with freshly boiled water</li>
</ul>
<h3>Healthy eating for breastfeeding</h3>
<p>A healthy, varied and balanced diet will help you and your baby thrive during breastfeeding. Knowing what to eat, how much to eat, what vitamins to take and what to avoid is very important, as whatever goes into your body will also go into your baby’s.</p>
<h3>Vitamins and food</h3>
<p>A supplement containing 10 micrograms (mcg) of vitamin D each day is recommended. If you receive Income Support or Job seeker’s Allowance, you are entitled to free vitamin A, C and D supplements from maternity and child health clinics.</p>
<p>As part of a healthy diet you should try to eat the following foods:</p>
<ul>
<li>at least five portions of a variety of fruits and vegetables a day</li>
<li>starchy foods such as bread and potatoes</li>
<li>whole-wheat bread, pasta and breakfast cereals, which all contain plenty of fibre</li>
<li>protein-rich foods such as lean meat and chicken, pulses, eggs and fish (see below)</li>
<li>dairy products such as milk, cheese and yoghurt</li>
</ul>
<p>While you are breastfeeding you should avoid:</p>
<ul>
<li>more than one portion of shark, swordfish or marlin each week</li>
<li>more than two portions of oily fish such as mackerel, sardines, trout and fresh tuna each week (tinned tuna does not qualify as oily fish)</li>
<li>peanuts and peanut products if you or your baby’s father, brother or sister suffers certain allergic conditions, such as hay fever, asthma or eczema</li>
<li>any significant weight loss</li>
</ul>
<p>There’s lots of information on healthy eating in the book ‘Birth to Five’, available free from your doctor, midwife or health visitor.</p>
<h3>Drinks</h3>
<p>Drinks containing caffeine can unsettle your baby, so keep your intake of tea, coffee and cola drinks low. Consuming alcohol in large amounts will affect your baby: try to limit your intake, drink only occasionally and avoid drinking before you feed your baby.</p>
<h3>If your child is disabled</h3>
<p>You may find out that your child has a health condition or impairment at a scan during your pregnancy, or at the birth itself. Alternatively you may notice something in your child’s behaviour early on. Here is what you can expect to happen if your child has a disability.</p>
<h3>Preparing for labour</h3>
<p>Although the labour process can start at any stage during your pregnancy, in most cases it does not start until the 37th week at the earliest – three weeks before the due date.</p>
<h3>Forward planning</h3>
<p>As your delivery date approaches, it’s very important to be prepared for labour as it can happen at any time. Make sure you know how you will get to the hospital, and have a bag packed with everything you will need (as you won’t know how long the labour process will be).</p>
<p>Here are some things you may want to take with you:</p>
<ul>
<li>dressing gown</li>
<li>one or two night shirts to wear during and after delivery (if you have anything that opens at the front this could be handy for breastfeeding)</li>
<li>socks and slippers</li>
<li>music, books and magazines in case you have a long labour</li>
<li>toiletries</li>
<li>a camera if you want to record the birth</li>
<li>water spray to cool you down</li>
<li>something to eat and drink (some hospitals may not have vending machines)</li>
<li>a watch or a stopwatch so you can time your contractions</li>
<li>lip balm</li>
</ul>
<p>It is likely the hospital will be able to provide some or all of these, but you will probably feel more comfortable taking your own things. This is not necessarily a complete list, so have a think about anything else you might need.</p>
<h3>How will you know you’re in labour?</h3>
<p>When you go into labour, one or more of the following things will happen (the labour process is different for everyone):</p>
<ul>
<li>contractions start occurring regularly, with increasingly shorter intervals between each one</li>
<li>the contractions become increasingly longer, and stronger</li>
<li>your waters will break (although this is only a sign of labour starting if it is accompanied by contractions)</li>
<li>you may feel cramps, much like period pains, and pains in the lower back</li>
<li>you may notice some vaginal discharge, of a brown or pink colour (this is known as ‘the show’)</li>
</ul>
<p>If you are not sure if labour has started or not, call your doctor or midwife and they will be able to tell you.</p>
<h3>False labour</h3>
<p>It is possible to have contractions without actually being in labour. This is called a false labour. You are in a false labour if your cervix hasn’t dilated (your midwife or doctor will tell you if this has happened or not) and if your contractions are not getting closer together and more intense.</p>
<h3>If you are overdue</h3>
<p>If your pregnancy lasts more than 42 weeks, this is called a prolonged pregnancy. After 42 weeks, you may be advised by your midwife or doctor to consider having an induction, especially if you have gone 10 to 14 days over 42 weeks. This is because your baby may be harmed by staying in the womb too long.</p>
<h3>What is induction?</h3>
<p>Having your baby induced simply means making labour happen. The most common method of induction is called a membrane sweep. This means the ‘bag’ of membranes that surround your baby are separated from the cervix, which in turn releases a hormone which tells the brain to start the labour process. A doctor or midwife can perform a membrane sweep during a simple internal examination.</p>
<div class="prdetails">
</div>
</div>
