<div class="post">
<h1 class="single dotted">Healthy Eating</h1><hr>
<h3>Healthy eating</h3>
<p>No matter how much exercise you do, eating fatty junk foods seven days a week can damage your body. Making your diet more balanced is a great way to keep a healthy weight without going on a strict diet.</p>
<h3>What’s healthy?</h3>
<p>Healthy eating is about getting the right amounts of vitamins, minerals, protein and carbohydrates, as well as the right types of fats and sugars.</p>
<p>There’s a huge amount of healthy eating advice and information around and trying to get your head around all of it is almost impossible. If you do think your diet could be improved, there are a few simple things to remember.</p>
<h3>A healthy diet</h3>
<p>Making sure that you’re eating the right balance of the right foods is the key to a healthy diet. Here are a few top tips to make sure that you’re having a good mix of foods:</p>
<ul>
<li>eat at least five portions of fruit and vegetables every day, including servings of fruit juice and baked beans</li>
<li>base your meals on starchy foods like potatoes, brown rice and whole wheat bread</li>
<li>if you eat meat every day of the week, try substituting it with oily fish like mackerel, salmon or tuna on a couple of days</li>
<li>always go for low-fat cheese, milk and yoghurt</li>
<li>try and cut down the number high fat or high sugar snacks and drinks you have every week</li>
</ul>
<p>You should also keep an eye on how much salt you’re eating. As most salt we eat comes from processed foods, make sure you read the label. Snacks or meals that contain more than 1.25 grams of salt per 100g is a lot.</p>
<p>It’s also a good idea to get out of the habit of adding salt to food when you’re cooking or at the table. Do you really notice a difference if it’s missing?</p>
<h3>Getting rid of bad habits</h3>
<p>If you have a busy life, it’s really tempting to get into the snacking habit. Grabbing a bag of crisps or a chocolate bar on the way home may give you a short-term energy boost, but these snacks are usually the ones that are filled with bad types of fat and sugar.</p>
<p>It’s best to try and stop snacking in between meals altogether. If you are finding it hard, try to carry a couple of pieces of fruit or a bag of nuts around with you. These can give you the same energy boost and contain fats and sugars that are better for you.</p>
<p>Another bad habit is missing breakfast. You might prefer to spend another 15 minutes in bed, skipping breakfast means you’re likely to be reaching for the chocolate by mid-morning.</p>
<p>Having a healthy breakfast also boosts your vitamin and mineral intake. A bowl of cereal and a glass of fruit juice in the morning is more than enough to see you through until lunchtime.</p>
<h3>Weight worries</h3>
<p>Being overweight can increase the risk of developing diabetes, heart disease and some cancers.</p>
<p>Even though people grow at different ages and rates, you should aim to be within the normal range for weight for your height, if you’d like some advice on diet, nutrition or healthy eating, why not make an appointment with your doctor?</p>
<h3>Dieting</h3>
<p>You may be tempted to try one of the diets that fill the pages of magazines every week. Unfortunately fad diets are rarely a good idea. They don’t always work and can encourage you to miss some important types of food.</p>
<p>Making a few simple changes to your diet and cutting down on sweets and fatty snacks are a lot healthier in the long term.</p>
<h3>Healthy recipe ideas</h3>
<p>Eating more healthily doesn’t mean staying clear of all the foods you love and replacing them with endless servings of salad and vegetables.</p>
<p>If you’re after a few simple and nutritious meal ideas that you can prepare and cook yourself, you can download a series of free ‘Real Meals’ recipe books.</p>
<div class="prdetails">
</div>
</div>
