<div class="post">
<h1 class="single dotted">Over 50s Health &amp; Well-being</h1><hr>
<h3>Guide to health issues for over 50s</h3>
<p>Health issues become increasingly important after you turn 50. Recognize the possible signs of illness and find out about regular screening tests for cancer. Being aware of potential health risks will help you protect yourself mentally and physically.</p>
<h3>Mental health and support as you get older</h3>
<p>Conditions such as dementia and depression become more likely as you get older. If you are worried that you may be developing symptoms, your doctor can make an assessment.</p>
<h3>Older women’s health</h3>
<p>If you’re a woman over 50, diseases like breast cancer and health issues like osteoporosis and the menopause can be of particular concern. By being well-informed, you’ll have a better sense of how to take care of your health and protect yourself.</p>
<h3>Breast screening</h3>
<p>Detecting breast cancer and other breast conditions early gives the best chance of successful treatment.</p>
<h3>Older men’s health</h3>
<p>There are a number of health issues and illnesses that can affect men over the age of 50. Prostate problems, heart disease, bladder cancer and impotence can be of particular concern.</p>
<h3>Prostate problems</h3>
<p>With any prostate problem, it is important to talk to your doctor to see what your symptoms mean. There are three main things that could go wrong with your prostate – benign prostatic hyperplasia, prostatitis and prostate cancer. By understanding the symptoms for these conditions, you’ll be better prepared to protect yourself.</p>
<h3>Older women’s health</h3>
<p>If you’re a woman over 50 diseases like breast cancer or health issues like the menopause can be of particular concern. By being well informed, you’ll have a better sense of how to take care and protect yourself.</p>
<h3>Breast cancer</h3>
<p>Breast cancer is the most common cancer among women of all age groups, but 80 per cent of cases occur after the menopause.</p>
<h4>Symptoms – what to look out for</h4>
<p>The first symptom noticed by most women is a lump in the breast, most of which are harmless but still worth getting checked. Other symptoms include persistent breast pain, nipple discharge, and a marked change in the appearance of your breasts or how they feel.</p>
<h4>Awareness – what to do</h4>
<p>Try to become familiar with your breasts by examining them regularly – your doctor will show you how or follow an online example. Regular screenings, via a breast x-ray or mammogram, help with detection and are currently available free. For free advice and support contact the Breast Cancer Care helpline.</p>
<h3>Cervical cancer</h3>
<p>Cervical cancer affects the lower part of your womb known as the cervix. It’s most likely to occur in women aged 25 to 65.</p>
<h4>Symptoms – what to look out for</h4>
<p>Bleeding between periods, after sex or after the menopause, unpleasant-smelling vaginal discharge or discomfort during intercourse.</p>
<h4>Awareness – what to do</h4>
<p>The smear or ‘pap’ test is not a test for cancer. However the test does identify early changes in the cells of the cervix that happen prior to cancer. Early detection and treatment is estimated to prevent up to 80 per cent of cervical cancers.</p>
<h3>Ovarian cancer</h3>
<p>Ovarian cancer is the fourth most common form of cancer among women.</p>
<p>The disease largely affects post-menopausal women with 90 per cent of cases occurring over the age of 45.</p>
<h4>Symptoms – what to look out for</h4>
<p>Although symptoms include indigestion, bloating, nausea, unusual vaginal bleeding or pelvic or stomach discomfort, it is not easy to identify early symptoms.</p>
<h4>Awareness – what to do</h4>
<p>The best action is to book an annual pelvic examination and be aware of and pay attention to the symptoms. Genetic screening is available.</p>
<h3>Osteoporosis</h3>
<p>Osteoporosis is a thinning of the bones that affects one in three women. Getting older can increase the risk of osteoporosis happening.</p>
<h4>Symptoms – what to look out for</h4>
<p>Fractures can occur more easily with osteoporosis, especially in the wrist, spine and hip. One in two women will suffer a fracture after the age of 50.</p>
<h4>Awareness – what to do</h4>
<p>The key to prevention is as simple as a healthy and active life. Include milk and dairy products, green leafy vegetables, baked beans, bony fish and dried fruit in your diet. Weight-bearing exercise, like running, cycling, bouncing on a trampoline or brisk walking for at least 20 minutes three times a week improves bone density.</p>
<h3>Menopause</h3>
<p>Menopause means the last menstrual period, the time when a woman’s ovaries stop making the female hormones estrogen and progesterone. The average age at which it starts is 51.</p>
<h4>Symptoms – what to look out for</h4>
<p>These range from hot flushes, night sweats, aching joints, vaginal dryness and bladder problems to mood swings, anxiety, depression and irritability.</p>
<h3>HRT and alternative therapies</h3>
<p>Hormone Replacement Therapy (HRT) can help symptoms of the menopause. Specialists recommend that you have an assessment every couple of years to find out if treatment is still necessary. Its best to discuss benefits and risks with your doctor.</p>
<p>Alternative therapies can also help you with menopausal symptoms.</p>
<h3>Hysterectomy</h3>
<p>A hysterectomy is a surgical operation to remove the womb. By age 55, 20 per cent of women have had a hysterectomy.</p>
<p>Menopause does not automatically occur unless the ovaries have also been removed, but it may occur earlier.</p>
<p>Recovery time from a hysterectomy varies, but it is likely to take several weeks. The operation can lead to a sense of loss – if you need to discuss how you feel after a hysterectomy, you may benefit from counselling.</p>
<h3>Older men’s health</h3>
<p>Now men are living longer than ever before, it’s even more vital to keep well and enjoy life. If you’re a man over 50 health issues like prostate problems, heart disease and bladder cancer can be of particular concern.</p>
<h3>Prostate problems</h3>
<p>The prostate gland is part of the male reproductive system. It is near the bladder and penis and encircles the tube through which urine passes from the bladder.</p>
<p>Problems such as benign prostatic hyperplasia (BPH) and prostate cancer are both rare in men under 50. Prostatitis is most common under 50 and treatable with medication or surgery.</p>
<h3>Symptoms and diagnosis</h3>
<p>Pain and difficulty in urinating can be caused by:</p>
<ul>
<li>infection and inflammation</li>
<li>the prostate growing slowly bigger (benign prostatic hyperplasia, BPH)</li>
<li>prostate cancer – a slow-growing tumour, which also causes pain in the lower back, hips or pelvis as well as erectile problems</li>
</ul>
<h4>Awareness – what to do</h4>
<p>The PSA test (Prostate Specific Antigen) is a test that measures the level of PSA in your blood. PSA is a substance made by the prostate gland, which naturally leaks out into the bloodstream. A raised PSA can be an early indication of prostate cancer. However, other conditions that are not cancer (like enlargement of the prostate, prostatitis and urinary infection) can also cause a rise in PSA.</p>
<p>The higher the level of PSA the more likely the diagnosis is cancer. However, the PSA test can also miss prostate cancer.</p>
<p>Diets high in dairy and animal fats may increase risk; those high in green vegetables may be protective.</p>
<h3>Bladder cancer</h3>
<p>Bladder cancer affects the inner lining of the bladder and is the fourth most common cancer in men, especially men over 50. Smokers are more at risk as are people who work with chemicals used in the dye, leather and rubber industries.</p>
<h3>Symptoms</h3>
<p>Symptoms include pain during urination, blood in the urine and a frequent desire to urinate.</p>
<h3>Incontinence</h3>
<p>The loss of ability to control urination is a common problem that affects as many as one in three people. It can be easily cured or at least made manageable.<br>
As a man, you’re more at risk of one of two types of incontinence as you get older:</p>
<ul>
<li>urge – an overpowering urge to urinate followed by heavy leakage</li>
<li>overflow – small leaks from a full bladder</li>
</ul>
<h3>Awareness – what to do</h3>
<p>Pelvic floor exercises can help. Ask your local doctor or practice nurse for advice.</p>
<h3>Testicular problems</h3>
<p>It’s best to examine your testicles regularly for lumps, whatever your age.</p>
<p>A common testicular problem for men of all ages is a swelling caused by build-up of fluid around the testicle (hydrocele). You’ll need to visit your doctor to get it checked.</p>
<h3>Impotence/erectile dysfunction</h3>
<p>Impotence or erectile dysfunction is the repeated inability to get or keep an erection firm enough for sexual intercourse.</p>
<h3>Who’s vulnerable?</h3>
<p>Around five per cent of 40-year-old men may have the condition, which increases with age, possibly affecting up 25 per cent of 65 year olds. Anything that interferes with the blood flow to the penis may be a cause. Diabetes, kidney disease, chronic alcoholism, multiple sclerosis and cardiovascular disease account for many cases.</p>
<h3>Heart disease and high blood pressure (hypertension)</h3>
<p>One in five men dies from heart disease before the age of 75. It claims more men’s lives than any other disease.</p>
<p>Heart disease runs in families, so you have a greater chance of developing it if your family has a history of the disease. Other risk factors include:</p>
<ul>
<li>smoking</li>
<li>an unhealthy diet with too much fat, particularly saturated fat</li>
<li>lack of exercise</li>
<li>being overweight</li>
<li>excess stress</li>
</ul>
<p>High blood pressure is a major risk factor. If your blood pressure has been high for a long time, you are more at risk of a heart attack or stroke.</p>
<h3>Male menopause or mid-life crisis</h3>
<p>It’s probably more accurate to describe the male menopause as a mid-life crisis or the androgens (male hormones are known as androgens). Certainly, male hormone levels do not drop as dramatically as they do for women in the menopause.</p>
<h4>Symptoms</h4>
<p>Symptoms include poor sex drive, changing body shape and muscle mass. They can also include weight gain, sweating, flushing, fatigue and general aches and pains accompanied by decreased stamina and mood swings. Reasons for these symptoms can include anaemia, thyroid-gland dysfunction, depression, marital problems, job dissatisfaction, financial problems and alcohol misuse.</p>
<h4>Mental health and support as you get older</h4>
<p>Many older people think they will lose their independence if they admit to being forgetful, depressed or confused. Find out more about what you can do as you get older and where you can get help.</p>
<h4>Where to get help</h4>
<p>The best place to start is at your doctor’s, who will make an initial ‘assessment’. Your doctor will talk to you and check whether an illness might be responsible and consider what treatment may work for you.</p>
<p>The most common mental health problems as you get older are dementia and depression.</p>
<h3>Dementia</h3>
<p>Dementia is caused by a number of different diseases that affect brain function. These include Alzheimer’s disease and stroke. Many people think they have dementia just because they forget the details of some things. But stress, depression and ageing can all affect your memory. Most people never experience dementia.</p>
<p>Dementia is usually a gradual loss in being able to reason and remember. People with dementia may:</p>
<ul>
<li>become forgetful</li>
<li>lose concentration easily</li>
<li>not recognize familiar faces and objects</li>
<li>experience mood changes</li>
<li>have problems reading and writing</li>
</ul>
<p>If you are worried, go to your doctor. Make sure you are clear. You can take someone with you or make a list of your symptoms if it helps.</p>
<h3>Treatment for dementia</h3>
<p>Although many causes of dementia are not curable, there’s a range of treatment that can help slow the progress and improve people’s quality of life. There are local specialist services that will be able to visit you in your own home to offer advice and support. You doctor will be able to tell you more when they make a diagnosis.</p>
<h3>Depression</h3>
<p>Everyone feels ‘the blues’ at some point in their lives. Most of the time it passes in a few days but if the feelings do not pass it’s important you see your doctor.</p>
<h3>Treatment for depression</h3>
<p>There is a variety of treatments available for depression, including counselling., psychotherapy, and medication. If your doctor only offers you medication ask about the other treatments available. There are also alternative treatments like acupuncture and exercise that may be useful and some areas have these treatments available on the NHS.</p>
<h3>Medication for dementia or depression</h3>
<p>If your doctor discusses medication with you, you have the right to talk about the options available and ask about any side effects. You can ask for a second opinion if you are not comfortable with the information you are given.</p>
<p>You are entitled to be referred for treatment and you can say if you’d like to be added to the waiting list.</p>
<h3>Prevention</h3>
<p>There is no definite way to prevent dementia or depression. However, research shows that if you exercise, have a healthy diet, and take care of yourself, you are less likely to experience a problem.<br>
You may already be exercising and there is no reason to stop. Research shows that a loss of fitness is down to lifestyle – not old age. You may need to change the type of exercise you do but those who exercise are less likely to become depressed.</p>
<h3>Plans for the future</h3>
<p>Most people find peace of mind in planning for the future. You might like to consider:</p>
<ul>
<li>how best to help your family feel supported</li>
<li>whether alternative housing might offer more independence</li>
<li>legal and financial issues</li>
</ul>
<h3>Support</h3>
<p>You may find further support from a variety of sources including local health services, charities, voluntary organizations and local groups.</p>
<h3>Breast screening</h3>
<p>Detecting breast cancer and other breast conditions early gives the best chance of successful treatment.</p>
<h3>Arranging a breast screen</h3>
<p>Women aged 50 to 70, who are registered with a GP, are invited for breast screening every three years. Your local screening centre or primary care trust should contact you and arrange an appointment before your 53rd birthday.</p>
<p>Women aged over 70 are not routinely invited for breast screening.  However they are still entitled to a breast screening and can call their local breast screening unit to request one every three years.</p>
<h3>What’s involved</h3>
<p>Breast screening is a way of detecting breast cancer at a very early stage. The first step involves an x-ray of each breast – a mammogram – which is taken while carefully compressing the breast. The mammogram can detect small changes in breast tissue. This may indicate cancers that are too small to be felt either by the woman herself or by a doctor.</p>
<h3>Prostate problems</h3>
<p>Prostate problems can have a serious affect on a man’s health. Find out how to recognize the symptoms of prostate cancer. If you have concerns then you should speak to your GP who can arrange a test for you.</p>
<h3>The prostate gland</h3>
<p>The prostate gland is found only in men and is part of the male reproductive system. It is located below the bladder and is about the size of a walnut. It surrounds the tube that carries urine from the bladder.</p>
<p>The prostate is very important for a man’s sex life, producing some of the fluid in semen. When something goes wrong with the prostate, it can affect a man’s sex life, his long-term health and with prostate cancer can lead to death.</p>
<h3>Benign prostatic hyperplasia</h3>
<p>Benign disease or benign prostatic hyperplasia (BPH) is common in older men, with the prostate growing slowly bigger. It can cause difficulty or pain when passing urine as the growing prostate puts pressure on the tube that carries urine from the bladder. Several treatments are available. BPH is treatable and is rare in men under 50.</p>
<h3>Prostatitis</h3>
<p>Prostatitis can affect men of any age, and is an inflammation of the prostate gland. It can cause pain and difficulty when passing urine. Prostatitis is treatable and can occur in men of any age.</p>
<h3>Prostate cancer</h3>
<p>The risk of prostate cancer gets higher in older men, or those with a family history of the disease. Prostate cancer is also more common in the West where the diet can be high in dairy and animal fats.</p>
<p>Symptoms are similar to other prostate problems, particularly difficulty in passing urine. Other symptoms of prostate cancer can include lower back pain, pain in the hips or pelvis and erection problems. All these symptoms can also be caused by other problems.</p>
<p>Prostate cancer develops when a single cell in the prostate begins to multiply out of control and forms a tumour Some cells may break away and travel to other parts of the body, starting new tumours. Prostate cancer is treatable and can be cured in many cases. It is rare in men under 50 but gets more common as men get older.</p>
<p>Prostate cancer behaves differently in different men, with some tumours. growing very slowly and some developing quickly. There are no known measures you can take to reduce your risk of prostate cancer.</p>
<p>The symptoms of prostate diseases are similar:</p>
<ul>
<li>needing to urinate often, especially at night</li>
<li>difficulty in starting to urinate</li>
<li>straining to urinate or taking a long time to finish</li>
<li>pain when urinating or ejaculating</li>
</ul>
<p>Less common symptoms that may be prostate cancer are:</p>
<ul>
<li>pain in lower back, hips or pelvis</li>
<li>blood in the urine (this is unusual)</li>
</ul>
<p>However, these symptoms are often something else and not cancer. Prostate cancer is different from most cancers – some prostate cancers grow slowly and may not cause problems, but some grow quickly and need early treatment.</p>
<p>If you are worried about any of these symptoms, you should go and see your doctor.</p>
<h3>Guide to health and fitness for over 50s</h3>
<p>Making sure you exercise regularly and keep an eye on what you eat is of real importance after you turn 50. Find out more about how a few changes in your daily routine can go a long way to improving your physical and mental health.</p>
<h3>Healthy eating for over 50s</h3>
<p>Healthy eating can improve your quality of life and will help you avoid diseases associated with ageing. There’s a lot you can do to introduce healthier foods into your diet without giving up some of your favourites.</p>
<h3>Keeping mobile and preventing falls</h3>
<p>There’s a lot you can do to maintain your mobility and independence as you age. Preventing falls is important to staying active. But if you or someone you care for does have a series of falls, there are actions you can take to improve safety.</p>
<h3>Staying physically active</h3>
<p>Keeping physically active not only improves your health and quality of life it can also help you to live longer. Physical activity can be anything from everyday tasks like cleaning the house to specific exercise like keep fit or swimming.</p>
<h3>Staying mentally active</h3>
<p>Studies show that mental decline is not an inevitable part of ageing. People who lead intellectually stimulating lives are more likely to be free of dementia conditions like Alzheimer’s disease. It is possible to keep your brain in shape and to cope with changes in your mental ability.</p>
<h3>Healthy weight</h3>
<p>Healthy eating and taking part in physical activity are great ways of living a fitter and healthier life. They reduce the risk of developing heart disease, some cancers, diabetes and high blood pressure, and can help you achieve or maintain a healthy weight.</p>
<h3>Sports facilities and events</h3>
<p>You can improve your fitness by spending just 30 minutes a day on a physical activity like gardening, swimming or walking. It’s also easy to find local leisure facilities where you can go for sporting activities like tennis and squash, or keep fit classes.</p>
<h3>Healthy eating for over 50s</h3>
<p>Healthy eating can improve your quality of life and will help you avoid diseases associated with ageing. There’s a lot you can do to introduce healthier foods into your diet without giving up all of your favourites.</p>
<h3>A change in your food requirements</h3>
<p>A major reason for age-related weight gain is that the rate at which you burn calories in food and drink slows down with age. The extra calories will turn into surplus body fat over time if you don’t adjust your diet or exercise more.</p>
<h3>How much should you eat?</h3>
<p>Weight gain is all about how much energy you take in to your body and how much energy your body uses. To lose weight you must take less energy into your body from food and drink than the amount your body uses up. Remember that you’ll need fewer calories in your 50s and 60s than you did in your 30s.</p>
<p>How much you can eat without putting on weight is also linked to how much you exercise. Being active burns calories and it can help you to lose weight.</p>
<h3>Managing your weight with a balanced diet</h3>
<p>You may have to reduce your calorie intake slightly and ensure that you keep active. It’s not a good idea to follow fad diets. It can make it even harder to manage your weight over the long term.</p>
<p>To get the best from your diet:</p>
<ul>
<li>eat at least five portions of fruit and vegetables a day</li>
<li>base meals on starchy foods such as bread, potatoes, rice or pasta</li>
<li>drink plenty of water and cut out fizzy, sugary drinks – watch out for hidden sugars added to many soft drinks</li>
<li>limit your consumption of food and drinks that are high in sugar, or in saturated fats – like butter</li>
<li>choose lower-fat meat, poultry and dairy foods</li>
<li>eat more fish – aim for two portions a week, including one portion of oily fish such as salmon, fresh tuna, mackerel, sardines or trout</li>
<li>drink less alcohol</li>
<li>limit your salt intake to a maximum of 6g a day – try not to add it to your food and beware of added salt in processed foods and ready-made meals</li>
<li>try not to skip meals, particularly breakfast</li>
<li>eat a variety of foods to ensure you’re getting all the nutrients your body needs</li>
</ul>
<h3>Links between diet, exercise and health</h3>
<p>Increased activity is perhaps the key to weight control as you age. Eating a balanced diet, not overeating and eating the right foods is important.</p>
<p>Research shows, for example, a link between diet and many major diseases, like coronary heart disease and cancer. By walking regularly you cut your rate of physical decline by half.</p>
<p>Thirty minutes of moderate exercise five times a week is what the experts recommend. It can be all in one half-hour, or split into smaller bouts of activity throughout your day.</p>
<p>Remember, before changing your diet or starting an exercise regime, it’s a good idea to talk to your doctor.</p>
<h3>Keeping mobile and preventing falls</h3>
<p>There’s a lot you can do to maintain your mobility and independence as you age. Preventing falls is the best option, and there are also actions you can take to improve safety.</p>
<h3>Who is at risk?</h3>
<p>About one third of people over 65 fall each year, with higher rates for over 75s.</p>
<p>Up to 20 per cent of falls require medical attention. Falls make up half of the hospital admissions for accidental injury, especially hip fractures.</p>
<p>Half of the falls reported by older people follow a trip or an accident. Some 90 per cent of hip fractures are caused by a fall.</p>
<p>Fortunately, around 50 per cent of falls are preventable.</p>
<h3>Assessing your level of risk</h3>
<p>There are things to look out for that can help you or anyone else know whether you are at risk of having a fall. To find out what the risks are, you can ask for a falls risk assessment either at your doctor’s surgery or at a specialist clinic. An assessment may be done by social care workers, care home staff, hospital staff or a primary health care team.</p>
<p>The falls assessment aims to uncover anything that might make you more likely to fall and highlights specific things that can be done to help.<br>
Following the assessment, the doctor or nurse will prepare a plan for you to help reduce your risk of falling in future.</p>
<h3>Health and social care assessments in your local area</h3>
<p>You can find out about health and social care assessments in your local area and you may be able to apply for one online. The following link will let you enter details of where you live and then take you to your local authority website.</p>
<h3>Make your home safer</h3>
<p>There are some simple changes you can make at home that will help you to prevent falls. Installing hand rails to keep you steady in the bathroom or out in the garden should help. Some local authorities offer a 24-hour community alarm service. The service provides help and reassurance in an emergency to people who are elderly and at risk of falls.</p>
<p>You can keep your alarm with you at all times as a pendant around your neck or on your wrist. If you have a fall you press the button on the pendant to activate a separate alarm unit. This alarm unit has a powerful microphone and loud speaker, letting you talk to a member of staff who will get help.</p>
<p>Local social services and housing departments will assess what you need to help you live more independently. They can also provide practical help with adapting your home.<br>
You might also consider the option of sheltered housing, where you maintain your independence but have background support to hand when you need it.</p>
<h3>Keeping yourself steady</h3>
<p>To stay firmly on your feet, a few simple changes can make all the difference. For instance, making sure stairs are kept clear and well lit.</p>
<p>You will benefit if you:</p>
<ul>
<li>maintain healthy feet</li>
<li>regularly review your medication</li>
<li>have regular eyesight tests</li>
<li>pay attention to home safety</li>
<li>enjoy a healthy diet and reduce the risk of osteoporosis</li>
</ul>
<h3>Exercise</h3>
<p>Exercise is one of the best ways to prevent falls, as well as making you more confident and able to enjoy life.</p>
<h3>What to do if you have a fall</h3>
<p>Try not to panic but get help by making a noise like banging or shouting, using your personal alarm or dialling the emergency services, Make sure you keep warm, even just by tensing your arm and leg muscles. Wrap yourself with anything warm to hand.</p>
<p>Afterwards, it’s important to tell your doctor what’s happened. In that way you can receive effective help.</p>
<h3>Staying physically active</h3>
<p>Keeping physically active not only improves your health and quality of life it can also help you to live longer. It’s never too early or too late to start doing some exercise and staying fit.</p>
<h3>Health benefits</h3>
<p>Physical activity means could mean everyday tasks, like cleaning the house, heavy gardening or walking the dog. Or specific exercise like keep fit, swimming, golf, football, gym-based activity or tennis. The best type of activity is one that makes you feel slightly warmer and gets your heart and pulse pumping faster than usual.</p>
<p>Some of the benefits of keeping active include:</p>
<ul>
<li>a reduced risk of developing a life-threatening disease</li>
<li>a greater likelihood of maintaining or reaching a healthy weight</li>
<li>a greater sense of well-being</li>
<li>improved sleep and increased day-time vitality</li>
</ul>
<p>If you stay physically active, you’re also likely to stay independent longer. Exercise can make you stronger. You’ll feel more confident and involved in life.</p>
<p>Remember, before beginning a new exercise regime, it’s a good idea to talk to your doctor first. Your local doctor is also a good place to start to learn about exercise for your health.</p>
<h3>The risks of physical inactivity</h3>
<p>Inactivity puts you at greater risk of:</p>
<ul>
<li>heart disease</li>
<li>some cancers</li>
<li>diabetes</li>
<li>osteoporosis, leading to fractures (half the number of hip fractures could be avoided with regular physical activity)</li>
<li>obesity and related health problems</li>
</ul>
<h3>Getting started</h3>
<p>If you haven’t done any exercise for years then start gently and build up gradually. If you’re exercising for the first time or are unsure if you should try a particular activity, talk to your doctor.</p>
<p>Experts recommend thirty minutes of moderate exercise a day at least five times a week. A day’s activity can be in one half-hour session, or split into three periods of ten minutes of activity.</p>
<p>A good starting point may be a short five-minute brisk walk in your local park. Then gradually increase over the next few weeks to a full 30 minutes of activity. Walking is great for your health and there are hundreds of walking groups open to all ages around the country.</p>
<h3>Age guidelines</h3>
<p>There is no reason to give up a sport or exercise you enjoy just because you are getting older.</p>
<p>You should aim to do at least 30 minutes of moderate physical activity five or more times a week. Even if you haven’t been particularly athletic at a younger age, there are many benefits of improved fitness as you get older. Remember to keep moving and retain your mobility and flexibility through daily activity as well.</p>
<p>If you’re in your 80s or 90s, regular, gentle exercise can help retain muscle strength and improve mobility. Through daily activity you can retain mobility and flexibility.</p>
<h3>Daily activities</h3>
<p>It’s easy to boost your physical activity without making huge changes to your lifestyle. You can begin by incorporating it into your everyday life with little effort or planning. You can:</p>
<ul>
<li>walk up stairs – don’t use the lift or escalator</li>
<li>get off the bus or train a stop or two earlier to walk home or to work</li>
<li>spend more time enjoying active interests, like gardening or golf</li>
<li>leave the car at home more</li>
<li>clean the car by hand or do the vacuuming</li>
<li>use email less and walk around your office to talk to people instead</li>
</ul>
<h3>Organized activities</h3>
<p>There are lots of other ways to stay fit. You could take up a weekly Tai Chi class, play bowls, go swimming, ramble or cycle.</p>
<p>In some areas, your local council might offer free or cut-price gym-based exercise at the local sports or leisure centre.</p>
<p>The Keep Fit Association runs Mature Movers classes around the country, extend provides recreational movement to music for over 60s and less able people of all ages.</p>
<div class="prdetails">
</div>
</div>
