<div class="post">
<h1 class="single dotted">Your Child’s Health &amp; Safety</h1><hr>
<h3>Helping your child avoid the dangers of drugs</h3>
<p>Find out how to educate your child about the dangers of drugs and to recognise the signs that they may be using them. You should also know where you can go for help and information, and what to do in an emergency.</p>
<h3>Talking to your child about the dangers of drugs</h3>
<p>It’s never too early to educate your child about the dangers of drugs. You should encourage discussion about them and make sure your child knows to tell you if they’re ever offered anything.</p>
<h3>Signs that your child may be using drugs</h3>
<p>Possible signs of drug use can include changes in your child’s:</p>
<ul>
<li>appearance</li>
<li>choice of friends</li>
<li>interests</li>
<li>eating and sleeping habits</li>
<li>mood</li>
<li>openness with you</li>
</ul>
<p>However, all these can be a natural part of growing up and a young person who is not using drugs could show the same changes. If you have suspicions, speak to your child but don’t jump to any conclusions.</p>
<h3>What to do if your child is taking drugs</h3>
<p>If you do find out your child is taking drugs, your natural reaction may be to panic. However, it’s important you stay calm, talk to them and reassure them. You should:</p>
<ul>
<li>Let them explain in their own words what they’ve done</li>
<li>avoid asking them why they’ve taken drugs as it will make them defensive</li>
<li>not get hung up on blame</li>
<li>let them know exactly how you feel about the situation</li>
</ul>
<p>If your child does have a drug problem it’s important for them to know that you will be there for them. This could be in the form of answering simple questions or helping them through the difficult process of kicking the habit. Let them know you trust them, but at the same time feel free to show disappointment if this trust is broken.</p>
<h3>Getting help from local services and your child’s school</h3>
<p>Your GP can refer you to local drugs counselling agencies. Your child’s school should have a policy on drug education and managing drug-related incidents. The Community Liaison Department of your local police force will be able to answer your questions about the local drug scene and the law.</p>
<h3>What to do in case of an emergency</h3>
<p>If you find your child is having a bad reaction to something they’ve taken, there are things you can do to help. You should always try to calm them and be reassuring.</p>
<p>Drugs can be loosely put into two groups – ‘stimulants’ and ‘depressant’s’.</p>
<h4>If your child has taken a ‘stimulant’</h4>
<p>If your child has taken amphetamines (speed), cocaine, cannabis, ecstasy, LSD (acid) or magic mushrooms, they might feel tense and panicky. If this happens you should:</p>
<ul>
<li>calm them down and be reassuring – try not to let them see if you feel scared or worried</li>
<li>explain that the feelings will pass</li>
<li>encourage them to settle in a quiet, dimly lit room</li>
<li>tell them to take long, slow breaths if they start breathing very quickly</li>
</ul>
<h4>If your child has taken a ‘depressant’</h4>
<p>If your child has taken heroin or tranquillizers, or misused gases, glues or aerosols, they might start to feel very drowsy. If this happens you should:</p>
<ul>
<li>try not to frighten or startle them, or let them exert themselves</li>
<li>never give them coffee or other caffeine-based products to wake them up</li>
<li>lie them on their side in the recovery position if the symptoms persist, so their tongue can’t fall back and prevent breathing</li>
<li>call an ambulance if they don’t start to become more alert</li>
</ul>
<h3>Keeping your child safe from knife crime</h3>
<p>You can play an important role in stopping knife crime becoming a part of your child’s life. Knowing the law, talking to your child about the dangers and looking out for changes in their behaviour can help keep them safe.</p>
<h4>Know the law</h4>
<p>Before talking to your child about knives, you need to know the facts:</p>
<ul>
<li>it is illegal for anyone to carry a knife if they intend to use it as a weapon – even in self-defence</li>
<li>police can search anyone they suspect of carrying a knife</li>
<li>carrying a knife could mean being arrested, going to court and getting a criminal record, or even a prison sentence<br>
Knives in school</li>
</ul>
<h4>It is a criminal offence to have a knife or other weapon on school premises.</h4>
<p>Schools are able to ‘screen’ all pupils for knives at any time, without consent; even if there is no obvious reason for suspicion (screening is when an electronic ‘wand’ or a screening arch is used to find metallic objects). They can also search any pupil for a knife without consent if they have reasonable grounds for suspicion, or call in the police to conduct a search.</p>
<p>If a pupil refuses to be searched or screened, the school can refuse to have the pupil on the premises. If this happens, it is seen as an ‘unauthorized absence’. This can affect you, as all parents have a legal responsibility to make sure their child attends school.</p>
<p>If a knife or other weapon is found on a pupil, the police will be called and it is likely the pupil will be arrested.</p>
<h3>Your responsibility</h3>
<p>All parents are responsible for their child’s behaviour. If a child is excluded from school for persistent bad behaviour, or criminal behaviour like carrying a knife, then the parents can be given a Parenting Order by the courts. This is designed to improve the child’s behaviour and make the parents take responsibility for their child’s behaviour.</p>
<h3>Talking to your child about knives</h3>
<p>The best way to stop your child getting involved with knives is to talk to them about the dangers. This may not be easy, as they may not want to talk about it, but keep trying as this is the first step to keeping your child safe. You should remind them that by carrying a knife they are:</p>
<ul>
<li>giving themselves a false sense of security</li>
<li>potentially arming an attacker, increasing the risk of getting stabbed or injured</li>
<li>breaking the law</li>
</ul>
<h4>Keep a look out</h4>
<p>Sometimes there might be obvious reasons for you to think your child is carrying a knife – like a knife going missing from the kitchen. However there are other more subtle things that you and the parents of your child’s friends can look out for:</p>
<ul>
<li>school’s not going well, or they don’t want to go in to school at all</li>
<li>they’ve been a recent victim of theft, bullying or mugging</li>
<li>they have a different network of friends who may be older than them</li>
</ul>
<h3>Teenagers and abusive relationships</h3>
<p>If you’re concerned that your teenager is involved in an abusive relationship, there is help available. Find out how to spot the warning signs, and see how best to talk to your teen about abusive relationships.</p>
<h3>Abuse in teenage relationships</h3>
<p>Abuse is surprisingly common in teenage relationships. In a recent Home Office study, one out of every three girls interviewed said they’d been sexually assaulted by a boyfriend.</p>
<p>In the same survey, 25 per cent of girls and 18 per cent of boys said they’d been hit or physically attacked by a partner.</p>
<h3>Types of abuse teens often deal with</h3>
<h4>Abuse is not always physical – it can take any of the following forms:</h4>
<h3>Emotional abuse</h3>
<p>In teen relationships, emotional abuse is the most common sort of abuse. Emotional abuse includes things such as insults, put-downs or humiliation in front of a teen’s friends.</p>
<h3>Verbal abuse</h3>
<p>Verbal abuse (yelling, insulting and threatening) also often happens in teen relationships. In a recent survey, 75 per cent of teenage girls interviewed said they’d been verbally abused by their boyfriend.</p>
<h3>Controlling behaviour</h3>
<p>Controlling behaviour includes monitoring someone else’s phone calls or controlling what they wear. This happens quite often in teen relationships, and can be damaging over time.</p>
<h3>Other forms of abuse</h3>
<p>Other types of abuse found in teen relationships include:</p>
<ul>
<li>violence and assault</li>
<li>sexual assault</li>
</ul>
<h3>The warning signs of abuse</h3>
<p>Look out for the warning signs that there are problems in your teenager’s relationships.<br>
If they stop hanging out with their friends, that could be an early sign of an abusive relationship. Overly jealous teenagers sometimes try to control their boyfriends or girlfriends by not letting them see close friends.<br>
Other warning signs that your teenager is in an abusive relationship could include:</p>
<ul>
<li>getting into trouble at school – not going to class, falling grades</li>
<li>wearing the same clothes day after day</li>
<li>acting depressed, or more quiet than usual</li>
<li>becoming angry if you ask how they are</li>
<li>trying to hide scratches or bruises</li>
<li>making excuses for a boyfriend or girlfriend</li>
</ul>
<h3>What you can do to help your teenager</h3>
<p></p>
<p>Talking to your teen can be the best way to find out about their relationship. Even if you’be seen no signs of abuse, it’s a good idea to chat with them. You can find out what they think makes a healthy relationship, and see what they’re learning from their friends.</p>
<h3>If you think your teen is being abused</h3>
<p>If your teen is being abused, they may find it hard to talk about it with you. They may feel ashamed of what’s happened to them or may be afraid of their partner.</p>
<p>Finding the right moment to talk with them is important. You could start by saying you have seen something about teen relationship abuse in the news. Ask them how things are going with their own relationship. Make sure they know that they should not put up with controlling or abusive behaviour.</p>
<h4>Tell them they are not to blame if somebody is trying to make them do things they don’t want to do.</h4>
<h3>If you think your teen is abusing somebody</h3>
<p>If you think your teen is hurting their partner, it’s important to talk about the issue with them. Try to help them understand the consequences of abusive, violent and controlling behaviour.</p>
<p>You could explain that abuse will turn them into someone they don’t want to be. Abuse can become a habit, and it can lead to more violence and crime.</p>
<p>Teenagers who abuse can be in denial about their actions, so it’s possible that they won’t see themselves as abusers. Talk to them about the pain they’re causing their partner – teenagers are often shocked by the pain and damage their behaviour can cause.</p>
<h3>Keeping young children and teens safe while out and about</h3>
<p>All children can be vulnerable sometimes, and as a parent it is only natural to worry about their safety. If you are worried, you can help to protect your young children and teens with these common-sense tips.</p>
<h3>Protecting young children</h3>
<p>Statistics show that crime against young children by strangers is rare. Even so, these seven tips can help protect your child:</p>
<ul>
<li>tell your child to avoid talking to people they don’t know when you’re not around</li>
<li>make sure your child knows never to walk away with anyone without first telling the person in charge</li>
<li>make sure your child understands that they should always tell you if a stranger approaches, and never to keep this secret</li>
<li>if your child is travelling alone, tell them to sit near other families on the train or bus</li>
<li>if your child has to use a lift – tell them only to use lifts with friends, and not to feel worried about getting out if they are uncomfortable about someone else being in there</li>
<li>if your child gets lost, they should ask for help from a police officer, another grown-up with children or someone working at a nearby shop</li>
<li>have your children learn their address and telephone number by heart</li>
</ul>
<h3>While you are out with your children</h3>
<p>Sometimes, young children can still be vulnerable even if you are with them. Following these simple precautions should give you peace of mind:</p>
<ul>
<li>try to keep your children within your sight or another adult’s whom you trust</li>
<li>use reins for your toddler – these will keep your child nearby even if you get distracted</li>
<li>when out and about visiting places, always arrange a meeting point for you and your child, in case either of you get lost</li>
<li>make sure you all travel together in the same train carriage, or have seats close together on a bus or coach</li>
<li>always go with your child into public toilets</li>
<li>remind your child never to talk to strangers, even if you are nearby</li>
</ul>
<h3>Keeping teenagers safe</h3>
<p>More crimes are committed against teenagers than any other age group, but here are some things they can do to keep safe on the streets:</p>
<ul>
<li>stay alert, and keep personal stereos/MP3 players turned off, so they can hear what’s going on around them</li>
<li>stick to busy, well-lit roads, and avoid short cuts through alleyways</li>
<li>if your child thinks someone is following them, they should cross the road or go to a place with lots of people around, like a bus stop or shop</li>
<li>your child could carry a whistle or shrill alarm around their neck or on a key chain to warn off suspicious strangers</li>
<li>when travelling by bus, your child should try to use bus stops on busy roads</li>
<li>if someone tries to take something from your child, tell them never to fight</li>
<li>tell them to keep mobile phones and other valuables out of sight, and to turn off their mobile phone ringer to avoid attracting attention</li>
<li>don’t let your child carry weapons because they are more likely to be used against them, and it’s illegal</li>
<li>encourage your child to speak up if they are being bullied or feel they might be in danger</li>
</ul>
<h3>Gangs and gang crime: advice for parents</h3>
<p>Children and young people face all sorts of pressures and it may be that your child is feeling pressure to follow friends who are in a gang.</p>
<p>You can help your child make the right choice. By recognising the signs and seeking help, you could make a positive step towards changing the course of your child’s life.</p>
<h3>Know the facts</h3>
<p>Before you talk to your child about gangs, you’ll need to make sure you know what you’re talking about. It’s important to understand why young people are drawn towards gangs in the first place, and you’ll need to know what the law says. There’s also a big difference between the fantasy of being in a gang and the reality, which may seem obvious to you but will not be so obvious to your child.</p>
<h3>Know the signs</h3>
<p>There are a number of warning signs to look out for which could indicate that your child is involved with a gang. Things like a change of appearance, new slang words, new friends and even falling out with old friends could all be significant. Find out what to look out for by clicking the link the below.</p>
<h3>What you can do</h3>
<p>There are many things you can do to help prevent your child getting involved with a gang. The most important thing is to talk to and be open with your child, and be as involved in their life as possible. If you think your child is already in a gang, it may be harder to get them to talk about it but there are ways to approach the subject.</p>
<h3>Talking to your child about sex and teenage pregnancy</h3>
<p>Young people who can talk about sex with their parents tend to delay having sex and are more likely to use contraception when they do. However you may find the idea slightly awkward or you may not know where to start. Here are some tips to help you on your way.</p>
<h3>Talking to children about sex</h3>
<p>Talking about sex to your child doesn’t mean you are encouraging them to have sex. The best way to start talking about sex is to:</p>
<ul>
<li>start when your child is young, as waiting until your child reaches puberty can make it awkward</li>
<li>make talking about sex a part of everyday life, not just a one-off talk and keep the conversation going as they get older</li>
<li>use everyday media to start conversations – soaps, adverts, TV programs, magazines – then you can talk about other people which is sometimes easier to start with</li>
<li>use books, leaflets and websites (including those listed below) if you need information or ideas for how to start talking</li>
<li>recognize that as your child grows, they need privacy and may not always want to talk to you</li>
<li>talk to other parents about how they answer difficult questions and discuss difficult issues</li>
</ul>
<h3>Talking about sex and pregnancy with teenagers</h3>
<p>You may want to talk to your teenager about a number of things to do with sex and pregnancy. These might include waiting to have sex, contraception, sexually transmitted diseases (STDs) and the effects of having a child while they are still at school. There are many ways you can help:</p>
<ul>
<li>find out what education they are getting in school about sex and relationships</li>
<li>provide them with information and advice on the subjects not covered at school</li>
<li>offer to go with your teenager to the doctor or sexual health clinic to discuss any issues about contraception</li>
<li>make sure they know about STDs, and know how to stay safe</li>
<li>support your teenager as they deal with the emotions of a first intimate relationship</li>
<li>talk about the importance of considering the feelings of others in relationships, and not just the biology</li>
</ul>
<h4>You may find that your teenager does not have the same values as you when it comes to sex. Try not to let this bother you – it’s just a normal part of them growing up.</h4>
<h3>If your child is pregnant</h3>
<p>If your child tells you that they are pregnant or that their girlfriend is pregnant, the most important thing to do is stay calm. You will need to support the teenage mother in whatever decisions she makes.</p>
<p>The first step is for the teenager to see her doctor or young people’s service. They will confirm the pregnancy and tell her about services in the area for pregnant teenagers. Hospitals and health visitors often have services for teenage mothers beyond the routine antenatal care that will be offered. Some services – like Brook – also have counsellors who will be able to explore how she feels about her pregnancy and give impartial information on her options.</p>
<h3>School</h3>
<p>There is no reason why your daughter cannot remain in school up until the birth and then return to school afterwards. A maximum of 18 weeks absence is allowed in the period immediately before and after the birth.</p>
<p>However, your daughter may not want to attend her school once she finds out that she is pregnant. There are alternative options, like attending a specialist unit for teenage mothers (if there is one in your area), home tuition, or studying in a further education college. The education department of your local council will be able to help.</p>
<p>If your child is under 20, they could also get help with childcare costs through the Care to Learn scheme to help them stay on in learning after they have given birth.</p>
<h3>Your rights, and your child’s rights</h3>
<p>Health professionals will always encourage sexually active young people to talk to their parents about their situation. However, young people have the same rights as adults when it comes to confidentiality. This means that a doctor does not have to tell parents when a young person seeks contraception or sexual health advice and treatment.</p>
<p>In some cases, health professionals may decide to refer a case to social services. This might happen if there is a large age difference between the two people involved, or if there is evidence of abuse. When dealing with cases involving younger teenagers, it will often be decided that there is a risk of harm and social services will be called.</p>
<h3>Rights of the father</h3>
<p>According to current law, a mother always has parental responsibility for her child. A father, however, has this responsibility only if he is married to the mother or has acquired legal responsibility for his child. There are several different ways for a father to get legal responsibility for their child like registering or re-registering the birth, or applying through the courts.</p>
<div class="prdetails">
</div>
</div>
