<div class="post">
<h1 class="single dotted">Health &amp; Relationships</h1><hr>
<h3>Sexual health and preventing pregnancy</h3>
<p>Using some form of contraception is the most reliable way to prevent unplanned pregnancies. If you’re sexually active, condoms can help to protect you from infections that you can get if you’re having unprotected sex.</p>
<h3>The basics of contraception</h3>
<p>Are you thinking about having sex for the first time, or have you been sexually active for a while? Whatever your situation is, it’s vital that you’ve got all the information about contraception you need.</p>
<p>You must use condoms to protect yourself from infections that can spread through unprotected sex. These are called sexually transmitted diseases (STDs).</p>
<h3>Types of contraception</h3>
<p>There are many types of contraception available for both men and women. Some that you may have heard of include:</p>
<ul>
<li>condoms</li>
<li>the pill</li>
<li>long acting methods – implants or injections</li>
<li>IUDs</li>
</ul>
<p>Contraception is very effective at preventing pregnancy but needs to be used correctly to work! That’s why it’s very important that you find the method that suits you. But whichever method of contraception you choose, everyone needs to use condoms to protect against STDs.</p>
<p>Contraception and condoms are free from your GP, family planning clinics or young people’s contraceptive services. You can also buy condoms from pharmacies and supermarkets.<br>
Remember that it’s against the law for people under the age of 16 to have sex. However, you can still get confidential contraceptive advice from a doctor or nurse if you’re below this age.</p>
<h3>Drug problems</h3>
<p>Are you worried about your own drug taking? Do you know someone who is abusing or misusing drugs? If you’re concerned about drugs, it’s good to know the facts about how they can affect you physically and mentally.</p>
<h3>Why take drugs?</h3>
<p>Drug users don’t start using drugs to become addicted on purpose. But with many drugs containing substances that are addictive, people who use them casually in their spare time can then become regular users.</p>
<p>Reasons why people start using drugs can include:</p>
<ul>
<li>to escape problems they may be having in other parts of their life</li>
<li>peer pressure and fitting in with another group of people</li>
<li>being curious about the effects of drugs</li>
</ul>
<p>Becoming dependent on drugs can affect your family and friends. It can also have a serious impact on your own physical and mental well-being.</p>
<p>Drug overdoses can be fatal, and you can die instantly from misusing drugs that you can buy over the counter. This includes things like aerosols, glues and other solvents</p>
<p>Don’t feel under pressure to try drugs if you don’t want to. Because the effects of drugs can be much greater in crowded and busy places, don’t take anything if you’re surrounded by large numbers of people.</p>
<h3>Signs of drug abuse and misuse</h3>
<p>There is not a common list of symptoms that you can use to tell if you or someone you know is misusing drugs. That’s because drug use affects different people in different ways depending on the type of drugs they’re using.</p>
<p>Anxiety and changing sleeping habits can also be signs of drug use. However, these symptoms can also be caused by changes in your body, stress or other problems.</p>
<h3>Smoking and giving up</h3>
<p>We all know the damage smoking does, but it’s still a big habit in South Africa. But if you want to give up, there’s lots of help available.</p>
<h3>The law on buying and selling tobacco</h3>
<p>It is illegal for anyone under the age of 18 in South Africa to be sold cigarettes (or other products like roll-up tobacco and cigars) over the counter or at a vending machine.<br>
This is to try to stop people starting to smoke as teenagers. It’s been estimated that people who start smoking at 15 are three times more likely to die from cancer than someone who starts in their twenties.</p>
<h3>Smoking in public places</h3>
<p>It’s now against the law to smoke in almost every enclosed public space in South Africa. This includes:</p>
<ul>
<li>cafes and restaurants</li>
<li>shopping centres</li>
<li>railway stations</li>
</ul>
<h3>Why start smoking?</h3>
<p>Even though we all know about the health risks connected to smoking, thousands of people decide to start every year – and a large number of adults who carry on smoking say that they started when they were under 16.</p>
<p>You may be pressured into starting by some of your friends, you may want to copy older relatives who smoke or you may just be curious about what it’s like. Whatever sort of pressure you’re put under, it’s a lot easier to say no than taking up the habit and trying to give up after years of regular smoking.</p>
<p>It also costs a lot of money. If you get through ten cigarettes a day, it costs over R5500 every year. Think of all the stuff you could buy with that money!</p>
<h3>The health risks</h3>
<p>People who smoke regularly are more likely to develop certain illnesses when they get older. These include lung cancer, heart disease and emphysema. It can also reduce fertility.</p>
<p>Although nicotine is the thing that makes cigarettes addictive, it’s the other chemicals that damage your health.</p>
<p>There are also other physical effects of smoking that happen no matter how old you are, including:</p>
<ul>
<li>damaged taste-buds</li>
<li>ageing of the skin</li>
<li>stained teeth</li>
<li>smelly clothes</li>
</ul>
<h4>Although not killers, they’re not exactly pleasant.</h4>
<h3>Keeping fit</h3>
<p>There are lots of ways to improve your fitness without having to join a gym. Joining a local sports team is a great way to spend your spare time and keep fit. You also get to meet lots of new people.</p>
<h3>The benefits of getting fit</h3>
<p>By keeping physically active, you’re making sure that your joints and body organs are kept in good working order. Exercise can also help maintain your weight at a healthy level and can protect you against catching coughs and colds on a regular basis.</p>
<p>You’ll also feel an increase in your energy level and brain activity. Knowing that you’re looking and feeling good can also give your self-confidence a real boost.</p>
<h3>How much exercise do you need?</h3>
<p>If you’re under 18, you should try to do a total of 60 minutes of physical activity every day. You don’t have to do it all in one go, but in chunks of at least 10-15 minutes throughout the day. This includes everything from pumping iron in the gym to walking up stairs instead of taking the lift. The key thing is that the activity should increase your heart rate and make you feel warmer.</p>
<p>If you’re over 18, aim for at least 30 minutes of exercise at least five days a week.</p>
<p>A good idea is to try out a whole range of physical activities to see which ones you enjoy the most. Once you’ve decided the sorts of exercise you enjoy, you can plan what type of exercise you’re going to do and when.</p>
<h3>Before you start</h3>
<p>If you’ve decided to start an exercise routine, it’s important to go and see your doctor for an examination. Your doctor will be able to let you know how much exercise you should be doing to begin with.</p>
<p>They’ll also let you know if you have any medical conditions like back pain that can limit the type of exercise you do.</p>
<h3>Fitness for free</h3>
<p>Getting fit isn’t all about gyms. Some forms of exercise won’t cost you a penny and most types can easily be slotted into a busy lifestyle.<br>
Think about:</p>
<ul>
<li>cycling or walking to school, college or work instead of driving or taking the bus</li>
<li>running around the block a few times a week can improve your fitness level and you’ll soon find yourself running quicker and further</li>
<li>checking out the leisure facilities provided by your local authority; many have basketball hoops, tennis courts and football pitches that you can use free of charge</li>
</ul>
<h3>Team sports</h3>
<p>Getting fit isn’t just something you have to do by yourself. Playing team sports like football, hockey or netball is great exercise, but is often more enjoyable because you’re with a group of friends.</p>
<p>Your school, college or university may run sessions in the evening, or you might want to get involved with a local team. You can find details of local clubs on the internet, in the phone book or at your nearest leisure centre. Your local authority can also give you information of sporting activities in your area.</p>
<h4>If you think that your neighbourhood needs some better sports facilities, why not apply for some money from the Youth Funds?</h4>
<div class="prdetails">
</div>
</div>
