<div class="post">
<h1 class="single dotted">Health &amp; Support</h1><hr>
<h3>Health and social care assessments</h3>
<p>A health and social care assessment is often the first step towards getting the help and support you need. Assessments are with the social services department of your local council. The assessment is also known as an ‘assessment of need’.</p>
<h3>The assessment and your care plan</h3>
<p>At the assessment, a specialist – often an occupational therapist – looks at your individual needs and discusses them with you. This is so that the right support can be provided. Services you may need can include healthcare, equipment, help in your home or residential care.</p>
<p>The assessment should show which needs are most important. It should also show the risks to you if you were not given any help.</p>
<p>If necessary, local health and social services teams will put together a package of support for you. They will discuss this with you and write a care plan. This may include services from both private and voluntary organizations.</p>
<p>If you need other services such as housing or benefits advice, you will be put in touch with the relevant local services.</p>
<h3>Services and support you may be entitled to</h3>
<p>Services can include:</p>
<ul>
<li>home care help with things like cleaning and shopping</li>
<li>disability equipment and adaptations to your home</li>
<li>day centres to give you or the person who cares for you a break</li>
<li>day care for your child if either you or they are disabled</li>
<li>care homes</li>
</ul>
<p>Some local councils provide a ‘Single Assessment Process for Older People’.  With your agreement, health and social workers, community nurses and other groups share information. This means you do not have to give each of them the same information separately.</p>
<h3>Employing a professional care giver or personal assistant</h3>
<p>If you are looking for a care worker or personal assistant to help you live independently at home, you may get one through your local social services department or a home care agency, or you may choose to employ someone directly.</p>
<h3>What a professional care giver can do for you</h3>
<p>Professional care givers have a variety of skills – some have nursing and first aid qualifications and others may be home helps or personal assistants. Some examples of the type of tasks a care giver might help with are:</p>
<ul>
<li>cooking and cleaning</li>
<li>help with personal care like washing and using the toilet</li>
<li>driving or help with getting around</li>
<li>medical tasks like giving injections or changing a catheter</li>
<li>shopping, banking and paying bills</li>
</ul>
<div class="prdetails">
</div>
</div>
