<div class="post">
<h1 class="single dotted">University &amp; Higher Education</h1><hr>
<h3>What is higher education really like?</h3>
<p>Higher education means a lot more than just getting a qualification. It also offers you the chance to meet new people and take advantage of new opportunities.</p>
<h2>What is higher education all about?</h2>
<p>Unlike school, you’re at university or college because you want to be, learning more about a subject or job you’re really into. You’ll have more control over how and when you study – though it’s up to you to make the most of it, you’ll find higher education challenging – getting used to new ways of learning and thinking may take time – but you’ll have a lot of fun along the way. You’ll also have lots of opportunities to experience new things and meet new people.</p>
<h3>What you can study</h3>
<p>You’ll learn lots more about a subject you’re really into</p>
<p>You can study lots of interesting subjects at university or a college offering higher education courses. Most people study one or two subjects, but in a lot of detail, there are higher education courses in subjects you studied at school, like maths or English. Or there are more unusual options, such as criminology (the study of crime) or software engineering (learning to write computer software – games or other programs). Other courses lead to a specific job: for example, journalism or medicine.</p>
<p>It’s possible to study ‘combined’ courses. For example, someone wishing to follow a career in politics but with an interest in art might study both subjects together.</p>
<h3>Studying and social life</h3>
<ul>
<li>Studying</li>
</ul>
<p>Higher education is a very different experience to school or further education.<br>
You are expected to do far more work for yourself. Lectures and seminars will provide guidance, but you’ll need to widen your knowledge through background reading. Subject advisors will offer lots of advice to help you get used to this new way of working. Library staff will be able to help you find the materials you need, and advise on referencing and avoiding plagiarism when it comes to writing essays.</p>
<ul>
<li>Socializing</li>
</ul>
<p>Making new friends is a key part of the higher education experience. If you’re worried about fitting in, remember that students from all backgrounds and of all ages go to university and college.</p>
<p>One way to form friendships is through student societies or sport. It’s always easier to bond with someone if you share a common interest. There will probably be a full list of societies available on your students’ union website, and you’ll have an opportunity to join up to most at fairs and events etc.</p>
<p>Most institutions have a sports centre of their own or an arrangement with the local centre. As a student you’re likely to have access to sports facilities, and you may get a discount on gym membership.</p>
<h3>Getting a taste of student life</h3>
<p>Most universities and colleges run open days. They’re generally held two or three times a year, allowing members of the public to look around the institution and see what’s on offer. Many institutions also offer short courses over the summer period, giving prospective students the chance to get a taste of higher education.</p>
<p>At these events you’ll be able to find out from lecturers and students all the good and bad points of university life, take a tour of the campus and sit in on lectures and seminars.</p>
<h3>The benefits of higher education</h3>
<p>Higher education could boost your career prospects and earning potential, while giving you the chance to immerse yourself in a subject that really interests you – and get involved in lots of other activities.</p>
<h3>Is higher education right for you</h3>
<p>
Higher education is about taking your education to the next level: learning new things and getting to where you want to be.</p>
<p>A higher education qualification could help you take charge of your future by building skills and confidence and opening up new opportunities – whatever stage of life you’re at. Even if no one else you know is thinking about going into higher education, it could still be the right choice for you.</p>
<p>There are currently over one million higher education students in South Africa. Higher education courses are offered at around 100 universities and higher education colleges, and many further education colleges.</p>
<p>With more than 20,000 courses in a variety of academic and work-related subjects – including many that let you combine more than one subject – there’s bound to be one that suits you.</p>
<h3>Why go to university or college?</h3>
<p>Higher education could benefit you in a number of ways. University or college lets you experience a rich cultural and social scene, meeting a variety of people while studying something you love.</p>
<p>A higher education qualification can also lead to increased earning potential, a wider range of opportunities and a more rewarding career. Many employers target graduates in their recruitment campaigns.</p>
<p>And on average, graduates tend to earn substantially more than people with A levels who did not go to university.</p>
<h3>What can you study?</h3>
<p>Higher education courses range from familiar academic subjects such as English or history, less familiar ones such as philosophy, and a host of work-related (vocational) courses such as accountancy.</p>
<p>Higher education doesn’t necessarily mean getting an honors degree – you could study a lower level Degree, a Higher National Certificate or Higher National Diploma, or a Diploma of Higher Education.</p>
<p>Many courses are based on units of study or ‘modules’. Each module lets you earn credits towards your qualification, while giving you a degree of flexibility over the focus of your studies.</p>
<h3>How much will it cost?</h3>
<p>The costs of being a student vary between different parts of South Africa – and so can the length of courses. Financial support is available, so money needn’t be a barrier. The help you can get depends on your family situation and the type of course you’re doing.</p>
<h3>How to apply for higher education courses?</h3>
<p>How and when you apply for higher education depends on what type of course you’re applying for – and, in some cases, which universities or colleges you’re applying to. Whichever route you use, it’s worth starting your preparations well in advance.</p>
<h3>Getting ready for university or college</h3>
<p>With your place on a higher education course confirmed, there are lots to do so you can get ready and then settle into student life.</p>
<h3>Before you go</h3>
<p>You should have got an induction or introduction pack from your university or college, either in advance or upon arrival.</p>
<p>Read this thoroughly, fill in and return any forms and take note of where and when things need to be done, subject staff may have included information on background reading or required materials. You might be able to get additional information on how to prepare for your course from departmental pages on your or college’s website.</p>
<h3>What to take</h3>
<p>Your university or college induction pack will probably include a list of suggested items to bring along. Think carefully about what you are likely to need, what you can buy when you get there and how much you really need to pack.<br>
If you’re planning to take equipment to watch or record TV programs as they’re being shown – whether it’s a television set, computer or other device – you’ll need to be covered by a valid TV license.</p>
<h3>Where to go</h3>
<p>If you’re moving into halls of residence, your university will give you a date and approximate time to arrive at your new accommodation. You’ll probably be arriving at the same time as the people who’ll be your neighbors for the next year – an ideal opportunity to make new friends.If you’re living in private accommodation, you’ll have organized a moving in day with your landlord. Your house-mates may arrive at the same time, or may be there already.</p>
<p>If you visited on the open day you may know where some of the key buildings are – if not, it’s worth familiarizing yourself with your new surroundings as soon as possible. It’s also a good idea to check when and where you need to be to sign up for your course.</p>
<p>If you need to travel to get to university or college, you can plan your journey online. You might even consider a ‘dry run’ to see exactly where things are and how long it takes to get there.</p>
<h3>Settling in and getting support</h3>
<p>The first few days at university or college are a busy time – settling into new accommodation (if you’ve moved away to study), getting your bearings, registering for your course, and generally preparing, you’ll need to join the university library, and may also want to consider joining the student union and a local bank. It’s also a good idea to register with a local doctor and dentist.</p>
<p>You’ll know your place of study like the back of your hand by the end of the first term or semester, but you’re bound to have problems finding your way around during the first few weeks. Be sure to allow plenty of time and invest in a good map, it’s perfectly normal to feel homesick if you’ve moved away to study. Student welfare advisers will be able to help if you need someone to talk to.</p>
<h3>Managing your money</h3>
<p>If you have problems managing your finances, your university or college’s support office will be able to offer advice. There are also lots of books and websites dealing with financial matters. See, for example, ‘How much will university cost?’ for tips on budgeting.</p>
<p>If you haven’t done so already, remember that you can apply for student finance up to nine months from the start of the academic year.</p>
<h3>Safety and security for students</h3>
<p>There are practical steps you can take to improve your safety and security as a student. Especially if you’re moving into new accommodation, make sure you’re familiar with the basics of fire and gas safety, as well as home and personal security.</p>
<h3>Fire safety for students</h3>
<p>Every year, many 18-24 year olds are injured in accidental house fires started by cigarettes, smoking materials and candles, it’s also common for fires to start in the kitchen. Over half of accidental house fires are caused by cooking.</p>
<p>By taking a few sensible precautions, you can help protect yourself from injury – or worse:</p>
<ul>
<li>ensure a smoke alarm is installed – and test it weekly</li>
<li>never smoke in bed</li>
<li>when you finish a cigarette, put it out completely – and make sure all cigarette ends are cold before emptying ashtrays into bins</li>
<li>check your furniture has the fire-resistant permanent label</li>
<li>be aware of where fire alarms are located and fire equipment are kept</li>
<li>plan and practice an escape route with your housemates</li>
<li>keep a torch handy to help guide you through smoke</li>
</ul>
<h3>If you live in halls of residence</h3>
<p>All universities and colleges have a person responsible for fire safety. If you have any concerns or questions about fire safety in halls – for example, you’ve spotted a fire risk – speak to them.</p>
<p>If you are a disabled student and would need assistance if there was a fire, let the university or college health and safety officer know when you arrive.<br>
You should also:</p>
<ul>
<li>Check what the fire safety rules are – such as any ban on candles in rooms</li>
<li>pay attention to fire drills and never ignore alarms</li>
</ul>
<h3>Privately rented accommodation</h3>
<p>If you live in a private house or flat, make sure it’s fitted with smoke alarms on each level of the property – and that they are tested regularly.<br>
Check that your escape route is clear. For example, make sure there are no bikes blocking your exit in the hallway, and be aware of any windows that are barred.<br>
If you’re a student in South Africa, you can request a home fire safety visit from your local Fire and Rescue Service. They may provide and fit a smoke alarm for free.</p>
<h3>Help promote fire safety at your university or college</h3>
<p>To find out how you can help promote the fire safety message on campus, speak to your local Fire and Rescue Service.</p>
<p>Each year, the ‘Fire Kills’ campaign also recruits a limited number of students at selected universities as ‘student brand ambassadors’. They raise awareness of fire safety among fellow students by:</p>
<ul>
<li>getting publicity through student magazines</li>
<li>distributing leaflets and posters</li>
<li>working with the local fire and rescue service to organize special events</li>
</ul>
<h3>Gas and carbon monoxide safety</h3>
<p>If you’re renting privately, your landlord must ensure that all gas appliances are checked once a year by a ‘Gas Safe Register’ installer.<br>
Your landlord must also show you the safety certificates for all the gas appliances in your property.</p>
<p>Faulty gas appliances are one of the main causes of carbon monoxide poisoning. Remember: you can’t see, smell or hear carbon monoxide.</p>
<h3>Personal safety</h3>
<p>It’s important to be aware of your own safety. If you are concerned, there are steps you can take. For instance, most universities and colleges offer self-defense classes, or give out personal alarms.</p>
<p>You should also look at the range of facilities and services (for example, late night minibus transport) offered by your local students’ union.</p>
<h3>Home security</h3>
<p>Student accommodation is a notorious target for burglars. This is true of both university-owned and privately rented housing.</p>
<p>Ensure that doors and windows have proper locks fitted. There’s plenty of advice on home security available online.</p>
<div class="prdetails">
</div>
</div>
