<div class="post">
<h1 class="single dotted">Home &amp; Living Options</h1><hr>
<h3>Independence at home</h3>
<p>If you have an impairment or a health condition that makes living alone difficult, making some adaptations to your home may help. Or you can get extra support to help you live in your home. Find out about your rights and what your local council can do to help.</p>
<h3>Living in your own home</h3>
<p>If you live in your own home there are three main considerations:</p>
<ul>
<li>do you receive the necessary support to make sure you can live as independently as possible?</li>
<li>do you have equipment to help you on a daily basis?</li>
<li>does your home need adapting in any way?</li>
</ul>
<p>You have the right for your needs to be assessed by the social services department of your local council.</p>
<p>Following a health and social care assessment, an occupational therapist may recommend types of equipment and ideas about adapting your home.</p>
<p>You may be entitled to financial help, such as a Disabilities Grant, to pay for adaptations or improvements to your home.</p>
<h4>Equipment for use about the home</h4>
<p>Specialist equipment and adaptations can make it much easier for you to live independently in your own home. The equipment available ranges from large equipment like stair lifts and hoists to smaller gadgets designed for people with specific disabilities.</p>
<h3>Large items or permanent fixtures</h3>
<p>If you are physically disabled, and especially if you are a wheelchair user, you may need to get equipment and have permanent fixtures installed at home so that you can live there independently.</p>
<p>Examples of equipment and adaptations include:</p>
<ul>
<li>stair lifts</li>
<li>ceiling hoists</li>
<li>powered or manual height-adjustable beds</li>
<li>powered leg-lifters for people who have difficulty lifting their legs into bed</li>
</ul>
<h4>You may also need to have adaptation work done in your home – for example, having doorways widened or a ramp installed.</h4>
<h3>Everyday items to make life easier</h3>
<p>A wide range of gadgets and devices are available that make everyday tasks easier for people with specific disabilities. Some examples are:</p>
<ul>
<li>clamps and holders to keep jars stable so they can be opened with one hand</li>
<li>talking kitchen scales for people who are blind or visually impaired</li>
<li>alarm clocks that vibrate under the pillow for deaf and hearing impaired people</li>
<li>kettle tippers for people who have limited arm strength or restricted movement</li>
<li>devices that remind people with memory loss or learning disabilities to do a daily task, for example taking a pill</li>
</ul>
<p>You may have to pay for the equipment yourself. If there’s equipment that’ll meet your needs (as assessed by the local council), you can use your direct payments to pay for or towards it.</p>
<p>The Disabled Peoples Foundation has a large range of factsheets, including a number of factsheets concerning equipment for use about the home.</p>
<h3>Different ways to do everyday things</h3>
<p>Sometimes equipment may not be the best way to meet your needs.</p>
<p>Instead of buying equipment, you may be able to change the way you do everyday things to make them easier. An occupational therapist may be able to suggest ways of doing things that you have not considered.</p>
<div class="prdetails">
</div>
</div>
