<div class="post">
<h1 class="single dotted">Safety In The Home</h1><hr>
<h3>Keeping children safe from poisonous substances</h3>
<p>Every week around 500 children under five are rushed to hospital because it’s thought they have swallowed something poisonous. Find out how putting a few simple measures in place can stop this happening to your child.</p>
<h3>Storing medicines</h3>
<p>Keep medicines well out of reach and out of sight of young children. Put them in a high cupboard, a cupboard fitted with a child-resistant catch, a lockable cabinet, or even a lockable suitcase. Don’t keep them:</p>
<ul>
<li>on your bedside table – your child can easily get into the bedroom without being seen</li>
<li>in your handbag – this is a favourite place for toddlers to find tablets</li>
<li>in the fridge – ‘keep cool’ usually means keep away from direct sunlight or warm places like radiators</li>
</ul>
<p>If a medicine needs to be kept in the fridge it will say so on the box. If it does, keep it as high up and hidden as possible.</p>
<h3>Medicines – general tips</h3>
<ul>
<li>keep the caps closed on medicine bottles and put all medicines away immediately</li>
<li>Remember that while child-resistant caps may slow a child down, they are not child-proof</li>
<li>keep all medicines in their original containers so it is clear what is in them and it is harder for children to open them</li>
<li>take extra care with tablets in see-through packs or brightly coloured tablets – they are especially tempting to children</li>
<li>don’t count out your tablets for the day and then leave them lying around</li>
<li>take your medicine when your child isn’t around so they don’t try to copy you</li>
<li>teach your child about the safe use of medicines and never pretend they are sweets</li>
<li>take left-over medicines to your local chemist for them to throw away safely</li>
<li>keep an eye on your children in other people’s houses as they may not follow the same safety rules as you</li>
</ul>
<h3>Storing household chemicals and products</h3>
<ul>
<li>keep all household chemicals and cleaning products – including detergent tablets for the dishwasher or washing machine – out of sight and in cupboards with child-resistant catches</li>
<li>keep potentially harmful products high up and out of reach – never under the sink or on the floor by the toilet</li>
<li>move products out of reach if you are called away while using them – for example if the phone rings while you are cleaning the toilet</li>
<li>dispose of empty containers safely and out of your child’s reach</li>
</ul>
<h4>Household chemicals and products – general tips</h4>
<ul>
<li>look for products with child-resistant caps but remember this does not make them child-proof – some children as young as three can open them in seconds</li>
<li>remember that detergent capsules come in boxes that aren’t child-resistant</li>
<li>look for products with a bitter agent – this makes them taste horrible and helps stop young children swallowing them</li>
<li>remember that cigarettes, alcohol, perfume, aroma therapy oils and mouthwash can all be poisonous to children</li>
<li>never strip old furniture or paint work when there are young children (or pregnant women) present – the dust may contain lead which is harmful</li>
</ul>
<h3>Storing chemicals outdoors</h3>
<ul>
<li>Keep all chemicals like paint, white spirit, oil, anti-freeze, weed-killers and pesticides high up, out of reach and out of sight</li>
<li>fit a padlock to the cupboard, shed or garage where they are kept</li>
<li>keep all chemicals in their original, labelled containers – do not put them into another bottle or container</li>
</ul>
<h3>Carbon monoxide poisoning</h3>
<p>Carbon monoxide is a poisonous gas which can build up when household appliances that use flames – like boilers, water heaters, stoves or open fires  – are faulty and are not getting enough oxygen to burn efficiently. Carbon monoxide is particularly dangerous as it has no smell, taste or colour, so it is very difficult to know when it is being produced.</p>
<p>You can guard against carbon monoxide poisoning by doing the following:</p>
<ul>
<li>fit carbon monoxide alarms wherever there is a flame-burning appliance</li>
<li>make sure you keep ventilation outlets in your home free from blockages</li>
<li>have your flame-burning appliances regularly serviced by a qualified engineer</li>
</ul>
<h3>First aid</h3>
<p>If you think your child has swallowed a harmful medicine or chemical:</p>
<ul>
<li>get advice immediately from your pharmacist, doctor or accident and emergency department  – or call 0829111</li>
<li>find the bottle or packet and take it with you if you go to the hospital</li>
<li>don’t give your child salt water or anything else to make them sick</li>
<li>don’t give your child anything to drink – just wet their lips with cold water if they are burning</li>
<li>if the child is unconscious or there is burning to the mouth, dial 0829111 immediately to call an ambulance</li>
</ul>
<h3>Keeping children safe from burns and scalds</h3>
<p>Kitchen equipment, cooking and food and drink, are responsible for more than half of all burns and scalds. Follow these safety tips to keep your child out of harm’s way.</p>
<h4>In the kitchen</h4>
<ul>
<li>keep children out of the kitchen, if possible, when you’re cooking</li>
<li>keep children away from the front of the oven – the door can get very hot</li>
<li>use a kettle with a short or curly flex and keep it well back from the edge of the kitchen work top</li>
<li>turn the saucepan handles towards the back of the cooker, and use the back rings where possible</li>
<li>when cooking chips, use an electric deep fat fryer, or use oven chips instead</li>
<li>teach children over the age of seven to use kitchen appliances safely – like the toaster, and microwave</li>
<li>as children get older, they can also be taught to pour safely from the kettle and use the oven</li>
</ul>
<p>When warming babies’ bottles, avoid using the microwave – the milk may heat up unevenly, leaving spots of very hot milk which can scald a baby’s mouth. It is best to use a bottle warmer or a jug of hot water. After warming, shake the bottle well and test the temperature by placing a few drops of milk on the inside of your wrist. It should feel lukewarm, but not hot.</p>
<h4>Hot drinks</h4>
<p>15 minutes after they have been made, hot drinks can still scald young children. To guard against this:</p>
<ul>
<li>never drink tea or coffee while you are holding a baby or young child</li>
<li>keep hot drinks out of reach of babies and toddlers</li>
<li>never pass hot drinks over the heads of babies or children</li>
</ul>
<h4>In the bathroom</h4>
<ul>
<li>when you run a bath, always put cold water in first, then add hot water</li>
<li>to avoid scalds from the hot tap, fit a thermostatic mixing valve (TMV)</li>
<li>if you don’t have a TMV fitted, always put cold water in the bath first, then add hot water</li>
<li>whether you have a TMV or not, always test the bath water with your elbow before bathing your child – the water should feel neither hot or cold</li>
</ul>
<h4>In the bedroom</h4>
<ul>
<li>a hair straightener can get as hot as an iron and can still seriously burn young skin eight minutes after being unplugged</li>
<li>store hair straighteners out of reach of children immediately after use – ideally use the specially designed cool bags provided with certain makes</li>
</ul>
<h4>Outdoors</h4>
<ul>
<li>keep children away from barbeques – even after you’ve finished using them</li>
<li>do not let your children near bonfires, fireworks or garden candles</li>
</ul>
<h3>If your child has a burn or a scald</h3>
<ol>
<li>flood the injured area immediately with cool water for 10 to 15 minutes</li>
<li>once the burn has cooled, remove clothing from the injured area</li>
<li>if material is sticking to the skin, don’t try to remove it – this needs to be done by a medical professional</li>
<li>if the burn or scald starts to hurt again – flood again with cool water</li>
<li>don’t touch the injured area or burst any blisters – this can cause infection</li>
<li>if possible, remove rings, watches etc from the injured area as it may swell</li>
<li>loosely cover the burn or scald with non-fluffy material to stop infection – cling film is ideal but don’t wrap it around, just lay it loosely on top</li>
<li>don’t put any creams, ointments, grease, antiseptic spray or plasters on the injury</li>
</ol>
<p>If the burn or scald involves the face, hands, feet, joints or genitals, it should be seen by a doctor. Any burn or scald larger than a postage stamp should also be seen by doctor.</p>
<h3>Guarding children against trips and falls</h3>
<p>Every year over 390,000 children under the age of 15 are taken to hospital with injuries resulting from a fall at home or in the garden.  Although most falls are not serious, some can lead to injuries with long-term consequences. Putting the following safety checks in place can help your child avoid a serious injury.</p>
<h3>In the home – general safety tips</h3>
<ul>
<li>bunk and cabin beds are not suitable for children under six – if you do have bunk or cabin beds teach your child never to play on the top bunk</li>
<li>use safety glass in glass doors and windows or cover the panes with safety film or cardboard – this will stop children being seriously cut if they trip or fall into the glass</li>
</ul>
<h3>Stairs and banisters</h3>
<ul>
<li>when your baby starts crawling, fit safety gates to stop them climbing up or falling down stairs</li>
<li>accidents happen when young children climb over or through banisters – if gaps are more than 6.5 cm (2.5 inches), cover the gaps with boards or safety netting</li>
<li>board up any gaps in horizontal rails as they are easy to climb</li>
<li>make sure that stairs are free from clutter like toys or clothes</li>
<li>encourage older children not to play on stairs or run up and down them</li>
</ul>
<h3>Windows</h3>
<ul>
<li>fit window locks or safety catches to stop windows opening more than 6.5 cm (2.5 inches) – this should stop children being able to squeeze through</li>
<li>move furniture like beds and chairs away from windows to stop children climbing up and falling out</li>
</ul>
<h3>Balconies</h3>
<ul>
<li>keep younger children away from balconies unless you are with them</li>
<li>keep balcony doors locked when not in use</li>
<li>to make sure children are safe, there should be a barrier at least 110 cm (43 inches) high around the edge of the balcony</li>
<li>if the gaps between the upright railings on a balcony are more than 6.5 cm (2.5 inches), board them up</li>
</ul>
<h3>Outside</h3>
<ul>
<li>encourage children not to climb on roofs or other high areas like sheds and fences</li>
<li>if you allow your child to play in trees, make sure the branches are pruned to stop them climbing higher than you could easily get them down</li>
<li>put play equipment (like swings, slides etc) over something soft like well-watered grass or a mat – never over paving, tarmac or concrete</li>
<li>if play equipment in playgrounds is old or damaged – or is not over a soft surface, avoid using it</li>
<li>encourage children to wear a properly fitting cycle helmet whenever they ride a bike – both on and off the road</li>
</ul>
<h3>Babies</h3>
<p>Although babies have limited mobility, they can still wriggle, kick or roll themselves into dangerous situations. Follow these tips to help keep them out of harm’s way:</p>
<ul>
<li>don’t leave a baby unattended on any raised service</li>
<li>always change a baby on the floor to reduce the risk of falling</li>
<li>if your baby is in a car seat or a bouncing cradle, put it on the floor, not on a high surface</li>
<li>remove large cot toys from a baby’s cot once they can sit up or get on all fours, as babies can use toys to climb out of the cot</li>
<li>if you carry a baby down stairs, always keep one hand free to use the hand rail – in case you slip or lose your balance</li>
<li>never allow a toddler to carry a baby down stairs</li>
<li>when securing a baby in a high chair, pram or pushchair, always use a five point harness (two shoulder straps, two hip straps and a crotch strap)</li>
<li>if you are buying a harness separately, look for one made to British Standard 6684</li>
<li>only use baby walkers to South African Standards – baby walkers with older standards are less safe</li>
<li>never leave a baby alone in a baby walker</li>
</ul>
<h3>Leaving children at home alone</h3>
<p>There is no legal age limit for leaving a child on their own, but it is an offence to leave a child alone if it places them at risk. Parents can be prosecuted if they leave a child unsupervised ‘in a manner likely to cause unnecessary suffering or injury to health’ (Children and Young Person’s Act).</p>
<div class="prdetails">
</div>
</div>
