<div class="post">
<h1 class="single dotted">Jobseekers</h1><hr>
<h3>Planning your job hunting</h3>
<p>To find the job you want you need to look at your skills and the type of job you want to do. You then need to plan how you will go about looking for it.</p>
<h3>What you have to offer</h3>
<p>Start by asking yourself honestly what skills and experience you have. Think about the skills you have developed in the jobs you have had before, and in your life outside of work.</p>
<h3>Employment skills and experience</h3>
<p>Ask yourself the following questions to think about skills you have developed, including those built up in jobs you have had before:</p>
<ul>
<li>have you developed any skills that will be useful in the job you’re looking for?</li>
<li>have you worked as part of a team?</li>
<li>did you need to share information with others?</li>
<li>did you follow or give instructions well?</li>
<li>are you a good timekeeper?</li>
<li>do you have IT skills?</li>
<li>did you get any qualifications?</li>
<li>were you praised for any part of your role?</li>
</ul>
<h3>Personal and social skills</h3>
<p>Ask yourself the following questions about life outside work:</p>
<ul>
<li>do you get on well with people?</li>
<li>are you on a local committee or a member of a community organization?</li>
<li>are you part of a team, (for example, a sports or quiz team)?</li>
<li>do you have skills from caring for your family, (for example, organizational skills)?</li>
<li>have you done any voluntary work?</li>
<li>have you been to any evening classes or training?</li>
</ul>
<h3>Writing a CV</h3>
<p>A CV (curriculum vitae) is a short list of facts about you and your work history, skills and experience. A good CV is essential when looking for work and it is worth spending time getting it right so it sells you to an employer.</p>
<h3>What is your CV?</h3>
<p>Your CV should:</p>
<ul>
<li>be neat, typed if possible and to the best standard you can achieve in content and layout</li>
<li>be short, two sides of a sheet of A4 paper is normally enough</li>
<li>be positive, it should emphasize your achievements, strengths, successes and how you have contributed to your employers making a profit (add figures to support facts whenever you can and use positive action words, for example: ‘consulting’, ‘negotiating’, ‘managing’ and so on)</li>
<li>make a good impression, this means presenting the facts about yourself in a clear and positive way</li>
</ul>
<h3>How to use your CV</h3>
<li>Applying to companies to see if they have any vacancies</li>
<p>You can send your CV with a covering letter or email asking if they have any current or future vacancies in your trade. You can find names and addresses of companies in newspapers or in trade or telephone directories.</p>
<li>To remind you what you’ve done</li>
<p>You can use your CV to help you remember all the dates and information each time you have to fill in a different application form.</p>
<li>To help with applications by phone</li>
<p>Having your CV handy when applying for jobs by phone can help if you are asked to give more information about previous jobs. If you use textphone or Typetalk, having a copy of your CV can cut down the time you spend making a call.</p>
<li>At interviews</li>
<p>Having your CV with you while you’re waiting to be called in can help you refresh your memory. It is also handy to leave a copy with the interviewer if they do not already have one.</p>
<li>Registering with recruitment agencies</li>
<p>Agencies may sometimes ask to see your CV before you can register with them.</p>
<h3>What to include</h3>
<p>There is no set format. How you present your CV is up to you. However, you should include at least the following:</p>
<ul>
<li>your name</li>
<li>your address</li>
<li>your phone number</li>
<li>your email address (if you have one)</li>
<li>your career history</li>
</ul>
<p>Put your most recent job first and include dates. Employers will be more interested in what you have done recently. Don’t leave gaps between dates, because employers will want to know what you did during those periods.</p>
<p>If you don’t have much work experience, you could include temporary, holiday, part-time or voluntary jobs too. If you’ve had many different jobs, emphasize the skills and experience you have across those jobs (for example, dealing with customers or communication skills).</p>
<h3>You don’t need to include your date of birth</h3>
<p>New laws on age discrimination mean that you do not need to put your date of birth, or your age, on your CV.</p>
<p>Here are some examples you may want to include:</p>
<li>A personal profile</li>
<p>This is a short statement at the beginning of your CV to sell yourself, to show your skills, experience and personal qualities. You could include positive words such as ‘competent’, ‘adaptable’, and ‘conscientious’. </p>
<p>Tailor the statement to the requirements of each job that you apply for. Make it clear to the employer that you’re the right person for the job.</p>
<li>Achievements</li>
<p>Mention things you did well in your past jobs which could be relevant to the job you’re applying for.</p>
<li>Qualifications and training</li>
<p>Include any qualifications and training from previous jobs (for example, training in health and safety or a certificate in food hygiene). Put the most recent first, and include qualifications you got from school or college.</p>
<li>Interests</li>
<p>These can support your application if your hobbies and leisure activities highlight responsibilities and skills that are relevant to the job you’re applying for. Perhaps you belong to a club or society which you organize activities for, or you use leadership skills or teamwork as part of the activity.</p>
<li>Other information</li>
<p>It is up to you whether to include this, but it can be helpful if there are gaps in your CV. If you had a career break because you were caring for children or elderly relatives, make this a positive thing. Think about the skills you used doing this. If the job you’re applying for is different from what you’ve done in the past, explain why you’re interested in the new type of work.</p>
<h3>References</h3>
<p>It’s good to have two or more people who can provide a work or personal reference. Ideally, one should be your most recent employer. If you haven’t worked for a while it could be someone who has known you for a long time. It should be someone who can comment on your qualities in relation to the job. You should ask the person to agree to this beforehand.</p>
<p>Ask a friend or relative to read through your CV to make sure it’s accurate and shows your skills in a positive way.</p>
<div class="prdetails">
</div>
</div>
