<div class="post">
<h1 class="single dotted">Learners &amp; New Drivers</h1><hr>
<h3>Learning to drive or ride</h3>
<h3>Applying for a learners driver license</h3>
<p>Before you can learn to drive a car, moped or motorcycle you must apply for a learners driver license. If you already hold a valid full driving licence and want to learn to drive larger vehicles, minibuses or buses you will need to apply for a learners driver license for these vehicles. A learners driver license is the theories based test to ensure that you fully understand the code of driving a vehicle on public roads.</p>
<h3>Minimum ages and rules for learner drivers and riders</h3>
<p>Before you learn to drive or ride a new vehicle make sure you know about the rules and restrictions that apply to you. Different vehicles have different minimum ages and restrictions.</p>
<h3>Choosing a driving or riding instructor</h3>
<p>If you are paying someone to teach you to drive or ride, they must be approved and registered with the relevant authorities. Find out the different ways of finding and choosing a driving or riding instructor. Ask a friend or a colleague for a referral or refer to the telephone directory service.</p>
<h3>Driving test fees</h3>
<p>When you book your theory or practical driving test direct with the Testing Station, you only pay the cost of the test. There is no extra administration or booking fees. Find out how much your theory or practical driving test will cost.</p>
<h3>The vehicles you can drive or ride and minimum ages</h3>
<p>The tables below show what you can drive or ride, and at what age.</p>
<ul>
<li>Motorcycles – 16years</li>
<li>Four wheeled light vehicles – 18years</li>
<li>Cars or light vans, with or without trailers – 18years</li>
<li>Medium sized vehicles with or without trailers – 18years</li>
<li>Large vehicles, with or without trailers – 18years</li>
<li>Minibuses, with or without trailers – 18years</li>
<li>Buses, with or without trailers – 18years</li>
</ul>
<h3>Driving eyesight requirements</h3>
<p>Before you start to learn to drive, make sure you are aware of the eyesight requirements. If you need to wear glasses or corrective lenses to meet the requirements you must wear them every time you drive.</p>
<h3>Planning and recording how you learn to drive</h3>
<p>Research shows that learners who have a combination of professional instruction and private practice do better at the driving test. On average, those who pass have had 30 hours of professional instruction and 20 hours of private practice. Find out how to use a driver’s record to plan your learning.</p>
<div class="prdetails">
</div>
</div>
