<div class="post">
<h1 class="single dotted">Managing Debt</h1><hr>
<h3>Dealing with debt problems – a guide</h3>
<p>If you’re in debt and finding it hard to cope, it’s important to deal with the problem straight away – the longer you ignore your debts, the worse the situation becomes. Find out what you can do about your debt problem and where to get free help and advice.</p>
<h3>Basic steps to help you deal with a debt</h3>
<h3>Dealing with debt</h3>
<p>The basic steps to help you deal with a debt problem are shown below. However, you should get independent advice to help you find the best way to deal with your debt problem. You can get free and independent advice from organizations like Financial Advisors and the National Debt Counselling line.</p>
<h3>Step one – make a list of everything you owe</h3>
<p>You should sort out exactly what you owe and who you owe it to. The people you owe money to are known as your creditors. If you owe money, you are known as a debtor.</p>
<h3>Step two – put your debts in order of importance</h3>
<p>The most important debts are known as ‘priority debts’ and they aren’t always the biggest ones. Priority debts are ones where serious action can be taken against you if you don’t pay what you owe. For example, you could lose your home, be disconnected from a service or even go to prison.</p>
<p>Priority debts usually include things like:</p>
<ul>
<li>bond repayments</li>
<li>secured loans</li>
<li>rent</li>
<li>utility bills</li>
<li>taxes</li>
<li>court fines</li>
</ul>
<p>You need to sort out payments on your priority debts first, Non-priority debts include things like:</p>
<ul>
<li>credit card and store card payments</li>
<li>bank loans</li>
<li>overdrafts</li>
<li>home-collected credit – like a Provident loan where the agent collects payments weekly</li>
<li>catalogue repayments</li>
<li>money you’ve borrowed from family or friends</li>
</ul>
<p>You can’t ignore these, but you don’t need to deal with them as a first priority.</p>
<h3>Step three – work out a personal budget</h3>
<p>Work out a weekly or monthly budget to see what your income and expenses are, it can also show you where you can save money. A budget will help you decide what you can reasonably afford to repay your creditors, so it’s important to be realistic.</p>
<h3>Step four – get advice on the different ways to deal with your debts</h3>
<p>There are lots of options for dealing with debts. For example, arrangements you can make with your creditors or more formal ones that debt specialists can organize for you. There are sometimes extra costs involved and conditions you have to agree to.</p>
<h3>It’s important you get independent advice to help you find the best way to deal with your debts.</h3>
<p>Make sure you deal with your priority creditors first</p>
<h3>Step five – talk to your creditors</h3>
<p>Once you know what you can afford to repay, talk to your creditors about your situation and what you’re going to do about it. A debt adviser can do this for you, and some will do this for free.</p>
<p>Be realistic about what you can afford to repay and don’t assume you’ll be able to pay back more in the future. It’s important to follow up a phone call with a letter confirming what has been agreed.</p>
<h3>Using mediation to help you deal with your debts</h3>
<p>If you can’t come to an agreement with your creditors, or need help talking to them, you can get help from a mediation service.</p>
<p>In mediation, someone from a mediation service helps two sides work out an agreement.</p>
<h3>Budgeting</h3>
<p>Find out how a personal budget will help you make the most of your money and avoid over-commitment. It will also help you plan for the future and negotiate with any people you owe money to.</p>
<h3>Advantages of a budget</h3>
<p>With an accurate budget, you’ll be able to cut out unnecessary expenses and save money, or stop running up big debts. If you already have debt problems, a budget will show you how much spare cash you have. This will help when you talk to your creditors (those you owe money to). You’ll be able to make realistic offers to pay them back over a period of time.</p>
<h3>Working out your personal budget</h3>
<p>A budget planner has headings for different kinds of income and spending, under which you can enter your own figures. You’ll find several budget calculators on the internet; choose the one that suits you best.</p>
<h3>Outgoings</h3>
<p>Start by working out what you spend: check recent bank statements, and bills for fuel, electricity, telephone, water, rates, insurance and similar expenses. Don’t forget to include anything you pay by standing order or Direct Debit (such as bond or rent payments, loan/hire purchase repayments or child maintenance).</p>
<p>The next step is to estimate what you spend on everyday items (for example, food, clothes, petrol, pet food and newspapers).</p>
<p>Finally, include estimated amounts for unexpected and occasional costs (such as Christmas and birthday presents, car and household repairs, dentist and optician bills or holidays and outings).</p>
<p>Work out the total outgoings for a full year and divide by 52 or 12 to get a figure for each week or month.</p>
<h3>Income</h3>
<p>Next list all of your income:</p>
<ul>
<li>check your salary slips to get an accurate figure for wages</li>
<li>look at statements for benefits and other similar income</li>
<li>include rent from tenants or contributions from other people</li>
</ul>
<p>You should average out any irregular income and ignore one-off or uncertain amounts, work out your total income for a week or a month, then take away the expenditure to work out whether you have any spare money, or whether you’re over-committed.</p>
<h3>If you have a shortfall</h3>
<p>If your expenditure is higher than your income, you will have to prioritize your spending and cut back on commitments you can’t afford. Make sure you can cover your essential household bills and housekeeping first.</p>
<p>If you complete your budget and find that you have no money left, you may need to remove the payments for unsecured credit or ‘non-priority’ debts. These include credit cards, bank loans and overdrafts, catalogues, and finance company loans. You need to think about reducing these payments.</p>
<p>Think about:</p>
<ul>
<li>shopping around (especially for ongoing commitments such as fuel, electric and telephone costs)</li>
<li>cutting everything down to the bare essentials in the short term</li>
<li>dealing with debts immediately – it is very important to pay your priority debts first and then deal with unsecured credit debts</li>
</ul>
<p>At the same time, it’s important to make sure you’re getting as much income as possible:</p>
<ul>
<li>find out if you can get additional benefits or tax refunds</li>
<li>make sure that everyone who lives with you and earns money is paying their share</li>
</ul>
<h3>When you start having money to spare</h3>
<p>Budgeting is all about making sure that you have money left over after paying all your bills. You may want to think about putting spare money into a savings account to pay for unexpected expenses, or towards a major expense (such as a holiday or a new car). If it’s a reasonably large amount, it’s a good idea to invest it so the money grows.</p>
<p>Shop around before choosing a savings or investment product to make sure you’re getting the best deal. You may also want to take professional advice before you make a decision.</p>
<h3>Keeping track of your budget</h3>
<p>A budget is only an estimate of what your income might be, and what you’re likely to spend. It’s important to keep track of your actual income and expenses to make sure your budget is accurate.</p>
<p>It’s a good idea to keep a notebook with you and, for the first couple of months, note everything you spend. You’ll be able to change your budget to make it more accurate, and you may get some ideas of where to save money. It’s also a good idea to review your budget on a regular basis, to take into account big changes in your circumstances (for example, a new job).</p>
<h3>Avoiding over-commitment</h3>
<p>Accounts are a fact of life; they only become a problem when your income can no longer meet the invoices coming in. This is known as over-commitment. By careful budgeting, planning and being realistic about what you can afford – you can avoid debt problems and make the most of your income</p>
<h3>Over-commitment</h3>
<p>It is easy to become over-committed. Every time you sign up for a new service (such as cable TV or a mobile phone contract), buy something on hire purchase or add to a credit card debt, you increase your monthly commitments.</p>
<p>Before you sign up for a new service or a new credit commitment, make sure you can afford the payments. Create a budget sheet and keep it up to date, thinking about how you would make the payments if your income dropped.</p>
<h3>Changes in circumstance</h3>
<p>Another reason for over-commitment may be a change in personal circumstances that leads to a drop in income – for example, if you:</p>
<ul>
<li>lost your job</li>
<li>became ill or had an accident that meant you had to stop work</li>
<li>separated from your partner</li>
</ul>
<p>Any of these events could cause a drop in income and mean that you have to change your spending priorities. If something unexpected does happen, it’s important to review your budget as soon as you can.</p>
<p>You should also check if you can increase your income through benefits or tax returns.</p>
<h3>Budgeting</h3>
<p>A personal budget can help you to plan ahead and make the most of your money. You’ll need to:</p>
<ul>
<li>identify your commitments – for example, bond, rent or household payments</li>
<li>work out how much they cost</li>
<li>work out where the money comes from to pay for them</li>
<li>look at ways of reducing your spending – for example, you may be able to get better deals on your gas and electricity and your insurance</li>
<li>spread the cost by paying via Direct Debit – there are usually easy payment schemes for most regular accounts such as TV licenses and water rates</li>
<li>stop paying for items that are no longer necessary</li>
</ul>
<p>It’s important to review your budget regularly, because your circumstances are likely to change.</p>
<h3>Priorities and plans</h3>
<p>By working out a budget you’ll know how much money you have for essential living expenses (such as household expenses, rent or bond and food) and how much you can afford to commit to other plans (such as buying a car, taking out a bond, going on holiday or saving for the future).</p>
<p>By prioritizing your commitments you can make sure your basic needs are met and then you can decide what else you can afford, and what you may have to save for or do without.</p>
<h3>Get the most from your money</h3>
<p>By shopping around and negotiating – not just for goods and services but also for financial products such as loans and credit cards – you can make your money go further.</p>
<h3>What to do if you’re over-committed</h3>
<p>If you are over-committed and have a debt problem, don’t ignore the situation.</p>
<p>Signs you may have a problem include:</p>
<ul>
<li>having rent or bond arrears</li>
<li>taking out new loans to pay off old ones</li>
<li>only paying the minimum amount on your credit card</li>
<li>going over your agreed overdraft limit at the bank</li>
<li>using a credit card for day-to-day purchases</li>
<li>ignoring letters from creditors</li>
</ul>
<p>By listing and prioritizing your debts, budgeting and talking to your creditors you can get the situation in hand.</p>
<h3>Debt – where to get free help and advice</h3>
<p>If you have a debt problem, there are many organizations offering free and independent debt advice over the telephone or face to face. They can help you work out the best way to deal with your debts and answer any questions you have.</p>
<h3>Getting debt advice</h3>
<p>Many organizations provide debt advice or act for you in negotiations with your creditors (people you owe money to). For example, they can find the best way for you to deal with your debts and set up an arrangement with your creditors</p>
<p>Not all debt advice is free and some organizations may charge a fee. This fee can be for helping you and/or managing any arrangements they set up with your creditors. You should check if there are any fees and how and when you might have to pay them.</p>
<div class="prdetails">
</div>
</div>
