<div class="post">
<h1 class="single dotted">Medical Checks &amp; Support</h1><hr>
<h3>Guide to medical checks and support</h3>
<p>Regular medical checks are available to help you to spot any potential medical problems. Some health services may be available to you for free or at a concessionary rate – such as sight tests, dental care, prescriptions and immunizations. Support is also available for instances of elder abuse.</p>
<h3>Medical checks and staying healthy</h3>
<p>Certain health conditions become more common with age. Having routine medical tests is a good way to spot any potential problems and give you the best chance to age and live healthily.</p>
<h3>Recognize and report elder abuse</h3>
<p>Elder abuse is the violation of an elderly individual’s human and civil rights by any person. If you are concerned that you might be at risk, or are worried about a friend, relative or client, there are ways to help.</p>
<h3>Flu jabs and immunization</h3>
<p>As you get older, you might find an illness like flu harder to shake off. You can protect yourself by taking advantage of free immunization schemes for flu and other highly infectious diseases.</p>
<h3>Free prescriptions and sight tests</h3>
<p>If you are over 60, you are entitled to free prescriptions and sight tests. Over 50s can also get free sight tests if certain conditions are met.</p>
<h3>Sight care and services if you are disabled</h3>
<p>You may be entitled to free NHS sight tests and other vision-related services. If you are housebound, you can arrange to have a home visit from an optometrist or optician.</p>
<h3>Hearing care and services</h3>
<p>If you are experiencing problems with your hearing, contact your local doctor or social services office to find out about the range of services available. You can also contact your hearing aid centre to find a hearing therapist.</p>
<h3>Standards in healthcare, social care and housing services</h3>
<p>If you use health, social care or housing services there are standards which need to be met.</p>
<h3>Dental care for disabled people</h3>
<p>If you are disabled or have a severe medical condition it may be hard to visit a dental surgery. There are options available to ensure that you have full access to dental care and treatment.</p>
<h3>Help with health costs</h3>
<p>Most treatment on the Government System is free, although there can be charges for some things. Depending on your circumstances, you might get help with the cost of some treatment, services and items.</p>
<h3>Recognize and report elder abuse</h3>
<p>Elder abuse includes many different kinds of harm to older people. It includes intending to harm, harming without intent and the neglect that leads to harm. If you’re concerned that you might be at risk, or are worried about a friend, relative or client, there are ways to help.</p>
<h3>Who is most vulnerable?</h3>
<p>People who are physically, emotionally or psychologically frail and dependent on others for care are most at risk of elder abuse.</p>
<p>Abuse and neglect can happen in the home, as well as in care homes, nursing homes and hospitals. It can involve care workers, family, neighbours, friends or strangers.</p>
<p>People most at risk at home include:</p>
<ul>
<li>the socially isolated</li>
<li>anyone with an illness that affects memory or ability to communicate</li>
<li>those in a poor relationship with their carer</li>
<li>those who provide housing, financial or emotional support to their career</li>
<li>those who depend on a carer who has drug or alcohol problems</li>
</ul>
<p>If you are experiencing harm through abuse or neglect, or are worried about a friend, relative or client, there are ways to help. You can go to a social worker, GP or police officer in complete confidence.</p>
<h3>How to recognize elder abuse</h3>
<p>Elder abuse may happen once or regularly over short or long periods of time.</p>
<p>The abuse can be</p>
<ul>
<li>physical – hitting, slapping, pushing, kicking, inappropriate restraint, misuse of medication, inadequate monitoring of prescriptions</li>
<li>psychological – emotional abuse, threats of harm, threats of leaving or stopping care, lack of human contact, or stopping access to people who can advise or help</li>
<li>sexual – all unwanted sexual acts</li>
<li>financial or material, including theft from the abused person, fraud, or coercion regarding wills and any financial transactions</li>
<li>neglectful or just not doing something, for example ensuring that the person is eating or is warm and clean</li>
<li>discriminatory – racist, sexist, exploiting a disability or other forms of harassment or slurs</li>
</ul>
<p>There are some tell-tale signs to look for:</p>
<ul>
<li>unexplained bruising, fractures, open wounds and welts, and untreated injuries</li>
<li>poor general hygiene and weight loss</li>
<li>helplessness and fear – or any sudden change in behaviour</li>
<li>unexplained changes in a person’s finances and material well-being</li>
<li>questionable financial or legal documents, or the disappearance of those documents</li>
</ul>
<h3>Reporting to the police</h3>
<p>Some types of abuse – including assault (sexual or physical), theft and fraud – are criminal offences and should be reported to the police. This may lead to prosecution following a criminal investigation.</p>
<p>You may feel too afraid to report abuse, especially if your care giver is the abuser. But you are entitled to the protection of the law and to dignity and respect. Anyone concerned about a friend, relative or care giver who is being abused needs to take action to prevent further abuse and protect others.</p>
<h3>Reporting elder abuse to social services</h3>
<p>Local councils have social workers specifically to deal with abuse or risk of abuse. If you want to speak to someone, you can phone your local council and ask for the Adult Protection or Welfare Department.</p>
<p>The Welfare Department will help you with advice and information. They will ensure action is taken to give people at risk of abuse appropriate protection and support. They can provide a co-coordinating role and investigate what you are concerned about, in discussion with local police etc.</p>
<h3>Medical checks and staying healthy</h3>
<p>With age, certain health conditions become more common. Routine medical testing is a good way to spot any potential problems and give you the best chance to live and age healthily.</p>
<h3>What is medical testing?</h3>
<p>You’ve probably had a blood or urine test at some point. Doctors use medical tests like these to learn more about your health. The results can reassure you that all’s well or identify problems that require treatment.</p>
<h3>Checklist of vital health tests</h3>
<p>As you get older, it’s advisable to consider having regular tests for:</p>
<ul>
<li>cholesterol levels</li>
<li>blood pressure</li>
<li>susceptibility to diabetes</li>
<li>eyesight</li>
<li>hearing</li>
</ul>
<h3>Where you can have them done</h3>
<p>You’d usually be tested at your doctor’s surgery. From there, your doctor might refer you to a specialist. Sometimes, you can do home testing.</p>
<h3>Testing for cholesterol</h3>
<p>You’re most at risk of high cholesterol if you’re a man over 45 or a woman over 55.</p>
<p>High cholesterol contributes to heart disease, especially if you have high blood pressure, smoke, eat a high fat diet or are physically inactive.</p>
<p>The test for high levels of cholesterol is a simple blood test, drawn from a vein in your arm or finger.</p>
<p>Your cholesterol levels change with time. So it’s useful to have at least two different tests, several weeks or months apart, before beginning any kind of treatment.</p>
<h3>Testing your blood pressure</h3>
<p>Your blood pressure tends to rise with age. If you have high blood pressure, also known as hypertension, you are more at risk of a stroke, heart disease or kidney failure.</p>
<p>Blood pressure needs to be checked regularly. It also has to be re-checked at different times to get an accurate reading.</p>
<h3>Testing for diabetes</h3>
<p>Up to one million people may have diabetes without knowing it, and many don’t find out until their 50s. It is a serious health condition that’s much more common with age.</p>
<p>Testing involves taking a sample of your urine to see if it contains glucose. You may have to have a blood test to confirm any diagnosis.</p>
<p>Having diabetes puts you at greater risk of strokes, heart disease, nerve, eye and kidney problems, yet in most cases diabetes can be avoided. Testing for it is a first step.</p>
<p>Diabetes testing is advisable once you’re over 40, especially if you’re overweight, or have a family history of the disease.</p>
<h3>Eyesight tests</h3>
<p>You can have good sight into your 80s and 90s if you look after your eyes. You are entitled to a free sight test if you are over 60.</p>
<p>If you’re over 50, you can have a free sight test if you:</p>
<ul>
<li>need complex lenses</li>
<li>are registered blind or partially sighted</li>
<li>have diabetes</li>
<li>have or are at risk of glaucoma</li>
<li>An eye test is not just a test for glasses. It’s important for your general health and to spot diseases of the eye that are more common as you age. E.g. macular degeneration, cataracts and glaucoma.</li>
<h3>Detecting hearing loss</h3>
<p>Everyone loses some hearing ability with age. Age-related hearing loss, or presbycusis, affects more than half of all people over 60. It’s the second most common cause of disability as you age.</p>
<p>If you are worried about hearing loss, your doctor can examine your ears and do some simple tests, like asking what sounds you can hear. You’ll also need to explain why you think your hearing is not as good as it used to be.</p>
<p>If your doctor thinks you might have hearing loss, you may be referred to an audiology clinic or Ear, Nose and Throat (ENT) department.</p>
<div class="prdetails">
</div>
</ul>
</div>
