<div class="post">
<h1 class="single dotted">Mobile Homes &amp; Houseboats</h1><hr>
<h3>Houseboats</h3>
<p>What issues do you need to consider before deciding to live on a boat?</p>
<p>Living on a boat won’t always be the ideal world you expect. Although generally less expensive than living in a house, there are many costs and pitfalls that you might not have considered. You will need to think about:</p>
<ul>
<li>buying the right boat</li>
<li>finding somewhere to park it</li>
<li>getting a license and insurance</li>
<li>boat maintenance and repairs</li>
<li>utilities and heating costs</li>
</ul>
<h3>Owning a park home – your rights and obligations</h3>
<p>If you own a park home (also known as a static caravan or mobile home), you have certain rights and obligations that come from the law. Find out what your legal rights and obligations are and get information on rules the park owner can make.</p>
<h3>Park homes – repairs, improvements and utilities</h3>
<p>If you own a park home (also known as a static caravan or mobile home), you must keep it in good condition. The park owner must also make repairs and meet the conditions of their license. Find out what the obligations are for making repairs and improvements and get information on utility charges.</p>
<h3>Keeping your home in good condition – your obligations</h3>
<p>As a resident, you must repair your home when necessary so it stays in good condition. You must keep the outside of your home and pitch clean and tidy, including any fences or outbuildings on your pitch, like a shed.</p>
<h3>Repairs and services – the park owner’s obligations</h3>
<p>Park owners must keep areas of the park which the resident is not responsible for (e.g. common areas like recreation rooms) in good condition.</p>
<p>Park owners are responsible for repairing the area where your home sits (the ‘base’) if necessary. They must also maintain any services which they supply to your home or the pitch (for example, sewerage).</p>
<h3>If the park owner wants to make park improvements</h3>
<p>If the park owner plans to make improvements to the park, they must ask each resident. When the park owner asks you about improvements they plan to make, they must:</p>
<ul>
<li>give you at least 28 days notice in writing</li>
<li>explain how it will change the park</li>
<li>tell you if it will affect your pitch fee</li>
<li>let you know how you can comment on the proposed improvements</li>
</ul>
<h3>Conditions of the park and licensing</h3>
<p>If the mobile home where you live is privately owned (e.g. not run by the council), it must have a license from the local authority. The park owner must display the license where residents can see it.</p>
<p>A license will usually have certain conditions for:</p>
<ul>
<li>how many homes can be in the mobile home park</li>
<li>landscaping – like planting trees</li>
<li>fire precautions – for example having fire extinguishers available</li>
<li>health and safety</li>
</ul>
<p>The park owner must meet the conditions in the license. If you have a complaint about the conditions in the mobile home park where you live, you should talk to the park owner first. Once you’ve talked to the park owner, if you still have a complaint, you should contact your local council.</p>
<div class="prdetails">
</div>
</div>
