<div class="post">
<h1 class="single dotted">Mortgage’s &amp; Repossession</h1><hr>
<h3>What you can do to avoid repossession – a guide</h3>
<p>There are several things you can do to make sure your home isn’t repossessed. It’s never too late to get advice, so don’t walk away or hand over your keys to your financial provider. Find out how to get help to keep your home if you are facing repossession.</p>
<h3>Talk to your financial provider about your situation</h3>
<p>Speak to your financial provider as soon as you think you have a problem making your mortgage repayments.</p>
<p>Put together a simple action plan to help you keep your home</p>
<h3>Your financial provider will treat you fairly</h3>
<p>Generally, financial providers are willing to talk about your situation and help you find a solution. There is a set of conditions called the ‘pre-action protocol’, which your financial provider must fulfill to give you every chance to keep your home. If your case goes to court, you and your financial provider have to prove you have followed the pre-action protocol to the judge.</p>
<p>Your financial provider must:</p>
<ul>
<li>tell you how much you owe and any interest charges you’ll have to pay</li>
<li>consider a request from you to change the way you pay your bond</li>
<li>respond to any offer of payment you make</li>
<li>give you their reasons for turning down your offer of payment within ten working days</li>
<li>give you 15 working days’ written warning if they plan to start court action because you haven’t kept to a repayment agreement</li>
</ul>
<h3>How your financial provider can help</h3>
<p>To help you manage your repayments, your lender may:</p>
<ul>
<li>agree to change or lengthen the term of your loan</li>
<li>accept reduced payments from you in the short term</li>
<li>add any repayment debt to the amount you have borrowed</li>
</ul>
<p>You need to:</p>
<ul>
<li>show you are willing to make repayments you can afford</li>
<li>pay what you can, when you can, if you can’t afford the full payments at the moment</li>
<li>get a written copy of any repayment arrangement you make with your financial provider</li>
<li>Keep in regular contact with your financial provider and let them know about any changes in your circumstances</li>
</ul>
<h3>Seek free and independent financial advice</h3>
<p>Speak to an adviser immediately if you can’t reach a repayment agreement with your financial provider or can’t pay at all</p>
<p>A trained money adviser from an independent agency can give you free and impartial advice about:</p>
<ul>
<li>talking to your financial provider</li>
<li>managing your debt</li>
<li>creating a budget</li>
<li>any government-backed schemes you may be eligible for, like Housing Subsidies</li>
<li>any other benefits or financial help you may qualify for</li>
</ul>
<h3>Considering selling your home</h3>
<p>If you are very behind with your mortgage repayments, in order to avoid repossession, you may want to consider selling your home. You can do this independently or in some cases with help from your financial provider. This could result in you getting a better price for your property than if it were repossessed.</p>
<p>If you decide to sell your property, you should discuss the matter with your financial provider first. They may offer some assistance. This is where you put your property up for sale with the involvement of your financial provider. Sometimes they can help with some of the costs of the sale or move.</p>
<p>You should always get advice from an independent financial adviser to discuss what is right for you.</p>
<p>You should also get legal advice on how a decision to sell your house might affect your legal rights, in case you need assistance from your local authority.</p>
<h3>Read any letters you receive from your lender</h3>
<p>If you have fallen behind with your bond payments, your financial provider will send you a letter called a ‘notice of default’. Make sure you read this letter – it will give information about how much you owe and any action your financial provider plans to take.</p>
<p>You need to:</p>
<ul>
<li>speak to your financial provider straight away – you could still reach an agreement with your financial provider at this stage</li>
<li>get help from an independent adviser – take the letter with you</li>
<li>Your financial provider can start legal action to repossess your home if you don’t respond to the letter or can’t reach a repayment agreement. Even at this stage you can still get help to avoid repossession.</li>
</ul>
<h3>Get ready for the hearing, if you have a court date</h3>
<p>Repossession doesn’t happen automatically. Even if you have been given a date to attend court, you can still get help to keep your home.</p>
<h3>Go to your court hearing</h3>
<p>It is vital that you go to your court hearing. It’s your opportunity to explain your situation to the judge. If you don’t go, it’s much more likely the judge will decide you have lost the right to keep your home.</p>
<h3>What to do if your bond provider takes you to court</h3>
<p>Find out how you know your bond provider is taking you to court, and how repossession of your home can be postponed. Also find out about preparing to go to court, and what happens on the day.</p>
<h3>Falling behind with bond payments</h3>
<p>Your financial provider may take you to court if you haven’t come to, or don’t keep, an agreement to pay off your bond arrears. Before your financial provider begins court action, they will send you a letter called a ‘notice of default’ saying you are behind with your payments.</p>
<p>Make sure you read and respond to this letter. You may be able to reach an agreement with your lender and prevent court action.</p>
<h3>Your financial provider takes court action</h3>
<p>If you don’t reach an agreement, your financial provider may ask the court to evict you. This is called making a ‘claim for possession’ and you’ll receive paperwork from the court. There is always a court hearing for court cases about bond arrears that could end in eviction.</p>
<h3>Keep talking to your financial provider</h3>
<p>Keep talking to your financial provider even though they have started court action. You may still be able to come to an agreement. Make sure you get any agreement in writing and continue preparing for the hearing. Only change your plans if the court sends you a letter saying the hearing has been cancelled or postponed.</p>
<h3>See an independent adviser</h3>
<p>An independent adviser can help you speak to your financial provider and complete the court paperwork. They will explore the options available to keep your home, like support from Housing Subsidies etc. If you find a solution, you’ll still need to attend court to inform the judge.</p>
<h3>What the court will send you</h3>
<p>The paperwork from the court will include:</p>
<ul>
<li>copies of the claim for possession forms, completed by your financial provider</li>
<li>a court hearing date</li>
<li>a blank defense form and guidance on how to fill it out</li>
<li>the court’s contact details</li>
<li>information about organizations offering free advice on repossession</li>
</ul>
<p>You’ll be called the ‘defendant’ and the financial provider will be described as the ‘claimant’ in the paperwork.</p>
<h3>Filling in the defense form</h3>
<p>The defense form has questions about things like:</p>
<ul>
<li>your income</li>
<li>other debts</li>
<li>spending on electricity, food and transport</li>
</ul>
<p>Return the completed form to the court within 14 days. The information you give could affect the court’s decision at the hearing.</p>
<div class="prdetails">
</div>
</div>
