<div class="post">
<h1 class="single dotted">Motoring &amp; Transport</h1><hr>
<h3>Travelling by bus or coach</h3>
<p>Buses and coaches are becoming increasingly accessible to disabled people, especially wheelchair users. Learn more about what changes are being made to increase accessibility and find out about free travel for disabled people.</p>
<h3>Travelling with guide dogs</h3>
<p>Drivers and operators of taxis and mini cabs have a number of duties towards assistance dog users. Find out what these duties are and how to report any problems.</p>
<h3>Travelling by train</h3>
<p>Special arrangements can be made for disabled or mobility-impaired passengers when travelling by train. For example, National Rail staff can usually help passengers get on and off a train.</p>
<h3>Adapting your vehicle</h3>
<p>You can get your vehicle adapted so that driving is safe and comfortable and getting in and out of the car is easier. There are motoring accessories available for people with upper or lower body disabilities or both.</p>
<h3>Motoring accessories for disabled people</h3>
<p>These accessories include:</p>
<ul>
<li>hand controls to operate the accelerator and brake</li>
<li>steering wheel knobs that help you turn the wheel more easily and give greater control</li>
<li>accessories to help you get in and out of your vehicle like wheelchair hoists, ramps and tail lifts</li>
<li>cushions, covers and support</li>
<li>adapted mirrors</li>
<li>safety belts, seat belts and harnesses</li>
<li>rotating seats</li>
<li>people lifts</li>
<li>wheelchair hoists</li>
</ul>
<h3>Adapting your vehicle for upper body disabilities</h3>
<p>If you have lost the use of one arm or have a weakened arm, you may consider adaptations including:</p>
<ul>
<li>a steering wheel knob fitted to the rim of the steering wheel</li>
<li>automatic transmission</li>
<li>direction indicators and the horn within finger reach or as foot controls, which you can operate without letting go of the wheel</li>
<li>moving the hand brake to the right of the driver’s seat</li>
<li>joystick steering</li>
</ul>
<p>If you have an artificial limb fitted below the elbow you can drive a car using a special concave limb attachment. This is fitted over the steering wheel or the gear lever.</p>
<p>Even if you have lost the use of both arms, you can still drive with redesigned car controls. You could also try a foot steering system.</p>
<h3>Adapting a vehicle for lower body disabilities</h3>
<p>If you have lost the use of one of your legs or have reduced usage in one leg, the adaptations you may consider include:</p>
<ul>
<li>an automatic transmission car, which does not require the use of a clutch</li>
<li>moving the accelerator on an automatic car to the left side of the foot brake if you have a right leg disability</li>
<li>a semi-automatic clutch, which allows you to use a manual gearbox without clutch pedals</li>
</ul>
<p>If you have lost the use of both legs, you may consider adaptations like:</p>
<ul>
<li>hand controls, especially with an automatic transmission</li>
<li>steering assistance</li>
</ul>
<p>you get your car adapted or hire or buy an adapted car, it’s important to get good advice and training on using the vehicle.</p>
<h3>Adapting your vehicle for easier access</h3>
<p>There are accessories and adaptations that can make it easier to get in and out of your vehicle. This may be particularly important if you use a wheelchair.</p>
<p>You may be able to get into your car from the driver’s side, passenger side or rear. Your choice of entry will determine the type of adaptations you need for your vehicle.</p>
<p>For entry from the driver’s or passenger’s door, you need wide doors and preferably a sliding and swiveling aid.</p>
<h4>Vehicle conversion specialists produce wheelchair accessible vehicles.</h4>
<h3>Transferring from a wheelchair to your car</h3>
<p>It can be difficult to transfer from a wheelchair into a car. You can use a board, lifting belts or leg lifters. There are also hoists and lifts to help you and your chair into the car. There are also specially converted cars or vans that you can drive your wheelchair into.</p>
<h4>Find out how to apply for a dropped kerb locally</h4>
<p>A dropped kerb may make it easier to get from your car to your house, if you have to park on the road. The following service lets you enter details of where you live and takes you to your local council website. Then you can find out how to apply to have a dropped kerb put in outside your home.</p>
<h4>Please note that this service is only available for councils in South Africa</h4>
<h3>Driving and disability</h3>
<p>Having a medical condition or disability does not necessarily mean you cannot or will not be allowed to drive. You must tell the Vehicle Licensing Office (VLO) about any medical condition or disability that may affect your driving.</p>
<div class="prdetails">
</div>
</div>
