<div class="post">
<h1 class="single dotted">Motor Insurance Explained</h1><hr>
<h3>Motor insurance</h3>
<p>You have to have motor insurance before you can drive your vehicle in a public place. Motor insurance protects you, your vehicle and other motorists against liability in the event of any accident. It provides financial compensation to cover any injuries caused to people or their property.</p>
<h3>Uninsured driving</h3>
<p>Driving a vehicle on a road or in a public place without insurance against third-party risk is an offence. You need to be correctly insured for the vehicle you intend to drive or you could face a penalty.</p>
<p>Uninsured drivers inflict a major financial burden on other motorists. Uninsured drivers also impose other costs on society. Research and surveys show that uninsured drivers are more likely to be involved in road traffic accidents, fail to follow road traffic signs and signals and potentially be involved in other criminal activity.</p>
<h3>Buying motor insurance</h3>
<p>You can buy motor insurance in a variety of ways. There are over 50 companies that provide insurance in South Africa. Some of these deal directly with customers while others offer products via insurance brokers.</p>
<h3>How to get a quote</h3>
<p>Insurance brokers will be able to offer you advice about choosing between a variety of products to get one that suits your circumstances. They can shop around on your behalf to find the best quote available from the companies they deal with.</p>
<p>Alternatively, you might want to do your own research and buy a product directly from the insurer over the phone, face to face or via the internet. Both direct providers and brokers can be easily found in the telephone directory or by searching the internet.</p>
<p>Finally, you might find it more convenient to get your insurance while you’re doing something else, for example when you’re at your bank or supermarket.</p>
<h3>Questions asked when applying for insurance</h3>
<p>As insurance is priced according to how likely the driver is to make a claim, a lot of information can be asked for when applying for insurance. Commonly, this will include:</p>
<ul>
<li>the vehicle details</li>
<li>what the vehicle will be used for</li>
<li>where the vehicle will be kept</li>
<li>the ages and occupations of the people who will be driving the vehicle</li>
<li>any penalty points on your licence or convictions for driving offences</li>
<li>any no-claims bonus and how long you have been driving for</li>
<li>any recent insurance claims</li>
</ul>
<p> It is essential to answer all the questions honestly and in detail. Once all your details have been taken, you’ll be offered a quote and, if you accept the quote you will be sent insurance policy documents.</p>
<div class="prdetails">
</div>
</div>
