<div class="post">
<h1 class="single dotted">Starting A New Job</h1><hr>
<h3>Pre-employment checks</h3>
<p>When you start a new job, your employer may wish to carry out a number of checks. The checks that they carry out could depend on the type of job you are going to do. Find out what kind of checks could be needed.</p>
<h3>Types of checks</h3>
<p>An employer may need to carry out certain checks before you start work.</p>
<h3>Identification documents</h3>
<p>Before you start working for a new employer they will probably want proof that you have the right to work in South Africa.</p>
<p>You will need to produce either a document or a combination of documents to confirm you are eligible, e.g. a passport, a visa or a work permit (if you are a non-national). Your employer should tell you which documents you need to show them.</p>
<h3>References</h3>
<p>A job offer may depend on the employer getting a reference from your current employer, and maybe previous employers too.</p>
<h3>Background checks</h3>
<p>Where a job is security-related, an employer may want to carry out background checks. For a few financial services roles, these may also cover your credit history. The employer should treat all job applicants in the same way during the recruitment process.</p>
<h3>Equal opportunities monitoring</h3>
<p>There is no law against collecting information on race and ethnicity when recruiting. Many organizations choose to in order to monitor the effectiveness of their equal opportunities policy. However, you don’t have to give this information if you don’t want to.</p>
<p>An employer also mustn’t treat you differently because of your sex, race, disability, age, sexual orientation or religion.</p>
<h3>Health checks</h3>
<p>You may have to have a health check if it’s a legal requirement of the job (for example, having an eye test for a job as a driver). You should be told about any health checks in your offer letter.</p>
<p>Your employer may ask for a medical report, but if they want one, they must have policies for keeping it secure.</p>
<p>If you are disabled, your disability should not be used as a reason for singling you out for a health test without good reason. If you are, and you don’t get the job as a result, you may be able to complain to an Employment Tribunal. It’s unlawful to treat disabled people less favourably because of their disability. This doesn’t mean that it will always be unlawful for an employer to ask a disabled person to have a health check, even if other candidates are not asked. It will depend on the nature of your disability and the needs of the job.</p>
<h3>Checking qualifications</h3>
<p>If you need particular qualifications, training or licenses for a job, your employer may ask for proof that you have them. They should let you know if they are carrying out these checks and if they intend to keep copies of any relevant documents on file.</p>
<h3>Criminal records checks</h3>
<p>Some employers will want to check whether you have a criminal record. You will have to disclose any convictions if you are applying for a job:</p>
<ul>
<li>as an accountant or barrister</li>
<li>in the police</li>
<li>working with children or vulnerable adults</li>
<li>relating to the administration of justice or financial regulation</li>
</ul>
<p>Employers must be registered with the Criminal Records Bureau to carry out criminal records checks. There is a fee and your employer could ask you to meet the cost.</p>
<h3>Withdrawing a job offer</h3>
<p>If any check on you has produced unsatisfactory results, an employer can withdraw a job offer even after you have accepted it. This applies so long as you were made aware before you accepted the job that the offer was on conditions.</p>
<h3>References and job offers</h3>
<p>References are used by employers to find out if you are suitable for a job and are a reliable employee. Before you accept a job offer make sure you know your rights and what a prospective employer expects of you.</p>
<div class="prdetails">
</div>
</div>
