<div class="post">
<h1 class="single dotted">Personalized Number Plates</h1><hr>
<h3>Putting a personalized registration number onto a vehicle</h3>
<p>If you have bought a personalized registration number, you will need to apply to the Vehicle Licensing Office to assign it to a vehicle. Find out what the rules are, how to apply and what happens after the Vehicle Licensing Office has received your application.</p>
<h3>How to get a number plate made up</h3>
<p>A registration number must be correctly displayed in line with the law. You’ll need to go to a registered number plate supplier to get new number plates for your vehicle. The registered supplier will need proof of your identity, as well as proof that the registration number belongs to you.</p>
<h3>What you need</h3>
<p>The number plate supplier will need to see at least one document from each of the lists below. This will allow the number plate supplier to confirm your name, address and entitlement to the registration number. All documents must be original, not copies.</p>
<h3>Documents to confirm your identity</h3>
<p>One of the following:</p>
<ul>
<li>driving licence, whether or not issued in South Africa</li>
<li>a utility bill from your electricity or water supplier, a telephone bill etc.</li>
<li>a passport, whether or not issued in South Africa</li>
</ul>
<h3>Retaining a personalized registration </h3>
<p>As the registered keeper of a vehicle, you can apply to remove a personalized registration number from the vehicle and hold it on retention. You can retain the registration number in your name or choose to retain it in someone else’s name.</p>
<h3>Displaying your registration number</h3>
<p>Vehicle registration numbers must be correctly displayed on your vehicle number plate. It is an offence to rearrange them to make them look like names or words or to alter them in any manner that makes the vehicle registration number difficult to read or identify.</p>
<h3>The registration number format</h3>
<p>Vehicle registration numbers are a way of identifying vehicles. The current vehicle registration number format varies by province and countries.</p>
<div class="prdetails">
</div>
</div>
