<div class="post">
<h1 class="single dotted">Owning Property</h1><hr>
<h3>Registering land or property</h3>
<p>You need to register almost all land or property that you buy or are given with the Land Registration Office. Most people use a solicitor or conveyancer to do this, but you can do it yourself. Find out when you have to register land and how to do it.</p>
<h3>Registering land or property – the basics</h3>
<p>Registering your land or property with Land Registration Office:</p>
<ul>
<li>shows proof of ownership</li>
<li>helps to protect your land if someone tries to make a claim on it</li>
<li>makes changes in ownership easier</li>
</ul>
<p>You can register land or property yourself, although most people use a solicitor or conveyancer. Your bond provider might insist that you use a professional. Land Registration Offices can’t give you legal advice about your application.</p>
<h3>Protecting your property against fraud</h3>
<p>Land and property are usually the most valuable assets people own. As a result, they can be targeted by fraudsters. Find out what you can do to protect yourself against property fraud, and what to do if you are a victim of it.</p>
<p>When property fraud is more likely, Anyone with an interest in property can be the victim of property fraud, but there are some situations where this is more likely. For example:</p>
<ul>
<li>a property is empty or is bought to let</li>
<li>the owner is abroad or absent</li>
<li>the owner is infirm or in a home</li>
<li>a relationship has broken down</li>
</ul>
<p>If you’re worried that you may become the victim of property fraud, get advice from a professional. For example, a conveyance or advice centres.</p>
<h3>How to prevent property fraud</h3>
<p>There are a number of things you can do to prevent property fraud. For example:</p>
<ul>
<li>register your property with the Land Registration Office</li>
<li>keep your details on the land register up to date</li>
<li>put a restriction on your title</li>
</ul>
<p>You should also be careful what you sign. If you’re not sure what it is you’ve been asked to sign, or what its legal effect might be, get professional advice.</p>
<h3>Register your property</h3>
<p>Not all properties in South Africa are registered with Land Registration Office. Registering:</p>
<ul>
<li>provides an up-to date official record of who owns the land</li>
<li>gives you greater security</li>
<li>means you might be able to get compensation from the Land Registration Office if you suffered a financial loss because of the fraud</li>
</ul>
<div class="prdetails">
</div>
</div>
