<div class="post">
<h1 class="single dotted">Owning a Vehicle</h1><hr>
<h3>Changes to your registration certificate</h3>
<p>You’ll need to update your registration certificate if you make any changes to your vehicle or if any of the details shown on your registration certificate are incorrect. The fees you pay may be affected and you will need to produce documentary evidence of the changes.</p>
<h3>Changes you need to update</h3>
<p>You’ll need to tell the Vehicle Licensing Office about the following changes to your vehicle:</p>
<ul>
<li>colour</li>
<li>engine</li>
<li>cylinder capacity</li>
<li>fuel type (propulsion)</li>
<li>replacing or modifying the chassis/ outside body shell</li>
<li>seating capacity</li>
<li>weight of a goods vehicle (if applicable)</li>
</ul>
<div class="prdetails">
</div>
</div>
