<div class="post">
<h1 class="single dotted">Preschool Learning</h1><hr>
<h2>Early years: where your child can learn</h2>
<p>Learning and playing with other children in a safe, structured environment will help your child’s development, giving them a head start when they begin school. There are a number of options available up to the age of five years old.</p>
<p>Find an early learning place near you</p>
<p>Finding out about the range of services on offer will help you decide what best suits you and your child’s needs. Early learning is available through:</p>
<ul>
<li>nursery classes, nursery schools and day nurseries</li>
<li>children’s centres</li>
<li>preschool playgroups</li>
<li>reception classes</li>
<li>accredited childminders who are part of an approved network</li>
</ul>
<p>To find out what’s available in your area, contact your local child clinic.</p>
<div class="prdetails">
</div>
</div>
