<div class="post">
<h1 class="single dotted">Recycling &amp; Reducing Waste</h1><hr>
<h3>Recycling at home</h3>
<p>Nearly two-thirds of all household rubbish can be recycled, saving energy and avoiding waste going to landfill. Find out how to recycle a wide range of goods – from batteries to clothes – and discover how recycling can help protect the environment.</p>
<h3>Why recycle?</h3>
<p>Recycling cuts down on the need for landfill. It also reduces the use of new materials and saves energy, helping to tackle climate change. Recycling just one piece of aluminium can saves enough energy to run a television set for three hours.</p>
<h3>What you can recycle</h3>
<p>Recycling banks and bins usually show pictures of what you can put in them. When it comes to collections from your doorstep, your local council will be able to tell you what it can and can’t recycle.</p>
<p>Most councils are able to recycle paper, glass and plastics (plastic types 1 and 2 are the most commonly recycled). Some councils also collect metal and organic waste. Find out about recycling labels for plastics and other items on the ‘Recycling and packaging labels’ page.</p>
<h3>Where you can recycle?</h3>
<p>Find your nearest recycling centre, and opening times</p>
<p>There are various places you can recycle, all run by your local council:</p>
<ul>
<li>recycling banks or bins in the community</li>
<li>waste and recycling centres (also known as civic amenity sites, the tip or the dump)</li>
<li>many councils collect recycling direct from outside your home – this is called doorstep or kerbside recycling</li>
</ul>
<h3>Opening times and locations of waste and recycling centres</h3>
<p>Waste and recycling centres are run by local councils. To find out opening times and locations, you’ll need to contact your council.</p>
<p>Your council can also tell you the times and dates of doorstep recycling and where to find recycling banks.</p>
<h3>Ideas for recycling more</h3>
<h4>Don’t forget…</h4>
<p>You can recycle shampoo and toiletry bottles, as well as washing powder and liquid containers, The list of what you can recycle is endless. Here are some ideas:</p>
<p>Recycling throughout your home</p>
<p>Many items in the kitchen are recyclable, including:</p>
<ul>
<li>plastic milk and water bottles</li>
<li>household cleaning products bottles</li>
<li>all glass packaging (all bottles and jars, but no cookware or pyrex)</li>
<li>plastic food trays and wrappings are sometimes recyclable, so check the packaging for more details</li>
</ul>
<p>Don’t forget you can also recycle items from the other rooms in your house, including:</p>
<ul>
<li>in the bathroom, rinsed shampoo bottles, cardboard packaging and toilet roll tubes</li>
<li>in the bedroom, packaging from toiletries and make-up, and unwanted clothing</li>
<li>when you’re doing the laundry, washing powder and liquid containers</li>
</ul>
<h3>Batteries</h3>
<p>Rechargeable and non-rechargeable batteries can contain hazardous substances, so it’s important to dispose of them correctly:</p>
<ul>
<li>from February 2010 many shops and supermarkets that sell batteries will provide collection bins for old batteries</li>
<li>some councils have collection schemes or provide battery recycling banks – contact your local council to find out more</li>
<li>otherwise, take old batteries, including car batteries, to your local civic amenity site (waste and recycling centre)</li>
</ul>
<h3>Clothes and textiles</h3>
<p>More than half of clothing that’s thrown away could be recycled. Most charity shops resell clothing, or you could take your unwanted clothes to clothing banks. Some councils also take textiles in doorstep recycling collections.</p>
<h3>Mobile phones</h3>
<p>Mobile phones are designed to last many years, so try to keep yours longer by avoiding unnecessary upgrades. When you need to get rid of your mobile phone:</p>
<ul>
<li>many phone shops will now take back old handsets for recycling</li>
<li>there are organizations and charities that accept mobiles for refurbishment and recycling</li>
<li>you could sell your phone on an online auction site</li>
</ul>
<h3>Printer cartridges</h3>
<p>Many charities and workplaces collect print cartridges for refilling. More than a third of the many millions used in South Africa each year are already re-manufactured.</p>
<h3>Full list of items you can recycle</h3>
<p>A wide range of other things can be recycled – you can find out more from the RecycleNow website.</p>
<h4>Remembering to recycle</h4>
<p>Make it easier to remember to recycle by:</p>
<ul>
<li>putting your recycling bin next to your main bin</li>
<li>making a note on your calendar or fridge of when your recycling is collected, and what can and can’t be recycled</li>
</ul>
<h4>Why recycling services vary across Afrcica</h4>
<p>The recycling services you receive can vary from council to council. This is because:</p>
<ul>
<li>there are different challenges to cope with when collecting materials in rural or urban areas</li>
<li>the availability of landfill varies from place to place</li>
<li>some councils have better access to sorting equipment or can more easily find buyers for the materials they’ve collected</li>
</ul>
<p>Check with your local council for more information.</p>
<h4>Recycling and landfill</h4>
<p>Five out of ten people in South Africa say they recycle</p>
<p>The global economic downturn may have led to a drop in demand for recycled materials. However, 85 per cent of material put out for recycling in South Africa is still being recycled. Whatever the economic climate, recycling saves energy, reduces the amount of raw materials being used and helps to combat climate change.</p>
<p>Recycling is almost always a better option than burning or sending waste to landfill. In 2008, recycling household waste saved the same amount of CO2 that nearly ten thousand return flights from Johannesburg to Cairo would produce.</p>
<p>Councils are taxed for each ton of rubbish they send to landfill (a site where rubbish is buried in the ground). This makes it more financially beneficial for them to recycle in most cases.</p>
<h3>Waste and recycling: a quick guide</h3>
<p>You can recycle a wide range of rubbish, from paper and glass to batteries, televisions and clothes. This saves energy and raw materials, and reduces the amount of waste sent to landfill sites. You can also help to reduce waste at home by composting and by repairing and reusing items.</p>
<h3>The waste hierarchy</h3>
<p>There are many ways of disposing of waste. The waste hierarchy lists these methods in a sliding scale, from the most environmentally friendly option to the least for many types of waste:</p>
<ol>
<li>Prevention – the best option, this focuses on reducing waste being produced in the first place</li>
<li>Reuse – for example, using old food containers as lunch boxes or old plastic bags as bin liners</li>
<li>Recycle – taking materials from old products to make something new, like making car parts from old metal drinks cans</li>
<li>Energy recovery – creating energy from waste, for example by burning it to produce electricity</li>
<li>Disposal – the worst option for most types of waste as this often involves burying rubbish in landfill<br>
Reduce waste</li>
</ol>
<p>Recycling can help save materials and energy. It’s even better to reduce the amount of things that are wasted in the first place.</p>
<p>The best way of doing this is simply using less. Try asking yourself if you need a product before buying it and taking your own bags when you go shopping.</p>
<p>You can also be careful about what you buy. Choose items that will last longer and try to buy products you can use again instead of disposable items.</p>
<h3>Reuse and repair </h3>
<p>Repairing or reusing items means that they will last longer and won’t need replacing with new items so quickly.</p>
<h4>Even when you have finished with something, someone else will often be able to use it.</h4>
<p>Secondhand furniture, clothes and electrical items like mobiles are especially popular: why not pass them onto friends and family? You could also sell them, donate them to charity or pass them on via sharing schemes.</p>
<p>Try looking for items you want from auction sites or giveaway sites like Freecycle or Freegle. You may even bag yourself a bargain.</p>
<h3>Recycle</h3>
<p>Paper, glass, plastic bottles, garden waste, fridges, shoes, batteries – all of these and more can be recycled, helping to save energy and new materials.</p>
<p>Most councils run recycling collections from your doorstep, while waste and recycling centres (the local tip) can also accept many other materials for recycling.</p>
<p>An average family can double or even treble the amount they recycle. If you haven’t already started, find out how to recycle your waste today.</p>
<h3>What can be recycled</h3>
<p>Waste and recycling centre opening times</p>
<p>Find locations and opening times for your local recycling centre</p>
<p>An average family can double or even treble the amount they recycle.</p>
<p>Most councils run doorstep collections for materials such as paper, glass, plastics and cardboard. Local civic amenity sites (your local tip) can also accept many other materials for recycling.Everything can be recycled, from wood, shoes, textiles and TVs, to electrical equipment, light bulbs, fridges and freezers. Even small items of furniture can sometimes be recycled.</p>
<h4>Check with your local council to see what can be recycled in your area.</h4>
<h3>Buy recycled products</h3>
<p>Products made from recycled goods save raw materials and increase the demand for recycled materials. You can buy recycled household goods and fashion items like shoulder bags, plastic trays, pencil cases and aluminium foil.</p>
<h3>Compost your garden and food waste</h3>
<p>Around a third of all household waste collected by local authorities is organic waste (garden and food) which could be composted.</p>
<p>If organic waste is sent to landfill, it produces methane, which has strong climate change effects. Composting waste like tea bags, vegetable peelings, shredded paper and egg boxes reduces these climate change effects and saves valuable space in landfill sites.</p>
<p>It’s easy to make compost, and it provides a rich and natural source of nourishment for your garden. Many councils provide compost bins at a reduced rate, so contact your local council to find out what is available in your area.</p>
<h3>Dispose of hazardous waste items safely</h3>
<p>Some items contain hazardous materials and need to be carefully disposed of to avoid environmental problems like water pollution. Examples of things that need to be disposed of at a proper facility include: paint, batteries, electrical equipment and oil.</p>
<p>Electrical equipment and batteries can all be recycled and the precious resources used to make new items.</p>
<h3>Electrical equipment: reuse and disposal</h3>
<p>Every year, people in Britain throw away nearly half a million tonnes of electrical items. Save money and energy by keeping items like computers and mobiles for longer. Help stop harmful chemicals getting into the environment by recycling electrical items, rather than putting them with household rubbish.</p>
<h3>Keep equipment for longer</h3>
<p>Most mobile phones will work for at least five years</p>
<p>Making electrical items uses a lot of energy and valuable materials, including precious metals like gold and silver. Electrical equipment can also contain chemicals like lead and mercury. These chemicals can get into the environment and harm people or animals if items are not disposed of carefully. You can save money and cut waste by holding onto your equipment for longer, so try the following tips.</p>
<h3>Upgrade computers</h3>
<p>If your computer is getting a bit old, you could:</p>
<ul>
<li>think about improving it rather than buying a new one, by increasing memory (RAM) or replacing the hard drive</li>
<li>ask in a computer shop or search online to get advice, parts and technical help for upgrading</li>
<li>keep your existing monitor if you do get a new computer</li>
</ul>
<h3>Keep mobile phones for longer</h3>
<p>There’s no need to replace your mobile phone every year; most will work for at least five years. Hanging on to your current phone can save you money, as the cost of a new handset is usually included in monthly installments. Ask your phone company about the different rates they have available if you don’t upgrade your handset (‘SIM only’).</p>
<h3>Reuse equipment</h3>
<p>Electrical items, including cables and plugs, can often be reused</p>
<p>Unwanted electrical items, including cables and plugs, can often be reused. In fact, over half of electronic items that are thrown away are still working or could easily be repaired. Try finding a new home for unwanted electrical items.</p>
<h3>Give to individuals</h3>
<p>Organizations like Freecycle and Freegle can help you find someone who wants your old equipment.</p>
<h3>Give to a charity</h3>
<p>Your local charity shop may accept electrical goods, but ask before donating them. Other ways of finding places that accept electrical donations are:</p>
<ul>
<li>looking on your council’s website, which may list local charities that accept electrical items</li>
<li>using the Furniture Reuse Network’s online map, which shows you your nearest reuse charity (many will take electrical goods)</li>
</ul>
<h4>You can donate power tools to charities that send them to developing or disadvantaged communities.</h4>
<h3>Reusing computers</h3>
<p>If your computer equipment is in good working order, you may be able to sell it. Try advertising online, in a local paper or on local notice boards.</p>
<p>You could also give away your old computer or other items like printers, mice, power cables and keyboards. Try using the links below to find a new home for your PC.</p>
<p>Before you pass on your computer or recycle it, make sure you fully remove any information that you don’t want anyone else to see. Simply deleting the information is not enough. Use the link below to find out how to do this.</p>
<h3>Recycle electrical goods</h3>
<p>If you have to dispose of old electrical equipment, make sure it is recycled safely. This will help save energy and stop harmful chemicals damaging the environment.</p>
<h3>When buying new electrical items</h3>
<p>When you buy a new electrical item, ask the shop where you buy it how they will help you recycle the item you’re replacing. Some shops also offer a ‘collection on delivery’ service and will take away your old electrical items when delivering new items</p>
<h3>Household waste recycling centres</h3>
<p>Find locations and opening times for recycling centres near you</p>
<h3>Other recycling options</h3>
<p>You can also dispose of electrical waste by:</p>
<ul>
<li>taking it to your local household waste recycling centre (civic amenity site) where it will be recycled safely and free of charge</li>
<li>arranging for your local authority to collect large items from your home (you can be charged for this service)</li>
</ul>
<h3>Recycle batteries</h3>
<p>Many electrical items, like laptops and mobile phones, have batteries which can be recycled.</p>
<p>Most supermarkets and shops that sell batteries will have collection bins for used batteries. Some local councils collect batteries with doorstep recycling, or provide bins at local waste and recycling centres. The link below will show you if there is a battery recycling point near you.</p>
<h3>Energy saving light bulbs</h3>
<p>Energy saving light bulbs need to be disposed of carefully, as they contain mercury. For information on how to recycle them safely, see ‘Energy saving light bulbs’.</p>
<h3>Disposal of bulky items</h3>
<p>If you have to dispose of an old fridge or freezer you should ensure it is done safely to prevent accidents or harm to the environment. There’s help and information for householders on how you can do this, as well as advice on disposing of other large item</p>
<h3>Reducing waste, reusing and repairing</h3>
<p>Recycling can help save materials and energy, but cutting down on waste in the first place is even better. Taking your own bag when you go shopping can help. You can also repair broken items and find a good home for anything you don’t want anymore.</p>
<h3>Hazardous waste disposal</h3>
<p>Many things that are thrown out in the rubbish can contain harmful chemicals that damage the environment. Things like some household batteries, car oil, or old paint all need to be disposed of safely. Find out how and where to dispose of domestic hazardous waste.</p>
<h3>What is hazardous waste?</h3>
<p>Waste is hazardous when it has properties that might make it harmful to human health or the environment. The term ‘hazardous’ does not always mean that such waste is immediately harmful, though some can be.</p>
<h3>What types of waste are hazardous?</h3>
<p>Domestic wastes that may be hazardous include:</p>
<ul>
<li>asbestos</li>
<li>pesticides</li>
<li>fluorescent tubes</li>
<li>oils</li>
<li>some paints</li>
<li>some household and car batteries</li>
<li>discarded electrical equipment like TVs and computer monitors, fridges and freezers</li>
<li>discarded energy saving light bulbs</li>
</ul>
<p>You can ask your council if you’re not sure whether waste is hazardous or not.</p>
<h3>Bins and waste collection</h3>
<p>Your local council is responsible for the collection and disposal of waste in your area. Find out when your bins are collected and how to report a missed collection. Learn what can be recycled and how to dispose of bulky items, electrical equipment and clinical waste.</p>
<p>Find out when your bins and waste are collected</p>
<h4>Contact your local council if you have questions about your bins and waste collection</h4>
<p>Your local council is responsible for bins and collecting waste. You should contact them to find out the days they collect waste and recycling.</p>
<p>Household waste is collected from your home regularly. Waste for recycling and any other waste is often collected separately and at different intervals. Contact your local council if your bin is missed from the normal collection.</p>
<h3>Household waste sites</h3>
<p>Councils are required to operate household waste deposit sites (sometimes known as civic amenity sites, tips or dumps). You can deposit your household waste here free of charge, but you may need to show proof that you are resident in the area. Contact your local council to find out what its requirements are.</p>
<div class="prdetails">
</div>
</div>
