<div class="post">
<h1 class="single dotted">Private Renting</h1><hr>
<h3>Renting out your home</h3>
<p>You can let your home by using a very common type of tenants. Find out about your rights under a tenants agreement, your role and responsibilities and how you can use a third-party to manage your property.</p>
<h3>Landlord responsibilities</h3>
<p>Your responsibilities as a landlord include:</p>
<ul>
<li>repairs to the structure and exterior of the property</li>
<li>repairs to heating and hot water installations</li>
<li>repairs to sinks, baths and other sanitary installations</li>
<li>safety of gas and electrical appliances that you supply</li>
<li>fire safety of furniture and furnishings that you supply</li>
<li>providing an Electrical Certificate for the property</li>
<li>protecting your tenant’s deposit in an approved scheme</li>
</ul>
<p>In return, your tenant is responsible for taking good care of the property and paying the agreed rent. The tenant should also pay for other charges – like Council Tax or utility bills – unless you have already included an amount for these in the rent.</p>
<p>You may have to pay Income Tax on your gross rental income minus your day-to-day running expenses.</p>
<p>If you have a bond on the property you intend to let, you must have, or must obtain, consent to let the property from your bond lender.</p>
<h3>Using a third-party to manage your property</h3>
<p>If you do not want to personally manage your property when letting, you can use a third-party to take responsibility.</p>
<h3>Letting agencies</h3>
<p>You can pay a letting agent to manage your property and become the main point of contact for tenants. This means they will handle repairs, rent issues and other problems.</p>
<p>If you hire a letting agent, they can:</p>
<ul>
<li>find tenants for the property</li>
<li>draw up the tenant agreements</li>
<li>collect rent</li>
<li>provide a full management service, like repairs or servicing</li>
<li>protect your tenant’s deposit</li>
</ul>
<h3>Renting out rooms in your home</h3>
<p>You can let out rooms in your home or parts of your property to make money. Find out about the different ways to let rooms in your home, the rent you can charge and the terms and conditions for occupation.</p>
<h3>Becoming a resident landlord</h3>
<p>You are a resident landlord if you let out part of a property which is your only or main home. If so, you can give less notice to end a letting because you are more vulnerable in your own home.</p>
<p>Also, a tenant does not have the right to challenge the level of agreed rent.</p>
<p>If you own the property, you may need permission to let from your bond lender. If your home is leased, you will need to check the lease terms before letting any part of the property.</p>
<h4>A tenant can only sublet a property if the tenant agreement allows it.</h4>
<div class="prdetails">
</div>
</div>
