<div class="post">
<h1 class="single dotted">More Requirements</h1><hr>
<h3>Lighting requirements</h3>
<ol>
<li>You MUST</li>
</ol>
<ul>
<li>ensure all sidelights and rear registration plate lights are lit between sunset and sunrise</li>
<li>use headlights at night, except on a road which has lit street lighting. These roads are generally restricted to a speed limit of 48 km/h unless otherwise specified</li>
<li>use headlights when visibility is seriously reduced</li>
</ul>
<li>Night (the hours of darkness) is defined as the period between half an hour after sunset and half an hour before sunrise).</li>
<li>You MUST NOT</li>
<ul>
<li>use any lights in a way which would dazzle or cause discomfort to other road users,<br>
including pedestrians, cyclists and horse riders</li>
<li>use front or rear fog lights unless visibility is seriously reduced. You MUST switch them off when visibility improves to avoid dazzling other road users</li>
<li>In stationary queues of traffic, drivers should apply the parking brake and, once the following traffic has stopped, take their foot off the foot brake to deactivate the vehicle brake lights. This will minimize glare to road users behind until the traffic moves again.</li>
</ul>
<li>You should also</li>
<ul>
<li>use dipped headlights, or dim-dip if fitted, at night in built-up areas and in dull daytime weather, to ensure that you can be seen</li>
<li>keep your headlights dipped when overtaking until you are level with the other vehicle and then change to main beam if necessary, unless this would dazzle oncoming road users</li>
<li>slow down, and if necessary stop, if you are dazzled by oncoming headlights</li>
</ul>
<li>Hazard warning lights. These may be used when your vehicle is stationary, to warn that it is temporarily obstructing traffic. Never use them as an excuse for dangerous or illegal parking. You MUST NOT use hazard warning lights while driving or being towed unless you are on a motorway or unrestricted dual carriageway and you need to warn drivers behind you of a hazard or obstruction ahead. Only use them for long enough to ensure that your warning has been observed.</li>

<h3>Control of the vehicle</h3>
<p>Braking</p>
<ol>
<li>In normal circumstances. The safest way to brake is to do so early and lightly. Brake more firmly as you begin to stop. Ease the pressure off just before the vehicle comes to rest to avoid a jerky stop.</li>
<li>In an emergency. Brake immediately. Try to avoid braking so harshly that you lock your wheels. Locked wheels can lead to loss of control.</li>
<li>Skids. Skidding is usually caused by the driver braking, accelerating or steering too harshly or driving too fast for the road conditions. If skidding occurs, remove the cause by releasing the brake pedal fully or easing off the accelerator. Turn the steering wheel in the direction of the skid. For example, if the rear of the vehicle skids to the right, steer immediately to the right to recover.</li>
<li>ABS. If your vehicle is fitted with anti-lock brakes, you should follow the advice given in the vehicle handbook. However, in the case of an emergency, apply the foot brake firmly; do not release the pressure until the vehicle has slowed to the desired speed. The ABS should ensure that steering control will be retained, but do not assume that a vehicle with ABS will stop in a shorter distance.</li>
<li>Brakes affected by water. If you have driven through deep water your brakes may be less effective. Test them at the first safe opportunity by pushing gently on the brake pedal to make sure that they work. If they are not fully effective, gently apply light pressure while driving slowly. This will help to dry them out.</li>
<li>Coasting. This term describes a vehicle travelling in neutral or with the clutch pressed down. It can reduce driver control because</li>
</ol>
<ul>
<li>engine braking is eliminated</li>
<li>vehicle speed downhill will increase quickly</li>
<li>increased use of the foot brake can reduce its effectiveness</li>
<li>steering response will be affected, particularly on bends and corners</li>
<li>it may be more difficult to select the appropriate gear when needed</li>
</ul>
<li>The Driver and the Environment. You MUST NOT leave a parked vehicle unattended with the engine running or leave a vehicle engine running unnecessarily while that vehicle is stationary on a public road. Generally, if the vehicle is stationary and is likely to remain so for more than a couple of minutes, you should apply the parking brake and switch off the engine to reduce emissions and noise pollution. However it is permissible to leave the engine running if the vehicle is stationary in traffic or for diagnosing faults.</li>

<h3>Speed Limits</h3>
<ol>
<li>You MUST NOT exceed the maximum speed limits for the road and for your vehicle. The presence of street lights generally means that there is a 48 km/h speed limit unless otherwise specified.</li>
<li>The speed limit is the absolute maximum and does not mean it is safe to drive at that speed irrespective of conditions. Driving at speeds too fast for the road and traffic conditions is dangerous. You should always reduce your speed when:</li>
</ol>
<ul>
<li>the road layout or condition presents hazards, such as bends</li>
<li>sharing the road with pedestrians, cyclists and horse riders, particularly children, and motorcyclist’s</li>
<li>weather conditions make it safer to do so</li>
<li>driving at night as it is more difficult to see other road users</li>
</ul>
<h3>Stopping Distances</h3>
<ol>
<li>Drive at a speed that will allow you to stop well within the distance you can see to be clear. You should</li>
</ol>
<ul>
<li>leave enough space between you and the vehicle in front so that you can pull up safely if it suddenly slows down or stops. The safe rule is never to get closer than the overall stopping distance</li>
<li>allow at least a two-second gap between you and the vehicle in front on roads carrying faster-moving traffic and in tunnels where visibility is reduced. The gap should be at least doubled on wet roads and increased still further on icy roads</li>
<li>remember, large vehicles and motorcycles need a greater distance to stop. If driving a large vehicle in a tunnel, you should allow a four-second gap between you and the vehicle in front</li>
</ul>
<li>If you have to stop in a tunnel, leave at least a 5-metre gap between you and the vehicle in front.</li>

<div class="prdetails">
</div>
</div>
