<div class="post">
<h1 class="single dotted">Pensions &amp; Retirement Planning</h1><hr>
<h3>Pensions – an overview</h3>
<p>When planning your retirement there are three main types of pension you need to consider. These are Government Pensions, personal pensions and company pensions. Find out about these different types of pensions and how they affect you.</p>
<h3>Government Pension</h3>
<p>Government Pensions are paid to those who are eligible, over retirement age and who have claimed it. You may be eligible for the following types of Government Pensions:</p>
<ul>
<li>basic government pensions</li>
<li>additional government pensions</li>
</ul>
<h3>Personal pensions</h3>
<p>Personal pensions are available from banks, building societies and life insurance companies who will invest your savings on your behalf.</p>
<p>You can save as much as you want into a personal pension. You will get tax relief on the amount you put in up to the annual allowance. Find out if a personal pension would be suitable for you by speaking to a reputable financial advisor.</p>
<h3>Company pensions</h3>
<p>Company pensions are set up by employers to provide pensions for their employees on retirement. They are also sometimes called occupational or workplace pensions.</p>
<p>Rules vary for different company pensions but money can be paid into the pension from:</p>
<ul>
<li>both your salary and your employer</li>
<li>your salary only</li>
<li>your employer only</li>
</ul>
<p>You will get tax relief on the amount you put in up to the annual allowance.</p>
<h3>Approaching retirement – when to retire and what you need to do</h3>
<p>As you approach retirement, you’ll need to check your personal, company and government pensions. You must make sure you have enough income to provide for your needs in the future. Find out when you can retire and where to get help with checking your pensions, savings and investments.</p>
<h3>When you can retire – your options</h3>
<p>You will need to decide when you want to retire. You can choose to work past your retirement age, which is the earliest age you can get your Government Pension. Or you can take early retirement and stop working before your Government Pension age.</p>
<h3>Working past your Government Pension age</h3>
<p>If you work past your Government Pension age you can choose to either take your Government Pension or put off claiming it. There are benefits to putting off, or deferring your Government Pension. You could earn a lump sum if you put off claiming your Government Pension continuously for at least one year.</p>
<p>If you want to continue working but want to reduce the hours you work, then you could consider working part-time.</p>
<p>Find out what your Government Pension age is, about the possible benefits of working longer and how to request working past your Government Pension age.</p>
<h3>Stopping work before your State Pension age</h3>
<p>If you are considering stopping work before your Government Pension age, or taking early retirement, this may affect your Government Pension. Retiring early may also affect your personal or company pension. The rules for personal and company pensions vary, depending on who provides them. You will need to check your personal or company pension to see how early retirement might affect your situation.</p>
<h3>Checking your income before deciding when to retire</h3>
<p>When deciding when to retire the most important thing to consider is making sure you have enough money to live comfortably. It is useful to work out how much money you will need and how much income you are likely to have when you retire. To help you plan your income in the future you should check your:</p>
<ul>
<li>personal or company pension</li>
<li>Government Pension and Pension Credit</li>
<li>savings and investments</li>
</ul>
<h3>Personal or company pension – what you need to check</h3>
<p>You should check your personal or company pension, as you approach retirement, to make sure you have enough income for your future retirement. How much your personal or company pension is worth depends on how much has been put in and how well it has been invested. The provider of your personal or company pension will tell you how much you have.</p>
<p>Find out when you can take your personal or company pension, how you can receive it and where you can get further advice.</p>
<h3>Savings and investments – what you need to check</h3>
<p>It is worth checking your savings accounts to make sure you are earning a competitive rate of interest. If you are not, then you may want to look at moving your savings to another account.</p>
<p>Some savings accounts are particularly helpful when boosting your income in retirement, for example, savings accounts that pay interest to you monthly.</p>
<p>If you are not sure what type of savings account suits your needs, financial advisers or the Pensions Advisory Service offer help and advice. Find out about financial advisers and what advice they can give you on your savings and investments.</p>
<h3>Health and lifestyle</h3>
<p>As well as considering your finances as you approach retirement, you also need to think about taking care of your health. By taking some small steps to keep healthy and active now you can increase your chances of enjoying a healthy, independent life in the future.</p>
<h3>Just about to retire – what you need to do</h3>
<p>Immediately before you reach your Government Pension age there are some steps you need to take. Find out how to make sure you get the Government Pension and benefits you’re entitled to. You should also contact your Tax Office to make sure you get any increased tax returns you qualify for.</p>
<h3>Starting a pension</h3>
<p>There are two main ways of starting a pension: getting one through your job, or setting up your own. You don’t necessarily need to have one type or the other – you can have both. And changes are coming that mean many more people will get a chance to join a pension at work.</p>
<h3>Setting up your own pension independently</h3>
<p>You can set up a pension scheme at any time – whether you are employed, self-employed or not working. This type of pension is called a personal pension. They are available from banks, building societies and life insurance companies. Once you have set one up you can control how much money you pay into it.</p>
<p>You can save as much as you like into a personal pension. It won’t affect your entitlement to the basic Government Pension but it may reduce the amount of additional Government Pension you build up. You’ll be able to get tax returns on the amount you put in, up to an annual allowance. So, for each Rand you put into your pension, the government tops it up using money it would otherwise have taken from you as tax.</p>
<h3>Stakeholder pensions</h3>
<p>Stakeholder Pensions are a special type of personal pension. They have to meet certain government standards to make sure they are good value. They are open to everyone and may be worth looking into if you are self-employed or if your employer doesn’t offer a company pension.<br>
You don’t have to be working to contribute to a stakeholder pension. You can contribute as little as R20 at a time and you don’t have to contribute every month if you can’t afford it.</p>
<h3>Getting a pension through your job</h3>
<p>Many employers have a company or workplace pension, a scheme they have set up for their employees to join. Most workplace pensions work like this:</p>
<ul>
<li>you decide to put part of your salary into your own pension pot</li>
<li>your employer may make a contribution as well – this might mean they match your contribution, or put in a different amount</li>
<li>you may not need to put anything in yourself to get the employer contribution</li>
</ul>
<p>These types of workplace pensions are often called Defined Contribution or Money Purchase schemes. They include Stakeholder Pensions and Group Personal Pensions (a personal pension you get through your employer).</p>
<p>Other company pensions work differently. The pension you get at the end is based on your salary and how many years you have worked for your employer. These are usually called Final Salary or Defined Benefit schemes and are most likely to be offered by large companies or public sector organizations.</p>
<p>If your employer offers a company pension, they will be able to tell you which kind of scheme they offer.</p>
<h3>Pensions and financial advisers: who to contact</h3>
<p>If you’re considering taking out a stakeholder or personal pension you can shop around yourself. But it can be a good idea to get professional financial advice from a specialist before you buy. For information on any pension offered by your employer you need to speak to your HR department.</p>
<h3>Understanding company pensions</h3>
<p>There are different types of company pensions (also known as occupational pensions) that are available. Get the information you need to help you decide whether you want to contribute towards your company pension. And find out what to do if you leave your company.</p>
<h3>Types of company pension</h3>
<p>Company pension schemes vary from company to company. Your scheme is likely to be one of two general types – a ‘salary related’ or ‘money purchase’ scheme.</p>
<h3>Salary related scheme</h3>
<p>In a salary related scheme the amount you get is based on your salary and the number of years you have been in the scheme.</p>
<h3>Money purchase scheme</h3>
<p>A money purchase scheme is based on how much has been paid into the scheme and how well the money has been invested.<br>
On retirement, your fund is used to provide your pension, usually by buying an annuity (a regular income for life).</p>
<p>Options when you take your company pension</p>
<p>Your company (‘occupational’) pension scheme has rules about when you can retire and take your pension. It’s a good idea to check with your pension scheme administrator what options are available to you.</p>
<p>However, there are some common elements to all company schemes.</p>
<h3>How much company pension you will get</h3>
<p>The amount of company pension you get will depend on which type of pension scheme you are a member of. It’s likely to be one of two types:</p>
<li>Final salary scheme</li>
<p>The amount of pension you get is based on your salary and the number of years you’ve been in the scheme.</p>
<li>Money purchase scheme</li>
<p>With a money purchase scheme your pension is based on how much you and your employer have contributed and the interest it’s earned. At retirement, your fund is used to provide your pension, often by buying an annuity (a regular income for life). How much your fund will provide is calculated using an ‘annuity rate’. This depends on various things, including your age and sex, and interest rates at the time.</p>
<h3>Options with a final salary scheme</h3>
<p>You can ask your pension administrator about the rules of your particular scheme. For instance, some schemes don’t allow you to take your benefits until age 65, but others may let you take them earlier.</p>
<p>You may be given the option to take part of your pension as a tax-free lump sum and receive a smaller monthly income.</p>
<p>Your pension administrator can provide you with a forecast of what your pension will pay when you retire, or ill-health stops you working. You can also ask what benefits your dependants will receive if you die before them.</p>
<h3>Options with a money purchase scheme</h3>
<p>When you retire, you can choose to take part of your pension as a tax-free lump sum and use the rest to buy an annuity. An annuity is a regular income for life.</p>
<h3>Understanding personal pensions</h3>
<p>Personal pensions (also known as private pensions) provide you with a regular income in your retirement. Find out about the tax implications of a personal pension and get information to help you decide whether a personal pension is suitable for you.</p>
<h3>What is a personal pension?</h3>
<p>With a personal pension you pay regular monthly amounts or a lump sum to the pension provider who will invest it on your behalf. The fund is usually run by financial organizations such as building societies, banks, insurance companies or unit trusts.</p>
<h3>Would a personal pension be good for you?</h3>
<p>Your decision will largely depend on how much you can afford to save for your pension and how much you will get from other pensions.</p>
<p>Personal pensions may be suitable for:</p>
<ul>
<li>people who are self-employed</li>
<li>people who are not working but can afford to pay for a pension</li>
<li>employees whose employer does not offer a company pension scheme</li>
<li>employees who have the option to pay into a company pension, but choose not to</li>
<li>employees on a moderate income who wish to top up the money they would get from a company pension</li>
</ul>
<p>A personal pension may not be the best choice if:</p>
<ul>
<li>your employer offers a company pension scheme</li>
<li>your employer offers access to a stakeholder pension scheme, with an employer contribution</li>
</ul>
<h3>Paying your personal pension</h3>
<p>Other people can pay into a personal pension on your behalf. This means that partners or other family members can help you save for your retirement.</p>
<p>If you have moderate earnings and think you’ll need to stop and start payments or vary the amount, you might consider a stakeholder pension. A stakeholder pension is a flexible type of personal pension.</p>
<h3>Other factors to consider before getting a personal pension</h3>
<p>Remember that choosing a personal pension scheme is an important financial decision and there are many things to consider:</p>
<ul>
<li>what are the rules on making contributions?</li>
<li>how much can you save and is the pension scheme ‘contracted out’ of the additional State Pension?</li>
<li>how will the money be invested?</li>
<li>how much does the pension provider charge you for setting up your pension and for administration?</li>
</ul>
<h3>How much pension you can get</h3>
<p>You will receive a yearly forecast from your pension service provider. This will tell you how much:</p>
<ul>
<li>your fund is worth</li>
<li>you can expect to receive if you continue to contribute at your current level</li>
</ul>
<p>The final value of your pension fund will depend mainly on how much has been paid in and how well the fund’s investments have performed. The companies that run these pensions charge you for starting up and running your pension. Charges are normally deducted from your fund.</p>
<p>Any questions about your personal pension should be directed towards your pension service provider.</p>
<h3>When can you take your personal pension?</h3>
<p>Most people choose to wait until they are 60 or 65, but you do not have to retire from work to get your pension benefits. You can also put off taking your pension until you are 75.</p>
<p>There are certain circumstances that will allow you to take your pension before you are 55. Your pension scheme provider will be able to tell you what your scheme allows.</p>
<h3>Getting financial advice about personal pensions</h3>
<p>If you’re unsure that a personal pension is right for you contact the Pensions Advisory Service or a financial adviser before making a decision. A financial or pensions adviser will also help you decide which particular personal pension is suitable for you.</p>
<h3>Bankruptcy – what happens to your pension</h3>
<p>If you have been made bankrupt, your pension rights, benefits or payments can be claimed now or in the future to help pay your bankruptcy debts. Find out who will assess your pension, when your pension can be claimed, what parts are protected and where to go for help and advice.</p>
<h3>Your pension and bankruptcy</h3>
<p>If you are made bankrupt, you lose control over any assets (property, shares, savings etc). These are sold or disposed of to help pay your bankruptcy debts by a person appointed to manage your bankruptcy. This person is called a ‘trustee’.</p>
<p>Your pension might be an asset, so the pension itself and benefits or payments from it might be claimed by your trustee to pay to your bankruptcy debts.</p>
<h3>Pension information you must provide</h3>
<p>The benefits and rights you have in your pension will be examined to see if it they can be claimed to help pay your bankruptcy debts. Your trustee can ask for information about your pension, for example:</p>
<ul>
<li>the name of any pension schemes you and/or your employer have contributed to</li>
<li>how much has been paid into it, particularly in the last two years</li>
<li>how much you are receiving in payments from a pension</li>
<li>how much you may have received from a pension as a lump sum</li>
</ul>
<p>You must provide any information you are asked for. If you don’t co-operate, it may affect the date you can be discharged (freed) from your bankruptcy and lead to further court action.</p>
<div class="prdetails">
</div>
</div>
