<div class="post">
<h1 class="single dotted">Rights &amp; Responsibilities</h1><hr>
<h3>Your rights: an introduction</h3>
<p>Find links to information about your rights and responsibilities depending on your situation in life. For example, you might have different rights if you are married, if you are a parent or if you are a care giver for someone who needs help.</p>
<h3>Couples living together</h3>
<p>Although co-habitants are given legal protection in several areas, they have significantly fewer rights and responsibilities than couples who are married or who have formed a civil partnership. There is no such thing as common law marriage or common law man and wife.</p>
<p>If you and your partner are living together or are thinking about living together as a couple there are issues you should consider in the event that you split up or if one of you were to die.</p>
<h3>Married couples and civil partners</h3>
<p>All marriages and civil partnerships need to be registered for the legal rights to come into force. This affects several areas including tax, benefits and, in the event that the marriage or partnership breaks down, your duty to provide reasonable maintenance for your partner and any children.</p>
<h3>Parents</h3>
<p>Parents do not automatically have rights over their children – these depend on ‘parental responsibility’. If as parents of a child you are married to each other or you have jointly adopted the child, then you both have parental responsibility. This is not automatically the case for civil partners or unmarried fathers. Mothers, whether married or not, are always deemed to have ‘parental responsibility’ for their children.</p>
<h3>Victims of domestic violence</h3>
<p>Domestic violence is not acceptable under any circumstances. Domestic violence causes physical and emotional harm and not just to you. Children can also be affected by it, even just from witnessing it.</p>
<p>If you are thinking about leaving an abusive relationship and are worried about your safety and that of your child, there is help available, whatever your relationship status. If you are a couple living together, whether heterosexual or same-sex you have the same rights as you would do if you were married or civil partnered. Men and women both have a right to be safe in their own homes and are entitled to the same level of help, support and protection.</p>
<h3>Employees</h3>
<p>If you are in employed in work, even if it is part-time, temporary or fixed term you are entitled to certain rights. In some cases there may be conditions to these rights but there are processes in place to ensure you have fair treatment. Your rights cover issues such as:</p>
<ul>
<li>age</li>
<li>disability</li>
<li>sex or gender</li>
<li>race or religion</li>
<li>sexual orientation</li>
<li>the length of your contract</li>
<li>the length of your employment</li>
<li>part-time work</li>
<li>ex-offenders</li>
</ul>
<p>You also have responsibilities as an employee according to the terms of your contract.</p>
<h3>Disabled people</h3>
<p>The disabled people’s section has information about the rights of disabled people, including information about the Disability Discrimination Act and rights in relation to access to goods and services, employment, health and education.</p>
<h3>Children and young people</h3>
<p>Under the Rights of the Child, all children and young people aged 17 and under have certain basic human rights. These include the right to life, nationality, contact with parents and also freedom of expression and the right to have their views respected.</p>
<h3>Senior Citizens</h3>
<p>Certain basic rights apply more and become more relevant to you as you get older. These include rights in terms of pensions and benefits as well as your right to certain services.</p>
<h3>Care Givers</h3>
<p>There are some specific rights that relate to care givers. These include employment rights, the right to an assessment and receipt of direct payments.</p>
<p>Specifically for young care givers, there is extra support available to make sure they:</p>
<ul>
<li>do not have to carry out a regular and substantial amount of caring for a disabled person</li>
<li>do not take on similar levels of caring responsibilities as adults</li>
</ul>
<h4>Local authorities should ensure that the education, development and general well-being of young care givers is not affected by caring responsibilities.</h4>
<h3>Discrimination – what are your rights?</h3>
<p>The law protects you from discrimination due to your age, gender, race, religion or beliefs, disability or sexual orientation. Find out where and how you are protected, and what to do if you have been discriminated against.</p>
<h3>Who is protected?</h3>
<p>By law people are protected from discrimination on the grounds of:</p>
<ul>
<li>race</li>
<li>sex</li>
<li>sexual orientation</li>
<li>disability (or because of something connected with your disability)</li>
<li>religion or belief</li>
<li>being a transsexual person</li>
<li>having just had a baby or being pregnant</li>
<li>being married or in a civil partnership (this applies only at work or if someone is being trained for work)</li>
<li>age (this applies only at work or if someone is being trained for work)</li>
</ul>
<h4>These are known as ‘protected characteristics’.</h4>
<h3>Race discrimination</h3>
<p>Wherever you were born, wherever your parents came from, whatever the colour of your skin, you have a right to be treated fairly.</p>
<h3>Gender equality – sex discrimination</h3>
<p>Women and men should not be treated unfairly because of their gender, because they are married or because they are raising a family.</p>
<h3>Sexual orientation</h3>
<p>Whether you are gay, lesbian, bisexual or straight should not put you at a disadvantage.</p>
<h3>Disability discrimination</h3>
<p>If you have a physical or mental impairment you have specific rights that protect you against discrimination.</p>
<h3>Religion and belief</h3>
<p>Your religion or belief, or those of somebody else, should not affect your right to be treated fairly. This could be at work, school, in shops or while using public services like health care.</p>
<h3>Transgender discrimination</h3>
<p>Trans people should be able to live with dignity. There are protections for some of the forms of discrimination that trans people experiences</p>
<h3>Age equality</h3>
<p>By law you cannot be treated less favourably in your workplace or in training for work because of your age. For example, it would be unlawful to not employ someone because of their age.</p>
<h3>Types of discrimination</h3>
<p>Discrimination comes in one or more of these four forms:</p>
<ul>
<li>direct discrimination – when someone is treated less favourably than others in the same circumstances</li>
<li>indirect discrimination – when someone puts in place rules that apply to everyone, but put you at an unfair disadvantage because of your protected characteristic</li>
<li>harassment – unwanted or uninvited behaviour that is offensive, embarrassing, intimidating or humiliating</li>
<li>victimization – when you are treated less favourably than someone else because you have complained about discrimination, or supported someone else who has.</li>
</ul>
<h3>Where you are protected?</h3>
<p>You are protected from discrimination in the following situations:</p>
<ul>
<li>at work</li>
<li>in education</li>
<li>as a consumer</li>
<li>when using public services</li>
</ul>
<h3>Solving a discrimination dispute</h3>
<p>The law protects you from being treated unfairly because of qualities such as your race, gender, sexuality or religion. Find out what you can do and who can help if you think someone has discriminated against you unfairly.</p>
<h3>What to do if you’re being discriminated against</h3>
<p>Speak to the person or organization</p>
<p>If you feel you are being discriminated against, you may want to see if you can speak informally to the person or organization first. They may be unaware of the problem, and may be prepared to offer an apology or compensation.</p>
<p>If the problem happened at work, there may be grievance procedures you can use. </p>
<h3>Disabled people’s rights in everyday life</h3>
<p>Find out about your rights as a disabled person in different areas of life, including employment, health and education. Protection also applies where direct discrimination and harassment happens because a person is associated with a disabled person or is wrongly perceived to be disabled.</p>
<div class="prdetails">
</div>
</div>
