<div class="post">
<h1 class="single dotted">Signals (103-112)</h1><hr>
<ol>
<li>Signals warn and inform other road users, including pedestrians, of your intended actions. You should always</li>
<li>give clear signals in plenty of time, having checked it is not misleading to signal at that time</li>
<li>use them to advise other road users before changing course or direction, stopping or moving off</li>
<li>cancel them after use</li>
<li>Make sure your signals will not confuse others. If, for instance, you want to stop after a side road, do not signal until you are passing the road. If you signal earlier it may give the impression that you intend to turn into the road. Your brake lights will warn traffic behind you that you are slowing down</li>
<li>Use an arm signal to emphasize or reinforce your signal if necessary. Remember that signaling does not give you priority</li>
<li>You should also watch out for signals given by other road users and proceed only when you are satisfied that it is safe and be aware that an indicator on another vehicle may not have been cancelled</li>
<li>You MUST obey signals given by police officers, traffic officers, traffic wardens and signs used by school crossing patrols.</li>
<li>Police stopping procedures. If the police want to stop your vehicle they will, where possible, attract your attention by flashing blue lights, headlights or sounding their siren or horn, usually from behind directing you to pull over to the side by pointing and/or using the left indicator. You MUST then pull over and stop as soon as it is safe to do so. Then switch off your engine.</li>
</ol>
<h3>Other Stopping Procedures</h3>
<ol>
<li>Vehicle &amp; Operator Services Agency Officers have powers to stop vehicles on all roads, including motorways and trunk roads, in South Africa. They will attract your attention by flashing amber lights either from the front requesting you to follow them to a safe place to stop or from behind directing you to pull over to the side by pointing and/or using the left indicator. It is an offence not to comply with their directions. You MUST obey any signals given.</li>
<li>Traffic light signals and traffic signs. You MUST obey all traffic light signals and traffic signs giving orders, including temporary signals and signs. Make sure you know, understand and act on all other traffic and information signs and road markings.</li>
<li>Flashing headlights. Only flash your headlights to let other road users know that you are there. Do not flash your headlights to convey any other message or intimidate other road users.</li>
<li>Never assume that flashing headlights is a signal inviting you to proceed. Use your own judgment and proceed carefully.</li>
<li>The horn. Use only while your vehicle is moving and you need to warn other road users of your presence. Never sound your horn aggressively. You MUST NOT use your horn while stationary on the road or when driving in a built-up area between the hours of 11.30 pm and 7.00 am, except when another road user poses a danger.</li>
</ol>
<div class="prdetails">
</div>
</div>
