<div class="post">
<h1 class="single dotted">Road Safety for Children</h1><hr>
<p>Accidents on the road are a major cause of injury and death for children of all ages. Find out how you can help to keep your child safe by setting a good example and teaching them the rules of the road.</p>
<h3>Set a good example yourself</h3>
<p>You should start teaching your child about the dangers of the road as early as possible so they develop a good road and traffic awareness. You can set a good example by:</p>
<ul>
<li>explaining road safety and getting them to talk about it</li>
<li>use the Highway Code</li>
<li>encouraging your child to notice and discuss what they see around them on the road</li>
<li>always crossing roads at the safest place, preferably a pedestrian crossing</li>
<li>never using a mobile phone or listening to music while crossing the road</li>
<li>never taking risks as your child will copy you</li>
<li>wearing bright, fluorescent or reflective clothing when you’re out and about so drivers can see you</li>
<li>practicing judging speed and distance with them</li>
<li>helping them to work out the safest routes for journeys they make</li>
</ul>
<h3>When your child needs a car seat</h3>
<p>When travelling in a vehicle, children need to use the right car seat until they reach 135 centimetres tall or age 12. The type of car seat your child needs depends on their weight. Find out which seat your child needs.</p>
<div class="prdetails">
</div>
</div>
