<div class="post">
<h1 class="single dotted">Safe Job Seeking</h1><hr>
<p>When you are looking for work no matter how the job has been advertised, it is always your responsibility to protect your own safety. Here are some basic tips on protecting your personal details and steps you can take to protect yourself when looking for work.</p>
<h3>Asking or applying for a job</h3>
<p>When asking or applying for a job you should never:</p>
<ul>
<li>give your personal financial details, like your bank account number</li>
<li>give your date of birth</li>
<li>give your driving license number</li>
<li>give your passport number</li>
<li>give out copies of your utility bills</li>
<li>provide a photograph</li>
<li>provide any other details you believe to be personal</li>
</ul>
<p>You may need to provide these details when you actually have a proper job offer or start a job.<br>
You should also never:</p>
<ul>
<li>pay any fees upfront for help with job searches or training</li>
<li>allow the interview to take place in your own home</li>
<li>talk about personal matters that have nothing to do with the job</li>
<li>accept a lift from the person interviewing you</li>
</ul>
<p>You should always consider:</p>
<ul>
<li>finding out as much as you can about the company or the person the interview is with</li>
<li>how you will get to the interview and back</li>
<li>telling a friend or relative where you are going and what time you expect to be back</li>
<li>trying to arrange for someone to collect you if the interview takes place outside normal working hours</li>
<li>make sure the interview is at the company’s place of work or in a suitable public place</li>
</ul>
<p>For jobs that offer a place to live with them, always make sure you check out the accommodation before accepting the job. If possible don’t go alone, even if this means a friend or family member has to wait outside for you.</p>
<div class="prdetails">
</div>
</div>
