<div class="post">
<h1 class="single dotted">Road Safety</h1><hr>
<h3>Drink driving: limits and penalties</h3>
<p>It’s illegal to drive if you’re above the legal drink drive limit, and it is punishable by severe penalties. Find out what the limits are, how alcohol affects your driving and what happens if you’re caught drink driving.</p>
<p>Any amount of alcohol affects your ability to drive</p>
<p>Even a single drink affects your driving performance. If you drive after drinking, you’ll:</p>
<ul>
<li>be less alert and careful, however slowly you drive</li>
<li>have trouble judging your speed</li>
<li>be slower to react to hazards and it will take you longer to stop</li>
</ul>
<h3>No safe way to calculate how to stay below limit</h3>
<p>Never offer an alcoholic drink to someone who is going to drive, there’s no safe way to calculate how much alcohol you can drink and stay below the limit. The way alcohol affects you depends on:</p>
<ul>
<li>your weight, age, sex and metabolism (the rate at which your body uses energy)</li>
<li>your stress levels at the time</li>
<li>what you have eaten recently</li>
<li>the type and amount of alcohol you’re drinking</li>
</ul>
<p>The only way to stay safe is not to drink any alcohol if you’re driving.</p>
<h3>What happens if you’re caught driving above the limit</h3>
<h4>THINK! Don’t drink and drive</h4>
<p>You’ll be arrested and taken to a police station if you’re driving and:</p>
<ul>
<li>you fail a roadside breath test</li>
<li>the police believe that you’re unfit to drive because you have been drinking</li>
</ul>
<p>At the police station, you’ll be asked to give two breath specimens (samples) into an evidential breath-testing instrument. The police will use the lower of the two readings to decide whether you’re above the limit and have committed an offence.</p>
<p>If you’re charged with an offence, you may have your photograph, fingerprints and DNA taken. Then you’ll be either:</p>
<ul>
<li>released on bail to attend court</li>
<li>held by the police – if they think you could commit another offence</li>
</ul>
<p>The police won’t release you if they think you’ll drive away while still above the limit.<br>
If your breath reading is no more than 50 micrograms per 100 millilitres, you’ll be given the opportunity to provide a blood or urine sample. The police will decide which it will be. You’ll be released on bail until the police have analyzed the samples. If the results show you were the above the drink drive legal limit, you’ll be charged.</p>
<h3>Speed limits and speeding</h3>
<p>There are different speed limits for cars, vans and towing vehicles on different types of roads. Make sure you know the legal speed limits for your vehicle, the penalties for speeding and when to slow down to suit the road conditions.</p>
<h3>Mobile phones and driving</h3>
<p>Using your mobile phone when driving or riding a vehicle is dangerous. If you’re caught using a hand-held phone while driving, you could be prosecuted. Find out why using your phone when driving is distracting, what the penalties are and when it is safe to use your phone.</p>
<h3>When your child needs a car seat</h3>
<p>When travelling in a vehicle, children need to use the right car seat until they reach 135 centimeters tall or age 12. The type of car seat your child needs depends on their weight. Find out which seat your child needs.</p>
<h3>Using a seat belt</h3>
<p>You must wear a seat belt if one is fitted in the seat you’re using. But you need to wear your seat belt correctly for it to work properly in a crash. Find out when you must wear a seat belt and how it should be worn</p>
<h3>Breakdowns and driving in different road conditions</h3>
<h3>How to drive safely in extreme weather</h3>
<p>Extreme weather conditions and icy roads can make driving more difficult, especially in winter. By following the Road Agency’s advice you can help to make your journey safer and reduce delays for everyone.</p>
<h4>Be prepared for bad weather</h4>
<p>Make sure you don’t get caught out when severe weather strikes.</p>
<h3>Check and service your vehicle</h3>
<p>You can reduce your chances of breaking down by regularly servicing your car.<br>
You should also:</p>
<ul>
<li>top up anti-freeze and screenwash</li>
<li>check for wear and tear on wiper blades (replace them as soon as they start to smear rather than clean windows)</li>
<li>make sure your battery is fully charged (batteries last between two and four years – replace yours if it’s no longer reliable)</li>
<li>keep tyre pressure at the manufacturer’s recommended level and check you have at least 3 millimeters of tread</li>
<li>wipe dirt and spray off headlamps and make sure all bulbs are working</li>
<li>Carry an emergency kit</li>
</ul>
<p>A basic kit should include:</p>
<ul>
<li>map</li>
<li>jump leads for the car battery</li>
<li>torch</li>
<li>warning triangle</li>
<li>ice scraper and de-icer</li>
<li>first-aid kit</li>
<li>warm clothes</li>
</ul>
<p>If you are planning a long trip or if severe weather is forecast, you may want to add:</p>
<ul>
<li>a shovel (if there’s a chance of snow)</li>
<li>a pair of boots</li>
<li>a blanket</li>
<li>any medication you need to take regularly</li>
<li>food and a thermos with a hot drink</li>
</ul>
<p>Sunglasses are useful too, because of the glare in snowy conditions, plan your journey and check weather and travel advice</p>
<p>Ask yourself whether you really need to travel or if you can delay your journey until conditions improve.</p>
<h3>If you must travel, plan your journey carefully.</h3>
<p>Before you set off:</p>
<ul>
<li>check live traffic information online or by calling the Road Traffic Agency and be prepared to delay your journey or change your route</li>
<li>plan your route, including breaks at service areas if you are doing a long motorway journey<br>
As you travel.</li>
<li>listen to travel news and weather on local radio (if you have a digital radio set it to Traffic Alerts)</li>
<li>you can check conditions on the road ahead using Road Traffic Agency Information Points at service areas and other venues</li>
<li>Drive to suit the conditions</li>
</ul>
<h3>Stopping distances</h3>
<p>On slippery roads, it can take up to ten times longer to stop – reduce your speed and drive carefully, even if roads have been gritted</p>
<p>In the most severe weather conditions, you should only drive if you really need to. Otherwise it may be better to delay your journey until the weather improves.</p>
<p>Even after roads have been treated in winter, driving conditions may remain challenging – especially if there is a high risk of ice. Be aware that ice forms more easily on:</p>
<ul>
<li>hilly or exposed roads</li>
<li>roads that pass under or over a bridge</li>
<li>roads shaded by trees or buildings</li>
</ul>
<h4>Starting to skid </h4>
<p>If you start to skid:</p>
<ul>
<li>press the clutch</li>
<li>steer into the skid</li>
<li>as you straighten, steer back along the road</li>
</ul>
<h4>Don’t let winter turn you into a bad driver – check the Highway Code to learn more…</h4>
<div class="prdetails">
</div>
</div>
