<div class="post">
<h1 class="single dotted">Secondary Education</h1><hr>
<h2>Schools, learning and development</h2>
<h3>Choosing a school: getting started</h3>
<p>Choosing a school is one of the most important decisions you will make for your child. To have the best chance of getting your child into the primary or secondary school of your choice, you must apply well in advance.</p>
<h3>Planning and preparing</h3>
<p>The process of choosing a school for your child can seem daunting, but starting your preparation and planning early can help you to make a well-informed choice.</p>
<p>Remember that all parents need to make an application – even if your child’s current primary or nursery school is linked to the school you want them to go to next, you won’t be considered for a place unless you apply.</p>
<p>Making an early start will mean that you’ll be less likely to miss key deadlines.</p>
<h3>Finding a school for your child</h3>
<p>Search for schools near you</p>
<p>Start by looking online for schools in your area. You can also contact your local authority and ask for a list of schools in your area.</p>
<h3>Find out more</h3>
<p>Once you know which schools are near you, get as much information as you can about them. This will give you a better idea of which schools might suit your child most.</p>
<p>For example, you might like to:</p>
<ul>
<li>visit the schools</li>
<li>read the schools’ most recent reports</li>
<li>read the local authority’s and schools’ prospectuses</li>
</ul>
<h3>Applying for a school place</h3>
<p>Once you have narrowed down your list of preferred schools, it’s time to apply for a place.</p>
<h3>Admissions criteria</h3>
<p>Before submitting your application, it’s very important to read the school’s admission criteria; different schools have different criteria. If the school you’re interested in is popular, the admissions criteria will give you a realistic idea of your child’s chances of getting a place there.</p>
<p>Apply in the autumn term a year before your child is due to start.</p>
<h4>Don’t miss the deadline</h4>
<p>There are important dates by which you need to submit your application.</p>
<p>The dates vary between local authorities so it’s best to check with your own local authority and send off your form or apply online in plenty of time. It’s important to remember that you may jeopardize your application if you miss the deadline.</p>
<h3>Appealing against a school place decision</h3>
<p>Sometimes schools do not have enough places for the number of children who have applied. If your child does not get a place at the school you prefer, you have a legal right to appeal. Find out how the appeal process works and what happens once a decision has been reached.</p>
<h3>Types of schools</h3>
<p>There are many different types of state school as well as independent schools. To help you make a choice for your child, this page provides some information on each type of school and their admission procedures.</p>
<h3>Mainstream state schools</h3>
<p>All children in South Africa between the ages of five and 16 are entitled to a free place at a government school. Most go to government schools.</p>
<p>Children normally start primary school at the age of five or six, but many schools now have a reception year for four-year olds. Children normally leave at the age of 12, moving on to secondary school. Most government schools admit both boys and girls, though some are single-sex.</p>
<p>The four main types of state school all receive funding from local authorities. They all follow the National Curriculum and are regularly inspected by the Education Department.</p>
<h3>Community schools</h3>
<p>A community school is run by the local authority, which:</p>
<ul>
<li>employs the staff</li>
<li>owns the land and buildings</li>
<li>decides which ‘admissions criteria’ to use (these are used to allocate places if the school has more applicants than places)<br>
Community schools look to develop strong links with the local community, sometimes offering use of their facilities and providing services like childcare and adult learning classes.</li>
</ul>
<h3>Foundation and Trust schools</h3>
<p>
Foundation schools are run by their own governing body, which employs the staff and sets the admissions criteria. Land and buildings are usually owned by the governing body or a charitable foundation.</p>
<p>A Trust school is a type of foundation school which forms a charitable trust with an outside partner – for example, a business or educational charity – aiming to raise standards and explore new ways of working.<br>
The decision to become a Trust school is taken by the governing body, with parents having a say.</p>
<h3>Voluntary-aided schools</h3>
<p>Voluntary-aided schools are mainly religious or ‘faith’ schools, although anyone can apply for a place. As with foundation schools, the governing body:</p>
<ul>
<li>employs the staff</li>
<li>sets the admissions criteria</li>
</ul>
<p>School buildings and land are normally owned by a charitable foundation, often a religious organization. The governing body contributes to building and maintenance costs.</p>
<h3>Voluntary-controlled schools</h3>
<p>Voluntary-controlled schools are similar to voluntary aided schools, but are run by the local authority. As with community schools, the local authority:</p>
<ul>
<li>employs the school’s staff</li>
<li>sets the admissions criteria</li>
</ul>
<p>School land and buildings are normally owned by a charity, often a religious organization, which also appoints some of the members of the governing body.</p>
<h3>Specialist schools</h3>
<p>Though they follow the National Curriculum, specialist schools focus on a particular subject area. Examples include sports, technology or visual arts.</p>
<h3>Academies</h3>
<p>Academies are independently managed, all-ability schools. They are set up by sponsors from business, faith or voluntary groups in partnership with the Department of Education and local authorities. Together they fund the land and buildings, with the government covering the running costs.</p>
<h3>City Technology Colleges</h3>
<p>These are independently managed paying schools in urban areas for pupils of all abilities aged 11 to 18. They are geared towards science, technology and the world of work, offering a range of vocational qualifications as well as A level courses.</p>
<h3>Community and foundation special school</h3>
<p>Special schools cater for children with specific special educational needs. These may include physical disabilities or learning difficulties.</p>
<h3>Faith schools</h3>
<p>Faith schools are mostly run in the same way as other state schools. However, their faith status may be reflected in their religious education curriculum, admissions criteria and staffing policies.</p>
<h3>Grammar schools</h3>
<p>Grammar schools select all or most of their pupils based on academic ability.</p>
<h3>Maintained boarding schools</h3>
<p>Maintained boarding schools offer free tuition, but charge fees for board and lodging.</p>
<h3>Private schools</h3>
<p>There are around 1000 private and semi-private schools in South Africa. These schools set their own curriculum and admissions policies. They are funded by fees paid by parents and income from investments. Just over half have charitable status.</p>
<p>Every private school must be registered with the Department of Education. Standards are regularly monitored by an inspector approved by the South African Government, ensuring that the school maintains the standards set out in its registration document.</p>
<h3>Finding a school to suit your child</h3>
<p>Finding out as much as you can will help you to make an informed decision about which schools to apply to. Ask yourself what you and your child need from a school, and start gathering information early.</p>
<h3>Get information about schools</h3>
<p>It’s a good idea to start gathering information as soon as possible, so that you can plan visits to schools and make applications on time. You may find it useful to:</p>
<ul>
<li>contact your local authority for information about schools near you</li>
<li>ask yourself which of the schools would best meet your child’s needs</li>
<li>visit schools</li>
<li>read individual school prospectuses, performance tables and reports</li>
<li>Contacting your local authority</li>
</ul>
<p>Your local authority is a useful source of information. Each year, local authorities produce a prospectus booklet (known in most areas as the ‘Information for Parents’ booklet). Usually published in the summer, the booklet is available free to parents.</p>
<p>It will have details on a number of important areas, including:</p>
<ul>
<li>the application process and deadlines</li>
<li>the number of pupils at each school</li>
<li>how places will be allocated if the school is oversubscribed (the admissions criteria)</li>
</ul>
<p>You can get a copy by contacting your local authority, or pick one up at your local library.</p>
<h3>Get information online</h3>
<p>You can also get information about schools from your local authority’s website. The links below let you enter details of where you live, then take you to the relevant pages on your local authority’s website.</p>
<h3>What type of school best fits your child’s needs?</h3>
<p>Once you have found some local schools which could suit your child, draw up a shortlist.</p>
<p>Before you apply to a school think about your child’s personality and their needs. Also consider your family’s needs: would you prefer a school which can offer access to after school childcare? All children are different, and you may find that the school with the best reputation is not necessarily the best choice for your child.</p>
<h3>Which school does your child prefer?</h3>
<p>Find out what matters to them. You might not agree, but it’s important to talk about where they would like to go. This may be more relevant when your child is older and you are choosing a secondary school. Where are their friends going? Starting a new school can be daunting, and having one or two close friends there can help.</p>
<h3>Does your child need special attention?</h3>
<p>If your child is very bright, shows particular patterns of behaviour or has special needs, it’s important to find a school that will be able to give them the necessary support.</p>
<h3>Does your child have specific interests?</h3>
<p>If they are keen on sport or a specific subject (like maths, languages, art or music) you may want to consider how the school can help to develop their interests. While all state schools follow the National Curriculum, some specialize in a particular subject. There’s more about Specialist schools in ‘Types of school’.</p>
<h3>What extended services does the school offer?</h3>
<p>An increasing number of schools are offering services outside normal school hours like a soup kitchen or after-school activities.</p>
<p>Decisions about which extended services to offer are made by the schools themselves. To get information about which services are being offered by your child’s school, you should contact the school directly.</p>
<h3>Visit the school</h3>
<p>If you think a school may suit your child, go and see it for yourself. Most schools have open days or evenings, providing a good opportunity to see schools at their best, to tour the school, meet staff and have a look at children’s work.</p>
<p>While you are there, ask yourself:</p>
<ul>
<li>how welcoming the school feels, and whether you are impressed by the children’s work on display</li>
<li>is the school well equipped – find out where pupils do sport, and what computer facilities are available</li>
<li>how your child will get to school – think about safe routes, transport and the length of the journey  (it’s worth remembering that children can get tired on long journeys, and winter mornings and evenings can be dark and cold)</li>
<li>whether the school has a Parent Teacher Association (PTA) – the PTA may be able to give you more information about the school and advice on admissions</li>
</ul>
<p>You can find out more about PTAs in ‘Getting involved with your child’s education’.</p>
<h3>School performance data and reports</h3>
<p>You might also like to read individual school prospectuses, performance tables and the latest school reports.</p>
<h3>School uniform</h3>
<p>The governing body of each school decides on the uniform policy or dress code, and it is the Principals’ responsibility to make sure pupils keep to the rules. If you have any complaints about the uniform policy or dress code, talk to the school governing body.</p>
<h3>Cost of school uniform</h3>
<p>When deciding on a uniform policy, all schools are expected to give high priority to cost considerations. No school uniform should be so expensive as to leave pupils or their families feeling excluded.</p>
<p>The cost of a uniform should not stop parents from sending their child to the school of their choice. Governing bodies should consult parents for their views and concerns before changing or deciding on a new uniform policy.</p>
<p>In South Africa some local authorities provide discretionary grants to help with buying school uniforms. Local authorities that offer these grants set their own criteria for eligibility.</p>
<p>Schools can help limit the expense of uniforms by choosing a colour scheme rather than a full uniform or by ensuring that the uniform chosen is widely available in high street shops rather than a sole supplier.</p>
<h3>Apply for help with school clothing costs</h3>
<p>Families who are on benefits or on low-income may be entitled to clothing grants or vouchers from their local authorities to assist with the cost of school clothing.</p>
<h3>Physical education (PE)</h3>
<p>School uniform often includes clothing required for PE lessons. Schools should choose a PE kit which is practical, comfortable and appropriate to the activity involved. Sex and race discrimination issues must also be considered. As with the regular school uniform, school governing bodies are expected to consider the cost to parents when deciding on a policy for PE kit.</p>
<h3>Breaching uniform policy</h3>
<p>If your child breaks the rules when it comes to school uniform, they could be punished by the Principal. More serious punishments like suspension or expulsion from the school are only considered acceptable if the pupil’s disregard of uniform policy is persistent and defiant.</p>
<p>Schools should be considerate if a pupil does not keep to the uniform policy, and try to find out why it is happening. If a family is having financial difficulties, the school should allow for this and give the parents time to buy the right items.<br>
Pupils should not be made to feel uncomfortable, nor discriminated against, because their parents cannot provide them with the right school uniform.</p>
<h3>Human rights and anti-discrimination issues</h3>
<p>While pupils must stick to the school’s uniform policy, schools must be considerate to the needs of different cultures, races and religions. Schools must always act reasonably and sensibly in accommodating religious requirements, providing they do not pose a threat to security, safety and learning, or compromise the well-being of the school community.</p>
<p>Schools must not discriminate on the grounds of gender, race, disability, sexual orientation or belief.</p>
<h3>Home to school travel</h3>
<p>Schools should be aware of the need to encourage children to walk and cycle to school. School governors should consider this, and the possible inclusion of light colours and reflective materials as part of the uniform.</p>
<h3>Costs for school activities</h3>
<p>Although there is usually no cost in sending your child to a maintained school, you may have to pay for some activities. Find out when schools are likely to charge you for activities related to your child’s education.</p>
<h3>Activities during school hours</h3>
<p>When an activity is provided wholly or mainly during school hours, it should be free. This even includes activities that might cost the school money, like swimming lessons at a local pool or a museum visit.</p>
<h3>Voluntary contributions</h3>
<p>Head teachers or governing bodies may ask parents for a voluntary contribution towards the cost of:</p>
<ul>
<li>any activity which takes place during school hours</li>
<li>school equipment</li>
<li>school funds generally</li>
<li>The contribution must be genuinely voluntary, and the pupils of the parents who can’t or don’t want to contribute cannot be excluded from the activity.</li>
<li>Where there aren’t enough voluntary contributions to make the activity possible, and there’s no other way to get funds, then the activity must be cancelled.</li>
</ul>
<h3>Homework: what parents need to know?</h3>
<p>Schools are encouraged to plan homework carefully alongside work that children do at school, and to ensure that all activities are appropriate for individual children. Here are some guidelines to give you an idea of how much time your child should be spending on homework, and how you can help them.</p>
<h3>Homework guidelines for primary and secondary schools</h3>
<p>The emphasis is on how homework helps your child to learn, rather than on whether it takes a certain amount of time, for example, some children will work quicker than others and get more done in less time. </p>
<p>The rough guidelines for primary school children are:</p>
<ul>
<li>Years 1 and 2: one hour per week</li>
<li>Years 3 and 4: 1.5 hours per week</li>
<li>Years 5 and 6: 30 minutes per day</li>
</ul>
<p>The guidelines for secondary school children are:</p>
<ul>
<li>Years 7 and 8: 45 to 90 minutes per day</li>
<li>Year 9: one to two hours per day</li>
<li>Years 10 and 11: 1.5 to 2.5 hours per day</li>
</ul>
<p>Your child shouldn’t be expected to spend much longer on homework than the guide times. It doesn’t matter if activities don’t take as long as the guide times as long as they are useful. Schools should organize homework carefully so that children aren’t asked to do too much on any one day.</p>
<h3>Homework activities</h3>
<p>All homework activities should be related to work that children are doing at school. However, homework should not always be written work. For younger children it will largely be:</p>
<ul>
<li>reading with parents or care givers</li>
<li>informal games to practice mathematical skills</li>
<li>For older children homework activities may include:</li>
<ul>
<li>reading</li>
<li>preparing a presentation to the class</li>
<li>finding out information</li>
<li>making something</li>
<li>trying out a simple scientific experiment</li>
<li>cooking</li>
</ul>
</ul>
<p>It doesn’t matter if activities don’t take as long as the guide times as long as they are useful.</p>
<h3>Helping your child with homework</h3>
<p>Schools are happy for you to support and help your child with their homework. However, they will also want to see what your child can do on their own. As they get older, it is particularly important for your child to become more independent in their learning.</p>
<p>Your child is likely to get more out of an activity if you get involved, as long as you don’t take over too much. If you’re unsure about what your role should be, you should discuss it with your child’s school.</p>
<div class="prdetails">
</div>
</div>
