<div class="post">
<h1 class="single dotted">Selling Your Home</h1><hr>
<h3>Using an estate agent – selling a property</h3>
<p>If you are selling a property and want to use an estate agent, you will usually sign a contract and have to pay a fee. Find out about finding an estate agent and signing the contract.</p>
<h3>Finding an estate agent</h3>
<p>If you choose to use an estate agent to help you sell your property, make figure you shop around and find the right company for you. Ask family and friends for recommendations.</p>
<h3>Trade organizations for Estate Agents</h3>
<p>Choosing an estate agent that is registered with an organization will give you an indication of the standards they will follow in their work. Property organizations set a standard of professional behaviour, which its members have to follow.</p>
<p>All estate agents are bound by the Estate Agents Act</p>
<h3>The contract and fees</h3>
<p>When you use an estate agent to help you sell a property, you have to sign a legally binding contract. Once signed, you have to stick to the terms of the contract or you could face being taken to court.</p>
<h3>Before you sign the contract</h3>
<p>Before signing, read the contract carefully and make sure you understand it. Find out whether you have the right to cancel the contract and check how long it will run. It should allow a reasonable length of time to market your property and find potential buyers. Beware of contracts that tie you to an estate agent for a very long time. If you are unsure, get advice from a solicitor or your local advice centre.</p>
<h3>Check the meaning of unfamiliar terms</h3>
<p>You may come across some unfamiliar terms in a contract. Make sure you understand what you are agreeing to. The terms ‘sole agency’, ‘sole selling rights’ and ‘ready, willing and able purchaser’ must be explained in writing if they are used in a contract. Make sure that you understand how much you will have to pay, when and under what circumstances.</p>
<h3>Moving to your new home</h3>
<p>There is so much to organize when you move house, so use this checklist to make sure that you’ve got everything covered. But don’t notify anyone of your change of address until the contracts have been exchanged, as the sale can still fall through leaving you to contact everyone again.</p>
<h3>Making sure you’ve covered everything</h3>
<ul>
<li>Change your Council Tax details</li>
<li>If you receive benefits have you told your benefit provider?</li>
<li>Do you need a new doctor or dentist?</li>
<li>Have you redirected your post to your new address?</li>
<li>Have you told the utility providers (rates, water, and electricity)?</li>
<li>Have you updated your driving license and vehicle registration documentation?</li>
<li>Have you updated your details on the Electoral Register?</li>
<li>Have you told TV (television) licensing?</li>
<li>If you have an identity card, have you updated your details?</li>
</ul>
<h3>Property value and valuations</h3>
<p>How much you can sell your current home for will be crucial when deciding your next move. It pays to do some research to make sure you achieve the best price in the shortest time.</p>
<h3>Conveyancing for sellers</h3>
<p>Conveyancing is the process of legally transferring ownership of a property from the seller to the buyer. Conveyancing also includes the various searches and enquiries and any final tasks following the sale. Find out what you need to do and where to find a solicitor or licensed conveyancer to help you.</p>
<div class="prdetails">
</div>
</div>
