<div class="post">
<h1 class="single dotted">Sentencing, Prison &amp; Probation</h1><hr>
<h3>Being sentenced by a court – an overview</h3>
<p>If you’re found guilty of a crime, you will be given a sentence by a court. This could be a discharge, fine, community sentence or time in prison. Find out about different types of sentences, why some crimes don’t go to court and how to appeal against a sentence.</p>
<h3>What a sentence is</h3>
<p>A sentence is the punishment a court thinks is necessary based on the crime you have been found guilty of. A judge (or magistrate) decides the sentence.</p>
<h3>How sentences are worked out</h3>
<p>A judge (or magistrate) will look at several things when deciding a sentence, including:</p>
<ul>
<li>the type of crime and how serious it is</li>
<li>if you have a criminal record</li>
<li>your personal circumstances – for example, if you have a mental health condition</li>
<li>if and when you admit your guilt </li>
</ul>
<h3>Types of sentences</h3>
<p>There are four main types of sentence. These are:</p>
<ul>
<li>discharges</li>
<li>court fines</li>
<li>community sentences</li>
<li>prison sentences</li>
</ul>
<h4>You may be ordered to do other things as part of, or in place of these sentences.</h4>
<h3>Discharges</h3>
<p>If a court decides you are guilty, but decides not to punish you further, you are given a ‘discharge’. Discharges may be given for minor crimes – for example, being drunk and disorderly in public.</p>
<p>A court may give a discharge if it decides the experience of going to court is enough of a punishment.</p>
<p>There are two types of discharge:</p>
<ul>
<li>an absolute discharge – no more action is taken by the court</li>
<li>a conditional discharge – no more action is taken unless you commit another crime within a set period of time</li>
</ul>
<h3>Court fines</h3>
<p>Many people convicted of a crime are fined. You could be fined for:</p>
<ul>
<li>a driving or road traffic offence – for example, speeding</li>
<li>minor offences of theft or criminal damage</li>
<li>not having a TV license</li>
</ul>
<h3>Community sentences</h3>
<p>Instead of being fined or sent to prison you could get a community sentence. Community sentences place ‘requirements’ on you – things you must do, or not do in the community.</p>
<p>Requirements can include:</p>
<ul>
<li>doing unpaid work</li>
<li>getting treatment for an addiction (for example drugs)</li>
<li>stopping you from going to a specific place or area</li>
</ul>
<h3>Prison sentences</h3>
<p>You could get a prison sentence if your crime is so serious that a prison sentence is the only suitable type of punishment.</p>
<h3>Court orders</h3>
<p>A judge (or magistrate) can add a further court order to your sentence – for example, a compensation order. A compensation order could include, for example, you have to pay your victim for the damage you did to their property.</p>
<h3>Types of prison sentence</h3>
<p>There are different types of prison sentences depending on how serious the crime committed is. Some are for a fixed length of time and others include a minimum amount of time before a person has any chance of release. Find out about the different types of sentences.</p>
<h3>Court fines</h3>
<p>Fines are given by courts for a range of ‘low-level’ crimes. The fine amount will depend on the offence and how much an offender is able to pay. Find out what fines a court can give and what happens if a fine is not paid.</p>
<h3>Why court fines are given</h3>
<p>As the majority of cases heard by courts are for low level offences – like speeding – fines are the most common criminal sentence given.</p>
<p>Fines are given to punish an offender financially by limiting the amount of money they have to spend.</p>
<h3>Probation – what it is</h3>
<p>Instead of sending you to (or making you stay in) prison, a court may put you ‘on probation’. You may have to do things like unpaid work and also keep in regular touch with an offender manager. Find out what’s involved while on probation.</p>
<h3>How probation works</h3>
<p>While on probation, you have to follow a set of rules as part of your court sentence. For example, a court may order you to have regular meetings with an ‘offender manager’.<br>
Offender managers supervise (manage) people on probation. They do this by helping the people they supervise to:</p>
<ul>
<li>identify problems in their life and get over them</li>
<li>keep to the rules set as part of their sentence</li>
<li>stay out of trouble</li>
</ul>
<p>This could mean helping them to:</p>
<ul>
<li>complete an education or training course</li>
<li>get treatment for any addictions – like drugs or alcohol</li>
<li>get help with any problems with behaviour</li>
</ul>
<h4>Other rules can include things like having to complete a course to improve skills.</h4>
<h3>What happens if you break the terms of your probation?</h3>
<p>If you are on probation you must follow strict rules – like attending regular meetings with an offender manager. If you break any rules, you may have to return to court or be sent back to prison. Find out what happens if you break the terms of your probation.</p>
<h3>Types of rules you must follow while on probation</h3>
<p>If you have a community sentence, or are released from prison under license or parole, there are rules you must follow.</p>
<p>These could include having to:</p>
<ul>
<li>go on a course to help you stop committing crime</li>
<li>get treatment for an addiction you may have – like drugs</li>
<li>stay in your home between certain hours</li>
</ul>
<h3>Prison life – an overview</h3>
<p>When someone goes to prison they have to follow many rules and procedures – but they also have certain rights. Find out more about what prison life is like, what prisoners can expect while they are there and what happens if rules are broken.</p>
<h3>What happens when someone arrives at prison?</h3>
<p>When someone’s convicted and sent to prison by a court, they’re first sent to a prison near the court where they were convicted.</p>
<p>When they arrive, checks take place to make sure they have everything they need and to highlight any problems, like a medical condition.</p>
<h3>Deciding which prison someone is kept in</h3>
<p>The prisoner is assessed at the first prison they arrive at. This assessment leads to a decision about which type of prison they serve their sentence at.</p>
<h4>Prisoners’ rights</h4>
<p>All prisoners have certain rights. These include:</p>
<ul>
<li>the right to food and water</li>
<li>protection from bullying and racial harassment</li>
<li>being able to get in contact with a solicitor</li>
<li>healthcare – including support for prisoners with a mental health condition</li>
</ul>
<h3>What a prisoner can keep in their prison cell</h3>
<p>Each prison has its own rules about what a prisoner can keep in their cell. They may be able to keep things such as:</p>
<ul>
<li>newspapers, books and magazines</li>
<li>a stereo, or something to play music on, and earphones</li>
<li>writing and drawing materials</li>
</ul>
<p>Prison staff can search a cell at any time, without warning. They can punish a prisoner if any banned items are found – for example, illegal drugs or alcohol.</p>
<div class="prdetails">
</div>
</div>
