<div class="post">
<h1 class="single dotted">Sport &amp; Leisure</h1><hr>
<p>Taking part in a sport or leisure activity is a great way to meet new people and have fun. There’s a whole range of opportunities out there, and it’s easy to get started. Find out what’s happening near you.</p>
<h3>Sport</h3>
<p>Whatever you’ve felt about sport in the past, think again. Getting into a sport or activity is all about making the most of your time and can help you feel good about yourself.<br>
Whatever sport you choose, what matters is that you’re out and about and having fun with your friends.</p>
<p>Don’t be put off if you’ve tried a certain sport before. There’s so much out there for you to try, from skateboarding to dance to football. Many clubs give you a chance to try things out at taster sessions to find out what the right sport might be for you. There will also be lots of people around who have been trained to help you get the most out of whatever you’ve chosen.</p>
<p>Because there are so many sporting activities going on, it can be difficult to find out what exactly is on offer in your area. If you’re not sure where to start looking, you can:</p>
<ul>
<li>ask at your school</li>
<li>check out your local authority website</li>
<li>do an internet search for sports clubs or centres near you</li>
<li>look at the Active Places or Change for Life databases online</li>
</ul>
<h3>Start up a community project</h3>
<p>Did you know that there are millions of pounds available to create local projects that young people can use?</p>
<p>If you think there’s a lack of activities and facilities for teenagers in your neighbourhood, your local authority wants to hear from you.</p>
<h3>Stop climate change</h3>
<p>There are lots of things you can do at home to stop global warming and save energy, just making a few changes will really make a difference if everybody does it.</p>
<h3>Youth clubs and classes near you</h3>
<p>Your local authority may run youth clubs or drop-in centres where you can catch up with your friends and meet others.</p>
<p>You can also find out whether your local authority runs any classes that you may be interested in. They may organize a whole range of activities, including drama groups and sport classes, without you even realizing.</p>
<div class="prdetails">
</div>
</div>
