<div class="post">
<h1 class="single dotted">Stolen Vehicles</h1><hr>
<p>If your vehicle is stolen you should report it immediately to the police. The police will notify the Vehicle Licensing Office of the details of the theft and any recovery of the vehicle on your behalf.</p>
<h3>Call your local police station</h3>
<p>Before calling the police to report the theft of your vehicle, make sure you have all the vehicle details to hand ie registration number, make, model and colour of the vehicle. The police will give you a reference number which you will need in the event of an insurance claim and claim for a refund of license fees on your license disc.</p>
<h3>Call your insurance company</h3>
<p>You will need to contact your insurance company immediately for advice. If your vehicle is not recovered and your insurance company pay out a claim, then you should tell the Vehicle Licensing Office the date the payment was accepted and the name and address of the insurance company.</p>
<p>You should complete the ‘notification of sale or transfer’ of your registration certificate. If your insurance company requests the whole of the registration document or certificate you should tell the Vehicle Licensing Office in a letter giving the details of the insurance company and the date of the claim.</p>
<div class="prdetails">
</div>
</div>
