<div class="post">
<h1 class="single dotted">The Police</h1><hr>
<h3>Community Support Officers</h3>
<p>Police Community Support Officers (PCSO) support the work of regular police officers.  They patrol the streets, and can offer help to police officers at crime scenes and major events. If you want to talk to someone about crime, they can help.</p>
<h3>What PCSO’s do</h3>
<p>PCSO’s operate much like regular police officers, although their role can vary from force to force. You might meet them when they visit schools as part of an anti-crime education program, or you might see them working at crime scenes.</p>
<p>Although they do not have the same powers as regular police officers, they do share many of those powers. They can, for example, issue fixed penalty notices.<br>
Depending on where they work, PCSO’s:</p>
<ul>
<li>deal with minor offences</li>
<li>work closely with young people to prevent crime</li>
<li>provide support for police on the street</li>
<li>conduct house-to-house enquiries</li>
<li>guard crime scenes</li>
<li>provide crime prevention advice</li>
</ul>
<h3>Working for the police</h3>
<p>The police force offers many different career’s, including working as a police community support officer or as office support staff. Find out about the range of roles available and how to apply.</p>
<p>There are many different types of jobs in the police force. For example:</p>
<ul>
<li>police officers</li>
<li>police community support officers</li>
<li>office staff, e.g. analyst, call handler or front counter staff</li>
</ul>
<h4>Applying for a job with the police force</h4>
<p>You should contact the police force you want to work for directly. They can tell you about jobs they have available and how to apply.</p>
<h4>Working as a police officer</h4>
<p>As a police officer you will wear a uniform. You are most likely to work outside a lot of the time, patrolling the streets and dealing with crime. This can be a physically challenging and sometimes dangerous job.</p>
<h4>Pay and benefits for police officers</h4>
<p>The starting salary for police officers is usually about £23,000. Benefits include:</p>
<ul>
<li>a flexible working schedule</li>
<li>paid overtime</li>
<li>a generous holiday allowance</li>
</ul>
<h4>What to expect from the police</h4>
<p>When you encounter the police, you should expect the same level of quality service wherever you are in the country. All police forces must follow many of the same national guidelines. Find out what you should expect from them.</p>
<h4>What to expect at local police stations</h4>
<p>Each police force is divided into units, each one of these has a different specialty. So some police officers walk a beat, others investigate traffic accidents and others handle major crimes.</p>
<p>Most people encounter the police at their local station, when they stop in to report a crime or ask for information.</p>
<p>At most police stations, you’ll find a helpdesk, which can be run by either civilian police staff or by police officers, or a mixture of the two. Anyone who sits at the desk will be trained to deal with your questions, and to help you with any problems you have.</p>
<p>If you have general questions about the police and how they work, the police frequently asked questions website can be a good first stop.</p>
<h3>Neighbourhood policing</h3>
<p>Every neighbourhood is different – and so are the problems faced by the people who live there. Neighbourhood policing teams work directly with residents to find out what those crime and anti-social behaviour problems are and help get them resolved. You can get involved by attending their monthly meetings or by contacting them to let them know about your concerns.</p>
<h3>Your rights at a police station after being arrested</h3>
<p>If you’re arrested, you are taken to a police station and held in custody and questioned. This means you lose your right to freedom until you are charged or released. Find out about what happens at a police station, getting legal advice and what your rights are while being held.</p>
<h4>If you’re kept in custody</h4>
<p>The custody officer at the police station must tell you why you’re being held and explain what your rights are. Your rights are to:</p>
<ul>
<li>get free legal advice – for example, from a solicitor</li>
<li>arrange for someone you know to be told where you are</li>
<li>have medical help if you’re feeling ill – the police arrange this</li>
<li>see the rules the police must follow – these are called ‘Codes of Practice’</li>
<li>see a written notice telling you about your rights – for example, to get regular breaks for food, washing and to use the toilet</li>
</ul>
<p>You will be searched and any possessions you have will be temporarily taken off you while you’re in the cell.</p>
<div class="prdetails">
</div>
</div>
