<div class="post">
<h1 class="single dotted">Trade Unions</h1><hr>
<h3>Joining a trade union</h3>
<p>Find out about what trade unions are and what the benefits of being a trade union member could be. For example, trade unions will try to negotiate with your employer about your employment terms and conditions.</p>
<h3>What is a trade union?</h3>
<p>A trade union is an organization made up of members (a membership-based organization) and its membership must be made up mainly of workers. One of a trade union’s main aims is to protect and advance the interests of its members in the workplace.</p>
<p>Most trade unions are independent of any employer. However, trade unions try to develop close working relationships with employers. This can sometimes take the form of a partnership agreement between the employer and the trade union which identifies their common interests and objectives.</p>
<p>Trade unions:</p>
<ul>
<li>negotiate agreements with employers on pay and conditions</li>
<li>discuss major changes to the workplace such as large-scale redundancy</li>
<li>discuss their members’ concerns with employers</li>
<li>accompany their members in disciplinary and grievance meetings</li>
<li>provide their members with legal and financial advice</li>
<li>provide education facilities and certain consumer benefits such as discounted insurance</li>
</ul>
<h3>Your right to join, or not join, a trade union</h3>
<p>Employers and employment agencies must not treat you unfairly because you decide to join, decide to leave, refuse to leave or refuse to join a trade union. If they do, you may be able to make a complaint to an Employment Tribunal.</p>
<h3>Trade union membership: your right to choose</h3>
<p>You have the right to:</p>
<ul>
<li>choose to join or not join a trade union</li>
<li>decide to leave, or remain a member of, a trade union</li>
<li>belong to a trade union of your choice, even if it is different from the one recognized by your employer</li>
<li>belong to more than one trade union</li>
</ul>
<h3>You can exercise your right to choose at any time.</h3>
<p>Your employer is not allowed to try to make you change your decision by offering you a benefit if you change your mind, or by threatening to penalize you if you do not. Your employer is not allowed to penalize you later for keeping to your decision.</p>
<h3>Industrial action and trade unions</h3>
<p>Industrial action usually occurs when members of a trade union are involved in a dispute with their employer that cannot be resolved by negotiation. The trade union will ask its members whether they wish to take action over the dispute.</p>
<h3>Forms of industrial action</h3>
<p>Workers usually take industrial action by refusing to work altogether or refusing to do work in the way their employment contract says they should.</p>
<p>There are two main forms of industrial action:</p>
<ul>
<li>strike – where workers refuse to work for the employer</li>
<li>action short of a strike – where workers take actions such as ‘go-slows’, or bans on overtime or call-outs</li>
</ul>
<p>On some, relatively rare, occasions, an employer may ‘lock-out’ workers during a dispute. A lock-out is where the employer stops workers from working or returning to work.</p>
<h3>Calling for industrial action</h3>
<p>If a trade union is thinking of calling industrial action over a dispute it must first decide which of its members affected by the dispute it wants to ask to take part in the action. This may be all of the members affected or just some of them. The trade union must then ask the members it wishes to take part whether they want to take industrial action.</p>
<p>The trade union must do this by holding a postal ballot.</p>
<p>When you are balloted on industrial action the voting paper must ask whether you are prepared to take part in either:</p>
<ul>
<li>a strike</li>
<li>industrial action short of a strike</li>
</ul>
<h3>It can ask both of these questions.</h3>
<p>The trade union is only allowed to call for a strike if the majority of those voting answer ‘yes’ to the first question. It may only call for industrial action short of a strike if the majority of those voting answer ‘yes’ to the second question. If both questions are asked and a majority answers ‘yes’ to both, the trade union can decide which type of action it calls for.</p>
<p>The trade union must tell all its members who were entitled to vote in the ballot what the voting figures were.</p>
<p>A trade union calls for industrial action by telling the members it wants to take part when and how action is to be taken. The call must be made by a person or committee with proper authority and the voting paper for the ballot must have said who this is.</p>
<p>You should be allowed to vote in secret without interference from a trade union or its officials. However, most trade unions will tell their affected members about the nature of the dispute and the reasons why they think industrial action may be needed to resolve it ahead of a ballot.</p>
<h3>Taking industrial action</h3>
<p>If you are a trade union member, you can choose whether you wish to take part in the industrial action your trade union has called. Your trade union must not discipline you for choosing not to take part in industrial action.</p>
<p>If you are disciplined by your trade union for not taking part in industrial action or for crossing a picket line, you can complain to an Employment Tribunal.</p>
<h3>Trade union representatives</h3>
<p>If your employer deals with trade unions, you may be represented in your workplace by colleagues who are trade union representatives. You may even wish to become a representative and talk to your employer on behalf of your colleagues.</p>
<h3>What is a trade union representative?</h3>
<p>A trade union representative (rep) is a member of a trade union who represents their work colleagues in dealings with an employer. They often provide advice on employment matters directly to colleagues. Trade union reps are also called ‘lay representatives’ or ‘lay officials’ to separate them from officials who are employees of the trade union.</p>
<p>Trade union reps are volunteers. They do not receive extra pay for their work as reps, though many are entitled to time off with pay to undertake their role as a rep.</p>
<h3>The role of trade union reps</h3>
<p>Trade union reps are there to:</p>
<ul>
<li>discuss any concerns you have with your employer</li>
<li>accompany you to disciplinary or grievance hearings</li>
<li>represent you in collective bargaining over your pay and your terms and conditions of employment</li>
<li>talk to your employer to try to find agreements to resolve any workplace issues</li>
<li>engage with your employer to develop best practice in various workplace areas, such as health and safety</li>
</ul>
<h3>Your employer should consult trade union reps if:</h3>
<ul>
<li>there is a business transfer or takeover</li>
<li>they are planning to make 20 or more employees redundant within a period of 90 days</li>
</ul>
<h3>Trade union elections</h3>
<p>Trade unions must by law hold elections for certain senior positions. Many trade unions also hold elections for other positions. Find out how elections are held, what your trade union’s responsibilities are and which positions must be filled by-election.</p>
<div class="prdetails">
</div>
</div>
