<div class="post">
<h1 class="single dotted">Types Of Crime</h1><hr>
<h3>Burglary</h3>
<p>Homes with no security measures in place are five times more likely to be burgled than those with simple security measures. Good window locks and strong deadlocks can make a big difference. Find out about a few effective steps you can take to secure your home.</p>
<h4>Top tips: things you can do to prevent burglary</h4>
<p>Taking just a few steps can make a big difference in keeping your home safe from burglary.<br>
Here are a few tips:</p>
<ul>
<li>lock your doors and windows every time you leave the house, even when you’re just out in the garden</li>
<li>hide all keys, including car keys, out of sight</li>
<li>install a visual burglar alarm</li>
<li>install good outside lighting</li>
<li>leave radios or lights in your house on a timer</li>
<li>make sure the fences around your garden are in good condition</li>
<li>store valuable items (including passports, driving licenses and bank statements) out of view</li>
<li>hide cash and wallets away</li>
<li>secure bikes at home by locking them to an immoveable object inside a locked shed or garage</li>
<li>keep ladders and tools stored away; don’t leave them outside where they could be used to break into your home</li>
</ul>
<h4>More tips that can keep you safe</h4>
<p>If you live in a building that has a shared entrance, be careful about ‘buzzing’ people in or holding the door open for a stranger when you walk in or out of your building.</p>
<p>Never leave a spare key in a convenient hiding place, such as under a flowerpot or doormat, or behind a loose brick. Burglars know to look there. They will also check the garage or shed for spare keys to get into your flat or house.</p>
<h4>Doors and windows</h4>
<p>In most burglaries, the criminals broke into the house or flat through the door, either by forcing the lock or kicking it in. So make sure your doors are strong and secure. Consider fitting a bar for extra strength; a locksmith can advise you on how best to do it.</p>
<p>Glass panels on doors are particularly vulnerable. If you have one on your door you could replace it with laminated glass, which is stronger. You can also buy a film in a DIY store that you can stick over the glass to make it harder to break.</p>
<p>Home security and DIY shops sell inexpensive, key-operated locks to fit most kinds of windows. Fit window locks with keys to all downstairs windows and those upstairs that are easy to reach.</p>
<p>If you are fitting new doors or windows, make sure the ones you buy are certified to South African Standards (SABS).</p>
<h4>Beware of bogus callers</h4>
<p>‘Distraction burglars’, known as bogus callers, will distract your attention in order to get into your home to steal your money or belongings.</p>
<p>If anyone you don’t know turns up at your door, you should always ask to see their identification before letting them in. Only let someone into your home when you are absolutely sure they are genuine.</p>
<h4>Join Neighbourhood Watch</h4>
<p>You can help keep your street safer by getting involved with your local Neighbourhood Watch team</p>
<p>By working with your neighbours to look out for each other’s property, you can make burglars’ work much harder.</p>
<h4>Domestic violence</h4>
<p>If you are thinking about leaving an abusive relationship, or have left, find out your rights and where you can get help. If you are worried about your safety, or the safety of your children, there are people who can help you stay safe.</p>
<h4>What to do if you are a victim of domestic violence</h4>
<p>Domestic violence does not just mean that your partner is hitting you. The abuse can be psychological, physical, sexual or emotional.</p>
<p>Domestic violence can also include many things, such as the constant breaking of trust, psychological games, harassment and financial control. It is rarely a one-off incident and is usually a pattern of abuse and controlling behaviour.</p>
<p>It can affect adults in all types of relationships and can also involve violence between parents and children.</p>
<p>If you are in an abusive relationship, there are three important steps you must take:</p>
<ul>
<li>recognize that it is happening to you</li>
<li>accept that you are not to blame</li>
<li>get help and support</li>
</ul>
<h3>Rape and sexual assault</h3>
<p>Rape and sexual assault affects people of all ages, both male and female. Sometimes alcohol or drugs are used in a sexual assault. The police and other organizations are there to help anyone who has been raped or become a victim of sexual assault.</p>
<h4>What is rape?</h4>
<p>Rape is when someone forces another person to have sex against their will. Most rape victims are female but there are also many cases where it happens to men. Sexual assault covers any sort of unwanted sexual contact or behaviour.</p>
<p>Often, rapes are committed by someone who the victim knows. That includes members of their family or someone that they know socially. You can also be raped or sexually assaulted by someone who you’re in a relationship with or someone you’ve never met before.</p>
<p>Rape doesn’t just affect adults. It happens to teenagers and young people too. When a victim is under 18, rape can often be referred to as child abuse.</p>
<h4>Drug and date rape</h4>
<p>In many rape cases, the victim is given drugs without them knowing. This often happens by dropping drugs into someone’s drink (which is known as ‘being spiked’). Someone who has been spiked will become unaware of what is happening to them.</p>
<p>Date rape drugs sometimes cause memory loss too. The victim cannot remember exactly what happened and they’re left unsure about whether or not they have been raped.</p>
<p>To stay safe when you’re out, never accept a drink from someone you’ve never met before. Always take your drink with you if you’re going to the toilet. If you’re making a phone call, leave your drink with a friend.</p>
<h4>What to do if you’ve been sexually assaulted</h4>
<p>If you’ve been raped or sexually assaulted, report it to the police as soon as possible. If you’re under 17, the Child Protection Unit of your local police will deal with your case.</p>
<p>If it makes you feel more comfortable, you can ask to speak to an officer that’s the same-sex as you. They will be experienced in dealing with victims of sexual assaults and will understand the distress and fear you may be feeling.</p>
<p>You may be asked to give the police the items of clothing you were wearing when you were assaulted. This is because the clothes may contain traces of evidence that can identify the person who attacked you.</p>
<p>The police will also arrange for you to have a medical examination. The doctor will treat any injuries you have and also gather any evidence that may help the police with their investigation. The doctor will talk to you about the examination beforehand, so you understand what they’re doing and why they’re doing it.</p>
<p>The police may want to talk to you again as they investigate the crime. They will keep you updated with any developments in the investigation and let you know if you need to go to court.</p>
<h3>Gun crime</h3>
<p>If you’re worried about gun crime in your area, there’s a lot you can do to stay safe. If you want to know more about the laws on guns and general gun crime information, find out the facts here.</p>
<h4>What is gun crime?&gt;</h4>
<p>Gun crime includes any offence that involves the use of a gun or other firearm.</p>
<p>This includes:</p>
<ul>
<li>a murder where the victim was shot</li>
<li>any situation where a gun was fired, even if nobody was injured</li>
<li>any robbery or burglary where the thieves carried a gun</li>
<li>any case in which people were intimidated with a weapon</li>
<li>anybody found carrying a banned gun, such as a handgun</li>
<li>anyone found carrying or using an imitation gun</li>
</ul>
<h3>Fraud</h3>
<p>Fraud happens when somebody lies to you or deceives you in order to cause you harm, usually by costing you money. Millions of people fall victim every year. Find out what you can do to stay safe from fraud.</p>
<h4>What is fraud?</h4>
<p>Fraud is a complex kind of theft. Fraud is sometimes called a ‘confidence game’ or a ‘con’.</p>
<p>You can be defrauded if somebody steals your credit card, and uses it to buy things, or if someone hacks into your bank account and takes the money. Other types of fraud include fake investment projects, when you give money for something that never happens. And identity fraud, when somebody pretends to be you in order to buy things that they never intend to pay for.</p>
<h4>Bogus callers</h4>
<p>Bogus callers, who may be any age and appearance, male or female, aim to trick or worry you into leaving your house or into letting them in, by making up stories.</p>
<h4>Tips on stopping bogus callers</h4>
<p>Bogus callers may pose as water, electricity or gas-board workers, council workers or police officers; so they can steal money or property from your home. You can prevent this type of crime if you take precautions.</p>
<p>To reduce the risk of becoming a victim of this crime, remember the following three steps:</p>
<ul>
<li>Stop before you open the door</li>
<li>Chain put it on</li>
<li>Check ask the caller for their identification – and check it by phoning the company they say they’re from – before letting them in. Use the phone number in the phone book, not on an identity card.</li>
</ul>
<h3>Robbery</h3>
<p>Robberies (including muggings, and snatch thefts) are crimes that often involve violence or threats. While the likelihood of this happening is small, you should be aware of what you can do to keep yourself and your property safe.</p>
<h4>Top tips: staying safe from robbery</h4>
<p>If you have to walk alone at night take extra care. Stay on roads that are well-lit and relatively busy.</p>
<p>To stay safe, you can also:</p>
<ul>
<li>plan your route in advance</li>
<li>avoid short cuts that involve alleyways or walking across parks or commons unless they are well-lit</li>
<li>if you’re carrying a bag, try to have it across your chest and keep your hand over the fastening</li>
<li>be aware of your surroundings and stay alert to what’s going on around you</li>
<li>be careful with your electronics; talking on a mobile phone, listening to an MP3 player or carrying a laptop bag shows thieves that you have something to steal</li>
<li>don’t carry important documents or credit cards that you do not need</li>
<li>avoid using cash machines at night</li>
<li>only take your wallet out when you need to</li>
<li>if you think you are being followed, cross the road or go into a shop and stay there until you’re sure you’re safe</li>
</ul>
<h4>Staying safe on public transport</h4>
<p>If you are travelling by yourself and you know how to get home, using public transport is safer than walking. However, you should still use common sense to protect yourself.</p>
<p>If you are waiting for a bus or a train, stand in a well-lighted area near other people. Once you are on board, try to sit near other people and make sure you know where the emergency alarms are.</p>
<p>Don’t be afraid to change seats or carriages if you feel unsafe, even if it seems rude to do so.</p>
<h4>Taking care at ATM machines</h4>
<p>Choose a well-lighted cash machine that can be seen from the road, or from nearby houses. Ideally, you should get cash out from machines located inside businesses such as banks or building societies.</p>
<p>Stay alert and keep an eye on who is about – if someone suspicious is waiting nearby, find another cash machine.</p>
<p>Don’t be distracted by people you don’t know trying to talk to you while at the cash machine.</p>
<p>When taking money out of the machines, stay aware of your surroundings. Keep an eye on the people around you. Are they keeping a reasonable distance? If they’re too close, cancel your withdrawal.</p>
<p>Have your card out and ready before you actually walk up to the cash machine. Make sure no one can read your PIN number when you enter it, and put your cash away quickly.</p>
<p>Keeping your mobile phone safe</p>
<h4>The most common item stolen in a robbery is a mobile phone, so make sure you keep your phone safe.</h4>
<p>If you’re not making a call, keep your phone hidden away. Keep it in one of your front pockets or inside a bag. Don’t attach the phone to your belt or hang it around your neck.</p>
<h4>Register your phone</h4>
<p>All the major mobile phone networks have systems in place to ensure that stolen mobiles are blocked within 48 hours, making them completely useless.</p>
<p>You should register the details of your phone with your network provider so that they can block it should it ever be lost or stolen. You can also register your mobile phone with the National Mobile Phone Register using the link below.</p>
<p>Check with your mobile phone company for more information on how to protect your phone.</p>
<h4>Reporting a crime</h4>
<p>If you have been robbed or someone has attempted to rob you, please report the crime immediately. Call 082911 as soon as you can safely do so, either from your mobile phone, a call box or from a nearby shop or business.</p>
<p>A police officer or member of police staff will ask you to describe what has happened and where you are. They will ask if you’re hurt, and if you are they will send an ambulance to help you.</p>
<p>Remember that giving as full a description of the robber as you can will assist the police in investigating the crime.</p>
<h4>Anti-social behaviour.</h4>
<p>Anti-social behaviour includes abusive or noisy neighbours, littering and graffiti. It can leave you feeling intimidated, angry and frightened. Your council and the police can help. Find out what can be done and what you can do to stop it.</p>
<h4>What is anti-social behaviour.?</h4>
<p>Anti-social behaviour includes things such as:</p>
<ul>
<li>rowdy, noisy behaviour in otherwise quiet neighbourhoods</li>
<li>night-time noise from houses or gardens, especially between 09.00 pm and 07.00 am</li>
<li>threatening and drunken behaviour.</li>
<li>vandalism, graffiti and fly posting</li>
<li>dealing or buying drugs on the street</li>
<li>litter and fly tipping rubbish</li>
<li>aggressive begging</li>
<li>drinking in the street</li>
<li>setting off fireworks late at night</li>
<li>abandoning cars on the street</li>
</ul>
<p>Anti-social behaviour doesn’t just make life unpleasant. It can ruin lives and make whole areas feel unsafe.</p>
<p>]</p>
<p>If you encounter it, report it</p>
<p>If anti-social behaviour is a problem in your area, there’s a lot you can do to help put a stop to it.<br>
You can:</p>
<ul>
<li>talk to your neighbours to find out if they’re affected as well</li>
<li>if you feel comfortable doing so talk to the person causing the problem; they may not realize how it is affecting you</li>
<li>report the problem to your local council’s anti-social behaviour coordinator</li>
<li>call your police force’s non-emergency number</li>
<li>tell your landlord or residents’ association about the situation</li>
<li>contact your local neighbourhood policing team, or attend one of their regular meetings</li>
</ul>
<p>If the situation is an emergency (if someone’s life or health is threatened) call 082911.</p>
<p>No matter how you report anti-social behaviour., all complaints are treated as confidential. So you don’t have to worry about your identity being revealed.</p>
<p>The council and police both need evidence of what’s happened to you, so keep a note of problems. They should not ask you to do this indefinitely.</p>
<p>Once you have reported the problem, you should be kept informed of progress in your case.</p>
<h3>Knife crime</h3>
<p>Knife crime can involve many things, including just buying or carrying an illegal knife. In recent years, laws on selling and carrying knives have been tightened, and punishments for knife offences increased. Before you consider buying a knife, make sure it’s legal.</p>
<h4>What is knife crime?</h4>
<p>‘Knife crime’ is any crime that involves a knife.</p>
<p>This can include:</p>
<ul>
<li>carrying or trying to buy a knife if you’re under 18</li>
<li>threatening people with a knife</li>
<li>carrying an illegal kind of knife</li>
<li>murder or assault in which the victim was stabbed with a knife</li>
<li>robbery or burglary where the thieves carried a knife as a weapon</li>
</ul>
<h4>Carrying a knife</h4>
<p>If you carry a knife to protect yourself or make yourself feel safer but don’t intend to use it then you are committing a crime. You are also more likely to become a victim of crime.</p>
<h4>Your own knife can be used against you.</h4>
<p>If you do want to know more about protecting yourself, there are much easier and safer ways to do it. You could, for example, take a self-defense course offered by your local council, or at a gym.</p>
<h3>Identity fraud</h3>
<p>Identity fraud (also called identity theft) is when somebody pretends to be you. They may do this in order to buy things in your name and leave you and your bank with the bill. Find out how to protect your personal details and prevent identity fraud.</p>
<h4>How your identity can be stolen</h4>
<p>There are many ways that someone can steal your identity, including:</p>
<ul>
<li>finding out your bank details</li>
<li>taking your passport or driving license, or copying the details</li>
<li>copying your credit card details</li>
<li>accessing your personal information through a fraudulent website or email</li>
<li>taking junk mail that has your personal information on it</li>
<li>going through your dustbin to find receipts or other information</li>
</ul>
<p>You may not know straight away that your identity has been stolen. It is important that you make sure to protect your details and be aware of any signs that your identity might have been stolen.</p>
<h4>How to tell if your identity has been stolen</h4>
<p>Signs that you have become a victim of identity theft might include:</p>
<ul>
<li>unusual payments or direct debits appearing on your bank statements</li>
<li>important mail going missing – you should know when to expect a bank statement or a new cheque book, and if it doesn’t arrive, tell your bank</li>
<li>contents of recycling bins and rubbish bags being tampered with</li>
<li>Accounts arriving for things that you haven’t bought or for services you haven’t ordered</li>
<li>new credit cards appearing on your credit record</li>
</ul>
<h3>Drugs and crime</h3>
<p>You may think that the police will only arrest someone who’s caught dealing drugs, but even using drugs could land you a large fine or worse. Find out more about the laws on drugs and drug use.</p>
<h4>How drugs are classified</h4>
<p>All drugs are put into one of three categories based on how dangerous they are.</p>
<ul>
<li>Class A drugs are the drugs that have the most harmful effects. These drugs include heroin, cocaine, ecstasy and LSD.</li>
<li>Class B drugs are drugs that are less dangerous than Class A ones, but they can still be harmful.</li>
<li>Class B drugs include cannabis and some amphetamines.</li>
<li>Class C drugs are less dangerous to the user than Class A and Class B drugs. However, they are still classed as illegal and can be harmful. Class C drugs include ketamine, GHB and some tranquilizers.</li>
</ul>
<div class="prdetails">
</div>
</div>
