<div class="post">
<h1 class="single dotted">Vehicle Advice</h1><hr>
<h3>Maintaining your vehicle</h3>
<p>Maintaining your vehicle is essential to help ensure that it is roadworthy and safe to drive or ride, is fuel-efficient, less polluting and not a danger to passengers, pedestrians and other road users. Vehicle maintenance ranges from cleaning your vehicle and conducting weekly checks through to full servicing and repair.</p>
<h3>Weekly checks for all vehicles</h3>
<ul>
<li>washing and cleaning your vehicle, particularly in winter, to ensure the windows, lights and door mirrors are clean</li>
<li>checking and topping up fluid levels such as engine coolant, engine oil and brake fluid</li>
<li>checking the condition of the vehicles tyres for damage, air pressure and tread – there must be at least the legal minimum 1.5 mm of tread and preferably more than 2 mm</li>
<li>checking that all lights work and light correctly</li>
<li>ensuring wiper blades are in good order and the windscreen washer fluid bottle is full</li>
<li>checking the exhaust system is in sound working order</li>
</ul>
<h3>Buying a car: green tips</h3>
<p>In South Africa, most of the carbon dioxide (CO2) caused by individuals comes from driving cars. Find out how to reduce your environmental impact, why the size and model of your car matters, and how to choose a fuel-efficient car.</p>
<h3>Do you need a new car?</h3>
<p>If you don’t travel often or long distances you may not need to buy a car. Other types of transport could be just as convenient and could save you money.You could:</p>
<ul>
<li>join a car club so you can hire a car when you need it</li>
<li>car share</li>
<li>use public transport and taxis</li>
</ul>
<h3>Consider a second-hand car</h3>
<p>If you need to buy a car, you could save money and the resources needed to make a new one by getting a second-hand model.</p>
<p>Some car dealers have fuel efficiency information on an easy-to-read label available for each second-hand car they are selling. You can also check how fuel-efficient particular models are by using the used car search.</p>
<h3>How to get information from Vehicle Licensing Office records</h3>
<p>There are times when the Vehicle Licensing Office can provide information from its records. You can get information online, over the phone or in writing, depending on what you need to know.</p>
<h3>Using a seat belt</h3>
<p>You must wear a seat belt if one is fitted in the seat you’re using. But you need to wear your seat belt correctly for it to work properly in a crash. Find out when you must wear a seat belt and how it should be worn.</p>
<h3>Who needs to wear a seat belt?</h3>
<h2>THINK! Always wear a seat belt</h2>
<h2>You’re twice as likely to die in a crash if you don’t wear a seat belt</h2>
<p>You must wear a seat belt if one is fitted in any seat in any vehicle. There are few exceptions.</p>
<p>When you’re driving, you must only carry one person in each seat fitted with a seat belt.</p>
<p>Anyone travelling in the vehicle aged 14 years and above is responsible for wearing their seat belt.</p>
<p>Children must use the correct car seat for their weight until they reach 1.35 meters tall or their 12th birthday, whichever comes first. See ‘When your child needs a car seat’ for more information.</p>
<h3>Tinted vehicle windows – the rules</h3>
<p>If you have a vehicle that has heavily tinted windows in the front, you are risking prosecution by the police. The windows that must have the correct amount of tint are the front windscreen and the two windows to either side of the driver.</p>
<h3>Vehicle recalls and safety notices</h3>
<p>If a fault is discovered in a vehicle after manufacturing it might be subject to a recall. To find out if your vehicle is subject to a recall, contact your nearest car dealership on a regular basis</p>
<h3>Thefts from vehicles</h3>
<p>Leaving things in a parked car can make it more attractive to criminals. Even something as basic as a jacket can make your car more likely to be broken into. Find out what you can do to keep your car and its contents safe.</p>
<h3>Top tips to keep your vehicle safe</h3>
<p>The best way to protect your belongings is to lock your car whenever you leave it.</p>
<p>Other things you can do include:</p>
<ul>
<li>removing everything from the car; don’t even leave a jacket where it can be seen</li>
<li>closing the sunroof along with the windows when you leave</li>
<li>do not store things in the boot; take them with you</li>
<li>store car registration documents in your home, not your car</li>
<li>having a routine to ensure you always take the keys out of the ignition</li>
<li>take removable stereos and navigation equipment with you</li>
</ul>
<p>In addition, using secure (theft resistant) number plates can make your plates less attractive to thieves.</p>
<div class="prdetails">
</div>
</div>
