<div class="post">
<h1 class="single dotted">Victims &amp; Witnesses Of Crimes</h1><hr>
<h3>If you witness a crime</h3>
<p>If you’re a witness to a crime, you shouldn’t be afraid to go the police or give evidence in court. There are laws and services to protect you. Find out what they are and how they can help you.</p>
<h3>Reporting a crime</h3>
<h4>If a crime is underway or has just occurred, call 082911.</h4>
<p>In non-emergency situations you should usually contact the local police in the area where the crime has taken place. You can either go to the nearest police station with a front office open to the public, or call the local police directly.</p>
<p>If you don’t know which station to go to or to call, call your local force and ask them who to contact.</p>
<p>The officer answering your call will need to know:</p>
<ul>
<li>the exact location where police are needed</li>
<li>why they are needed</li>
<li>your own name, although you are not required to give it</li>
<li>your telephone number</li>
</ul>
<h3>If you’re afraid to come forward</h3>
<p>If you’ve witnessed a crime, you may be feeling upset or worried. You may have doubts about coming forward to the police or giving evidence in court.</p>
<p>No law says you have to report a crime to the police or give evidence. But remember, by coming forward you could bring a criminal to justice. You could also stop the same thing happening to others.</p>
<p>You can contact Victim Support, a charity that helps victims and witnesses, for advice. You can talk things through with them and discuss your options with someone confidentially. Follow the link below to get in touch with them.</p>
<h3>Giving your statement</h3>
<p>Police may ask you to give a witness statement. This is a written or video-recorded account of what happened. It may be used as evidence in court, although normally witnesses who give evidence at a trial do so in person.</p>
<p>Children under 17, vulnerable adult witnesses and intimidated witnesses may have their statement video-recorded. However, in most cases the police officer will write an account of what you have said, which you will be asked to sign.</p>
<p>If the offence has just happened, officers may ask you to tour the area with them to help identify the perpetrator, or they may ask you to look at photographs to see if the crime suspect is a known criminal.</p>
<h4>Once you have given your statement, you will be referred to a witness care officer. The witness care officer will help you if you have to go to court to give evidence.</h4>
<h3>Keeping your details private</h3>
<p>The police will keep your details private. If you give a statement about a crime to the police, they will write down your address on the back of it. The defendant or their solicitor will only get a copy of the front, so they won’t see where you live.</p>
<p>Witnesses are not usually asked to give their address out loud in court.</p>
<h3>What happens after you report a crime committed against you</h3>
<p>If you have been the victim of crime and reported the incident to the police, you have the right to know how the case is progressing. Find out what you can expect while the police are investigating the crime.</p>
<h3>Reporting a crime</h3>
<p>Reporting a crime will help the police catch the criminal, and could stop other people becoming victims of crime. The police will ask you to make a statement with details of the crime.</p>
<h3>Finding out if the police can investigate the crime</h3>
<p>Once you have reported a crime, the police will decide if they can investigate the case.</p>
<p>The police will tell you if they can’t investigate within five days of you reporting the crime, and give you the reasons why.</p>
<p>If they do investigate, they will give you an update on the case at least once a month until it is closed.</p>
<h3>Keeping in touch with the police</h3>
<p>You will be given a crime reference number and the contact details of the police officer dealing with the incident. You’ll need the reference number if you contact the police again or if you need to make an insurance claim.</p>
<h4>You have a right to be kept informed, so you can ask for updates when you need them.</h4>
<p>Phone the police if you remember anything else about the crime after you make your statement.</p>
<p>The police will be able to put you in touch with other groups that can help you, like Victim Support.</p>
<h3>Telling the police how the crime has affected you</h3>
<p>You can tell the police officer in your own words about how the crime has affected you. This is called a ‘victim personal statement’ and can include things like:</p>
<ul>
<li>the effect on your health, family or quality of life</li>
<li>if you no longer feel safe</li>
<li>if you want to claim compensation for an injury, loss or damage</li>
</ul>
<h4>Information from this statement can be used by the court when deciding how to punish the criminal.</h4>
<h3>How the police collect evidence</h3>
<p>Investigations can be detailed and take a long time. The police will have to gather evidence to catch the criminal or prove the case against them. You may have to wait months before there is a breakthrough in the case.</p>
<p>Sadly, some cases are never solved. The police may not be able to catch the criminal or there may not be enough evidence to charge them.</p>
<p>The police may:</p>
<ul>
<li>get statements from witnesses</li>
<li>interview suspects</li>
<li>collect evidence from the scene of the crime, such as fingerprints or other forensic evidence</li>
</ul>
<p>You may be asked to look at photos or an identity parade to pick out the offender. Many police stations have special rooms with one-way screens so you can view the identity parade without being seen.</p>
<p>If you have been hurt in an attack, the police will make sure you get medical help. This can be an upsetting experience, but remember that evidence from a medical check-up could be used to bring the attacker to justice.</p>
<h3>Protection during the investigation</h3>
<p>If you are at risk, or have been a victim a number of times, the police might be able take extra steps to protect you. This could involve:</p>
<ul>
<li>panic alarms</li>
<li>increased police patrols</li>
<li>around-the-clock surveillance</li>
</ul>
<p>If you are harassed or threatened at any point then contact the police at once. It is a crime to intimidate (scare or bully) anyone helping the police with a case.<br>
A court may be able to make a restraining order to stop someone coming near you – ask the police if you think you’re at risk.</p>
<h3>Protecting your privacy</h3>
<p>To help with an investigation, the police might give the media certain details about your case. This is to find out if there are witnesses who could help them solve the crime. The police will normally ask your permission before giving out any information.</p>
<p>If you have been sexually attacked, it is against the law to publish your name, photo or other details which could identify you.</p>
<h3>What happens at the end of the investigation?</h3>
<p>The police will let you know within five days if someone is:</p>
<ul>
<li>arrested</li>
<li>charged</li>
<li>set free</li>
<li>released on bail (let out under conditions)</li>
<li>given a caution, reprimand, final warning, or penalty notice</li>
</ul>
<h3>If someone is charged with the crime</h3>
<p>When the police have finished with an investigation, they will pass the case on to the Prosecution Service.</p>
<p>The Prosecution Service will decide if there is enough evidence to charge someone and take the case to court. They will take into account the effect of the crime has had on you when they decide if they should prosecute. They will tell you within five days if they decide to drop or alter the charge.</p>
<div class="prdetails">
</div>
</div>
