<div class="post">
<h1 class="single dotted">Work &amp; Careers</h1><hr>
<h3>Voluntary work placements</h3>
<p>You may have already done some work experience at school, but doing a further placement while you’re at college or university can be useful in your career planning. Getting some hands-on experience in the workplace can really improve your chances when applying for courses or jobs.</p>
<h3>Why do a voluntary work placement?</h3>
<p>Work placements give you a chance to find out more about a career you’re considering.</p>
<p>Getting some practical experience and talking to people who already do the job will give you a better idea of whether it would suit you.</p>
<p>A work placement could give you a better chance of standing out when applying for courses and jobs – and you may pick up some contacts that could help you get the job you’re after.</p>
<h3>Finding a work placement</h3>
<p>Many larger organizations advertise formal placements or ‘internships’ at different times of the year. These tend to involve working full-time for a fixed period, usually six to twelve weeks – but they’re often timed to fit in with university and college holidays.</p>
<p>If you’re currently at college or university, ask the careers office whether they can help you find a placement. There are a number of websites with that provide details of placements. Try checking national newspapers and their websites, especially if they publish a weekly supplement on the area of work you’re interested in. It’s also worth looking at trade journals and magazines.</p>
<p>There’s nothing to stop you approaching organizations you’re interested in, even if they’re not advertising. It won’t be easy, but could prove worthwhile – especially if you can’t fit in a formal placement, and need something short-term or part-time.</p>
<p>You can improve your chances by calling organizations and trying to get the name of the person you need to contact: people take more notice of letters and emails that are personally addressed. If this isn’t possible, get the job title of the person you need to contact.</p>
<h3>What to look for in a placement</h3>
<p>It usually makes sense to get a placement in the area of work you’re looking to get into. But if you’ve already got experience is this area, would a placement improve your CV? You might benefit from trying something different.</p>
<p>Also consider the quality of placement. Good placements tend to:</p>
<ul>
<li>set objectives for you</li>
<li>provide feedback or an appraisal at the end</li>
<li>provide a record of your achievements and the development of your skills</li>
</ul>
<p>Some placements will recognize your achievements with a certificate.</p>
<h3>Planning a gap year</h3>
<p>Taking a year out of studying to do something else can do wonders for your skills, confidence and CV. Many people take a gap year before starting college or university, but you could take one at any time.</p>
<h3>Gap years: the possibilities</h3>
<p>In your gap year, you could do anything:</p>
<ul>
<li>volunteer abroad</li>
<li>do some work experience in the UK to build up your skills</li>
<li>see a bit of the world</li>
</ul>
<p>Taking a gap year is a good way of gaining more experiences before going on to further study at university.</p>
<p>It could be your first time away from school or college with no teachers or assignments to worry about. If you choose to work, it might be the first time you’ve worked full-time. Whatever you do, taking a gap year could be a good way to help your confidence and to become more independent before university.</p>
<h3>Boost your career prospects</h3>
<p>Even if getting a job seems a long way off, taking a gap year can also look good on your CV. Potential employers see that you have spent time broadening your horizons and learning new skills.</p>
<p>Volunteering for an industry or organization you would like to get into in the future shows employers that you are dedicated to advancing your career.</p>
<p>If you want to return to college or university, a gap year shows that you are committed to your education. You may find that you approach learning in a different way after a year out.</p>
<h3>Gap year options</h3>
<h4>Working and travelling abroad</h4>
<p>You may want to go travelling and sample life in other countries during your gap year. Many tour operators run gap year trips that visit as many places as possible in a year.</p>
<p>If you haven’t saved enough money before you leave, you could work your way around the world, or even teach English as a foreign language. You may need to have certain types of visa to work in some countries, so check before you go.</p>
<h4>Working in South Africa</h4>
<p>You might want to spend the year working in South Africa and saving money for your future studies. You could get a regular full-time job, or maybe some temporary or part-time work that still lets you have some time off to enjoy your year out.</p>
<p>You may also want to split your gap year. For example, you can:</p>
<ul>
<li>spend the first six months working and earning money</li>
<li>using this money to pay for your travels in the second half of the year</li>
</ul>
<p>You could also look into completing a ‘Year in Industry’, where you can discover how the business world operates. This gives you the chance to work with new people and learn some relevant skills. Some people, who take this opportunity, are awarded scholarships to help them through higher education.</p>
<h4>Volunteering</h4>
<p>Many organizations offer young people the chance to volunteer in different countries around the world.</p>
<p>Opportunities range from helping out in school classrooms or children’s summer camps to assisting in Aids or leprosy clinics. Volunteering takes dedication and hard work, but it is a unique chance to experience other cultures.</p>
<p>If you want to stay closer to home, there are many projects in South Africa that need volunteers.</p>
<h3>Gap year safety</h3>
<p>If you choose to go abroad for a gap year, it’s important to do lots of research before you go.</p>
<p>Knowing about the culture and customs of your destination means you’re better prepared to deal with any strange situations while you’re there. It can also help you avoid breaking any local laws by mistake and keep you safe.</p>
<h3>Finding a career that’s right for you</h3>
<p>Some people know what job they want to do from an early age. For others it’s not so simple. Choosing a career is a big decision, but don’t be intimidated. There’s plenty of help available to help you find the career that’s right for you.</p>
<h4>What type of career would suit you?</h4>
<p>A good way to start your planning is to think about what motivates you as a person.Make a list of activities you’ve enjoyed – both inside and outside school, college or work. </p>
<p>What was it about them you liked? There is no right or wrong answers – but, for example, you might find that you enjoyed:</p>
<ul>
<li>getting to know more about a particular subject</li>
<li>solving challenging problems</li>
<li>working as part of a team</li>
<li>meeting new people</li>
</ul>
<p>Once you’ve got a clear idea of your interests, the next step is to start looking for a career that matches up with them.</p>
<h3>Planning your career</h3>
<p>Finding a rewarding career is important to most people – and it takes a little planning.</p>
<p>There’s always room to change your mind, but having a plan will:</p>
<ul>
<li>make sure you’re aware of all the routes into your dream career</li>
<li>help you avoid ending up in a job you don’t like</li>
<li>make sure you know what you need to do at different stages in your life</li>
</ul>
<p>There’s plenty to consider before you’re ready to put your plans into action – including how to get the skills and qualifications you’ll need.</p>
<h3>Putting your career plans into action</h3>
<p>Once you’ve got an idea of where you want to go with your career, it’s time to look at how you’re going to get there. It’s important to think about how you’re going to get the skills and qualifications you’ll need.</p>
<h3>What skills and qualifications will you need</h3>
<p>More and more employers are looking for people with good skills and qualifications. Developing your skills gives you the best chance of getting into the career you want and there are more courses to choose from than ever before.</p>
<h3>Working hours and young workers</h3>
<p></p>
<p>If you are a young worker or a child worker, you have different employment rights from an adult worker. You get longer rest periods and more protection from night working. Unlike adult workers you cannot opt out of these protections.</p>
<h3>Starting work: what to expect</h3>
<p>If you’re starting your first job, there are a few things your employer will give you. They will help you perform your job safely and answer all your questions about your new workplace.</p>
<h3>Contracts of employment</h3>
<p>When you accept a job and become employed by someone, there is always a contract between you and your employer. Although it doesn’t always have to be in writing or signed, this contract covers your basic rights at work.</p>
<p>However, you should receive a written statement of employment within two months of your start date if you are an employee. This will detail things like:</p>
<ul>
<li>your rate of pay</li>
<li>your holiday entitlement</li>
<li>your hours of work</li>
<li>the amount of notice time you have to give if you want to leave</li>
<li>the amount of notice time your employer must give you if they want to end your employment</li>
</ul>
<p>If you don’t get one, ask your employer about it. You may find that this information is given out in the staff handbook.</p>
<h3>Pay slips</h3>
<p>No matter how much or how often you get paid, you must receive a written pay statement every time you receive your wages. This will tell you</p>
<ul>
<li>how much you’ve been paid</li>
<li>how much tax and UIF Insurance has been deducted</li>
<li>your tax number</li>
<li>your employee number</li>
</ul>
<p>Keep every pay slip in a safe place somewhere at home. If you have paid too much tax, you will need these details to claim it back. If you don’t get a pay slip, tell your manager or supervisor.</p>
<h3>Induction</h3>
<p>To ease you into your new job, most companies will give you an induction during your first few days. During an induction, you will</p>
<ul>
<li>be introduced to the people you will be working with</li>
<li>be shown around your place of work</li>
<li>be told about what you will be doing on a day to day basis</li>
<li>get all the training you need to do your job</li>
</ul>
<p>This is the best opportunity to ask general questions about the job and your employer. If you do have any worries or concerns, it’s a good idea to raise them at the end of this conversation.</p>
<h3>Health and safety information</h3>
<p>An employer has a responsibility to look after your health and safety at work, so you will be told about any risks that you may come across in your place of work and where all the safety equipment is. Things you will be told about include:</p>
<ul>
<li>where the fire exits are</li>
<li>where you can find the first aid kit</li>
<li>whether you need any special clothing or protection to do certain parts of your job</li>
</ul>
<p>If you’re working in a kitchen or a workshop, your work may mean using equipment that can be dangerous. Before letting you use any pieces of equipment, your employer will make sure that you’re fully trained on how to use it safely. Do not try to use any piece of equipment before you have been given this training.</p>
<h3>Other training opportunities</h3>
<p>Working is a great way of learning new skills. Make the most of every training opportunity that comes along while you’re at work. You might not feel it’s useful at the moment, but you never know when it will be in the future.</p>
<p>Your employer may pay for a training course if they feel that it will benefit your work. Talk to your manager to find out about the training support available from your company. You may also be entitled to time off work if you’re studying for certain qualifications in your spare time.</p>
<div class="prdetails">
</div>
</div>
