<div class="post">
<h1 class="single dotted">Problems At Work</h1><hr>
<h3>Raising a grievance at work</h3>
<p>Grievances are concerns, problems or complaints that employees raise with their employer. There is no legally binding process that you and your employer must follow when raising or handling a grievance at work. However, there are some principles you and your employer should observe. Find out what they are.</p>
<h3>Appealing a workplace grievance decision</h3>
<p>If you have raised a workplace grievance and your employer has reached a decision that you are not satisfied with, find out about making an appeal. There might be other ways to resolve the problem.</p>
<h3>Appealing your employer’s decision</h3>
<p>If you are not satisfied with the decision your employer has reached on your grievance, or think the procedure was flawed, you should be able to appeal the decision.</p>
<p>You must make your appeal in writing without unreasonable delay. Your employer should give you enough time to appeal – the deadline for the appeal should be set out in your employer’s written procedures. If they do not give any information on this, make your appeal anyway and say that you will provide more information later.</p>
<p>Make an effort to follow your employer’s procedures. If you end up making a claim to an Employment Tribunal, it will consider this when it makes its judgment.<br>
In your written appeal to your employer to say why you are appealing their decision, clearly explaining why you don’t agree with it. Your employer should then arrange a further meeting with you to discuss your appeal. Where possible, a different and more senior manager should deal with your appeal.</p>
<p>The appeal hearing is run similarly to the original meeting and you have a right to bring a companion, as before. After the appeal meeting, your employer should write to tell you their final decision.</p>
<h3>Mediation, conciliation and arbitration</h3>
<p>There are several ways to sort out problems in the workplace without going to court or an Employment Tribunal, including mediation. If you and your employer agree to mediation it can be quick, often less than a day, and is almost always less expensive and stressful than taking legal action.</p>
<h3>Mediation</h3>
<p>In mediation, an independent and impartial third party discusses the issues in dispute with you and your employer. This is sometimes done separately, sometimes together with a view to helping you both come up with an acceptable solution.</p>
<p>Mediation is voluntary, so both you and your employer must agree to become involved. A mediator cannot impose their solution, you and your employer must both agree to it.<br>
Mediation can take place at any stage in a dispute. It is generally most effective if used soon after the problem has arisen.</p>
<h4>Mediation is not a free service, although in general the employer pays for it.</h4>
<p>Although mediation can be part of a grievance or disciplinary procedure, it is not just for sorting out problems between employees and employers. It can also be particularly helpful where there are disagreements or personality clashes between people within a team.</p>
<p>Using mediation to try to resolve problems may help you to avoid the stress, and potential cost of going to an Employment Tribunal. Other possible benefits include:</p>
<ul>
<li>getting a better understanding of the issues</li>
<li>reaching a solution on your own terms</li>
<li>reaching a settlement that can include things that will not be covered in an Employment Tribunal judgment (e.g. getting a good reference)</li>
</ul>
<p>Not using mediation, or failing to reach a settlement through mediation, will not affect your right to make an Employment Tribunal claim.</p>
<h3>Arbitration in workplace disputes</h3>
<p>Arbitration can be used for several things, including resolving individual or collective problems at work, without going to an Employment Tribunal (eg when trade unions are considering strike action). Find out what arbitration is and how it could be helpful to you.</p>
<h3>What arbitration is</h3>
<p>In arbitration, you and your employer allow an independent and impartial outsider (the arbitrator, or arbiter in Scotland) to determine the outcome of your problem. Arbitration differs from conciliation and mediation because the arbitrator acts like a judge, making a firm decision on a case.</p>
<p>If you and your employer agree to go to an arbitrator, it may be a quick way of resolving a problem without the stress and expense of an Employment Tribunal. Arbitration is faster and less formal than an Employment Tribunal.</p>
<p>Unless you and your employer agree in advance that it will be, an arbitrator’s decision will not be legally binding. Only decisions reached by an Acas (Advisory, Conciliation and Arbitration Service) arbitrator on certain cases are legally binding.</p>
<p>If you and your employer decide the decision won’t be legally binding, then you can still decide to go to a court or Employment Tribunal.</p>
<h3>Conciliation in workplace disputes</h3>
<p>Conciliation could help you and your employer settle a problem at work without making a claim to an Employment Tribunal. If the problem involves a possible or actual claim to an Employment Tribunal, find out how the free conciliation service could help.</p>
<h3>Using conciliation in workplace disputes</h3>
<p>Conciliation is simply a form of mediation that takes place if:</p>
<ul>
<li>you have already made a claim to an Employment Tribunal</li>
<li>you believe you may be entitled to make a claim to an Employment Tribunal</li>
</ul>
<p>In these circumstances, CCMA can offer a free service to help to settle a claim or potential claim.</p>
<p>In both conciliation and mediation, an independent and impartial outsider discusses the issues in dispute between you and your employer. This is sometimes done separately, sometimes together, with a view to coming up with a solution you can both accept.</p>
<p>Conciliation is voluntary. Both you and your employer have to agree to conciliation before it can happen. The conciliator has no power to impose their own solution.</p>
<p>The decision of an Employment Tribunal is not affected by your decision to try conciliation. An Employment Tribunal will not reach a decision based on whether and how hard you have tried to resolve the problem in conciliation.</p>
<p>On the other hand, there is nothing to be lost by trying to resolve matters through conciliation. As well as avoiding the stress and the potential cost of going to an Employment Tribunal, other possible benefits include:</p>
<ul>
<li>getting a better understanding of the issues</li>
<li>reaching a solution on your own terms</li>
<li>getting a settlement that can include things that won’t be covered in an Employment Tribunal judgment, e.g. getting a good reference</li>
</ul>
<h3>Counseling at work</h3>
<p>Counseling is used in a variety of ways to support employees in solving their problems. Find out about the types of counseling available and how counseling works as part of the disciplinary process.</p>
<h3>Why might you need counseling?</h3>
<p>If your work is suffering for personal reasons, you may need counseling to put things right. Counseling can be an informal way of sorting out problems before they become disciplinary issues. Your employer might provide a counseling service, but there’s no law to say they must.</p>
<p>Although you don’t have to agree to counseling if your employer offers it, consider whether this would be better than facing disciplinary issues at work.</p>
<h3>What types of counseling are there?</h3>
<h4>Disciplinary counseling</h4>
<p>This kind of counseling is usually a one-off interview dealing with lower standards of behaviour or performance than are expected at work. Often there are reasons why this is happening and the counseling interview should aim to find out what they are and how to deal with them. For example, being absent from work may be the result of bullying.</p>
<p>Disciplinary counseling tries to bring an end to poor performance without taking disciplinary action. At a counseling interview you should be told what improvement is expected and how long your performance will be under review for. This might sometimes be called an informal warning but does not form part of a disciplinary procedure. You should also be told when formal disciplinary proceedings might start if there is no improvement.</p>
<p>A disciplinary counseling interview should not turn into a formal disciplinary hearing. If it does, you should make it clear that you want the meeting to end and that a proper disciplinary hearing should be arranged so that you have the chance to exercise your right to have a work colleague or an employee representative there with you.</p>
<h4>Personal counseling</h4>
<p>This happens when you have personal problems and need advice or support. The problem may be affecting your physical or mental health.</p>
<p>The main problems for which people ask for or are offered personal counseling at work are:</p>
<ul>
<li>stress</li>
<li>bullying and harassment</li>
<li>depression</li>
<li>alcohol abuse</li>
<li>drug abuse</li>
</ul>
<p>A good employer will promote good health in the workplace. Large organizations may have full-scale occupational health departments. Other organizations might offer one or more of the following:</p>
<ul>
<li>help with giving up smoking, alcohol or drugs</li>
<li>stress counseling</li>
<li>relaxation classes</li>
<li>Employee assistance programs</li>
</ul>
<p>Counseling for any problem should be confidential and carried out by someone suitably qualified. If your employer does not have one in-house they may arrange for you to see an outside expert. You might need time off work for this and your employer should be sympathetic about it. Whether your time off is paid or unpaid will be up to them.</p>
<h4>Stress management</h4>
<p>Workplace stress is widespread. Employers have legal duties to take care of the safety of their employees and this includes managing stress. The Health and Safety Executive has also provided employers with information and management standards on dealing with stress at work.</p>
<p>If you are suffering from stress – or think you are – there may be a counselor you can see at work. If not, you may be sent to an independent counseling service as part of an employee assistance program.</p>
<h4>Drugs and alcohol</h4>
<p>If you have problems with drugs or alcohol, your employer may offer help. This might involve giving you time off to attend counseling during working hours or perhaps a period of leave so you can get treatment.</p>
<p>Your employer may have a policy on drugs and alcohol as part of your terms and conditions of employment. If you don’t seek help and your problems affect your work, your employer may have reason to dismiss you.</p>
<h3>Counseling and disability</h3>
<p>If you are suffering from depression or anxiety, it may be classed as a disability. Under disability discrimination law, employers are expected to treat workers with disabilities sympathetically when it comes to time off for medical treatment, including counseling.</p>
<p>Some organizations treat drug or alcohol dependence as an illness and have policies aimed at rehabilitation. But dependence on drugs or alcohol doesn’t give you the same rights as a disabled person.</p>
<h3>Discrimination in the workplace</h3>
<p>Discrimination means treating some people differently from others. It isn’t always unlawful – some people are paid different wages depending on their status and skills. Find out about the different types of discrimination.</p>
<h3>What is discrimination?</h3>
<p>Equal opportunities law aim to create a ‘level playing field’ so that people are employed, paid, trained and promoted only because of their skills, abilities and how they do their job.</p>
<p>Discrimination happens when an employer treats one employee less favourably than others. It could mean a female employee being paid less than a male colleague for doing the same job, or a minority ethnic employee being refused the training opportunities offered to white colleagues.</p>
<p>You can’t be discriminated against because of your:</p>
<ul>
<li>gender</li>
<li>marriage or civil partnership</li>
<li>gender reassignment</li>
<li>pregnancy and maternity leave</li>
<li>sexual orientation</li>
<li>disability</li>
<li>race</li>
<li>colour</li>
<li>ethnic background</li>
<li>nationality</li>
<li>religion or belief</li>
<li>age</li>
</ul>
<p>Your employer also can’t dismiss you or treat you less favourably than other workers because you:</p>
<ul>
<li>work part time</li>
<li>are on a fixed-term contract</li>
</ul>
<h3>Types of discrimination</h3>
<h4>Direct discrimination</h4>
<p>Direct discrimination happens when an employer treats an employee less favourably than someone else because of one of the above reasons. For example, it would be direct discrimination if a driving job was only open to male applicants.</p>
<p>There are limited circumstances in which an employer might be able to make a case for a genuine occupational requirement for the job. For example, a Roman Catholic school may be able to restrict applications for a scripture teacher to baptized Catholics only.</p>
<h4>Indirect discrimination</h4>
<p>Indirect discrimination is when a working condition or rule disadvantages one group of people more than another. For example, saying that applicants for a job must be clean shaven puts members of some religious groups at a disadvantage.</p>
<p>Indirect discrimination is unlawful, whether or not it is done on purpose. It is only allowed if it is necessary for the way the business works, and there is no other way of achieving it. For example, the condition that applicants must be clean shaven might be justified if the job involved handling food and it could be shown that having a beard or moustache was a genuine hygiene risk.</p>
<h4>Harassment</h4>
<p>You have the right not to be harassed or made fun of at work or in a work-related setting (eg an office party). Harassment means offensive or intimidating behaviour – sexist language or racial abuse, which aims to humiliate, undermine or injure its target or has that effect. For example, allowing displays or distribution of sexually explicit material or giving someone a potentially offensive nickname.</p>
<h4>Victimization</h4>
<p>Victimization means treating somebody less favourably than others because they tried to make, or made, a complaint about discrimination. For example, it could be preventing you from going on training courses, taking unfair disciplinary action against you, or excluding you from company social events.</p>
<div class="prdetails">
</div>
</div>
